Repository ballerina-platform/ballerina-lang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gimantha, @sameerajayasoma, @hasithaa, @MaryamZi, @KavinduZoysa, @keizer619, @warunalakshitha, @azinneera, @NipunaRanasinghe, @Dilhasha, @anuruddhal

removed unneccesary functions
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/SelectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/ErrorFrame.java
Owners: @warunalakshitha

commented limit clause wrong tests
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/ErrorQueryTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/LimitClauseTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/StringQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/limit-clause.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query_expr_with_errors.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/string-query-expression.bal
Owners: @MaryamZi, @gimantha

fix: throwing distinct error in clauses
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/DoClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/FromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LetClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/WhereClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryErrorValue.java
Owners: @warunalakshitha

Make sticky=false for bal pull dependencies
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/PullCommand.java
Owners: @azinneera

fix: throwing errors in streams
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/IteratorObject.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
  langlib/lang.query/src/main/ballerina/helpers.bal
Owners: @warunalakshitha, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Remove unused method
  langlib/lang.function/src/main/java/org/ballerinalang/langlib/function/Call.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

fix: added QueryException
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/CollectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/DoClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/FromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LetClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LimitClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OnConflictClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/PipelineStage.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/WhereClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/IteratorObject.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/StreamPipeline.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryException.java
Owners: @warunalakshitha

fix: added QueryException fixes for joins
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
Owners: @warunalakshitha

fix: handled QueryException in on conflicts
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
Owners: @warunalakshitha

fix: testMultipleCollect issues
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/CollectClause.java
Owners: @warunalakshitha

styling: fixed comments, constants, unused imports in StreamPipeline and utils
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/DoClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/FromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LetClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/WhereClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/old/BallerinaConstructUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/old/FrameContext.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/old/LambdaParser.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/old/StreamConsumer.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/old/StreamPipelineUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/ErrorFrame.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/Frame.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/IteratorObject.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/StreamPipeline.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/DistinctQueryErrorCreator.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryConstants.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryErrorValue.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryException.java
Owners: @warunalakshitha

styling: fixed comments, constants, unused imports in Clauses
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/CollectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/FromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LetClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LimitClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/PipelineStage.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/SelectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryException.java
Owners: @warunalakshitha

styling: fixed checkstyle
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/CollectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/FromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/Frame.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/IteratorObject.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/StreamPipeline.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryConstants.java
Owners: @warunalakshitha

removed old helper functions
  langlib/lang.query/src/main/ballerina/helpers.bal
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Fix Issue #43815 - Add Node Kind String Representation
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/NodeKind.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

fix: testStreamOfStreams test failure fixed
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
Owners: @warunalakshitha

removed old class definitions in types.bal
  langlib/lang.query/src/main/ballerina/helpers.bal
  langlib/lang.query/src/main/ballerina/types.bal
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

style: checkstyle fixes
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
Owners: @warunalakshitha

Add parser changes for `NaturalExpressionNode`
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/ParserMode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Add parser nodes for natural expression
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STNaturalExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STNaturalModelNode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STNodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STTreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/NaturalExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/NaturalModelNode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-treegen/src/main/resources/syntax_node_metadata.json
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Add test cases
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/NaturalExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/natural-expr/natural_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/natural-expr/natural_expr_source_01.bal
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Add type checking
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/scheduling/Scheduler.java
  langlib/langlib-test/src/test/resources/test-src/functionlib_test.bal
Owners: @warunalakshitha, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Fix checkstyle issue
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/scheduling/Scheduler.java
Owners: @warunalakshitha

testGlobalQuery3 commented: passes locally,http,import module
  tests/jballerina-unit-test/src/test/resources/test-src/query/global-queries.bal
Owners: @MaryamZi, @gimantha

fix: in order by clause
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
Owners: @warunalakshitha

Override cloud value for run command to empty
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/RunCommand.java
Owners: @azinneera

Check for cloud=docker for skipping tests
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/TestCommand.java
  cli/ballerina-cli/src/main/java/io/ballerina/cli/task/RunTestsTask.java
  cli/ballerina-cli/src/test/java/io/ballerina/cli/cmd/TestCommandTest.java
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/core/TestProcessor.java
Owners: @azinneera, @Dilhasha

Ignore BNever when type checking
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/scheduling/Scheduler.java
Owners: @warunalakshitha

Add prompt escape support
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/test/resources/expressions/natural-expr/natural_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/natural-expr/natural_expr_source_01.bal
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Remove unnecessary checkCast calls
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmCastGen.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

refactor: used Ballerina isEqual to GroupByClause using GroupKey class that override equals and hashCode
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
Owners: @warunalakshitha

refactor: Made GroupKey class a Record
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
Owners: @warunalakshitha

perf: removed some redundant code
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
Owners: @warunalakshitha

refactor: Use compareValue from ValueComparisonUtils instead of custom written one.
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
Owners: @warunalakshitha

fix: remove unwanted error handling
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
Owners: @warunalakshitha

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# See: https://help.github.com/articles/about-codeowners/

*       @gimantha

# Components
/compiler/ @sameerajayasoma @hasithaa @gimantha @MaryamZi
/ballerina-shell/ @KavinduZoysa
/build-config/ @keizer619
/bvm/ @warunalakshitha
/cli/ @azinneera
/distribution/ @keizer619
/gradle/ @keizer619
/langlib/ @sameerajayasoma @hasithaa @gimantha @MaryamZi
/semtypes/ @gimantha @MaryamZi 
/language-server/ @KavinduZoysa
/misc/ballerina-bindgen/ @warunalakshitha
/misc/compiler-plugins/ @azinneera
/misc/debug-adapter/ @NipunaRanasinghe
/misc/docerina/ @keizer619
/misc/identifier-util/ @warunalakshitha
/misc/json-to-record-converter/ @NipunaRanasinghe
/misc/semver-checker/ @NipunaRanasinghe
/misc/testerina/ @azinneera @Dilhasha
/misc/xml-to-record-converter/ @NipunaRanasinghe
/project-api/ @azinneera @sameerajayasoma
/performance/ @anuruddhal
/tests/ballerina-compiler-api-test/ @MaryamZi @gimantha
/tests/ballerina-compiler-plugin-test/ @MaryamZi @gimantha
/tests/ballerina-spec-conformance-tests/ @MaryamZi @gimantha
/tests/ballerina-test-utils/ @MaryamZi @gimantha @azinneera @KavinduZoysa @warunalakshitha
/tests/ballerina-tools-integration-test/ @KavinduZoysa
/tests/jballerina-benchmark-test/ @MaryamZi @gimantha
/tests/jballerina-debugger-integration-test/ @NipunaRanasinghe
/tests/jballerina-integration-test/ @warunalakshitha
/tests/jballerina-semtype-test/ @MaryamZi @gimantha
/tests/jballerina-unit-test/ @MaryamZi @gimantha
/tests/language-server-integration-tests/ @KavinduZoysa
/tests/launch-listener-test-util-libs/ @MaryamZi @gimantha @azinneera @KavinduZoysa @warunalakshitha
/tests/testerina-integration-test/ @azinneera

# CODEOWNERS file
/.github/CODEOWNERS @sameerajayasoma @gimantha @MaryamZi @hasithaa
