Repository ballerina-platform/ballerina-lang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gimantha, @sameerajayasoma, @hasithaa, @MaryamZi, @KavinduZoysa, @keizer619, @warunalakshitha, @azinneera, @NipunaRanasinghe, @Dilhasha, @anuruddhal

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# See: https://help.github.com/articles/about-codeowners/

*       @gimantha

# Components
/compiler/ @sameerajayasoma @hasithaa @gimantha @MaryamZi
/ballerina-shell/ @KavinduZoysa
/build-config/ @keizer619
/bvm/ @warunalakshitha
/cli/ @azinneera
/distribution/ @keizer619
/gradle/ @keizer619
/langlib/ @sameerajayasoma @hasithaa @gimantha @MaryamZi
/semtypes/ @gimantha @MaryamZi 
/language-server/ @KavinduZoysa
/misc/ballerina-bindgen/ @warunalakshitha
/misc/compiler-plugins/ @azinneera
/misc/debug-adapter/ @NipunaRanasinghe
/misc/docerina/ @keizer619
/misc/identifier-util/ @warunalakshitha
/misc/json-to-record-converter/ @NipunaRanasinghe
/misc/semver-checker/ @NipunaRanasinghe
/misc/testerina/ @azinneera @Dilhasha
/misc/xml-to-record-converter/ @NipunaRanasinghe
/project-api/ @azinneera @sameerajayasoma
/performance/ @anuruddhal
/tests/ballerina-compiler-api-test/ @MaryamZi @gimantha
/tests/ballerina-compiler-plugin-test/ @MaryamZi @gimantha
/tests/ballerina-spec-conformance-tests/ @MaryamZi @gimantha
/tests/ballerina-test-utils/ @MaryamZi @gimantha @azinneera @KavinduZoysa @warunalakshitha
/tests/ballerina-tools-integration-test/ @KavinduZoysa
/tests/jballerina-benchmark-test/ @MaryamZi @gimantha
/tests/jballerina-debugger-integration-test/ @NipunaRanasinghe
/tests/jballerina-integration-test/ @warunalakshitha
/tests/jballerina-semtype-test/ @MaryamZi @gimantha
/tests/jballerina-unit-test/ @MaryamZi @gimantha
/tests/language-server-integration-tests/ @KavinduZoysa
/tests/launch-listener-test-util-libs/ @MaryamZi @gimantha @azinneera @KavinduZoysa @warunalakshitha
/tests/testerina-integration-test/ @azinneera

# CODEOWNERS file
/.github/CODEOWNERS @sameerajayasoma @gimantha @MaryamZi @hasithaa

Add raw template type to Semantic Model's types API
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/Types.java
  tests/ballerina-compiler-api-test/src/test/java/io/ballerina/semantic/api/test/TypesTest.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Use object self lock for object fields locking
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/lock/BLockStore.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmConstants.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmSignatures.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTerminatorGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/InteropMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/methodgen/MethodGen.java
Owners: @warunalakshitha, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Update actions cache version to v4
  .github/workflows/daily_build.yml
  .github/workflows/pull_request_ubuntu_build.yml
  .github/workflows/pull_request_windows_build.yml
  .github/workflows/push_master.yml
  .github/workflows/trivy-scan.yml
Owners: @gimantha

Fix checkstyle error
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Fix IndexOutOfBound bug
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/scheduling/Scheduler.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
Owners: @warunalakshitha, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Fix inherent type of type desc missing
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TypedescValueImpl.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/typedesc/typedesc_positive.bal
Owners: @warunalakshitha, @MaryamZi, @gimantha

Fix annotation map access to refer to reference always
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/AnnotationDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Names.java
  langlib/lang.__internal/src/main/ballerina/map-utils.bal
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/UpdateMapValue.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/CodegenErrorsTest.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Fix annotation map access to refer to reference always
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/AnnotationDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Names.java
  langlib/lang.__internal/src/main/ballerina/map-utils.bal
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/UpdateMapValue.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

create XMl implemented
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
Owners: @warunalakshitha

Update observe module versions
  .github/workflows/pull_request_full_build.yml
Owners: @gimantha

cosnume stream issues
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
  langlib/lang.query/src/main/ballerina/helpers.bal
Owners: @warunalakshitha, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Remove gradle cache clearing
  .github/workflows/daily_build.yml
Owners: @gimantha

Add prompt as code category in the `ballerinaPackage/components` API
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/BallerinaPackageService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/DocumentComponentTransformer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/ModuleObject.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/PackageServiceConstants.java
Owners: @KavinduZoysa

Update observe module version
  .github/workflows/pull_request_full_build.yml
Owners: @gimantha

Update observe module version
  .github/workflows/pull_request_full_build.yml
Owners: @gimantha

Fix inherent type of type desc missing
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TypedescValueImpl.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/typedesc/typedesc_positive.bal
Owners: @warunalakshitha, @MaryamZi, @gimantha

Add tests
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationRuntimeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/annotations/annot_access.bal
Owners: @MaryamZi, @gimantha

Fix checkstyle
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TypedescValueImpl.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
Owners: @warunalakshitha, @MaryamZi, @gimantha

Fix checkstyle
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TypedescValueImpl.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
Owners: @warunalakshitha, @MaryamZi, @gimantha

Use CustomURLClassLoader to load compiler plugins
  cli/ballerina-cli/src/main/java/io/ballerina/cli/launcher/Main.java
  cli/ballerina-cli/src/main/java/io/ballerina/cli/launcher/util/BalToolsUtil.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/internal/plugins/CompilerPlugins.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/CustomURLClassLoader.java
Owners: @azinneera, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Update observe module version
  .github/workflows/pull_request_full_build.yml
Owners: @gimantha

Increase timeout
  .github/workflows/pull_request_full_build.yml
Owners: @gimantha

Allow the hyphen in buildtool name
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/BuildToolUtils.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Increase timeout
  .github/workflows/pull_request_full_build.yml
Owners: @gimantha

test commit
  README.md
Owners: @gimantha

Update natural programming library checking logic
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/DocumentComponentTransformer.java
  language-server/modules/langserver-core/src/test/resources/packages/components/multiple-packages_expected.json
  language-server/modules/langserver-core/src/test/resources/packages/components/project-other_expected.json
  language-server/modules/langserver-core/src/test/resources/packages/components/single-file-package_expected.json
  language-server/modules/langserver-core/src/test/resources/packages/components/single-package_expected.json
Owners: @KavinduZoysa

Add on api to notify client
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/LSClientLogger.java
Owners: @KavinduZoysa

Invert 1
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/Types.java
  tests/ballerina-compiler-api-test/src/test/java/io/ballerina/semantic/api/test/TypesTest.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

fix: handle stream return BError
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/IteratorObject.java
Owners: @warunalakshitha

Invert observe
  .github/workflows/pull_request_full_build.yml
Owners: @gimantha

Add a readme file to bal new -t tool
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/CommandUtil.java
  cli/ballerina-cli/src/main/resources/new_cmd_defaults/lib-readme.md
  cli/ballerina-cli/src/main/resources/new_cmd_defaults/tool-readme.md
  cli/ballerina-cli/src/test/java/io/ballerina/cli/cmd/NewCommandTest.java
Owners: @azinneera

Add observer classes
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/observability/metrics/BallerinaMetricsObserver.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/observability/tracer/BallerinaTracingObserver.java
Owners: @warunalakshitha

Fix checkstyle issue
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/scheduling/Scheduler.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/runtime/api/RuntimeAPITest.java
Owners: @warunalakshitha

fix: handle error return from query
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/CollectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/DoClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/FromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LetClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LimitClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OnConflictClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/SelectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/WhereClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/StreamPipeline.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/DistinctQueryErrorCreator.java
  langlib/lang.query/src/main/ballerina/types.bal
Owners: @warunalakshitha, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Update bc version
  gradle/libs.versions.toml
Owners: @keizer619

Update bc version
  gradle/libs.versions.toml
Owners: @keizer619

fix: handle error return from join clauses
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
Owners: @warunalakshitha

fix: handle error return from order by
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
Owners: @warunalakshitha

fix: handle error return from do clause
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/DoClause.java
Owners: @warunalakshitha

Change `promptAsCode` to `naturalFunctions` with NaturalFunction annotation
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/DocumentComponentTransformer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/ModuleObject.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/PackageServiceConstants.java
  language-server/modules/langserver-core/src/test/resources/packages/components/multiple-packages_expected.json
  language-server/modules/langserver-core/src/test/resources/packages/components/project-other_expected.json
  language-server/modules/langserver-core/src/test/resources/packages/components/single-file-package_expected.json
  language-server/modules/langserver-core/src/test/resources/packages/components/single-package_expected.json
Owners: @KavinduZoysa
