Repository ballerina-platform/ballerina-lang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gimantha, @sameerajayasoma, @hasithaa, @MaryamZi, @KavinduZoysa, @keizer619, @warunalakshitha, @azinneera, @NipunaRanasinghe, @Dilhasha, @anuruddhal

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# See: https://help.github.com/articles/about-codeowners/

*       @gimantha

# Components
/compiler/ @sameerajayasoma @hasithaa @gimantha @MaryamZi
/ballerina-shell/ @KavinduZoysa
/build-config/ @keizer619
/bvm/ @warunalakshitha
/cli/ @azinneera
/distribution/ @keizer619
/gradle/ @keizer619
/langlib/ @sameerajayasoma @hasithaa @gimantha @MaryamZi
/semtypes/ @gimantha @MaryamZi 
/language-server/ @KavinduZoysa
/misc/ballerina-bindgen/ @warunalakshitha
/misc/compiler-plugins/ @azinneera
/misc/debug-adapter/ @NipunaRanasinghe
/misc/docerina/ @keizer619
/misc/identifier-util/ @warunalakshitha
/misc/json-to-record-converter/ @NipunaRanasinghe
/misc/semver-checker/ @NipunaRanasinghe
/misc/testerina/ @azinneera @Dilhasha
/misc/xml-to-record-converter/ @NipunaRanasinghe
/project-api/ @azinneera @sameerajayasoma
/performance/ @anuruddhal
/tests/ballerina-compiler-api-test/ @MaryamZi @gimantha
/tests/ballerina-compiler-plugin-test/ @MaryamZi @gimantha
/tests/ballerina-spec-conformance-tests/ @MaryamZi @gimantha
/tests/ballerina-test-utils/ @MaryamZi @gimantha @azinneera @KavinduZoysa @warunalakshitha
/tests/ballerina-tools-integration-test/ @KavinduZoysa
/tests/jballerina-benchmark-test/ @MaryamZi @gimantha
/tests/jballerina-debugger-integration-test/ @NipunaRanasinghe
/tests/jballerina-integration-test/ @warunalakshitha
/tests/jballerina-semtype-test/ @MaryamZi @gimantha
/tests/jballerina-unit-test/ @MaryamZi @gimantha
/tests/language-server-integration-tests/ @KavinduZoysa
/tests/launch-listener-test-util-libs/ @MaryamZi @gimantha @azinneera @KavinduZoysa @warunalakshitha
/tests/testerina-integration-test/ @azinneera

# CODEOWNERS file
/.github/CODEOWNERS @sameerajayasoma @gimantha @MaryamZi @hasithaa

Update language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/DocumentComponentTransformer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/DocumentComponentTransformer.java
Owners: @KavinduZoysa

fix: some fixes
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LimitClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/SelectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
Owners: @warunalakshitha

Avoid using gradle release plugin
  .github/workflows/publish_release.yml
Owners: @gimantha

Set graalvm in release workflow
  .github/workflows/publish_release.yml
Owners: @gimantha

Skip debugger integration tests in release pipeline
  .github/workflows/publish_release.yml
Owners: @gimantha

fixed error related to on conflict
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
Owners: @warunalakshitha

fix: testTableWithDuplicateKeys fixed
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
Owners: @warunalakshitha

fix: return within do clause fixed
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/DoClause.java
Owners: @warunalakshitha

Get the semantic model from the package
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/packages/BallerinaPackageService.java
Owners: @KavinduZoysa

fix: arrays within group by key deep equal
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
Owners: @warunalakshitha

Fix deprecation message retrieval
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/internal/BalaFiles.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

trying to resolve tuple type issue (not that much progress)
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/Frame.java
Owners: @warunalakshitha

fix: fixed the issue of iterating over a BTable
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/Frame.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
Owners: @warunalakshitha

removed some unnecessary error handling
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
Owners: @warunalakshitha

Bump lang version for 2201.12.1
  gradle.properties
Owners: @gimantha

Bump lang version to 2201.12.2
  gradle.properties
Owners: @gimantha

Fix inherent type of type desc missing
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TypedescValueImpl.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
Owners: @warunalakshitha, @MaryamZi, @gimantha

Fix checkstyle
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TypedescValueImpl.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
Owners: @warunalakshitha, @MaryamZi, @gimantha

fix: testSimpleQueryExprForStringResult2 fix remove unshift from createArray
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
Owners: @warunalakshitha

fix: iteration over BMap fixed
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
Owners: @warunalakshitha

Support offline resolution of tools
  cli/ballerina-cli/src/main/java/io/ballerina/cli/launcher/util/BalToolsUtil.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/BuildToolResolution.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/BuildToolUtils.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/ProjectUtils.java
  compiler/ballerina-lang/src/main/resources/dependencies-toml-schema.json
Owners: @azinneera, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Update test cases of build tools
  cli/ballerina-cli/build.gradle
  cli/ballerina-cli/src/test/java/io/ballerina/cli/cmd/BaseCommandTest.java
  cli/ballerina-cli/src/test/java/io/ballerina/cli/cmd/BuildCommandTest.java
  cli/ballerina-cli/src/test/java/io/ballerina/cli/cmd/RunBuildToolsTaskTest.java
  cli/ballerina-cli/src/test/java/io/ballerina/cli/cmd/RunCommandTest.java
  cli/ballerina-cli/src/test/java/io/ballerina/cli/cmd/TestCommandTest.java
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/project-with-higher-dist-build-tool/Ballerina.toml
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/project-with-higher-dist-build-tool/Dependencies.toml
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/project-with-higher-dist-build-tool/main.bal
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/tools/bal-tools.toml
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/tools/dummy-tool-pkg-higher-dist/BalTool.toml
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/tools/dummy-tool-pkg-higher-dist/Ballerina.toml
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/tools/dummy-tool-pkg-higher-dist/main.bal
  cli/ballerina-cli/src/test/resources/test-resources/command-outputs/unix/build-tool-higher-dist-resolve-failed.txt
  cli/ballerina-cli/src/test/resources/test-resources/command-outputs/unix/build-tool-offline-resolve-failed-wo-version.txt
  cli/ballerina-cli/src/test/resources/test-resources/command-outputs/windows/build-tool-higher-dist-resolve-failed.txt
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/BuildToolResolution.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/BuildToolUtils.java
Owners: @azinneera, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

removed unnecessary checks in NestedFromClause
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
Owners: @warunalakshitha

Refactor Class Java Docs
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/lock/BLockStore.java
Owners: @warunalakshitha

Improve offline build tool resolution
  cli/ballerina-cli/src/main/java/io/ballerina/cli/launcher/util/BalToolsUtil.java
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/tools/bal-tools.toml
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/BuildToolResolution.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/internal/ProjectDiagnosticErrorCode.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/BuildToolUtils.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/ProjectUtils.java
Owners: @azinneera, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Use CustomURLClassLoader to load compiler plugins
  cli/ballerina-cli/src/main/java/io/ballerina/cli/launcher/Main.java
  cli/ballerina-cli/src/main/java/io/ballerina/cli/launcher/util/BalToolsUtil.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/internal/plugins/CompilerPlugins.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/CustomURLClassLoader.java
Owners: @azinneera, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Update readme content
  cli/ballerina-cli/src/main/resources/new_cmd_defaults/lib-readme.md
  cli/ballerina-cli/src/main/resources/new_cmd_defaults/tool-readme.md
Owners: @azinneera

Return if the package is already pulled
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/PullCommand.java
Owners: @azinneera

Add a test for compiler plugin custom classloaders
  project-api/project-api-test/src/test/resources/compiler_plugin_tests/package_comp_plugin_with_two_java_dependencies/CompilerPlugin.toml
  project-api/project-api-test/src/test/resources/compiler_plugin_tests/package_comp_plugin_with_two_java_dependencies/lib/string-utils-lib-1.1.0.jar
  project-api/test-artifacts/compiler-plugin-with-two-dependencies/src/main/java/io/samjs/plugins/twodependencies/CompilerPluginWithTwoDependencies.java
  project-api/test-artifacts/logging-file-appender-plugin/build.gradle
  project-api/test-artifacts/string-utils-lib/src/main/java/io/samjs/jarlibrary/stringutils/StringUtils.java
Owners: @azinneera, @sameerajayasoma

Fix test failures
  cli/ballerina-cli/src/test/resources/test-resources/buildToolResources/tools/dummy-tool-pkg-higher-dist/resources/sample-dummy-build-tool-1.4.0.jar
  cli/ballerina-cli/src/test/resources/test-resources/command-outputs/windows/build-tool-offline-resolve-failed-wo-version.txt
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/BuildToolResolution.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/util/BuildToolUtils.java
Owners: @azinneera, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

fix: Group by clause issue
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
Owners: @warunalakshitha

remove unnecessary checks
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/IteratorObject.java
Owners: @warunalakshitha

Return if the package is already pulled
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/PullCommand.java
Owners: @azinneera

Sync `2201.12.x` after 2201.12.2 release
  gradle.properties
Owners: @gimantha

Sync master after update 12 release
  gradle.properties
Owners: @gimantha

Remove redundant checks and update tests
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/scheduling/Scheduler.java
  langlib/lang.function/src/main/java/org/ballerinalang/langlib/function/Call.java
  langlib/langlib-test/src/test/resources/test-src/functionlib_test.bal
Owners: @warunalakshitha, @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

Make sticky=false for bal pull dependencies
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/PullCommand.java
Owners: @azinneera

Remove unused imports
  langlib/lang.function/src/main/java/org/ballerinalang/langlib/function/Call.java
Owners: @sameerajayasoma, @hasithaa, @gimantha, @MaryamZi

create ErrorFrame
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/SelectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/ErrorFrame.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
Owners: @warunalakshitha

removed comments
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
Owners: @warunalakshitha
