Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-06, with the labels that each got.

#8699 Add autocompletion support for global constants
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleStatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleVariableDefinitionStatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/filters/PackageActionFunctionAndTypesFilter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/ActionAndFieldAccessContextItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/CompletionItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/ItemSorters.java
  language-server/modules/langserver-core/src/test/resources/completion/function/actionInvocationSuggestion1.json
Labels: component/LanguageServer

#8847 Wrap log text in trace logs ui
  composer/modules/web/src/plugins/debugger/views/TraceLog/index.scss
Labels: component/Composer

#8870 Highlight http header attribute names
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/util/LogParser.java
  composer/modules/web/src/plugins/debugger/views/TraceLog/DetailView.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/index.scss
Labels: component/Composer

#8869 Implement code action for auto-generating new functions
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
Labels: Type/Improvement, component/LanguageServer

#8880 Remove ending empty line in trace logs
  composer/modules/web/src/plugins/debugger/views/LauncherConfigDialog.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/DetailView.jsx
  composer/modules/web/src/plugins/try-it/views/http-client.scss
Labels: component/Composer

#8892 Process annotations for the type definition
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
Labels: bug, component/Compiler

#8895 LS : Fix test failures
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/LSNodeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/util/DefinitionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
Labels: component/LanguageServer

#8852 Improve file functions in internal package.
  cli/ballerina-cli-utils/src/main/ballerina/packaging_pull/packaging_pull.bal
  stdlib/ballerina-builtin/src/main/ballerina/internal/file.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/Constants.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/CopyTo.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/CreateDirectory.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/CreateFile.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/Delete.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/GetExtension.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/GetModifiedTime.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/GetName.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/GetParentDirectory.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/GetPathValue.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/Init.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/IsDirectory.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/List.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/MoveTo.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/PathExists.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/Resolve.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/internal/file/ToAbsolutePath.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/InternalFileTest.java
  tests/ballerina-test/src/test/resources/test-src/file.internal/file-test.bal
Labels: component/stdlib

#8893 Include wso2 APIM certificate to ballerinaTruststore
  distribution/zip/ballerina/resources/security/ballerinaTruststore.p12
Labels: component/stdlib

#8909 Fix white space for AnyIdentifierName
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
Labels: component/Compiler

#8923 Add loading indicator when the response is loading
  composer/modules/web/src/plugins/try-it/views/http-client.jsx
  composer/modules/web/src/plugins/try-it/views/http-client.scss
Labels: component/Composer

#8679 Request body support for swagger codegen
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/pom.xml
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/java/org/ballerinalang/swagger/model/BallerinaMediaType.java
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/java/org/ballerinalang/swagger/model/BallerinaOpenApi.java
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/java/org/ballerinalang/swagger/model/BallerinaOperation.java
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/java/org/ballerinalang/swagger/model/BallerinaRequestBody.java
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/java/org/ballerinalang/swagger/model/BallerinaSchema.java
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/java/org/ballerinalang/swagger/utils/GeneratorConstants.java
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/resources/templates/client/client-ep.mustache
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/resources/templates/client/pathParams.mustache
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/resources/templates/client/reqBody.mustache
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/resources/templates/mock/impl.mustache
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/resources/templates/mock/mock.mustache
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/resources/templates/mock/reqBody.mustache
  misc/swagger-ballerina/modules/swagger-to-ballerina-generator/src/main/resources/templates/model/schemas.mustache
  pom.xml
Labels: component/ToolSwagger

#8926 Add parameter support for auto-generating function signatures
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
Labels: Type/Improvement, component/LanguageServer

#8943 Add error handling to debugger frames rendering
  composer/modules/web/src/plugins/debugger/views/Frames/index.jsx
Labels: component/Composer

#8933 Add name based virtual hosting functionality
  stdlib/ballerina-http/src/main/ballerina/http/annotation.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HTTPServicesRegistry.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpService.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/WebSubHttpService.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/WebSubServicesRegistry.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/RetrieveSubscriptionParameters.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/SetTopic.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/dispatching/VirtualHostDispatchingTest.java
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/virtual-host-negative-test.bal
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/virtual-host-test.bal
Labels: HTTP, Priority/High, Severity/Blocker, Type/Improvement, component/stdlib

#8977 Fix incorrect css loading order
  composer/modules/web/src/index.ejs
Labels: component/Composer

#8984 Improve left panel ui
  composer/modules/web/scss/modules/left-panel.scss
  composer/modules/web/src/core/layout/components/LeftPanel.jsx
  composer/modules/web/src/index.ejs
  composer/modules/web/src/plugins/debugger/views/DebuggerPanel.jsx
  composer/modules/web/src/plugins/debugger/views/DebuggerPanel.scss
  composer/modules/web/src/plugins/debugger/views/Frames/frames.scss
  composer/modules/web/src/plugins/debugger/views/Toolbar/index.jsx
  composer/modules/web/src/plugins/debugger/views/Toolbar/tool-item-view.jsx
  composer/modules/web/src/plugins/debugger/views/Toolbar/tool-set.jsx
  composer/modules/web/src/plugins/debugger/views/Toolbar/toolbar.css
  composer/modules/web/src/plugins/debugger/views/Toolbar/toolbar.scss
Labels: component/Composer

#9030 Fix literals true values are escaped in source gen
  composer/modules/web/src/plugins/ballerina/model/tree-builder.js
Labels: component/Composer

#9059 Mime code clean up
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/ParseHeader.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetBlob.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetBodyAsString.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetBodyParts.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetByteChannel.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetJson.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetText.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetXml.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/Constants.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/HeaderUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
Labels: HTTP, component/stdlib

#9065 Fix source gen adding internal packages
  composer/modules/web/src/plugins/ballerina/model/tree-builder.js
Labels: Type/Bug, component/Composer

#9000 Changes for transport-http version bump to 6.0.192
  pom.xml
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/Register.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/Start.java
Labels: HTTP

#9074 Fix package ID in builtin package
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/PackageLoader.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/util/ParserUtils.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSPackageLoader.java
  misc/docerina/src/main/java/org/ballerinalang/docgen/docs/BallerinaDocGenerator.java
Labels: component/Compiler

#9121 Update default nodes in composer
  composer/modules/web/src/plugins/ballerina/model/default-nodes.js
Labels: component/Composer

#9147 Fix ServiceEndpointTest failure
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/endpoint/ServiceEndpointTest.java
Labels: HTTP, component/stdlib

#9142 Provide API to get circuit breaker status
  stdlib/ballerina-http/src/main/ballerina/http/resiliency/http_circuit_breaker.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/http/resiliency/CircuitBreakerTest.java
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
Labels: HTTP, component/stdlib

#9152 Archive Electron sources during build
  composer/modules/distribution/assembly/bin.xml
  composer/modules/distribution/pom.xml
  composer/pom.xml
Labels: component/Composer

#9136 Allow URI expression to contain one character
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/uri/parser/URITemplateParser.java
Labels: component/stdlib

#9162 Fix endpoint resolving issue in Ballerina parser grammar
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tool-plugins/intellij/src/main/java/io/ballerina/plugins/idea/grammar/BallerinaParser.g4
Labels: component/Compiler, component/LanguageServer

#9181 Fix Command-Palette-> Rename Symbol seems not working
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
Labels: component/Composer, component/LanguageServer

#9193 Fix source gen for endpoint in service
  composer/modules/web/source-gen/tree.g
  composer/modules/web/src/plugins/ballerina/model/source-gen.js
Labels: component/Composer

#9187 Endpoint rename doesn't work on endpoint definitions
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
Labels: component/LanguageServer

#9198 Fix alignment in the top menu
  composer/modules/web/scss/modules/ballerina-editor.scss
Labels: component/Composer

#9173 [WebSocket] SSL Support for WebSocket Client
  pom.xml
  stdlib/ballerina-grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/clientendpoint/Init.java
  stdlib/ballerina-http/src/main/ballerina/http/websocket/websocket_client.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConnectionManager.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateHttpClient.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/InitEndpoint.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/websocket/compilation/WebSocketCompilationTest.java
Labels: HTTP, Type/New Feature, component/stdlib

#9172 Add timeout config for HTTP listener
  language-server/modules/langserver-core/src/test/resources/completion/function/endpointAttributeSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/endpointAttributeSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/endpointAttributeSuggestion2.json
  stdlib/ballerina-http/src/main/ballerina/http/commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/secure_listener.bal
  stdlib/ballerina-http/src/main/ballerina/http/service_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
Labels: HTTP, component/stdlib

#9217 [WebSocket] Remove javax.websocket API dependency
  distribution/zip/ballerina/src/assembly/bin.xml
  pom.xml
  stdlib/ballerina-http/pom.xml
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/ws/MockBasicRemoteEndpoint.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/ws/MockWebSocketSession.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/utils/ws/MockBasicRemoteEndpoint.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/utils/ws/MockWebSocketSession.java
Labels: HTTP, Type/Improvement, component/stdlib

#9231 Implement workspaceSymbols feature and improve documentSymbols
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/DocumentServiceKeys.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManager.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaWorkspaceService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/symbols/SymbolFindingVisitor.java
Labels: component/LanguageServer

#9192 Address mime review requested changes
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MultipartDataSource.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MultipartDecoder.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MultipartEncoderTest.java
Labels: HTTP, component/stdlib

#9244 Test response for idle timeout
  pom.xml
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/IdleTimeoutResponseTestCase.java
  tests/ballerina-test-integration/src/test/resources/httpService/idle_timeout.bal
Labels: component/HTTP, component/stdlib

#9257 Add read/write varint
  stdlib/io/src/main/ballerina/io/data_channel.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/channels/base/DataChannel.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/channels/base/data/LongResult.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/events/data/ReadIntegerEvent.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/events/data/WriteIntegerEvent.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/ReadVarInt.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/WriteVarInt.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/utils/IOConstants.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/data/DataChannelTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/data/DataInputOutputTest.java
  tests/ballerina-test/src/test/resources/test-src/io/data_io.bal
Labels: component/stdlib

#9250 Initial ServerSocket implementation and client socket redesign
  language-server/modules/langserver-core/src/test/resources/completion/resource/completionBeforeUnderscore1.json
  stdlib/io/src/main/ballerina/io/open.bal
  stdlib/io/src/main/ballerina/io/socket.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/SocketConstants.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/client/BindAddress.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/client/Close.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/client/Connect.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/client/Init.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/client/OpenSecureSocket.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/client/ShutdownInput.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/client/ShutdownOutput.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/Accept.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/BindAddress.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/Close.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/Init.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/SelectorManager.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/ServerSocketUtils.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/SocketAcceptCallback.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/SocketAcceptCallbackQueue.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/socket/server/SocketQueue.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/socket/ClientSocketTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/socket/SecureClientSocketTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/socket/ServerSocketTest.java
  tests/ballerina-test/src/test/resources/test-src/io/client_socket_io.bal
  tests/ballerina-test/src/test/resources/test-src/io/server_socket_io.bal
Labels: Component/stdlib, Type/Improvement

#9284 Add string::toByteArray native method
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BByteArray.java
  stdlib/builtin/src/main/ballerina/builtin/stringlib.bal
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/ToByteArray.java
  stdlib/reflect/src/main/java/org/ballerinalang/stdlib/reflect/nativeimpl/Equals.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteArrayValueTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/string/StringTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/utils/ByteArrayUtils.java
  tests/ballerina-test/src/test/resources/test-src/types/byte/byte-array-value.bal
  tests/ballerina-test/src/test/resources/test-src/types/string/string-test.bal
Labels: Component/BVM

#9282 Remove struct field store/load instructions
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/InstructionCodes.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/Mnemonics.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/PackageInfoReader.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/InstructionCodes.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/Mnemonics.java
Labels: Component/BVM, Component/Compiler
