Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-10, with the labels that each got.

#10626 Remove error status code functions
  stdlib/http/src/main/ballerina/http/http_connection.bal
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HttpStatusCodeTestCase.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/http-status-codes.bal
Labels: Component/HTTP, Component/stdlib

#10589 Revamp repository hierarchy and package pulling error logs
  cli/ballerina-cli-utils/src/main/ballerina/packaging_pull/packaging_pull.bal
  cli/ballerina-cli-utils/src/main/java/org/ballerinalang/cli/utils/BVMEmbeddedExecutor.java
  cli/ballerina-cli-utils/src/main/java/org/ballerinalang/cli/utils/ExecutorUtils.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/PushUtils.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/SearchUtils.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/spi/EmbeddedExecutor.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/EmbeddedExecutorError.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/PackageLoader.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/packaging/converters/URIConverter.java
Labels: Component/Packerina

#10659 Fix source gen issues with function param, annotations and Built in ref types
  composer/modules/web/source-gen/SourceGenTemplate.java
  composer/modules/web/source-gen/tree.g
  composer/modules/web/src/plugins/ballerina/model/source-gen.js
  composer/modules/web/src/plugins/ballerina/model/tree-builder.js
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
Labels: Component/Composer, Component/LanguageServer

#10676 Add test coverage command for vscode
  tool-plugins/vscode/.gitignore
  tool-plugins/vscode/.vscode/launch.json
  tool-plugins/vscode/coverconfig.json
  tool-plugins/vscode/package-lock.json
  tool-plugins/vscode/package.json
  tool-plugins/vscode/src/test/index.ts
  tool-plugins/vscode/test/core/ballerina-extention.test.ts
  tool-plugins/vscode/test/data/hello_world.bal
  tool-plugins/vscode/test/data/hello_world_service.bal
  tool-plugins/vscode/test/debugger/debugClient.ts
  tool-plugins/vscode/test/debugger/debugger.test.ts
  tool-plugins/vscode/test/index.ts
  tool-plugins/vscode/test/test-util.ts
  tool-plugins/vscode/tsconfig.json
Labels: Component/VScode plugin

#10625 Refactor of anonymous functions in Semantic Phase
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolEnv.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangPackage.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangLambdaFunction.java
Labels: Component/Compiler

#10685 Fix isOpen value being incorrect at occasions
  pom.xml
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketClientConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/IsOpenTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/WebSocketTestCommons.java
  tests/ballerina-integration-test/src/test/resources/testng.xml
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/isOpen.bal
Labels: Component/WebSocket, Component/stdlib

#10753 Improve error message for arguments passed to services
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/LauncherUtils.java
Labels: Component/CLI

#10762 Remove "ballerina: " from informative messages in the standard library
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/GrpcConstants.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/ServerConnectorPortBindingListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConnectorPortBindingListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/hub/Hub.java
Labels: Component/HTTP, Component/stdlib

#10632 Correct the runtime behaviour for non-existent key access in records
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangIndexBasedAccess.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/fieldaccess/SafeNavigationTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/AnonymousClosedRecordTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/compoundassignment/CompoundAssignmentTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/ConstrainedMapTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/fieldaccess/safe_navigation.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/identifierliteral/identifier-literal-success.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/anon_record.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/closed_record.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/open_record.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/record_access_with_index.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/compoundassignment/compound_assignment.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/compoundassignment/compound_assignment_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/structs/anon-struct.bal
  tests/ballerina-unit-test/src/test/resources/test-src/structs/struct-access-with-index.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/map-struct-json-unified.bal
Labels: Component/BVM, Component/Compiler

#10740 Fix worker thread hanging issue during data binding
  pom.xml
  stdlib/http/src/main/java/org/ballerinalang/net/http/BallerinaHTTPConnectorListener.java
Labels: Component/HTTP, Component/stdlib

#10708 Improve failover test case
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/06_http_failover.bal
Labels: Component/HTTP, Component/stdlib

#10718 Add LS completion support for channel based worker interactions
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/UtilSymbolKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/FilterUtils.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/AbstractItemResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/BLangEndpointContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/StatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleConditionalClauseContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleMatchStatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleStatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleVariableDefinitionStatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleWorkerInteractionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/CompletionItemResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/filters/DelimiterBasedContentFilter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureHelpUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/worker/ChannelInteraction.java
  language-server/modules/langserver-core/src/test/resources/completion/worker/source/workerChannelInteraction.bal
  language-server/modules/langserver-core/src/test/resources/completion/worker/workerChannelReceive.json
  language-server/modules/langserver-core/src/test/resources/completion/worker/workerChannelSend.json
Labels: Component/LanguageServer

#10856 Support Json serialization for BFloat and HashSet Data
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/JsonSerializer.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/providers/bvalue/BFloatBValueProvider.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/providers/bvalue/HashSetBValueProvider.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/serializer/json/SerializationBValueProviderTest.java
Labels: Component/BVM, Priority/Normal, Type/Improvement

#10808 Add snippet support for error construct
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SnippetBlock.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SnippetGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/completion/BPackageSymbolUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/AbstractItemResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/BLangMatchContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/FunctionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/ObjectTypeContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/PackageNameContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/ResourceContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/StatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/TopLevelResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleAttachmentPointContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleConditionalClauseContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleDefinitionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleMatchStatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleResourceDefinitionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleServiceDefinitionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleStatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ItemResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/Snippet.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/filters/StatementTemplateFilter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/CallableUnitBodyItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/CompletionItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/ServiceContextItemSorter.java
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/allTopLevelItemSkip.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/topLevelEmptyFirstLine.json
Labels: Component/LanguageServer

#10881 Fix array type source gen to render correctly
  composer/modules/web/source-gen/SourceGenTemplate.java
  composer/modules/web/src/plugins/ballerina/model/tree-builder.js
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
Labels: Component/Formatting, Component/LanguageServer

#10742 Improve error message for invocation of nil-able func ptr fields in records
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordNegativeTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/lambda/fp2any.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/closed_record_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/negative/closed_record_nil-able_fn_ptr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/negative/open_record_nil-able_fn_ptr.bal
Labels: Component/Compiler

#10777 JSON array should be accepted as a valid payload type in data binding scenario
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/SignatureParams.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/services/dispatching/DataBindingTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/services/dispatching/data-binding-test.bal
Labels: Component/HTTP, Component/stdlib

#10928 Allow array of tuples for Testerina data providers
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/core/TestAnnotationProcessor.java
  misc/testerina/modules/testerina-core/src/test/java/org/ballerinalang/testerina/test/DataProviderTest.java
  misc/testerina/modules/testerina-core/src/test/resources/annotations-test/data-provider-test.bal
Labels: Component/Testerina

#10926 Improve LS error messages and code for the pkg->module name change
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
Labels: Component/LanguageServer

#10990 [WebSub] Introduce functions to retrieve topic/subscriber details
  stdlib/websub/src/main/ballerina/websub/commons.bal
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/WebSubSubscriberConstants.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/hub/Hub.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/hub/HubSubscriber.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/GetAvailableTopics.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/GetSubscribers.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/WebSubCoreFunctionalityTestCase.java
  tests/ballerina-integration-test/src/test/resources/websub/services/01_websub_publisher.bal
Labels: Component/WebSub, Component/stdlib, Type/Task

#11009 Add utf-8 as the decoder for sourcegen file read
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourcegen/SourceGenTest.java
Labels: Component/LanguageServer

#10941 Add support for little endian byte order
  stdlib/io/src/main/ballerina/io/writable_data_channel.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/channels/base/DataChannel.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/channels/base/Representation.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/data/DataChannelTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/io/data_io.bal
Labels: Component/stdlib

#10860 Recognize passthrough for outbound throttling
  pom.xml
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ResponseWriter.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/data/streaming/TableToXMLStreamingTestCase.java
Labels: Component/HTTP, Component/stdlib

#10925 Update LS CompletionItem icons and add documentation
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SnippetBlock.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/completion/BPackageSymbolUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/builder/BFunctionCompletionItemBuilder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/builder/BTypeCompletionItemBuilder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/builder/BVariableCompletionItemBuilder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/AbstractItemResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/BLangMatchExpressionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleConditionalClauseContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleDefinitionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleFunctionDefinitionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleMatchStatementContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/index/DTOUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/CompletionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/util/CompletionTestUtil.java
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/allTopLevelItemSkip.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
Labels: Component/LanguageServer, Type/Improvement

#10905 Avoid re-defining package when orgname is used in import
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
Labels: Component/Compiler

#11019 Introduce a different thread pool to manage pipelined response serialization
  pom.xml
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/pipelining/PipeliningHandler.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
Labels: Component/HTTP, Component/stdlib

#11036 Add retrying capability over status codes
  stdlib/http/src/main/ballerina/http/client_endpoint.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_retry_client.bal
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/HttpBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/RetrySampleTestCase.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/26_http_retry_status_codes.bal
Labels: Component/stdlib

#11035 Update Documentation component base styles
  composer/documentation/package.json
  composer/documentation/src/components/Documentation.css
  composer/documentation/src/components/Documentation.jsx
  composer/theme/src/default-theme/theme/globals/site.variables
Labels: Type/Task

#10920 Fix auth stdlib for services without annotations
  stdlib/reflect/src/main/java/org/ballerinalang/stdlib/reflect/nativeimpl/AbstractAnnotationReader.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthnWithoutHTTPAnnotationsTest.java
  tests/ballerina-integration-test/src/test/resources/auth/authservices/07_auth_test_without_annotations.bal
Labels: Component/stdlib

#10974 Fix abstract object as an Object field
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/AbstractObjectTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/object/abstract_object.bal
Labels: Component/Compiler

#11082 [WebSub] Migrate WebSub module with error type
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/websub/src/main/ballerina/websub/commons.bal
  stdlib/websub/src/main/ballerina/websub/hub_caller_actions.bal
  stdlib/websub/src/main/ballerina/websub/hub_service.bal
  stdlib/websub/src/main/ballerina/websub/subscriber_service_endpoint.bal
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/BallerinaWebSubConnectionListener.java
  tests/ballerina-integration-test/src/test/resources/websub/services/01_websub_publisher.bal
  tests/ballerina-integration-test/src/test/resources/websub/test_unsubscription_client.bal
Labels: Component/WebSub, Component/stdlib, Type/Task

#11101 Migrate CB, FO with error type
  stdlib/http/src/main/ballerina/http/http_commons.bal
  stdlib/http/src/main/ballerina/http/resiliency/failover_connector.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_circuit_breaker.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/01_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/02_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/03_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/04_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/05_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/06_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/07_http_circuit_breaker.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/08_http_circuit_breaker.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/09_http_circuit_breaker.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/10_http_circuit_breaker.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/11_http_circuit_breaker.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/12_http_circuit_breaker.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/13_http_circuit_breaker.bal
Labels: Component/stdlib, Type/Task

#11116 Fix graphical editor rendering
  composer/diagram/src/plugins/ballerina/graphical-editor/controller-overlay.jsx
Labels: Component/VScode plugin

#11107 Remove optional fields from program outputs
  examples/check/check.out
  examples/error-lifting/error_lifting.out
Labels: Component/Examples

#11070 Fix ballerina service not killed in windows
  tool-plugins/vscode/package-lock.json
  tool-plugins/vscode/package.json
  tool-plugins/vscode/src/debugger/session.ts
  tool-plugins/vscode/src/debugger/types.d.ts
Labels: Component/VScode plugin

#11120 Fix renaming, references and code diagnostics fails for inner directories
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompilerUtil.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/common/LSDocument.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/diagnostic/DiagnosticsHelper.java
Labels: Component/LanguageServer

#11109 Fix issue #10721
  examples/csv-io/csv_io.bal
  stdlib/io/src/main/ballerina/io/open.bal
Labels: Component/stdlib
