Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-07, with the labels that each got.

#9293 Change blob to byte array in WebSocket
  stdlib/http/src/main/ballerina/http/websocket/websocket_connector.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ping.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Pong.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushBinary.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/WebSocketResourceValidator.java
  tests/ballerina-test-integration/src/test/resources/websocket/ping_pong.bal
  tests/ballerina-test-integration/src/test/resources/websocket/resource_failure.bal
  tests/ballerina-test-integration/src/test/resources/websocket/simple_proxy_server.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/websocket/compilation/WebSocketCompilationTest.java
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_client_bound_to_endpoint.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onBinary.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onClose.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onError.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onOpen_client.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onOpen_onIdle.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onPing_onPong.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onText.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onText_param_count.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_websocket_upgrade_no_service.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/invalid_resource.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/success.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/success_client.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/success_websocket_upgrade.bal
Labels: Component/WebSocket, Component/stdlib

#9316 Handle empty variable values in debugger
  composer/modules/web/src/plugins/debugger/views/Frames/index.jsx
Labels: Component/Composer

#9185 Fix CNF issue in JDK9
  distribution/zip/ballerina/bin/ballerina
  distribution/zip/ballerina/bin/ballerina.bat
Labels: Priority/High

#9199 Add generateToc to docerina maven plugin
  misc/ballerina-maven-plugins/docerina-maven-plugin/src/main/java/org/ballerinalang/plugin/maven/doc/DocerinaMojo.java
  misc/ballerina-maven-plugins/docs/DocerinaMavenPlugin.md
  misc/docerina/src/main/java/org/ballerinalang/docgen/docs/BallerinaDocConstants.java
  misc/docerina/src/main/java/org/ballerinalang/docgen/docs/BallerinaDocGenerator.java
Labels: Component/Docerina, Type/Improvement

#9325 Add node default controller feature to graphical editor
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/lifeline.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controller-overlay.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/function.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/lifeline.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/resource.jsx
  composer/modules/web/src/plugins/ballerina/visitors/node-default-controller-visitor.js
Labels: Component/Composer

#9332 Handle version numbers in reflect:get*Annotations functions.
  stdlib/reflect/src/main/ballerina/reflect/reflect.bal
  stdlib/reflect/src/main/java/org/ballerinalang/stdlib/reflect/nativeimpl/AbstractAnnotationReader.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/balo/annotation/AnnotationTests.java
  tests/ballerina-test/src/test/resources/test-src/balo/test_balo/annotations/annotation.bal
  tests/ballerina-test/src/test/resources/test-src/balo/test_projects/test_project/foo/annotations.bal
Labels: Component/BVM

#9346 Improvements to have function and global vars in select & filter
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/StreamingCodeDesugar.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/streaming/BallerinaStreamsV2FilterWithFunctionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/streaming/BallerinaStreamsV2FilterWithVariableTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/streaming/BallerinaStreamsV2SelectorWithFunctionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/streaming/BallerinaStreamsV2SelectorWithVariableTest.java
  tests/ballerina-test/src/test/resources/test-src/streaming/streamingv2-filter-with-function-test.bal
  tests/ballerina-test/src/test/resources/test-src/streaming/streamingv2-filter-with-variable-test.bal
  tests/ballerina-test/src/test/resources/test-src/streaming/streamingv2-select-with-function-test.bal
  tests/ballerina-test/src/test/resources/test-src/streaming/streamingv2-select-with-variable-test.bal
Labels: Component/Streams, Priority/Normal, Type/Improvement

#9333 Support equals check for int and byte in reflect pkg
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BByte.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  stdlib/reflect/src/main/java/org/ballerinalang/stdlib/reflect/nativeimpl/Equals.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueTest.java
  tests/ballerina-test/src/test/resources/test-src/reflect/equal.bal
  tests/ballerina-test/src/test/resources/test-src/types/byte/byte-value-negative.bal
  tests/ballerina-test/src/test/resources/test-src/types/byte/byte-value.bal
Labels: Component/BVM

#9227 Implement ballerina/internal:execBallerinaDoc function
  stdlib/internal/src/main/ballerina/internal/exec_ballerina.bal
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/Compress.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/CompressToBlob.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/Decompress.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/DecompressFromBlob.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/execballerina/ExecBallerina.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/execballerina/ExecBallerinaDoc.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/CopyTo.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/MoveTo.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/compression/CompressionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/InternalFileTest.java
  tests/ballerina-test/src/test/resources/test-src/internal/file-test.bal
Labels: Component/stdlib, Type/Improvement

#9331 Fix DefinitionID in CompilerPluginRunner
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CompilerPluginRunner.java
Labels: Component/Compiler

#9273 Allow assignable types/values with streams
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/JSONUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BStream.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/program/BLangVMUtils.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/stream/BStreamValueTest.java
  tests/ballerina-test/src/test/resources/test-src/types/stream/stream-value.bal
Labels: Component/BVM

#9372 Remove accepting little endian byte order from io api
  stdlib/io/src/main/ballerina/io/data_channel.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/CreateDataChannel.java
Labels: Component/stdlib, Type/Improvement

#9220 Add requestVolumeThreshold support to circuit breaker
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/endpointAttributeSuggestion3.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/endpointAttributeSuggestion4.json
  stdlib/http/src/main/ballerina/http/resiliency/http_circuit_breaker.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/http/resiliency/CircuitBreakerTest.java
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
Labels: Component/HTTP, Component/stdlib

#9402 Handle programs with no entry point
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/LauncherUtils.java
Labels: Component/BVM

#9405 Add error boundary to graphical editor
  composer/modules/web/src/plugins/ballerina/graphical-editor/graphical-editor-error-boundary.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/graphical-editor.jsx
  composer/modules/web/src/plugins/ballerina/views/design-view.jsx
Labels: Component/Composer

#9404 Add action box to workers and endpoints
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/endpoint-decorator.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/lifeline.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/worker-node.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/endpoint.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/lifeline.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/worker-node.jsx
Labels: Component/Composer

#9301 Disable test failing in mac OS
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/IdleTimeoutResponseTestCase.java
Labels: Component/HTTP

#9390 Add compensation support
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/impl/ResourceExecutor.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/runtime/Constants.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/Instruction.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/InstructionCodes.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/PackageInfoReader.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/program/BLangFunctions.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/program/CompensationTable.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/TreeBuilder.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/elements/Flag.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/symbols/SymbolKind.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/NodeKind.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/statements/CompensateNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/statements/ScopeNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/FunctionFlags.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/SymTag.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/Symbols.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangNodeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/statements/BLangCompensate.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/statements/BLangScope.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/InstructionCodes.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/Flags.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/LSNodeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/TreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/DefinitionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/symbols/SymbolFindingVisitor.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/statements/compensation/CompensationsStmtTest.java
  tests/ballerina-test/src/test/resources/test-src/statements/compensation/compensate-stmt.bal
  tests/ballerina-test/src/test/resources/test-src/statements/compensation/compensation-stmt-negative.bal
Labels: Component/Compiler

#9389 Fix taint analysis for iterable block resolution
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  stdlib/http/src/main/ballerina/http/commons.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/TaintedStatusPropagationTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/iterable-within-iterable-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/iterable-within-iterable.bal
Labels: Component/Compiler

#9394 Fix issue in not getting project root correctly in Windows
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
Labels: Component/LanguageServer

#9422 Update mime package md sample
  stdlib/mime/src/main/ballerina/mime/Package.md
Labels: Component/stdlib

#9380 Check assigning of array and tuple literals to unions
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  misc/docerina/src/test/java/org/ballerinalang/docgen/docs/HtmlDocTest.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/GrpcConstants.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/builder/components/BlockingFunction.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/builder/components/StubObject.java
  stdlib/grpc/src/main/resources/templates/skeleton/clientStub.mustache
  tests/ballerina-integration-test/src/test/resources/grpc/advanced_type_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/array_field_type_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/invalid_resource_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/unary1_blocking_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/unary1_nonblocking_client.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/ObjectInBaloTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/SealedArrayTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/BasicTupleTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/closures/closure.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/stream/stream-value.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple_basic_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple_negative_test.bal
Labels: Component/Compiler

#9451 Add try-catch node controls
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/catch-statement-decorator.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/try-statement-decorator.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/catch-node.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/try-node.jsx
Labels: Component/Composer

#9419 Fix issue of hover not working on items
  language-server/modules/langserver-core/samples/hover/expected/currentPkg-function1.json
  language-server/modules/langserver-core/samples/hover/expected/currentPkg-record.json
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/ContextConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ItemResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/Snippet.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/filters/StatementTemplateFilter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/hover/HoverProviderTest.java
  language-server/modules/langserver-core/src/test/resources/completion/function/emptyLinePrimitiveDataTypes.json
  language-server/modules/langserver-core/src/test/resources/completion/function/languageConstructsEmptyLine.json
  language-server/modules/langserver-core/src/test/resources/completion/function/languageConstructsNonEmptyLine.json
  language-server/modules/langserver-core/src/test/resources/completion/function/nonEmptyLinePrimitiveDataTypes.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions2.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/completionBeforeUnderscore3.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/emptyLinePrimitiveDataTypes.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/languageConstructsEmptyLine.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/languageConstructsNonEmptyLine.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/nonEmptyLinePrimitiveDataTypes.json
  language-server/modules/langserver-core/src/test/resources/hover/expected/currentPkg-function1.json
  language-server/modules/langserver-core/src/test/resources/hover/expected/currentPkg-record.json
  language-server/modules/langserver-core/src/test/resources/hover/hover.bal
Labels: Component/LanguageServer

#9458 Add formatting support to language server
  composer/modules/web/source-gen/SourceGenTemplate.java
  composer/modules/web/source-gen/gen-source-gen-java.js
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/TextDocumentFormatUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingVisitor.java
Labels: Component/LanguageServer

#9449 Fix shift operators byte value space inconsistencies
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/InstructionCodes.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/Mnemonics.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/PackageInfoReader.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/OperatorKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolTable.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/InstructionCodes.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/Mnemonics.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/byte/byte-value.bal
Labels: Component/Compiler

#9457 Replace sealed keyword in sealed arrays
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BArrayType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangArrayType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Constants.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/SealedArrayTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/arraysofarrays/SealedArraysOfArraysTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/foo/global_arrays.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/arraysofarrays/negative-sealed-arrays-of-arrays.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/arraysofarrays/sealed-arrays-of-arrays.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/sealed-array-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/sealed-array.bal
Labels: Component/Compiler

#9455 Make map access with index to return a nullable type
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/HttpFiltersDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangFieldBasedAccess.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  misc/metrics-extensions/modules/ballerina-prometheus-extension/src/main/ballerina/prometheus/reporter.bal
  stdlib/cache/src/main/ballerina/cache/cache.bal
  stdlib/mime/src/main/ballerina/mime/natives.bal
  stdlib/streams/src/main/ballerina/streams/select.bal
  stdlib/transactions/src/main/ballerina/transactions/commons.bal
  stdlib/transactions/src/main/ballerina/transactions/service_initiator.bal
  stdlib/transactions/src/main/ballerina/transactions/service_participant_2pc.bal
  stdlib/transactions/src/main/ballerina/transactions/transaction_block.bal
  stdlib/transactions/src/main/java/io/ballerina/transactions/AbortResourceManagers.java
  stdlib/transactions/src/main/java/io/ballerina/transactions/CommitResourceManagers.java
  stdlib/transactions/src/main/java/io/ballerina/transactions/GetAvailablePort.java
  stdlib/transactions/src/main/java/io/ballerina/transactions/GetCurrentTransactionId.java
  stdlib/transactions/src/main/java/io/ballerina/transactions/GetHostAddress.java
  stdlib/transactions/src/main/java/io/ballerina/transactions/PrepareResourceManagers.java
  stdlib/websub/src/main/ballerina/websub/hub_caller_actions.bal
  stdlib/websub/src/main/ballerina/websub/hub_service.bal
  stdlib/websub/src/main/ballerina/websub/subscriber_service_endpoint.bal
  tests/ballerina-integration-test/src/test/resources/websocket/resource_failure.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/fieldaccess/SafeNavigationTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/BMapValueTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/ConstrainedMapTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/MapAccessExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/nullvalue/BNullValueTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/fieldaccess/safe_navigation.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/fieldaccess/safe_navigation_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/template-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/ternary/ternary-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/unaryoperations/lengthof-operation.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/object-access-with-index.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/record_access_with_index.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/sealed_record.bal
  tests/ballerina-unit-test/src/test/resources/test-src/runtime/invocation-context.bal
  tests/ballerina-unit-test/src/test/resources/test-src/services/dispatching/uri-matrix-param-matching.bal
  tests/ballerina-unit-test/src/test/resources/test-src/services/dispatching/uri-template-matching.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/sealed-array.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/compoundassignment/compound_assignment_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-maps.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/returnstmt/missing-return-forkjoin-2.bal
  tests/ballerina-unit-test/src/test/resources/test-src/structs/struct-access-with-index.bal
  tests/ballerina-unit-test/src/test/resources/test-src/structs/struct.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/map-struct-json-unified.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/map/constrained-map.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/map/map-access-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/map/map-access-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/map/map-value.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-attributes.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/fork-join-all-specific.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/fork-join-any-specific.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/fork-join-in-all.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/fork-join-without-timeout.bal
Labels: Component/BVM, Component/Compiler

#9459 Fix record invocation autocompletion doesn't provide FunctionTypes.
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/completion/BInvokableSymbolUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/AbstractItemResolver.java
Labels: Component/LanguageServer

#9477 Fix the issue of adding 'package' for the the new files
  composer/modules/web/src/plugins/ballerina/plugin.js
Labels: Component/Composer

#9448 Fix #8361 swagger view loading
  composer/modules/server/services/ballerina-to-swagger/pom.xml
  composer/modules/server/services/ballerina-to-swagger/src/main/java/org/ballerinalang/composer/service/ballerina/swagger/service/BallerinaToSwaggerService.java
  composer/modules/web/src/api-client/api-client.js
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/utils/server-connector-properties.jsx
  composer/modules/web/src/plugins/ballerina/swagger-parser/swagger-parser.js
  composer/modules/web/src/plugins/ballerina/swagger-util/swagger-util.js
  composer/modules/web/src/plugins/ballerina/views/ballerina-file-editor.jsx
  composer/modules/web/src/plugins/ballerina/views/source-editor.jsx
  composer/modules/web/src/plugins/ballerina/views/swagger-view.jsx
  composer/modules/web/src/plugins/import-swagger/plugin.js
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
  misc/swagger-ballerina/modules/ballerina-to-swagger/src/main/java/org/ballerinalang/ballerina/swagger/convertor/service/SwaggerConverterUtils.java
Labels: Component/Composer

#9521 Fetch lifeline add endpoint suggestions from parser service
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/BallerinaParserService.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/model/lang/Endpoint.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/model/lang/Function.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/util/ParserUtils.java
  composer/modules/web/src/api-client/api-client.js
  composer/modules/web/src/plugins/ballerina/graphical-editor/controller-utils/search.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/lifeline.jsx
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/worker-node.jsx
  composer/modules/web/src/plugins/ballerina/interactions/interaction.scss
  composer/modules/web/src/plugins/ballerina/interactions/item.jsx
  composer/modules/web/src/plugins/ballerina/model/default-node-factory.js
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/index/Constants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/index/LSIndexQueryProcessor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/index/dto/BFunctionDTO.java
Labels: Component/Composer

#9576 Fix command terminator not working in electron build
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/TerminatorMac.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/TerminatorUnix.java
Labels: Component/Composer

#9598 Revert "Exclude builtin from importing" from master
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/lifeline.jsx
Labels: Component/Composer

#9600 Exclude builtin from importing
  composer/modules/web/src/plugins/ballerina/graphical-editor/controllers/lifeline.jsx
Labels: Component/Composer

#9604 Add zoneID info to Package.md of time package
  stdlib/time/src/main/ballerina/time/Package.md
Labels: Component/stdlib, Type/Docs

#9609 Adding support for sending user input for the ballerina program
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/LaunchManager.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/LauncherConstants.java
  composer/modules/web/src/plugins/debugger/LaunchManager/LaunchManager.js
  composer/modules/web/src/plugins/debugger/constants.js
  composer/modules/web/src/plugins/debugger/handlers.js
  composer/modules/web/src/plugins/debugger/views/DebugConsole.jsx
  composer/modules/web/src/plugins/debugger/views/console-decorators/default-decorator.jsx
Labels: Component/Composer

#9328 Fix not showing completions for "import b".
  .gitignore
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/UtilSymbolKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/CompletionCustomErrorStrategy.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/CompletionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/packageimport/PackageImportDelayTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/packageimport/PackageImportSuggestionsTest.java
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport.json
Labels: Component/LanguageServer

#9283 Update doc grammar to markdown format
  compiler/ballerina-lang/src/main/java/org/ballerinalang/compiler/CompilerPhase.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/TreeBuilder.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/DocumentableNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/MarkdownDocumentationNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/NodeKind.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/expressions/MarkdownDocumentationParameterAttributeNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/expressions/MarkdownDocumentationReturnParameterAttributeNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/expressions/MarkdownDocumentationTextAttributeNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompilerDriver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DocumentationAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangAnnotation.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangEnum.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangInvokableNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangMarkdownDocumentation.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangNodeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangService.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangTypeDefinition.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangVariable.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangMarkdownDocumentationLine.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangMarkdownParameterDocumentation.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangMarkdownReturnParameterDocumentation.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/MarkdownDocumentationTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_annotation.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_connector_function.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_constant.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_doc_inline.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_doc_inline_triple.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_finite_types.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_function.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_multiline_documentation.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_multiple.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_native_function.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_service.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/markdown_type.bal
  tests/ballerina-unit-test/src/test/resources/test-src/documentation/transformer.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/byte/byte-array-value-negative.bal
Labels: Component/Compiler

#9582 Change formatting visitor to use reflections to select node formatting functionality
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/util/BLangFragmentParser.java
  composer/modules/web/source-gen/SourceGenTemplate.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/TextDocumentFormatUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingTreeUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingVisitor.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/common/util/CommonUtil.java
Labels: Component/LanguageServer

#9364 Add support for index based access for tuple type
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BArrayType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BRefValueArray.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangNodeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangIndexBasedAccess.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/LSNodeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/symbols/SymbolFindingVisitor.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/BasicTupleTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple_basic_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple_negative_test.bal
Labels: Component/Compiler

#9517 Fix instances where incorrect exception type was thrown in LauncherUtils
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/LauncherUtils.java
  distribution/zip/ballerina/pom.xml
Labels: Component/BVM, Component/Compiler

#9722 Fix object printing private fields
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BMap.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/object/object-print.bal
Labels: Component/BVM

#9715 Clean up debugger state after session ended
  composer/modules/web/src/plugins/debugger/views/DebuggerPanel.jsx
Labels: Component/Composer

#9717 Fix language server source gen rendering issues and added source gen tests
  composer/modules/web/source-gen/SourceGenTemplate.java
  composer/modules/web/source-gen/gen-source-gen-java.js
  composer/modules/web/source-gen/gen-source-gen.js
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/TextDocumentFormatUtil.java
  language-server/modules/langserver-core/pom.xml
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourcegen/SourceGenTest.java
Labels: Component/LanguageServer

#9605 Re-order check expression
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkedexpr/CheckedExpressionOperatorTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_expr_operator_basics.bal
Labels: Component/Compiler

#9755 Fix code smell in WebSocket and HTTP
  stdlib/http/src/main/java/org/ballerinalang/net/http/BallerinaHTTPConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/CorsHeaderGenerator.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/CorsPopulator.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConnectionManager.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResource.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResourceDataElement.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResourceDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketClientConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketOpenConnectionInfo.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketServicesRegistry.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Delete.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Get.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Head.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Options.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Patch.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Post.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Put.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ping.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Pong.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushBinary.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushText.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/caching/CacheControlParser.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateHttpClient.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/HttpServiceCompilerPlugin.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/ResourceSignatureValidator.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/WebSocketResourceValidator.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/NonListeningGetCallerActions.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/NonListeningInitEndpoint.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/NonListeningStop.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/CancelWebSocketUpgrade.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/request/GetQueryParams.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/session/CreateSessionIfAbsent.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/session/GetSession.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/session/SetAttribute.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/session/SetMaxInactiveInterval.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/serviceendpoint/Register.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/session/SessionIdGenerator.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/util/CacheUtils.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/util/TransportConfigProvider.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/InitEndpoint.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/WebSubDispatcher.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/WebSubHttpService.java
Labels: Component/HTTP, Component/WebSocket, Component/stdlib

#9780 Make JVM version check only for JDK1.8
  distribution/zip/ballerina/bin/ballerina
  distribution/zip/ballerina/bin/ballerina.bat
Labels: Component/Distribution

#9773 Fix count() function desugar in resources
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/functions/FunctionsAndNilTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/functions/count-in-resource.bal
Labels: Component/Compiler

#9761 Bump transport version to 6.0.218
  pom.xml
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketClientConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/AcceptWebSocketUpgrade.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/CancelWebSocketUpgrade.java
Labels: Component/HTTP, Component/stdlib, Type/Improvement

#9783 Fix concurrent issue in map get keys
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/impl/ConnectorSPIModelHelper.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/JSONUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BMap.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLItem.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/maplib/GetKeys.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/maplib/GetValues.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDatasource.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/builder/components/DescriptorBuilder.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/servicestub/InitStub.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/AcceptWebSocketUpgrade.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/session/HTTPSession.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/util/HeaderUtil.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  stdlib/observability/src/main/java/org/ballerinalang/observe/nativeimpl/Utils.java
  stdlib/reflect/src/main/java/org/ballerinalang/stdlib/reflect/nativeimpl/AbstractAnnotationReader.java
  stdlib/reflect/src/main/java/org/ballerinalang/stdlib/reflect/nativeimpl/Equals.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/BallerinaWebSubConnectionListener.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/WebSubSubscriberServiceValidator.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/BMapValueTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/MapAccessExprTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/map/map-access-expr.bal
Labels: Component/BVM

#9782 Fix fork-join timeout time unit issue
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/program/BLangFunctions.java
  tests/ballerina-unit-test/src/test/resources/test-src/workers/fork-join-all-specific.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/fork-join-any-specific.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/fork-join-in-all.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/not-so-basic-worker-actions.bal
Labels: Component/Compiler
