Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-09, with the labels that each got.

#10163 Implement on-demand building for streaming JSON
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/JSONDataSource.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/TableJSONDataSource.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BStreamingJSON.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/table/TableTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/table/table_type.bal
Labels: Component/BVM

#10275 Fix gRPC unit test failure in windows
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/proto/definition/UserDefinedEnumMessage.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/proto/definition/UserDefinedMessage.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/net/grpc/ProtoBuilderDefinitionTest.java
Labels: Component/stdlib

#10235 Make it possible to map postgres OID to ballerina byte[] record field
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDataIterator.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDatasourceUtils.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/AbstractSQLAction.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/BatchUpdate.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/Call.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/Close.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/GetProxyTable.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/Select.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/Update.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/UpdateWithGeneratedKeys.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/table/BProxyTable.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/connectors/sql/SQLActionsTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/table/TableTest.java
  tests/ballerina-unit-test/src/test/resources/datafiles/sql/SQLTest_H2_Data.sql
  tests/ballerina-unit-test/src/test/resources/datafiles/sql/SQLTest_Mysql_Data.sql
  tests/ballerina-unit-test/src/test/resources/datafiles/sql/SQLTest_Postgres_Data.sql
  tests/ballerina-unit-test/src/test/resources/datafiles/sql/TableTest_Postgres_Data.sql
  tests/ballerina-unit-test/src/test/resources/test-src/connectors/sql/sql_actions_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/table/table_nillable_mapping.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/table/table_type.bal
Labels: Component/Data, Component/stdlib

#10237 Add circuit breaker test cases
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/resiliency/HttpResiliencyTest.java
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_circuit_breaker_00.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_circuit_breaker_01.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_circuit_breaker_02.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_circuit_breaker_03.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_circuit_breaker_04.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_circuit_breaker_05.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_circuit_breaker_06.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_failover_00.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_failover_01.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_failover_02.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_failover_03.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_failover_04.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/http_failover_05.bal
  tests/ballerina-integration-test/src/test/resources/testng.xml
Labels: Component/stdlib

#10241 Add more tests for WebSocket
  stdlib/http/src/main/ballerina/http/http_connection.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketServicesRegistry.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/ClientServiceTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/MissingResourcesTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/OnBinaryContinuationTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/PushTextFailureTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/UpgradeResourceWithoutHandshakeTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/WebSocketTestCommons.java
  tests/ballerina-integration-test/src/test/resources/testng.xml
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/pushText_failure.bal
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/upgrade_resource_without_handshake.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/net/websocket/service/WebSocketServiceTest.java
Labels: Component/WebSocket, Component/stdlib

#10271 Fix WindowsOS file path issue
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/file/DirectoryListenerConnectorTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/file/file-system.bal
Labels: Component/stdlib

#10288 Replace TimeWindow implementation with task:Timer functionality to better reflect the window's functionality
  stdlib/streams/src/main/ballerina/streams/collections.bal
  stdlib/streams/src/main/ballerina/streams/windows.bal
Labels: Component/Streams

#10282 Improve sprintf function
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/RuntimeErrors.java
  bvm/ballerina-core/src/main/resources/MessagesBundle.properties
  bvm/ballerina-core/src/main/resources/MessagesBundle_en_US.properties
  stdlib/http/src/main/ballerina/http/caching/http_caching_client.bal
  stdlib/io/src/main/ballerina/io/print.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/Sprintf.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/IOTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/connectors/h2/h2_actions_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/connectors/sql/sql_actions_negative_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/connectors/sql/sql_actions_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/table/table_type.bal
  tool-plugins/intellij/src/test/resources/testData/mockSdk-0.981.0/src/http/caching/http_caching_client.bal
Labels: Component/stdlib

#10231 Introduce HTTP 1.1 pipelining
  language-server/modules/langserver-core/src/test/resources/completion/function/endpointAttributeSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/service/serviceEndpointBind3.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/endpointAttributeSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/endpointAttributeSuggestion2.json
  pom.xml
  stdlib/http/src/main/ballerina/http/http_commons.bal
  stdlib/http/src/main/ballerina/http/secure_listener.bal
  stdlib/http/src/main/ballerina/http/service_endpoint.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResourceDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ConnectionAction.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/PushPromisedResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ResponseWriter.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/pipelining/PipelineResponseListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/pipelining/PipelinedResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/pipelining/PipeliningHandler.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
  tests/ballerina-integration-test-utils/src/main/java/org/ballerinalang/test/util/client/HttpClient.java
  tests/ballerina-integration-test-utils/src/main/java/org/ballerinalang/test/util/client/ResponseHandler.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/HttpBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HttpPipeliningTestCase.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/http-pipelining.bal
  tests/ballerina-integration-test/src/test/resources/testng.xml
Labels: Component/HTTP, Component/stdlib

#10354 Disable pipelining request limit test case
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HttpPipeliningTestCase.java
Labels: Component/HTTP, Component/stdlib

#10097 Fix breakpoints are not being deployed correctly for multipackages b7a projects
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/debugger/DebugConstants.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/debugger/DebugInfoHolder.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/debugger/Debugger.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/elements/PackageID.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/SourceDirectoryManager.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/test/java/org/wso2/ballerinalang/compiler/SourceDirectoryManagerTest.java
  compiler/ballerina-lang/src/test/resources/src/ballerina/multi-package/.ballerina/.gitignore
  compiler/ballerina-lang/src/test/resources/src/ballerina/multi-package/Ballerina.toml
  compiler/ballerina-lang/src/test/resources/src/ballerina/multi-package/fruits/apple.bal
  compiler/ballerina-lang/src/test/resources/src/ballerina/multi-package/fruits/orange.bal
  compiler/ballerina-lang/src/test/resources/src/ballerina/multi-package/main.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/debugger/VMDebuggerTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/utils/debug/VMDebuggerUtil.java
  tests/ballerina-unit-test/src/test/resources/test-src/debugger/multi-package/.ballerina/.gitignore
  tests/ballerina-unit-test/src/test/resources/test-src/debugger/multi-package/Ballerina.toml
  tests/ballerina-unit-test/src/test/resources/test-src/debugger/multi-package/fruits/apple.bal
  tests/ballerina-unit-test/src/test/resources/test-src/debugger/multi-package/fruits/orange.bal
  tests/ballerina-unit-test/src/test/resources/test-src/debugger/multi-package/main.bal
  tool-plugins/vscode/plugin/src/extension.ts
Labels: Component/Debugger

#10296 Introduce the uninstall command
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/LauncherUtils.java
  cli/ballerina-launcher/src/main/resources/cli-help/ballerina-default.help
  cli/ballerina-launcher/src/main/resources/cli-help/ballerina-uninstall.help
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/HomeDirRepositoryProvider.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/UninstallUtils.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/UserRepositoryUtils.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/UninstallCommand.java
  cli/ballerina-packerina/src/main/resources/META-INF/services/org.ballerinalang.launcher.BLauncherCmd
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingNegativeTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingTestCase.java
Labels: Component/Packerina, Type/New Feature

#10409 Disable test case due to intermittent failure in WindowsOS
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/socket/ServerSocketTest.java
  tests/ballerina-unit-test/src/test/resources/testng.xml
Labels: Component/stdlib

#10360 Make field order irrelevant for record equivalence
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/ErrorTableEntry.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordEquivalencyTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordEquivalencyTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/record/closed_record_equivalency.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/open_record_equivalency.bal
Labels: Component/BVM, Component/Compiler

#10410 Add multipart-form data test case with expect header
  tests/ballerina-integration-test-utils/src/main/java/org/ballerinalang/test/util/HttpClientRequest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/ExpectContinueTestCase.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/100_continue.bal
Labels: Component/HTTP, Component/stdlib, Type/Improvement

#10469 Adding source gen support for ballerina streaming syntaxes
  composer/modules/integration-tests/src/test/resources/config.json
  composer/modules/web/source-gen/SourceGenTemplate.java
  composer/modules/web/source-gen/gen-source-gen-java.js
  composer/modules/web/source-gen/gen-source-gen.js
  composer/modules/web/source-gen/tree.g
  composer/modules/web/src/plugins/ballerina/model/source-gen.js
  composer/modules/web/src/plugins/ballerina/model/tree-builder.js
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourcegen/SourceGenTest.java
Labels: Component/Composer, Component/LanguageServer

#10472 Skip channels source gen tests until support added
  composer/modules/integration-tests/src/test/resources/config.json
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourcegen/SourceGenTest.java
Labels: Component/Composer, Component/LanguageServer

#10446 Add abstract object support
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BStream.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/program/CompensationTable.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/elements/Flag.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/HttpFiltersDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangObjectTypeNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangUserDefinedType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/Flags.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/symbols/SymbolFindingVisitor.java
  misc/docerina/src/test/java/org/ballerinalang/docgen/docs/HtmlDocTest.java
  stdlib/http/src/main/ballerina/http/auth/authn_handler.bal
  stdlib/http/src/main/ballerina/http/http_filter.bal
  stdlib/transactions/src/main/ballerina/transactions/2pc_participant.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/ObjectInBaloTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/AbstractObjectTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/AnonymousObjectTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectEquivalencyNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectEquivalencyTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/foo/object_definitions.bal
  tests/ballerina-unit-test/src/test/resources/test-src/endpoint/testEndpointWithService.bal
  tests/ballerina-unit-test/src/test/resources/test-src/endpoint/test_anonymous_endpoint.bal
  tests/ballerina-unit-test/src/test/resources/test-src/endpoint/test_anonymous_endpoint_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/abstract-object-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/abstract_anon_object.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/abstract_anon_object_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/initializers/init.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/object-equivalency-01-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/object-equivalency.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/object-with-interface.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/object_initialize_interface_object.bal
  tool-plugins/vscode/plugin/package.json
Labels: Component/Compiler

#10448 Improve HTTP connection action API
  stdlib/http/src/main/ballerina/http/http_connection.bal
  tests/ballerina-integration-test-utils/src/main/java/org/ballerinalang/test/util/HttpClientRequest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/HttpBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HttpStatusCodeTestCase.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/http-pipelining.bal
  tests/ballerina-integration-test/src/test/resources/http/httpservices/http-status-codes.bal
  tests/ballerina-integration-test/src/test/resources/testng.xml
Labels: Component/HTTP, Component/stdlib

#10483 Skip grpc streaming client to avoid jenkins issue
  composer/modules/integration-tests/src/test/resources/config.json
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourcegen/SourceGenTest.java
Labels: Component/Composer, Component/LanguageServer

#10309 Tainted status tracking for in-out parameters
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompiledPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/TaintRecord.java
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/on_binary_continuation.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/TaintedStatusPropagationTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/mime/multipart-request.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/in-out-param-basic-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/in-out-param-basic.bal
Labels: Component/Compiler, Type/Improvement

#10473 Improve record equivalency logic
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/ErrorTableEntry.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/PackageInfoReader.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolTable.java
  stdlib/builtin/src/main/ballerina/builtin/errors.bal
  stdlib/internal/src/main/ballerina/internal/compression.bal
  stdlib/transactions/src/main/ballerina/transactions/connector_participant_2pc.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkedexpr/CheckedExprNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordRestDescriptorEquivalencyTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayMutabilityTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/block/BlockStmtTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/trycatch/TryCatchThrowStmtTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/uniontypes/UnionTypeTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_expr_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_expr_operator_basics.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/closed_record_equivalency.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/eq/eq1.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/eq2/eq2.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/record_rest_descriptor_equivalency_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/req/eq2.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/req2/eq2.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-mutability-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/block/block-stmt-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/transaction/transaction_handler_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/transaction/transaction_stmt.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/trycatch/try-catch-finally-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/trycatch/try-catch-stmt.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/errors/error-return.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/uniontypes/negative_union_types_basic.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/uniontypes/union_types_basic.bal
Labels: Component/BVM, Component/Compiler

#10511 Fix documentation issue in the stdlib mb package
  stdlib/mb/src/main/ballerina/mb/simple_durable_topic_subscriber.bal
  stdlib/mb/src/main/ballerina/mb/simple_queue_receiver.bal
  stdlib/mb/src/main/ballerina/mb/simple_queue_sender.bal
  stdlib/mb/src/main/ballerina/mb/simple_topic_publisher.bal
  stdlib/mb/src/main/ballerina/mb/simple_topic_subscriber.bal
Labels: Component/stdlib

#10487 Add trace logs capability to language server
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/traces/Listener.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/traces/LogParser.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/traces/Message.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/traces/TraceRecord.java
Labels: Component/LanguageServer

#10466 Enable Compression/Decompression based on the Content-Type
  stdlib/http/src/main/ballerina/http/annotation.bal
  stdlib/http/src/main/ballerina/http/http_commons.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/CompressionConfigState.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Execute.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/HttpServiceCompilerPlugin.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/ResourceSignatureValidator.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/compression-annotation-test.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/services/configuration/ServiceConfigurationTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/services/configuration/compression/CompressionConfigNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/services/configuration/compression/CompressionConfigSuccessTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/services/configuration/compression-annotation-test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/services/configuration/compression/bogus-content-type.bal
  tests/ballerina-unit-test/src/test/resources/test-src/services/configuration/compression/compression-annotation-test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/services/configuration/compression/invalid-compression-state.bal
  tests/ballerina-unit-test/src/test/resources/test-src/services/configuration/compression/redundant-compression-config.bal
  tests/ballerina-unit-test/src/test/resources/test-src/services/configuration/service-config-annotation.bal
Labels: Component/HTTP, Component/stdlib, Type/Task

#10552 Fix type definition source gen issue for when type is union type
  composer/modules/web/source-gen/tree.g
  composer/modules/web/src/plugins/ballerina/model/source-gen.js
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
Labels: Component/Composer, Component/LanguageServer

#10555 Fix the issue with function param source gen
  composer/modules/web/source-gen/SourceGenTemplate.java
  composer/modules/web/src/plugins/ballerina/model/tree-builder.js
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
Labels: Component/Composer, Component/LanguageServer

#10557 Fix vscode remote debugging
  tool-plugins/vscode/package.json
  tool-plugins/vscode/src/debugger/index.ts
Labels: Component/VScode plugin

#10587 Fix 100-continue illegal function invocation issue with passthrough
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/HttpBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/ExpectContinueTestCase.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/100_continue.bal
Labels: Component/HTTP, Component/stdlib, Type/Bug

#10564 Check if the provided ballerina language server supports providing AST and examples
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  tool-plugins/vscode/package-lock.json
  tool-plugins/vscode/package.json
  tool-plugins/vscode/src/core/ballerina-extension.ts
  tool-plugins/vscode/src/core/messages.ts
  tool-plugins/vscode/src/examples/index.ts
  tool-plugins/vscode/src/renderer/index.ts
Labels: Component/VScode plugin

#10570 Update vscode plugin readme
  tool-plugins/vscode/README.md
Labels: Component/VScode plugin
