Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-11, with the labels that each got.

#11160 Add default auth store provider for SecureListener
  stdlib/http/src/main/ballerina/http/secure_listener.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/auth/ConfigAuthProviderTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/auth/config_auth_provider_test.bal
Labels: Component/Auth, Type/Bug

#11168 Check certificate expiry before JWT validation
  stdlib/internal/src/main/ballerina/internal/jwt_native.bal
  stdlib/internal/src/main/ballerina/internal/jwt_validator.bal
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/jwt/signature/VerifySignature.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/ServiceLevelAuthnTest.java
  tests/ballerina-integration-test/src/test/resources/auth/authservices/10_authn_with_expired_certificate.bal
  tests/ballerina-integration-test/src/test/resources/auth/testtruststore.p12
Labels: Component/Auth, Component/stdlib

#11176 Fix error for WebSocket examples
  examples/http-to-websocket-upgrade/http_to_websocket_upgrade.bal
  examples/websocket-basic-sample/websocket_basic_sample.bal
  examples/websocket-chat-application/websocket_chat_application.bal
  examples/websocket-proxy-server/websocket_proxy_server.bal
Labels: Component/HTTP, Component/stdlib

#11024 Add `anydata` type
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BAnydataType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BTypes.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/TypeConstants.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/TypeSignature.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/TypeTags.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/PackageInfoReader.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/TreeUtils.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/types/TypeKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompiledPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/TypeSignatureReader.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/IterableCodeDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolTable.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BAnydataType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BBuiltInRefType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BIterableTypeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BTypeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/TypeDescriptor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/TypeTags.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/anydata/AnydataNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/anydata/AnydataTernaryConvTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/anydata/AnydataTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/anydata/anydata_conversion_using_ternary.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/anydata/anydata_invalid_closed_record_assignment.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/anydata/anydata_invalid_conversions.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/anydata/anydata_invalid_open_record_assignment.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/anydata/anydata_negative_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/anydata/anydata_test.bal
Labels: Component/BVM, Component/Compiler

#10917 Add Privacy API - foundation of privacy awareness
  pom.xml
  stdlib/privacy/assembly/balo.xml
  stdlib/privacy/assembly/source.xml
  stdlib/privacy/pom.xml
  stdlib/privacy/spotbugs-exclude.xml
  stdlib/privacy/src/main/ballerina/Ballerina.toml
  stdlib/privacy/src/main/ballerina/privacy/database_pii_store_utils.bal
  stdlib/privacy/src/main/ballerina/privacy/h2_pii_store.bal
  stdlib/privacy/src/main/ballerina/privacy/mysql_pii_store.bal
  stdlib/privacy/src/main/ballerina/privacy/pii_store.bal
  stdlib/privacy/src/main/ballerina/privacy/privacy.bal
  tests/ballerina-unit-test/pom.xml
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/privacy/H2DatabasePIIStoreTest.java
  tests/ballerina-unit-test/src/test/resources/datafiles/privacy/PII_Store_Table_Create.sql
  tests/ballerina-unit-test/src/test/resources/test-src/privacy/h2_pii_store.bal
  tests/ballerina-unit-test/src/test/resources/testng.xml
Labels: Component/stdlib

#11243 Fix stream test for error refactor
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/stream/BStreamValueTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/string/StringTest.java
Labels: Component/stdlib

#11274 Fix throwing error when reading corrupted / incomplete zip files
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/packaging/converters/ZipConverter.java
Labels: Component/Compiler, Component/central, Type/Bug

#11201 Add multiple algorithm support to LB
  examples/http-load-balancer/http_load_balancer.bal
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  stdlib/http/src/main/ballerina/http/resiliency/http_load_balancer.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_load_balancer_rule.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_round_robin_rule.bal
  stdlib/http/src/main/ballerina/http/resiliency/load_balance_client_endpoint.bal
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/resiliency/HttpResiliencyTest.java
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/14_http_load_balancer.bal
  tests/ballerina-integration-test/src/test/resources/testng.xml
Labels: Component/HTTP, Component/stdlib, Type/New Feature

#11260 Use string templates instead of printf
  stdlib/privacy/pom.xml
  stdlib/privacy/src/main/ballerina/privacy/database_pii_store_utils.bal
Labels: Component/stdlib, Type/Improvement

#11187 Fix issue when building and testing a module in a project which contains only test sources
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompilerDriver.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/ModuleBuildTestCase.java
  tests/ballerina-tools-integration-test/src/test/resources/testModule/foo/tests/main_test.bal
Labels: Component/Compiler

#11181 Fix issue in parsing backward slashes in configs
  bvm/ballerina-config/pom.xml
  bvm/ballerina-config/src/main/java/org/ballerinalang/bcl/parser/BConfigLangListener.java
  tests/ballerina-integration-test-utils/src/main/java/org/ballerinalang/test/context/BServerInstance.java
  tests/ballerina-integration-test-utils/src/main/java/org/ballerinalang/test/context/Constant.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/sample/GrpcBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/sample/GrpcMutualSslWithCertsTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/HttpBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/MutualSSLWithCerts.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/config/ConfigTest.java
  tests/ballerina-unit-test/src/test/resources/datafiles/config/default/ballerina.conf
Labels: Component/stdlib

#11217 Restrict ==/!= usage to anydata
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  misc/metrics-extensions/modules/ballerina-prometheus-extension/src/main/ballerina/prometheus/reporter.bal
  stdlib/streams/src/main/ballerina/streams/collections.bal
  stdlib/streams/src/main/ballerina/streams/windows.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/EqualAndNotEqualOperationsTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/RefEqualAndNotEqualOperationsTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/equal_and_not_equal_operation.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/equal_and_not_equal_operation_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/ref_equal_and_not_equal_operation.bal
Labels: Component/Compiler

#11345 Add formatting support for annotation definition
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/annotation.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedAnnotation.bal
Labels: Component/Formatting, Component/LanguageServer

#11366 Add formatting support for arrow functions
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/arrowExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedArrowExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedFunctionType.bal
  language-server/modules/langserver-core/src/test/resources/formatting/functionType.bal
Labels: Component/Formatting, Component/LanguageServer

#11206 Introduce freeze() and isFrozen() built-in methods
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/FreezeUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BBooleanArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BByteArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BDecimalArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BFloatArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BIntArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BMap.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BNewArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BRefValueArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BStringArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BTable.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BValueType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXML.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLItem.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLSequence.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/InstructionCodes.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/Mnemonics.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/PackageInfoReader.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/BLangFreezeException.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/BLangBuiltInMethod.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/InstructionCodes.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/Mnemonics.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/maplib/Clear.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/maplib/Remove.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/tablelib/Add.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/tablelib/Remove.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/builtinfunctions/FreezeAndIsFrozenTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/builtinfunctions/freeze-and-isfrozen-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/builtinfunctions/freeze-and-isfrozen.bal
Labels: Component/BVM, Component/Compiler, Type/New Feature

#11447 Fix formatting and styling of testgen
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/AnnotationConfigsProcessor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/AbstractTestTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/RootTemplate.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/command/CommandExecutionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/source/testgen/module1/functions.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/source/testgen/module2/services.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/testGenServiceCodeAction.json
  language-server/modules/langserver-core/src/test/resources/command/source/testgen/module2/services.bal
Labels: Component/LanguageServer, Type/Improvement

#11451 Fix LS test failures in error_refactor branch
  language-server/modules/langserver-core/src/test/resources/completion/function/anonFunctionSnippetSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/anonFunctionSnippetSuggestion2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/anonFunctionSnippetSuggestion3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/errorLiftingSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/functionPointerAsParameter.json
Labels: Component/LanguageServer

#11467 Fix failing TimerTest
  tests/ballerina-unit-test/src/test/resources/test-src/task/timer-error.bal
  tests/ballerina-unit-test/src/test/resources/test-src/task/timer-workers.bal
Labels: Component/stdlib

#11471 Fix failing AppointmentTest
  tests/ballerina-unit-test/src/test/resources/test-src/task/app-simple.bal
  tests/ballerina-unit-test/src/test/resources/test-src/task/app-workers.bal
Labels: Component/stdlib

#11474 Fix failing CacheExpiryTest
  tests/ballerina-unit-test/src/test/resources/test-src/cache/cache-expiry-test.bal
Labels: Component/stdlib

#11253 Improve source and function separation colon identification logic with the run command
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/Main.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/run/BalRunFunctionNegativeTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/run/BalRunFunctionPositiveTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/run/BalxRunFunctionNegativeTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/run/BalxRunFunctionPositiveTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/run/PkgRunFunctionNegativeTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/run/PkgRunFunctionPositiveTestCase.java
  tests/ballerina-tools-integration-test/src/test/resources/run/balx/complex/test_entry_function_with_colons.bal
  tests/ballerina-tools-integration-test/src/test/resources/run/balx/simple/test_entry_function.bal
  tests/ballerina-tools-integration-test/src/test/resources/run/file/test_entry_function_with_colons.bal
  tests/ballerina-tools-integration-test/src/test/resources/run/package/pkg_with_colons/test_entry_function_with_colons.bal
Labels: Component/CLI, Type/Improvement

#11486 Fix test failures in LS
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/builder/BTypeCompletionItemBuilder.java
  language-server/modules/langserver-core/src/test/resources/codeaction/source/testgen/module1/functions.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/source/testgen/module2/services.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/testGenServiceCodeAction.json
  language-server/modules/langserver-core/src/test/resources/command/source/testgen/module1/functions.bal
  language-server/modules/langserver-core/src/test/resources/command/source/testgen/module2/services.bal
  language-server/modules/langserver-core/src/test/resources/command/testGenerationForServices.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
Labels: Component/LanguageServer

#11491 Fix failing i/o test cases
  stdlib/io/src/main/ballerina/io/readable_csv_channel.bal
  stdlib/io/src/main/ballerina/io/writable_csv_channel.bal
  tests/ballerina-unit-test/src/test/resources/test-src/io/bytes_io.bal
  tests/ballerina-unit-test/src/test/resources/test-src/io/char_io.bal
  tests/ballerina-unit-test/src/test/resources/test-src/io/csv_io.bal
  tests/ballerina-unit-test/src/test/resources/test-src/io/record_io.bal
  tests/ballerina-unit-test/src/test/resources/test-src/io/string_io.bal
Labels: Component/stdlib

#11495 Add LS support for .freeze() and isFrozen()
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SnippetGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ItemResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/Snippet.java
Labels: Component/LanguageServer

#11512 Enabling tests for testgen
  language-server/modules/langserver-core/src/main/resources/testgen/template/wsClientService.bal
  language-server/modules/langserver-core/src/main/resources/testgen/template/wsService.bal
  language-server/modules/langserver-core/src/main/resources/testgen/template/wssClientService.bal
  language-server/modules/langserver-core/src/main/resources/testgen/template/wssService.bal
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/command/CommandExecutionTest.java
Labels: Component/LanguageServer

#11530 Fix failing XMLIterationTest
  tests/ballerina-unit-test/src/test/resources/test-src/object/abstract_anon_object.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/abstract_object.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/anon_object.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml_iteration.bal
Labels: Component/stdlib

#11561 Fix test generation issue for void-functions
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/TestGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/type/FunctionTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/type/HttpServiceTemplate.java
  language-server/modules/langserver-core/src/main/resources/testgen/template/httpResource.bal
  language-server/modules/langserver-core/src/main/resources/testgen/template/httpService.bal
  language-server/modules/langserver-core/src/main/resources/testgen/template/voidFunction.bal
Labels: Component/LanguageServer, Type/Bug

#11581 Fix failing string reader test
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/channels/BlobIOChannel.java
Labels: Component/stdlib

#11544 Add LS support for .stamp(anydata a) built-in function
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SnippetGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ItemResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/Snippet.java
Labels: Component/LanguageServer

#11500 Add LS support for .clone() built-in function
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SnippetGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ItemResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/Snippet.java
Labels: Component/LanguageServer

#11639 Apply init(..) change to i/o apis
  stdlib/io/src/main/ballerina/io/readable_character_channel.bal
  stdlib/io/src/main/ballerina/io/readable_csv_channel.bal
  stdlib/io/src/main/ballerina/io/readable_data_channel.bal
  stdlib/io/src/main/ballerina/io/readable_record_channel.bal
  stdlib/io/src/main/ballerina/io/socket.bal
  stdlib/io/src/main/ballerina/io/strings.bal
  stdlib/io/src/main/ballerina/io/writable_character_channel.bal
  stdlib/io/src/main/ballerina/io/writable_csv_channel.bal
  stdlib/io/src/main/ballerina/io/writable_data_channel.bal
  stdlib/io/src/main/ballerina/io/writable_record_channel.bal
Labels: Component/stdlib

#11801 Add network logs feature to vscode extension
  composer/packages/distribution/package.json
  composer/packages/distribution/src/index.ts
  composer/packages/tracing/package.json
  composer/packages/tracing/src/DetailView.tsx
  composer/packages/tracing/src/ToolBar.tsx
  composer/packages/tracing/src/TraceList.tsx
  composer/packages/tracing/src/TraceLogs.tsx
  composer/packages/tracing/src/index.ts
  composer/packages/tracing/stories/detailView.tsx
  composer/packages/tracing/stories/index.tsx
  composer/packages/tracing/stories/trace-list.tsx
  composer/packages/tracing/tests/__snapshots__/storyshots.test.js.snap
  tool-plugins/vscode/package.json
  tool-plugins/vscode/src/core/extension.ts
  tool-plugins/vscode/src/debugger/model.ts
  tool-plugins/vscode/src/debugger/session.ts
  tool-plugins/vscode/src/extension.ts
  tool-plugins/vscode/src/trace-logs/activator.ts
  tool-plugins/vscode/src/trace-logs/index.ts
  tool-plugins/vscode/src/trace-logs/renderer.ts
  tool-plugins/vscode/src/trace-logs/traces.ts
Labels: Component/VScode plugin

#11809 Add openTextDocument feature for Tests Generation
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaWorkspaceService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/client/ExtendedLanguageClient.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateFunctionExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateTestExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateVariableExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/AnnotationConfigsProcessor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/TestGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/ValueSpaceGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/renderer/BLangPkgBasedRendererOutput.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/renderer/RendererOutput.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/renderer/TemplateBasedRendererOutput.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/AbstractTestTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/PlaceHolder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/RootTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/type/FunctionTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/type/HttpResourceTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/type/HttpServiceTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/type/WSClientServiceTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/template/type/WSServiceTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/resources/testgen/template/rootTest.bal
  language-server/modules/langserver-core/src/test/resources/command/testGenerationForServicesNegative.json
  tool-plugins/vscode/src/core/extension.ts
  tool-plugins/vscode/src/diagram/activator.ts
  tool-plugins/vscode/src/extension.ts
Labels: Component/LanguageServer

#11870 Improve tracelogs styles
  composer/packages/tracing/src/TraceList.tsx
  composer/packages/tracing/src/index.ts
  tool-plugins/vscode/src/trace-logs/renderer.ts
Labels: Component/VScode plugin

#11911 Add LS support for object __init function
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SnippetGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateObjectInitializerExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/TestGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/ObjectTypeContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ItemResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/Snippet.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/command/CommandExecutionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/singleDocGeneration4.json
  language-server/modules/langserver-core/src/test/resources/command/createInitializer.json
Labels: Component/LanguageServer

#12038 Improve diagram styling
  composer/packages/diagram/src/config/default.ts
  composer/packages/theme/src/definitions/views/diagram.less
  composer/packages/theme/src/themes/vscode/composer/views/diagram.variables
  composer/packages/theme/src/themes/vscode/semantic-overrides/globals/site.variables
  composer/packages/theme/src/themes/vscode/theme.less
Labels: Component/Composer

#12056 Add LS support for "create(anydata a)" built-in method
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SnippetGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ItemResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/Snippet.java
Labels: Component/LanguageServer

#12012 Fix taint checking for errors and call invocations
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  stdlib/websub/src/main/ballerina/websub/hub_service.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/TaintedStatusPropagationTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/connectors/SQLTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/connectors/sql-select-untainted-query-tainted-return-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/connectors/sql-select-untainted-query-tainted-return.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/call-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/call.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/error-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/error.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/simple-worker-interaction-blocked-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/simple-worker-interaction-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/simple-worker-interaction-with-tuple-assignment-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/simple-worker-interaction-with-tuple-assignment.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/simple-worker-interaction.bal
Labels: Component/Compiler

#12031 Fix IO Examples
  examples/byte-io/byte_io.bal
  examples/character-io/character_io.bal
  examples/data-io/data_io.bal
  examples/json-io/json_io.bal
  examples/record-io/record_io.bal
  examples/xml-io/xml_io.bal
Labels: Component/stdlib
