Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-08, with the labels that each got.

#9790 Remove 0.0.0 from API docs generated from docerina
  cli/ballerina-launcher/src/main/resources/cli-help/ballerina-doc.help
  misc/docerina/src/main/java/org/ballerinalang/docgen/model/Field.java
Labels: Component/Docerina

#9813 Show error when delete file failed
  composer/modules/web/src/core/editor/dialogs/OpenedFileDeleteConfirmDialog.jsx
  composer/modules/web/src/core/view/tree-view/menu.js
  composer/modules/web/src/core/workspace/dialogs/FileDeleteConfirmDialog.jsx
Labels: Component/Composer

#9803 Allow LHS nil-lifting for map and record types
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangAccessExpression.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangRecordLiteral.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/fieldaccess/SafeNavigationTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/fieldaccess/safe_navigation.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/fieldaccess/safe_navigation_negative.bal
Labels: Component/BVM, Component/Compiler

#9845 Resume debugger current state when mounting debugger panel
  composer/modules/web/src/plugins/debugger/views/DebuggerPanel.jsx
Labels: Component/Composer

#9900 [Next Release] Fix vscode current thread id issue
  tool-plugins/vscode/plugin/debugger/index.js
Labels: Component/VScode plugin

#9931 [Next Release] Resume debugger current state when mounting debugger panel
  composer/modules/web/src/plugins/debugger/views/DebuggerPanel.jsx
Labels: Component/Composer

#9941 Add only indenting support for formatting
  composer/modules/web/source-gen/SourceGenTemplate.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingTreeUtil.java
Labels: Component/LanguageServer

#9918 Clear packageSymbolMap in LS PackageCache
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSPackageCache.java
Labels: Component/Composer, Component/LanguageServer

#9885 Add coverage report generation for the LanguageServer component
  language-server/pom.xml
Labels: Component/LanguageServer

#9974 Fix path: "/" not working in WebSocket
  stdlib/http/src/main/ballerina/http/api_listener.bal
  stdlib/http/src/main/ballerina/http/http_connection.bal
  stdlib/http/src/main/ballerina/http/secure_listener.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/WebSocketSimpleProxyTestCase.java
  tests/ballerina-integration-test/src/test/resources/websocket/simple_proxy_server.bal
Labels: Component/WebSocket, Component/stdlib

#10001 Fix debugger package path issue
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/BallerinaParserService.java
  composer/modules/web/src/core/workspace/model/file.js
  composer/modules/web/src/plugins/ballerina/plugin.js
  composer/modules/web/src/plugins/debugger/views/BreakpointHoc.jsx
  composer/modules/web/src/plugins/debugger/views/DebuggerHoc.jsx
Labels: Component/Composer

#9836 Refactor DocumentManager and LSCompiler API
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/FileSystemProjectDirectory.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/Command.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/BLangJSONModelConstants.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/BallerinaParserService.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/JSONModelConstants.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/util/BLangFragmentParser.java
  language-server/modules/langserver-compiler/pom.xml
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompilerException.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompilerUtil.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSContextManager.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSPackageCache.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/common/LSDocument.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/common/modal/BallerinaFile.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/JSONGenerationException.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/TextDocumentFormatUtil.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/ExtendedWorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocument.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentException.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManager.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/LSInMemorySourceEntry.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/LSPathConverter.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/LSProjectSourceRepo.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/LangServerFSProgramDirectory.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/LangServerFSProjectDirectory.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/WorkspacePackageRepository.java
  language-server/modules/langserver-compiler/src/test/java/org/ballerinalang/langserver/compiler/LSPackageCacheTest.java
  language-server/modules/langserver-compiler/src/test/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManagerImplTest.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaWorkspaceService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/ExecuteCommandKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/CompletionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/util/DefinitionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/rename/RenameUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/common/util/CommonUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/CompletionNegativeTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/CompletionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/packageimport/PackageImportDelayTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/util/CompletionTestUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/definition/DefinitionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourcegen/SourceGenTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/workspace/WorkspaceDocumentManagerTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/workspace/WorkspacePackageRepositoryTest.java
  language-server/modules/langserver-core/src/test/resources/workspace/org.pkg1/file1.bal
  language-server/modules/langserver-core/src/test/resources/workspace/org.pkg2/file1.bal
  misc/docerina/src/test/java/org/ballerinalang/docgen/docs/HtmlDocTest.java
  misc/swagger-ballerina/modules/ballerina-to-swagger/src/main/java/org/ballerinalang/ballerina/swagger/convertor/service/SwaggerConverterUtils.java
  misc/swagger-ballerina/modules/ballerina-to-swagger/src/test/java/org/ballerinalang/ballerina/swagger/convertor/service/SwaggerConverterUtilsTest.java
Labels: Component/LanguageServer

#9752 Add covariance support and mutability feature for arrays and tuples
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/JSONUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/ListUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/TableIterator.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/RuntimeErrors.java
  bvm/ballerina-core/src/main/resources/MessagesBundle.properties
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/StreamingCodeDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDataIterator.java
  tests/ballerina-integration-test/src/test/resources/httpService/ATMLocatorService.bal
  tests/ballerina-integration-test/src/test/resources/mutualSSL/mutualSSLServer.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/functions/FunctionSignatureNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayMutabilityTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/arraysofarrays/SealedArraysOfArraysTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/TupleMutabilityTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/lambda/function-pointers.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-mutability-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-mutability.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple-mutability-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple-mutability.bal
Labels: Component/BVM, Component/Compiler

#9917 Remove support for octal numbers
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/floattype/BFloatValueTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/integer/BIntegerValueNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/integer/BIntegerValueTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-mutability.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/float/float-value-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/float/float-value.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/integer/integer-value-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/integer/integer-value.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple-mutability.bal
Labels: Component/Compiler

#9908 Remove implicit conversion of int to float
  cli/ballerina-cli-utils/src/main/ballerina/packaging_search/packaging_search.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolTable.java
  stdlib/http/src/main/ballerina/http/resiliency/http_circuit_breaker.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_retry_client.bal
  stdlib/streams/src/main/ballerina/streams/aggregators.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/unary1_blocking_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/grpcservices/advanced_type_service.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/FuncInvocationWithImplicitCastTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/ValueTypeCastExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/table/TableIterationTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/balo/test_balo/functions/test_different_function_signatures.bal
  tests/ballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/foo/global_vars.bal
  tests/ballerina-unit-test/src/test/resources/test-src/cache/cache-test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/closures/closure.bal
  tests/ballerina-unit-test/src/test/resources/test-src/connectors/h2/h2_actions_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/connectors/sql/transaction/mirror_table_xa_transaction_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/async/basic-async-operations.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/conversion/native-conversion.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/identifierliteral/identifier-literal-success.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/invocations/function-invocation-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/lambda/iterable/basic-iterable.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/func-invocation-with-implicit-cast.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/incompatible-cast-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/type-casting.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/value-type-casting.bal
  tests/ballerina-unit-test/src/test/resources/test-src/functions/different-function-signatures.bal
  tests/ballerina-unit-test/src/test/resources/test-src/functions/foo.bar/native-function-signatures.bal
  tests/ballerina-unit-test/src/test/resources/test-src/lock/locks-in-services.bal
  tests/ballerina-unit-test/src/test/resources/test-src/reflect/equal-complex.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-initializer-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-mutability.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-value.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/arraysofarrays/arrays-of-arrays.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/sealed-array.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/compoundassignment/compound_assignment.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/global-var-function.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/globalvar.pkg.main/global-var-pkg.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/globalvar.pkg.srvc/global-var-pkg-service.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/globalvar.pkg.variable/variable-def.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/globalvar.pkg.varpkg/variable-def.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/globalvar/global-var-service.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/byte/byte-value-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/constant/access/main/constant-pkg.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/nullable/nullable_type_basics.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/table/table_iteration.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/table/table_iteration_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple-mutability.bal
Labels: Component/Compiler

#9921 Add appendChildren() and removeChildren() function to XML
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXML.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLItem.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLSequence.java
  stdlib/builtin/src/main/ballerina/builtin/xmllib.bal
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/xmllib/AppendChildren.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/xmllib/RemoveChildren.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLNativeFunctionTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-native-functions.bal
Labels: Component/BVM, Component/Compiler

#10053 Ballerina Check-pointing Initial Implementation
  bvm/ballerina-core/src/main/java/org/ballerinalang/BLangProgramRunner.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/BLangCallableUnitCallback.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BLangScheduler.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BaseWorkerResponseContext.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/WorkerData.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/WorkerExecutionContext.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/impl/ResourceExecutor.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/InterruptibleNativeCallableUnit.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BMap.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BRefValueArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/Deserializer.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/RecoveryTask.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/Serializer.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/adapters/ArrayListAdapter.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/adapters/HashMapAdapter.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/adapters/RefTypeAdaptor.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/SerializableContext.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/SerializableRespContext.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/SerializableState.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/SerializableWorkerData.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/SerializedKey.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/reftypes/Serializable.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/reftypes/SerializableRefType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/reftypes/impl/SerializableBMap.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/serializable/reftypes/impl/SerializableBRefArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/states/RuntimeStates.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/states/State.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/store/PersistenceStore.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/store/StorageProvider.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/persistence/store/impl/FileStorageProvider.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/runtime/Constants.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/program/BLangFunctions.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/program/BLangVMUtils.java
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/LauncherUtils.java
  distribution/zip/ballerina/src/assembly/bin.xml
  stdlib/builtin/src/main/ballerina/builtin/checkpointing.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/BallerinaHTTPConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResource.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/runtime/src/main/ballerina/runtime/runtime.bal
  stdlib/runtime/src/main/java/org/ballerinalang/stdlib/runtime/nativeimpl/Checkpoint.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/checkpointing/InterruptibleServiceTestCase.java
  tests/ballerina-integration-test/src/test/resources/checkpointing/interruptibleService.bal
  tests/ballerina-integration-test/src/test/resources/testng.xml
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/checkpointing/SerializationTest.java
  tests/ballerina-unit-test/src/test/resources/datafiles/checkpointing/state.json
  tests/ballerina-unit-test/src/test/resources/test-src/checkpointing/checkpoint.bal
  tests/ballerina-unit-test/src/test/resources/testng.xml
Labels: Component/BVM, Type/New Feature

#10150 Add test cases for XML
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLIterationTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml_iteration.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml_iteration_negative.bal
Labels: Component/BVM, Component/Compiler

#10184 Fix renaming issues for postIncrement, foreach-loop, object fields
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/NodeContextKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/util/ReferenceUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/rename/RenameTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/util/TestUtil.java
  language-server/modules/langserver-core/src/test/resources/rename/renameArray.json
  language-server/modules/langserver-core/src/test/resources/rename/renameClient.json
  language-server/modules/langserver-core/src/test/resources/rename/renameEndpoint.json
  language-server/modules/langserver-core/src/test/resources/rename/renameFunction.json
  language-server/modules/langserver-core/src/test/resources/rename/renameHttpResponse.json
  language-server/modules/langserver-core/src/test/resources/rename/renameJson.json
  language-server/modules/langserver-core/src/test/resources/rename/renameMap.json
  language-server/modules/langserver-core/src/test/resources/rename/renameMultiPackagesObjFunc.json
  language-server/modules/langserver-core/src/test/resources/rename/renameMultiPackagesObjType.json
  language-server/modules/langserver-core/src/test/resources/rename/renameMultiPackagesVar.json
  language-server/modules/langserver-core/src/test/resources/rename/renameObjectAttribute.json
  language-server/modules/langserver-core/src/test/resources/rename/renameObjectFunction.json
  language-server/modules/langserver-core/src/test/resources/rename/renameObjectInstance.json
  language-server/modules/langserver-core/src/test/resources/rename/renameObjectType.json
  language-server/modules/langserver-core/src/test/resources/rename/renameResource.json
  language-server/modules/langserver-core/src/test/resources/rename/renameResource2.json
  language-server/modules/langserver-core/src/test/resources/rename/renameService.json
  language-server/modules/langserver-core/src/test/resources/rename/renameService2.json
  language-server/modules/langserver-core/src/test/resources/rename/renameSimpleVariable.json
  language-server/modules/langserver-core/src/test/resources/rename/renameVar.json
  language-server/modules/langserver-core/src/test/resources/rename/renameWithinTransaction.json
  language-server/modules/langserver-core/src/test/resources/rename/renameWithinTryCatch.json
  language-server/modules/langserver-core/src/test/resources/rename/renameWithinWhile.json
  language-server/modules/langserver-core/src/test/resources/rename/renameXml.json
  language-server/modules/langserver-core/src/test/resources/rename/source/renameArray/renameArray.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameClient/renameClient.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameFunction/renameFunction.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMap/renameMap.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesObj/.ballerina/readme.txt
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesObj/Ballerina.toml
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesObj/main.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesObj/pkg1/foo.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesObj/pkg2/bar.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesVar/.ballerina/readme.txt
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesVar/Ballerina.toml
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesVar/main.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesVar/pkg1/foo.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameMultiPackagesVar/pkg2/bar.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameObject/renameObject.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameObjectAttribute/renameObjectAttribute.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameService/renameService.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameService2/renameService2.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameSimpleVariable/renameSimpleVariable.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameVar/renameVar.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameWithinTransaction/renameWithinTransaction.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameWithinTryCatch/renameWithinTryCatch.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameWithinWhile/renameWithinWhile.bal
  language-server/modules/langserver-core/src/test/resources/rename/source/renameXml/renameXml.bal
Labels: Component/LanguageServer

#10208 Fix unit test coverage merge report generation issue
  language-server/modules/test-coverage/pom.xml
  language-server/pom.xml
  tests/ballerina-compiler-plugin-test/pom.xml
Labels: Component/LanguageServer

#10230 Fix 408 response issue and upgrade transport
  pom.xml
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/IdleTimeoutResponseTestCase.java
Labels: Component/stdlib, Type/Bug

#10223 Improve WebSocket test coverage
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/IdleTimeoutResponseTestCase.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/MissingResourcesTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/OnBinaryContinuationTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/PushAndOnTextResourceTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/ResourceFailureTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/WebSocketTestCommons.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/util/websocket/client/WebSocketTestClient.java
  tests/ballerina-integration-test/src/test/resources/testng.xml
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/missing_resources.bal
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/on_binary_continuation.bal
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/push_and_onText.bal
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/resource_failure.bal
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/simple_proxy_server.bal
Labels: Component/WebSocket, Component/stdlib

#10219 Refactor HTTP/2 code
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Promise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/PushPromisedResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/GetHeader.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/GetHeaderNames.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/GetHeaders.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/HasHeader.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/RemoveAllHeaders.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/RemoveHeader.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/SetHeader.java
  tests/ballerina-integration-test-utils/src/main/java/org/ballerinalang/test/util/TestConstant.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http2/Http2ServerPushTestCase.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/util/http2/HTTP2Client.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/util/http2/HTTP2ClientInitializer.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/util/http2/HTTP2ResponseHandler.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/util/http2/HTTP2SettingsHandler.java
Labels: Component/stdlib, Type/Improvement

#10243 Fix vscode debug server not killed
  tool-plugins/vscode/plugin/debugger/index.js
  tool-plugins/vscode/plugin/package-lock.json
  tool-plugins/vscode/plugin/package.json
Labels: Component/VScode plugin

#10193 Add possible fix for WindowsOS specific test hanging
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/socket/ServerSocketTest.java
Labels: Component/stdlib

#10204 Improve test coverage of ballerina-config module
  bvm/ballerina-config/src/main/java/org/ballerinalang/config/ConfigProcessor.java
  bvm/ballerina-config/src/main/java/org/ballerinalang/config/ConfigRegistry.java
  tests/ballerina-unit-test/pom.xml
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/config/ConfigProcessorTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/config/ConfigRegistryTest.java
  tests/ballerina-unit-test/src/test/resources/datafiles/config/lookupenv.conf
  tests/ballerina-unit-test/src/test/resources/datafiles/config/lookupenv_negative.conf
  tests/ballerina-unit-test/src/test/resources/datafiles/config/lookupenv_negative2.conf
  tests/ballerina-unit-test/src/test/resources/datafiles/config/lookupenv_negative3.conf
Labels: Component/stdlib, Type/Improvement

#10242 Add code action for create variable
  language-server/docs/UserGuide.md
  language-server/docs/images/generateVariable.gif
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/command/CommandExecutionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/source/createVariable.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/variableAssignmentRequiredCodeAction.json
  language-server/modules/langserver-core/src/test/resources/command/createVariable1.json
  language-server/modules/langserver-core/src/test/resources/command/createVariable2.json
  language-server/modules/langserver-core/src/test/resources/command/createVariable3.json
  language-server/modules/langserver-core/src/test/resources/command/source/createVariable.bal
Labels: Component/LanguageServer
