Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-02, with the labels that each got.

#4627 Refactor lifeline with css classes
  composer/modules/web/scss/modules/ballerina-editor.scss
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/connector-declaration-decorator.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/endpoint-decorator.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/lifeline.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/action-node.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/function-node.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/resource-node.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/worker-node.jsx
Labels: component/Composer

#4628 Add go to definition integration tests
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/common/util/CommonUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/definition/DefinitionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/definition/DefinitionTestDataModel.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/hover/HoverProviderTest.java
  language-server/modules/langserver-core/src/test/resources/definition/test/definition1.bal
  language-server/modules/langserver-core/src/test/resources/definition/test/definition2.bal
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/globalVariableInAnotherFile.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/globalVariableInSameFile.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/localFunctionInAnotherFile.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/localFunctionInSameFile.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/localVariableInForeachStatement.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/localVariableInFunction.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/localVariableInIfStatement.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/localVariableOfStruct.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/localVariableOnForeachStatement.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/structInAnotherFile.json
  language-server/modules/langserver-core/src/test/resources/definition/test/expected/structInSameFile.json
  language-server/modules/langserver-core/src/test/resources/hover/test/expected/builtin-function1.json
  language-server/modules/langserver-core/src/test/resources/hover/test/expected/builtin-function2.json
  language-server/modules/langserver-core/src/test/resources/hover/test/expected/currentPkg-enum.json
  language-server/modules/langserver-core/src/test/resources/hover/test/expected/currentPkg-function1.json
  language-server/modules/langserver-core/src/test/resources/hover/test/expected/currentPkg-struct.json
Labels: component/language-server

#4663 Pack vscode plugin to a .vsix in maven package phase
  composer/integration-tests/ui-integration-tests/pom.xml
  composer/modules/js-tests/pom.xml
  composer/modules/web/pom.xml
  distribution/docker/pom.xml
  misc/testerina/modules/testerina-core/pom.xml
  pom.xml
  tool-plugins/vscode/.vscodeignore
  tool-plugins/vscode/package-lock.json
  tool-plugins/vscode/package.json
  tool-plugins/vscode/pom.xml
Labels: plugin/vscode

#4635 Allow iterable operations in an ignored assignment.
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/expressions/InvocationNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/IterableCodeDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/IterableAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/iterable/IterableContext.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangPackage.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangInvocation.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/ballerina-test/src/test/java/org/ballerinalang/test/expressions/lambda/IterableOperationsTests.java
  tests/ballerina-test/src/test/resources/test-src/expressions/lambda/iterable/basic-iterable.bal
  tests/ballerina-test/src/test/resources/test-src/expressions/lambda/iterable/iterable-negative.bal
  tests/ballerina-test/src/test/resources/test-src/expressions/lambda/iterable/iterable-negative2.bal
Labels: component/compiler

#4656 Redirect function for HTTP Server Connector
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/connection.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/connection/ConnectionNativeFunctionTest.java
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/connection/connection-native-function.bal
Labels: Type/Task, component/stdlib

#4682 Update composer jQuery version
  composer/modules/server/server-launcher/src/main/java/org/ballerinalang/composer/server/launcher/ServerLauncher.java
  composer/modules/web/package-lock.json
  composer/modules/web/package.json
  composer/modules/web/public/lib/theme-wso2-2.0.0/js/theme-wso2.js
  distribution/zip/ballerina-tools/bin/composer
  distribution/zip/ballerina-tools/bin/composer.bat
Labels: component/Composer

#4687 Show path and methods of resources
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/http-resource-header.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/http-service-header.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/panel-decorator.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/resource-node.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/nodes/service-node.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/sizing-util.js
Labels: component/Composer

#4686 Restructure README.md of vscode plugin
  tool-plugins/vscode/README.md
  tool-plugins/vscode/docs/developer-info.md
Labels: plugin/vscode

#4692 Improve stylings in http methods
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/http-resource-header.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/http-resource-header.scss
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/http-service-header.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/sizing-util.js
Labels: component/Composer

#4697 Add worker invocation to action view
  composer/modules/web/src/plugins/ballerina/diagram/views/action/sizing-util.js
  composer/modules/web/src/plugins/ballerina/diagram/views/default/worker-invocation-arrow-position-util.js
Labels: component/Composer

#4698 Include diagram generation for iterable operations
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/function.css
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/function.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-expanded.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-node-manager.js
Labels: component/Composer

#4668 Fix semantic analyzing not working issue
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaExternalAnnotator.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/util/diagnostic/Diagnostic.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
Labels: plugin/intellij

#4672 Fix private field suggesting outside of the package issue
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaParser.g4
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaParserDefinition.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaTypes.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/formatter/BallerinaBlock.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/references/RecordKeyReference.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/completion/BallerinaStructFieldCompletionTest.java
  tool-plugins/intellij/src/test/resources/testData/completion/structFields/StructWithPrivateField.bal
Labels: plugin/intellij

#4699 Update plugin.xml
  tool-plugins/intellij/src/main/resources/META-INF/plugin.xml
Labels: plugin/intellij

#4739 References feature
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/NodeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/ContextConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/NodeContextKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/DefinitionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/util/DefinitionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/util/ReferenceUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureHelpUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureTreeVisitor.java
Labels: component/language-server

#4753 Add completion and suggestion support for Endpoint Definition
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/TreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/AbstractItemResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/EndpointDefinitionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/CompletionItemResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/Priority.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/CallableUnitBodyItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/CompletionItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/ConnectorContextItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/EndpointDefContextItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/ItemSorters.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/ServiceContextItemSorter.java
Labels: component/language-server

#4723 Introduce generic multipart encoder and decoder
  composer/modules/web/scss/modules/ballerina-editor.scss
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/decorators/http-resource-header.jsx
  distribution/zip/ballerina/pom.xml
  distribution/zip/ballerina/src/assembly/bin.xml
  docs/ballerina-by-example/examples/inbound-request-with-multiparts/inbound-request-with-multiparts.bal
  docs/ballerina-by-example/examples/inbound-request-with-multiparts/inbound-request-with-multiparts.description
  docs/ballerina-by-example/examples/outbound-request-with-multiparts/outbound-request-with-multiparts.bal
  docs/ballerina-by-example/examples/outbound-request-with-multiparts/outbound-request-with-multiparts.description
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/request.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/response.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/AbstractHTTPAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/ParseHeader.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ConnectionAction.java
  stdlib/ballerina-mime/pom.xml
  stdlib/ballerina-mime/src/main/ballerina/ballerina/mime/natives.bal
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetBlob.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetByteChannel.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetJson.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetText.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetXml.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetBlob.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetByteChannel.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetJson.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetText.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetXml.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/Constants.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/EntityBody.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/EntityBodyChannel.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/EntityBodyHandler.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/EntityWrapper.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/HeaderUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MultipartDataSource.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MultipartDecoder.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/FileUploadContentHolder.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MimeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MimeUtilityFunctionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MultipartDecoderTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MultipartEncoderTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MultipartFormDataDecoderTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MultipartRequestTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/Util.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/ServiceTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/inbound/request/InRequestNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/inbound/request/InRequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/inbound/response/InResponseNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/inbound/response/InResponseNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/outbound/request/OutRequestNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/outbound/request/OutRequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/outbound/response/OutResponseNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/outbound/response/OutResponseNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/resources/test-src/mime/dummy.bal
  tests/ballerina-test/src/test/resources/test-src/mime/mime-test.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-request.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/inbound/request/in-request-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/outbound/request/out-request-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/outbound/response/out-response-native-function.bal
Labels: Type/Task, component/stdlib

#4746 Avoid overriding accept-encoding header
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/AbstractHTTPAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/Execute.java
Labels: component/stdlib

#4765 Update infomation of the vscode plugin
  tool-plugins/vscode/README.md
  tool-plugins/vscode/package.json
Labels: plugin/vscode

#4790 Extend references support for ballerina constructs
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
Labels: component/language-server

#4749 Add hostNameVerification enable/disable configuration
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/natives.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/Init.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/MutualSSLTestCase.java
Labels: component/stdlib

#4795 Show error messages to users for possible mistakes
  tool-plugins/vscode/debugger/index.js
  tool-plugins/vscode/extension.js
Labels: plugin/vscode

#4798 Add go to definition support for transformer
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/DefinitionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/util/DefinitionUtil.java
Labels: component/language-server

#4740 Add configurations to enable or disable compression
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/annotation.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/HttpOptionsTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/TestConstant.java
  tests/ballerina-test/pom.xml
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/configuration/CompressionConfigurationTest.java
Labels: component/stdlib

#4758 Update file templates
  tool-plugins/intellij/src/main/resources/fileTemplates/internal/Ballerina Connector.bal.ft
  tool-plugins/intellij/src/main/resources/fileTemplates/internal/Ballerina Main.bal.ft
  tool-plugins/intellij/src/main/resources/fileTemplates/internal/Ballerina Service.bal.ft
Labels: plugin/intellij

#4812 Update IDEA plugin version and change notes
  tool-plugins/intellij/src/main/resources/META-INF/plugin.xml
Labels: plugin/intellij

#4800 Fix short name issue
  tool-plugins/intellij/src/main/resources/META-INF/plugin.xml
  tool-plugins/intellij/src/main/resources/inspectionDescriptions/WrongPackageStatement.html
Labels: plugin/intellij

#4722 Add HTTP data binding support
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/api/ConnectorUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/impl/BResource.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/impl/ResourceExecutor.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/impl/StructHelper.java
  docs/ballerina-by-example/examples.txt
  docs/ballerina-by-example/examples/http-data-binding/http-data-binding.bal
  docs/ballerina-by-example/examples/http-data-binding/http-data-binding.client.sh
  docs/ballerina-by-example/examples/http-data-binding/http-data-binding.description
  docs/ballerina-by-example/examples/http-data-binding/http-data-binding.server.sh
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/annotation.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/BallerinaHTTPConnectorListener.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HTTPServicesRegistry.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpResource.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/SignatureParams.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/HTTPVerbsPassthruTestCases.java
  tests/ballerina-test-integration/src/test/resources/httpService/httpMethodTest.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/SignatureTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/dispatching/DataBindingTest.java
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/data-binding-test.bal
  tests/ballerina-test/src/test/resources/test-src/services/echo-service.bal
  tests/ballerina-test/src/test/resources/test-src/services/signature/invalid-body-param.bal
  tests/ballerina-test/src/test/resources/test-src/services/signature/mismatched-body-param.bal
Labels: Type/Task, component/stdlib

#4805 Add transformer iterable operation design support
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/function.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/iterable-list.css
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/iterable-list.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-expanded.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-node-manager.js
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-node-mapper.js
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-render.js
  composer/modules/web/src/plugins/ballerina/model/transformer-factory.js
Labels: component/Composer

#4836 Fix try it to send text/plain content
  composer/modules/web/src/api-client/api-client.js
Labels: component/Composer

#4880 Allow passing equivalent struct values without casting.
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/structs/StructEquivalencyTest.java
  tests/ballerina-test/src/test/resources/test-src/structs/struct-equivalency.bal
Labels: component/BVM, component/compiler

#4813 Migrate ballerina code to new transport version
  pom.xml
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HTTPResourceDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConnectionManager.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/AbstractHTTPAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/Init.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ConnectionAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/ws/actions/Connect.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/ws/actions/ConnectWithDefault.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/ServiceTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/MessageUtils.java
Labels: component/stdlib

#4844 TCP Client socket support
  stdlib/ballerina-builtin/src/main/ballerina/ballerina/io/natives.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/IOConstants.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/SocketIOChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/CloseSocket.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/OpenSocket.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/socket/ClientSocketTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/socket/MockSocketServer.java
  tests/ballerina-test/src/test/resources/test-src/io/clientsocketio.bal
Labels: Type/Task, component/stdlib

#4680 Implement ballerina.reflect:deepEquals() function
  stdlib/ballerina-builtin/src/main/ballerina/ballerina/reflect/natives.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/reflect/Equals.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/ReflectEqualsTest.java
  tests/ballerina-test/src/test/resources/test-src/reflect/equal-complex.bal
  tests/ballerina-test/src/test/resources/test-src/reflect/equal.bal
Labels: component/stdlib

#4845 [HTTP] Max Wait Time Configuration Option for Connection Throttling in Client Connector
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/natives.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/Init.java
Labels: component/stdlib

#4907 Add HTTP status code support for Circuit Breaker
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/resiliency/circuit-breaker.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/resiliency/commons.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/resiliency/failover-connector.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/http/resiliency/CircuitBreakerTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/http/resiliency/FailoverConnectorTest.java
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/failover-connector-test.bal
Labels: component/stdlib
