Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-03, with the labels that each got.

#4766 Use lower case headers consistently
  composer/modules/server/services/ballerina-langserver/src/main/java/org/ballerinalang/composer/service/ballerina/langserver/service/WSRPCMessageConsumer.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/BallerinaParserService.java
  composer/modules/server/services/ballerina-to-swagger/src/main/java/org/ballerinalang/composer/service/ballerina/swagger/service/BallerinaToSwaggerService.java
  composer/modules/server/services/ballerina-tryit/src/main/java/org/ballerinalang/composer/service/tryit/service/TryItService.java
  composer/modules/server/services/file-system/src/main/java/org/ballerinalang/composer/service/fs/service/FileSystemService.java
  docs/ballerina-by-example/examples/http-disable-chunking/http-disable-chunking.bal
  pom.xml
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/lang/utils/Constants.java
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/natives.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/CorsHeaderGenerator.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpResourceDataElement.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpResourceDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/AbstractHTTPAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/Execute.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/Constants.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/HeaderUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MultipartDecoder.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/EchoServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/EcommerceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/HTTPVerbsPassthruTestCases.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/HelloWorldSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/HttpOptionsTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/PassthroughServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/RoutingServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/ServiceChainingSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/EchoServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/EcommerceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/HelloWorldSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/PassthroughServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/RoutingServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/ServiceChainingSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/TestConstant.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MultipartDecoderTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/Util.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/ServiceTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/cors/HTTPCorsTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/dispatching/DataBindingTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/dispatching/ProducesConsumesAnnotationTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/dispatching/UriTemplateDispatcherTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/inbound/request/InRequestNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/inbound/request/InRequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/inbound/response/InResponseNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/inbound/response/InResponseNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/outbound/request/OutRequestNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/outbound/request/OutRequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/outbound/response/OutResponseNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/outbound/response/OutResponseNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/session/HTTPSessionEssentialMethodsTest.java
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/inbound/request/in-request-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/outbound/request/out-request-native-function.bal
Labels: component/stdlib

#4938 Fix formatting issue in ternary expression
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaParserDefinition.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaTypes.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/formatter/BallerinaFormattingModelBuilder.java
  tool-plugins/intellij/src/test/resources/testData/formatting/Expressions-after.bal
  tool-plugins/intellij/src/test/resources/testData/formatting/Expressions.bal
Labels: plugin/intellij

#4684 Add new documentation grammar in Ballerina IDEA plugin
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaLexer.g4
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaLexer.tokens
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaParser.g4
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaASTFactory.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaParserDefinition.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaTypes.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/codeinsight/daemon/impl/BallerinaAnnotator.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/highlighter/BallerinaSyntaxHighlightingColors.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/DeprecatedAttachmentNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/DeprecatedTextNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/DocumentationAttachmentNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/DocumentationTemplateAttributeDescriptionNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/DocumentationTemplateInlineCodeNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/DoubleBackTickDeprecatedInlineCodeNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/DoubleBackTickInlineCodeNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/IdentifierPSINode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/SingleBackTickDeprecatedInlineCodeNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/SingleBackTickDocInlineCodeNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/TripleBackTickDeprecatedInlineCodeNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/TripleBackTickInlineCodeNode.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/impl/BallerinaPsiImplUtil.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/references/DocVariableReference.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
Labels: plugin/intellij

#4933 Refactor position calculation and references
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/util/ReferenceUtil.java
Labels: component/language-server

#4934 Preserve editor tab state
  composer/modules/web/src/plugins/ballerina/views/ballerina-file-editor.jsx
Labels: component/Composer

#4946 Update version and change notes
  tool-plugins/intellij/src/main/resources/META-INF/plugin.xml
Labels: plugin/intellij

#4945 Add support for completions within the endpoint context
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/TextDocumentServiceUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/BallerinaCustomErrorStrategy.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/PackageActionsAndFunctionsResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleCallableUnitBodyContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/parsercontext/ParserRuleTypeNameContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/CompletionItemResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/positioning/resolvers/BlockStatementScopeResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/positioning/resolvers/ServiceScopeResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/positioning/resolvers/TopLevelNodeScopeResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/sorters/DefaultItemSorter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureTreeVisitor.java
Labels: component/language-server

#4952 Move composer configs to resource/composer/conf
  distribution/zip/ballerina-tools/bin/composer
  distribution/zip/ballerina-tools/bin/composer.bat
  distribution/zip/ballerina-tools/src/assembly/bin.xml
Labels: component/Composer

#4960 Refactor http try it window
  composer/modules/web/src/ballerina-theme/theme/elements/button.overrides
  composer/modules/web/src/plugins/try-it/views/http-client.jsx
  composer/modules/web/src/plugins/try-it/views/http-client.scss
  composer/modules/web/src/plugins/try-it/views/try-it-container.jsx
  composer/modules/web/src/plugins/try-it/views/try-it-container.scss
Labels: component/Composer

#4835 Fix keep-alive config not working
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/natives/test/StartService.java
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/annotation.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpResourceDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/configuration/CompressionConfigurationTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/MessageUtils.java
Labels: component/stdlib

#4969 Improve struct initializer invocation order
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BLangVM.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BStructType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/ProgramFileReader.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/StructInfo.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/structs/StructInitializerTest.java
  tests/ballerina-test/src/test/resources/test-src/structs/eq/eq1.bal
  tests/ballerina-test/src/test/resources/test-src/structs/req2/eq2.bal
  tests/ballerina-test/src/test/resources/test-src/structs/struct-equivalency.bal
  tests/ballerina-test/src/test/resources/test-src/structs/struct-initializer.bal
Labels: Type/Bug, Type/Improvement, component/BVM, component/compiler

#4993 Fix references not loading issue
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/util/ReferenceUtil.java
Labels: component/language-server

#4981 Refactor try-it request headers code
  composer/modules/web/src/plugins/try-it/views/http-client.jsx
  composer/modules/web/src/plugins/try-it/views/request-header-item.jsx
Labels: component/Composer

#4995 Fix 4994: Add a new method to retrieve log messages which also allows 'null'
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/log/AbstractLogFunction.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/log/LogDebug.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/log/LogError.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/log/LogErrorCause.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/log/LogInfo.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/log/LogTrace.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/log/LogWarn.java
Labels: Type/Bug, component/stdlib

#4947 Refactor outbound request write logic
  pom.xml
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/AbstractHTTPAction.java
Labels: component/stdlib

#5018 Refactor Try-it component styles
  composer/modules/web/src/ballerina-theme/theme/collections/form.overrides
  composer/modules/web/src/ballerina-theme/theme/collections/form.variables
  composer/modules/web/src/ballerina-theme/theme/elements/button.overrides
  composer/modules/web/src/ballerina-theme/theme/elements/button.variables
  composer/modules/web/src/ballerina-theme/theme/elements/icon.overrides
  composer/modules/web/src/ballerina-theme/theme/elements/input.overrides
  composer/modules/web/src/ballerina-theme/theme/elements/input.variables
  composer/modules/web/src/ballerina-theme/theme/elements/label.overrides
  composer/modules/web/src/ballerina-theme/theme/elements/label.variables
  composer/modules/web/src/ballerina-theme/theme/globals/site.overrides
  composer/modules/web/src/ballerina-theme/theme/globals/site.variables
  composer/modules/web/src/plugins/try-it/views/http-client.jsx
  composer/modules/web/src/plugins/try-it/views/http-client.scss
  composer/modules/web/src/plugins/try-it/views/try-it-container.scss
Labels: component/Composer

#5032 Fix source formatting issues.
  composer/modules/web/source-gen/defualt-ws.json
  composer/modules/web/source-gen/source-gen-template.js
  composer/modules/web/src/plugins/ballerina/model/source-gen.js
Labels: component/Composer

#5037 Modify action.svg in ballerina-font
  composer/modules/web/font/font-ballerina/icons/action.svg
Labels: component/Composer

#4913 Support standard http access logs
  bvm/ballerina-logging/src/main/java/org/ballerinalang/logging/BLogManager.java
  bvm/ballerina-logging/src/main/java/org/ballerinalang/logging/formatters/HttpAccessLogFormatter.java
  bvm/ballerina-logging/src/main/java/org/ballerinalang/logging/util/Constants.java
  bvm/ballerina-logging/src/main/resources/logging.properties
  docs/ballerina-by-example/examples/http-access-logs/http-access-logs.bal
  docs/ballerina-by-example/examples/http-access-logs/http-access-logs.bal.client.sh
  docs/ballerina-by-example/examples/http-access-logs/http-access-logs.bal.description
  docs/ballerina-by-example/examples/http-access-logs/http-access-logs.bal.server.sh
  pom.xml
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HTTPServicesRegistry.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConnectionManager.java
Labels: Type/New Feature, component/stdlib

#5049 Add scroll bar for docerina index page
  misc/docerina/src/main/resources/docerina-templates/html/index.hbs
  misc/docerina/src/main/resources/docerina-theme/css/main.css
Labels: component/docerina

#5056 Improve syntax highlighting
  composer/modules/web/src/plugins/ballerina/utils/monarch-grammar.js
  tool-plugins/vscode/syntaxes/ballerina.YAML-tmLanguage
  tool-plugins/vscode/syntaxes/ballerina.tmLanguage
Labels: component/Composer, plugin/vscode

#5066 Add initial implementation for the rename operation
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/NodeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
Labels: component/language-server

#5072 Update vscode plugin README
  tool-plugins/vscode/README.md
  tool-plugins/vscode/docs/developer-info.md
  tool-plugins/vscode/docs/set-sdk.gif
  tool-plugins/vscode/docs/set-sdk.png
Labels: plugin/vscode

#5071 Update documentation highlighting
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaASTFactory.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaParserDefinition.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/codeinsight/daemon/impl/BallerinaAnnotator.java
Labels: plugin/intellij

#5079 Add stream grammar
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaLexer.g4
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaLexer.tokens
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaParser.g4
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaParserDefinition.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaTypes.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/documentation/BallerinaDocumentationProvider.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/editor/BallerinaParameterInfoHandler.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/formatter/BallerinaFormattingModelBuilder.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/ParameterTypeName.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/ParameterTypeNameList.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/impl/BallerinaPsiImplUtil.java
  tool-plugins/intellij/src/test/resources/testData/parsing/TweetMediumFeed.txt
  tool-plugins/intellij/src/test/resources/testData/parsing/TweetOpenPR.txt
  tool-plugins/intellij/src/test/resources/testData/parsing/TwitterConnector.txt
Labels: plugin/intellij

#4760 [CONFIG] AES Cipher Tool
  stdlib/ballerina-config/src/main/java/org/ballerinalang/config/cipher/AESCipherTool.java
  stdlib/ballerina-config/src/main/java/org/ballerinalang/config/cipher/AESCipherToolException.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/config/AESCipherToolNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/config/AESCipherToolTest.java
  tests/ballerina-test/src/test/resources/testng.xml
Labels: Type/Task, component/stdlib

#5100 Add error returns for channel creation
  composer/modules/js-tests/src/test/resources/passing/tests/ballerina-test/src/test/resources/test-src/io/recordio.bal
  stdlib/ballerina-builtin/src/main/ballerina/ballerina/io/natives.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/CreateCharacterChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/CreateDelimitedRecordChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/CloseSocket.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/OpenSecureSocket.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/OpenSocket.java
  tests/ballerina-test/src/test/resources/test-src/io/chario.bal
  tests/ballerina-test/src/test/resources/test-src/io/clientsocketio.bal
  tests/ballerina-test/src/test/resources/test-src/io/recordio.bal
  tests/ballerina-test/src/test/resources/test-src/io/secureclientsocketio.bal
Labels: component/stdlib

#5028 Add source gen implementation
  composer/modules/web/package.json
  composer/modules/web/source-gen/SourceGenTemplate.java
  composer/modules/web/source-gen/gen-source-gen-java.js
  language-server/modules/langserver-core/pom.xml
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/TextDocumentServiceUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/format/TextDocumentFormatUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/util/CompletionTestUtil.java
Labels: component/language-server

#5121 Fix not rerendering diagram after fixing error boundary
  composer/modules/web/scss/modules/editor-tabs.scss
  composer/modules/web/src/core/editor/views/ErrorBoundary.jsx
  composer/modules/web/src/core/editor/views/ErrorBoundary.scss
  composer/modules/web/src/plugins/ballerina/views/DesignViewErrorBoundary.jsx
Labels: component/Composer

#5124 Source gen fixes for new annotation syntaxes
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/BallerinaParserService.java
  composer/modules/web/source-gen/defualt-ws.json
  composer/modules/web/source-gen/source-gen-template.js
  composer/modules/web/source-gen/tree.g
  composer/modules/web/src/plugins/ballerina/model/source-gen.js
Labels: component/Composer

#5123 Fix try it component http method dropdown
  composer/modules/web/src/plugins/try-it/views/http-client.jsx
Labels: component/Composer

#5125 Fix source-gen for new action invocation syntax
  composer/modules/web/source-gen/tree.g
  composer/modules/web/src/plugins/ballerina/model/source-gen.js
Labels: component/Composer

#5129 Hide breakpoints in design view
  composer/modules/web/src/plugins/debugger/views/BreakpointHoc.jsx
Labels: component/Composer

#5127 Unescape escaped json in debugger frames
  composer/modules/web/src/plugins/debugger/views/Frames/index.jsx
Labels: component/Composer

#5170 Fix resource signature validation tests
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpResource.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/SignatureParams.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/compiler/HTTPServiceCompilerPlugin.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/compiler/ResourceSignatureValidator.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/SignatureTest.java
  tests/ballerina-test/src/test/resources/test-src/services/signature/boolean-param.bal
  tests/ballerina-test/src/test/resources/test-src/services/signature/int-param.bal
  tests/ballerina-test/src/test/resources/test-src/services/signature/invalid-body-param.bal
  tests/ballerina-test/src/test/resources/test-src/services/signature/mismatched-body-param.bal
  tests/ballerina-test/src/test/resources/test-src/services/signature/no-con-param.bal
  tests/ballerina-test/src/test/resources/test-src/services/signature/no-request-param.bal
  tests/ballerina-test/src/test/resources/test-src/services/signature/with-res-param.bal
Labels: Type/Task, component/stdlib

#5188 Add HTTP/2 related ClientConnector/ServerConnector actions
  composer/modules/js-tests/src/test/resources/failing/tests/ballerina-test/src/test/resources/test-src/workers/not-so-basic-worker-actions.bal
  docs/ballerina-by-example/examples.txt
  docs/ballerina-by-example/examples/http-2.0-server-push/http-2.0-server-push.bal
  docs/ballerina-by-example/examples/http-2.0-server-push/http-2.0-server-push.client.sh
  docs/ballerina-by-example/examples/http-2.0-server-push/http-2.0-server-push.description
  docs/ballerina-by-example/examples/http-2.0-server-push/http-2.0-server-push.server.sh
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/natives/test/StartService.java
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/http_client_connector.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/http_connection.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/http_handle.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/http_push_promise.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/http_server_connector.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/resiliency/circuit-breaker.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/resiliency/failover-connector.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/resiliency/loadbalance-connector.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/service_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetNextPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetPromisedResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/HasPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/RejectPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Submit.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ConnectionAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Promise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/PushPromisedResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/AddHeader.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/GetHeader.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/GetHeaders.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/RemoveAllHeaders.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/RemoveHeader.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/SetHeader.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/promise/PushPromiseNativeFunctionTest.java
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/failover-connector-test.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/promise/promise-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/workers/not-so-basic-worker-actions.bal
Labels: Type/Task, component/stdlib

#5194 Update package-lock files with fs-events dependancy.
  README.md
  composer/modules/js-tests/package-lock.json
  composer/modules/web/package-lock.json
Labels: component/Composer

#5198 Add integration tests for HTTP/2.0 support in HTTP transport
  docs/ballerina-by-example/examples/http-2.0-server-push/http-2.0-server-push.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/HTTP2IntegrationTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/Http2ServerPushTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/EchoServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/EcommerceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/HelloWorldSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/PassthroughServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/RoutingServiceSampleTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http2/sample/ServiceChainingSampleTestCase.java
  tests/ballerina-test-integration/src/test/resources/http2/conf/netty-transports.yml
  tests/ballerina-test-integration/src/test/resources/http2/http-2.0-server-push-test.bal
  tests/ballerina-test-integration/src/test/resources/testng.xml
Labels: Type/Task, component/docerina

#5187 Fix composer source-gen for new syntax of endpoint/services
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  composer/modules/web/source-gen/defualt-ws.json
  composer/modules/web/source-gen/tree.g
  composer/modules/web/src/plugins/ballerina/model/source-gen.js
Labels: component/Composer, component/compiler

#5215 Fix issues with source gen of the formatting feature of language server
  composer/modules/web/source-gen/SourceGenTemplate.java
  composer/modules/web/source-gen/gen-source-gen-java.js
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/DocumentServiceKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/SourceGen.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/TextDocumentServiceUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/CustomErrorStrategyFactory.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/LSCustomErrorStrategy.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/ContextConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/CompletionCustomErrorStrategy.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/CompletionKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/TreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/format/TextDocumentFormatUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/util/CompletionTestUtil.java
Labels: component/Composer, component/language-server

#5135 Add load delimited record file to table function
  composer/modules/js-tests/src/test/resources/passing/source.bal
  composer/modules/js-tests/src/test/resources/passing/try-catch-finally-negative.bal
  stdlib/ballerina-builtin/src/main/ballerina/ballerina/io/natives.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/LoadToTable.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/records/DelimitedRecordReadAllEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/result/ListResult.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/records/LoadToTableTest.java
  tests/ballerina-test/src/test/resources/datafiles/io/records/sample5.csv
  tests/ballerina-test/src/test/resources/test-src/io/recordio.bal
Labels: component/stdlib

#5104 Update grammar
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaLexer.g4
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaLexer.tokens
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaParser.g4
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaParserDefinition.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaTypes.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/debugger/dto/Message.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/formatter/BallerinaBlock.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/formatter/BallerinaFormattingModelBuilder.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/IdentifierPSINode.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/completion/BallerinaCompletionSDKAwareTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/completion/BallerinaCompletionTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/completion/BallerinaConstantCompletionTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/completion/BallerinaParameterCompletionTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/documentation/BallerinaDocumentationTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/editor/BallerinaParameterInfoHandlerTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/formatting/BallerinaFormattingTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/parsing/BallerinaParsingTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/psi/field/BallerinaResolveAnnotationFieldTest.java
  tool-plugins/intellij/src/test/resources/testData/formatting/ConnectorDefinition-after.bal
  tool-plugins/intellij/src/test/resources/testData/formatting/ConnectorDefinition.bal
  tool-plugins/intellij/src/test/resources/testData/spellchecking/Sample.bal
Labels: plugin/intellij

#5226 Fix hover to work with new annotation changes
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
Labels: component/language-server

#5237 Fix ballerina font rendering
  composer/modules/web/font/font-ballerina/template.css.njk
  composer/modules/web/src/ballerina-theme/theme/elements/button.variables
  composer/modules/web/src/ballerina-theme/theme/elements/icon.overrides
Labels: component/Composer

#5220 Extract CORS configs from the service config struct
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/api/BLangConnectorSPIUtil.java
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/annotation.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/CorsHeaders.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HTTPServicesRegistry.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpResource.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpResourceDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpService.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/Register.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/Start.java
  tests/ballerina-test/src/test/resources/test-src/services/cors/cors-test.bal
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/uri-template-default.bal
Labels: Type/Task, component/stdlib

#5256 Update debugger
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/debugger/BallerinaDebugProcess.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/debugger/BallerinaSuspendContext.java
Labels: plugin/intellij

#5284 Fix NP related issues
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/completion/BallerinaCompletionUtils.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/psi/references/AnnotationReference.java
Labels: plugin/intellij

#5294 Add hover support for new documentation syntax
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/ContextConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
Labels: component/language-server

#5328 Add hover, definition and references support for new endpoint and service syntax
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/DefinitionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
Labels: component/language-server

#5331 Change import struct editor to Monaco editor
  composer/modules/web/src/plugins/import-struct/dialogs/import-struct-dialog.jsx
Labels: component/Composer

#5360 Fix Load Balancer
  composer/modules/web/package-lock.json
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/commons.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/http_client_connector.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/http_load_balancer.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/http_server_connector.bal
  stdlib/ballerina-http/src/main/ballerina/ballerina/net/http/websocket_service.bal
Labels: Type/Task, component/stdlib

#5367 Transformer source generation for nested transformers from diagram
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/conversion-list.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-expanded.jsx
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-node-manager.js
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-node-mapper.js
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/transformer/transformer-render.js
  composer/modules/web/src/plugins/ballerina/model/transformer-factory.js
Labels: component/Composer

#5381 Add LS support for endpoints in a function
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/DefinitionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/definition/DefinitionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/hover/HoverProviderTest.java
  language-server/modules/langserver-core/src/test/resources/definition.test/definition1.bal
  language-server/modules/langserver-core/src/test/resources/definition.test/definition2.bal
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/globalVariableInAnotherFile.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/globalVariableInSameFile.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/localFunctionInAnotherFile.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/localFunctionInSameFile.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/localVariableInForeachStatement.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/localVariableInFunction.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/localVariableInIfStatement.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/localVariableOfStruct.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/localVariableOnForeachStatement.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/structInAnotherFile.json
  language-server/modules/langserver-core/src/test/resources/definition.test/expected/structInSameFile.json
  language-server/modules/langserver-core/src/test/resources/hover.test/expected/builtin-function1.json
  language-server/modules/langserver-core/src/test/resources/hover.test/expected/builtin-function2.json
  language-server/modules/langserver-core/src/test/resources/hover.test/expected/currentPkg-enum.json
  language-server/modules/langserver-core/src/test/resources/hover.test/expected/currentPkg-function1.json
  language-server/modules/langserver-core/src/test/resources/hover.test/expected/currentPkg-struct.json
  language-server/modules/langserver-core/src/test/resources/hover.test/hover.bal
Labels: component/language-server

#5384 Refactor HTTP/2 related actions to make compatible with endpoint changes
  docs/ballerina-by-example/examples/http-2.0-server-push/http-2.0-server-push.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetNextPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetPromisedResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/HasPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/RejectPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Submit.java
  tests/ballerina-test-integration/src/test/resources/http2/http-2.0-server-push-test.bal
Labels: component/stdlib

#4373 Introduce constrained Maps to Ballerina.
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BMapType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/TypeSignature.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/JSONUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BMap.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/ProgramFileReader.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/RuntimeErrors.java
  bvm/ballerina-core/src/main/resources/MessagesBundle.properties
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BMapType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/TypeDescriptor.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/map/ConstrainedMapTest.java
  tests/ballerina-test/src/test/resources/test-src/types/map/constrained-map-negative.bal
  tests/ballerina-test/src/test/resources/test-src/types/map/constrained-map.bal
Labels: Resolution/OnHold

#5596 Fix HTTP/2.0 test cases
  docs/ballerina-by-example/examples/http-2.0-server-push/http-2.0-server-push.bal
  tests/ballerina-test-integration/src/test/resources/http2/http-2.0-server-push-test.bal
Labels: component/stdlib

#5575 Add hover references rename support for ternary
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
Labels: component/language-server

#5638 Add tuple and union support for LS
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/definition/DefinitionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
Labels: component/language-server

#5949 Fix grammar issue in IDEA plugin
  tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaParser.g4
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/BallerinaTypes.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/formatter/BallerinaBlock.java
  tool-plugins/intellij/src/main/java/org/ballerinalang/plugins/idea/formatter/BallerinaFormattingModelBuilder.java
  tool-plugins/intellij/src/main/resources/META-INF/plugin.xml
  tool-plugins/intellij/src/test/java/org/ballerinalang/editor/BallerinaFoldingBuilderTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/editor/BallerinaLiveTemplateTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/formatting/BallerinaFormattingTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/psi/field/BallerinaResolveStructFieldTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/psi/struct/BallerinaResolveStructTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/psi/vars/BallerinaResolveGlobalVariableTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/psi/vars/BallerinaResolveLocalVariableTest.java
  tool-plugins/intellij/src/test/java/org/ballerinalang/psi/vars/BallerinaResolveParameterTest.java
Labels: plugin/intellij

#6008 Introduce rolling window for Http Circuit Breaker
  docs/ballerina-by-example/examples/http-circuit-breaker/http-circuit-breaker.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/http_circuit_breaker.bal
Labels: component/stdlib

#6033 Fix issue with loading .toml in LS
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/workspace/repository/NullSourceDirectory.java
Labels: component/language-server

#6048 Fix fragment parser in cmposer
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/BallerinaParserService.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/util/BLangFragmentParser.java
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/util/ParserUtils.java
  composer/modules/web/package-lock.json
  composer/modules/web/src/plugins/ballerina/model/default-nodes.js
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/TextDocumentServiceUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/workspace/WorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/util/CompletionTestUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/workspace/WorkspaceDocumentManagerTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/workspace/WorkspacePackageRepositoryTest.java
Labels: component/Composer

#6063 Populate required fields to ServiceEndpoint struct.
  stdlib/ballerina-http/src/main/ballerina/net.http/http_connection.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/http_request.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/service_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/request/GetProperty.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/request/SetProperty.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/response/GetProperty.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/response/SetProperty.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/endpoint/ServiceEndpointTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/endpoint/service-endpoint-test.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/request/in-request-native-function.bal
Labels: component/stdlib

#6099 Make displaying errors from lang server configurable
  tool-plugins/vscode/extension.js
  tool-plugins/vscode/package.json
Labels: plugin/vscode

#6094 Fix Resiliency test cases
  stdlib/ballerina-http/src/main/ballerina/net.http/failover-connector.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/http/resiliency/CircuitBreakerTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/http/resiliency/FailoverConnectorTest.java
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/failover-connector-test.bal
Labels: component/stdlib

#6095 [WebSocket]Move client parameters to endpoint
  docs/ballerina-by-example/examples/websocket-basic-sample/websocket-basic-sample.bal
  docs/ballerina-by-example/examples/websocket-chat-application/websocket-chat-application.bal
  docs/ballerina-by-example/examples/websocket-chat-application/websocket-chat-application.sh
  docs/ballerina-by-example/examples/websocket-proxy-server/websocket-proxy-server.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/service_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/websocket_client.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/websocket_client_service.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/websocket_connector.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketEmptyCallableUnitCallback.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/InitEndpoint.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/Start.java
Labels: component/stdlib

#6139 Handle exception which occurs when compiling
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/util/ParserUtils.java
Labels: component/Composer

#4983 HTTP Caching Support
  docs/ballerina-by-example/examples/http-caching-client/http_caching_client.bal
  docs/ballerina-by-example/examples/http-caching-client/http_caching_client.client.sh
  docs/ballerina-by-example/examples/http-caching-client/http_caching_client.description
  docs/ballerina-by-example/examples/http-caching-client/http_caching_client.server.sh
  stdlib/ballerina-builtin/src/main/ballerina/security.crypto/natives.bal
  stdlib/ballerina-builtin/src/main/ballerina/time/timelib.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/security/crypto/GetCRC32.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/time/AbstractTimeFunction.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/time/FormatTo.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/time/ParseTo.java
  stdlib/ballerina-http/src/main/ballerina/net.http/annotation.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/caching_commons.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/commons.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/endpoints/simple_client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/http_cache.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/http_caching_client.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/http_connection.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/http_headers.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/http_request.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/http_response.bal
  stdlib/ballerina-http/src/main/ballerina/net.http/response_status_codes.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/caching/CacheControlDirective.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/caching/CacheControlParser.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/caching/RequestCacheControlStruct.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/caching/ResponseCacheControlStruct.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ConnectionAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/response/SetEntity.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/util/CacheUtils.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/CryptoTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/http/HttpCachingClientTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/response/ResponseNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/response/ResponseNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/time/TimeTest.java
  tests/ballerina-test/src/test/resources/test-src/nativeimpl/functions/crypto-test.bal
  tests/ballerina-test/src/test/resources/test-src/types/time/time-type.bal
  tests/ballerina-test/src/test/resources/testng.xml
Labels: Type/New Feature, component/stdlib
