Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-05, with the labels that each got.

#8430 Fix tabs scroll
  composer/modules/web/package-lock.json
  composer/modules/web/package.json
  composer/modules/web/scss/modules/editor-tabs.scss
Labels: component/Composer

#8391 Fix http redirect sample
  composer/modules/web/src/plugins/ballerina/diagram/views/default/sizing-util.js
Labels: component/Composer

#8429 Fix issue #7705
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/base/DelimitedRecordChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/csv/Format.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/records/CsvChannelTest.java
Labels: Type/Improvement, component/stdlib

#8446 Fix error popping out when opening non existent files kept in web storage
  composer/modules/web/src/core/editor/constants.js
  composer/modules/web/src/core/editor/dialogs/NonExistentFileOpenConfirmDialog.jsx
  composer/modules/web/src/core/editor/plugin.js
Labels: component/Composer

#8453 Disable text document formatting temporary.
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
Labels: component/Composer

#8443 Fix typo in validation message
  composer/modules/web/src/plugins/import-swagger/plugin.js
Labels: component/Composer

#8474 Return correct client from FO,LB endpoints
  stdlib/ballerina-http/src/main/ballerina/http/failover_client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/failover_connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_load_balancer.bal
  stdlib/ballerina-http/src/main/ballerina/http/load_balance_client_endpoint.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/failover-connector-test.bal
Labels: HTTP, component/stdlib

#8497 Fix try it for user defined endpoints
  composer/modules/web/src/plugins/try-it/views/try-it-container.jsx
Labels: component/Composer

#8499 Improve initial LS server loading time
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/LSAnnotationCache.java
Labels: component/LanguageServer

#8417 Refactor error handling path in dispatching
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/BallerinaHTTPConnectorListener.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/BallerinaWebSubConnectionListener.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/WebSubDispatcher.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/Services.java
Labels: HTTP, component/stdlib

#8462 Add retry functionality for multipart requests
  stdlib/ballerina-http/src/main/ballerina/http/commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/failover_connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_load_balancer.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_retry_client.bal
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/RetrySampleTestCase.java
  tests/ballerina-test-integration/src/test/resources/httpService/http_retry.bal
Labels: HTTP, component/stdlib

#8389 Use charset value during payload construction
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/StringUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/XMLUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BJSON.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/Constants.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/EntityBodyHandler.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/EntityBodyWithCharsetTest.java
  tests/ballerina-test/src/test/resources/test-src/mime/entity-body-with-charset-test.bal
Labels: HTTP, component/stdlib

#8508 Add support for looking up configs in env vars
  stdlib/ballerina-builtin/src/main/ballerina/config/config.bal
  stdlib/ballerina-builtin/src/main/ballerina/config/natives.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/system/GetEnv.java
  stdlib/ballerina-config/src/main/java/org/ballerinalang/config/ConfigRegistry.java
  tests/ballerina-test/pom.xml
  tests/ballerina-test/src/test/java/org/ballerinalang/test/config/EnvVarConfigTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/SystemTest.java
Labels: component/stdlib

#8541 Fix renaming for index based access and unary expressions
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/position/PositionTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/util/HoverUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/rename/RenameUtil.java
Labels: component/Composer, component/LanguageServer

#8526 [WebSocket] Add timeout feature to close the connection
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/http/websocket_connector.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
Labels: HTTP, component/stdlib

#8492 [WebSocket] Add timeout feature to close the connection
  stdlib/ballerina-http/src/main/ballerina/http/websocket_connector.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/client/WebSocketTestClientHandler.java
Labels: HTTP, component/stdlib

#8558 Extensive exception handling to avoid printing java errors in IDEs
  language-server/modules/langserver-core/spotbugs-exclude.xml
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
Labels: component/LanguageServer

#8589 Fix Issues in the WebSocket implementation
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketResourceCallableUnitCallback.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ready.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/client/WebSocketTestClientHandler.java
Labels: HTTP, component/stdlib

#8585 Add completion support in method invocation scope
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/TreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ScopeResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/positioning/resolvers/InvocationParameterScopeResolver.java
Labels: component/LanguageServer

#8604 Remove unnecessary logs in HTTP module
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/BallerinaHTTPConnectorListener.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/util/CacheUtils.java
Labels: HTTP, component/stdlib

#8613 Add autocompletion support for match expressions
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/TreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/resolvers/BLangMatchExpressionContextResolver.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/ScopeResolverConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/positioning/resolvers/MatchExpressionScopeResolver.java
Labels: component/LanguageServer

#8583 Wrap runtime exceptions thrown during config API init in BLangRuntimeException
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/LauncherUtils.java
  stdlib/ballerina-config/src/main/java/org/ballerinalang/config/ConfigProcessor.java
Labels: component/stdlib

#8631 Change the nil lifted values of noCache field to false
  stdlib/ballerina-http/src/main/ballerina/http/http_caching_client.bal
Labels: HTTP, component/stdlib

#8637 Fix remote, local address population issue
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/GetCallerActions.java
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/endpoint/service-endpoint-test.bal
Labels: HTTP, component/stdlib

#8624 Add channel to reference memory content
  stdlib/ballerina-builtin/src/main/ballerina/io/open.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/strings.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/CreateCharacterChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/CreateMemoryChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/BlobChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/BlobIOChannel.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/IOTest.java
  tests/ballerina-test/src/test/resources/test-src/io/string_io.bal
Labels: Type/New Feature, component/stdlib

#8581 Add integration test for 100-continue
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/configuration/AcceptEncodingHeaderTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/ExpectContinueTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/TestUtils.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/client/HttpClient.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/client/ResponseHandler.java
  tests/ballerina-test-integration/src/test/resources/httpService/100_continue.bal
Labels: HTTP, component/stdlib

#8618 Add blob literal support
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/CPU.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/WorkerData.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BBlobType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BBlob.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BStruct.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/BLangConstants.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/DefaultValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/InstructionCodes.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/Mnemonics.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/ProgramFileReader.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/cpentries/BlobCPEntry.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/cpentries/ConstantPoolEntry.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/program/BLangVMUtils.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompiledPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/DefaultValue.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/InstructionCodes.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/Mnemonics.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/PackageInfoWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/cpentries/BlobCPEntry.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/cpentries/ConstantPoolEntry.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/Sprintf.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/expressions/conversion/NativeConversionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/blob/BBlobValueNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/blob/BBlobValueTest.java
  tests/ballerina-test/src/test/resources/test-src/types/blob/blob-value-negative.bal
  tests/ballerina-test/src/test/resources/test-src/types/blob/blob-value.bal
Labels: Type/New Feature

#8573 Group and organize the HTTP Ballerina source files
  stdlib/ballerina-http/src/main/ballerina/http/auth/auth_handler_registry.bal
  stdlib/ballerina-http/src/main/ballerina/http/auth/authn_filter.bal
  stdlib/ballerina-http/src/main/ballerina/http/auth/authn_handler.bal
  stdlib/ballerina-http/src/main/ballerina/http/auth/authn_handler_chain.bal
  stdlib/ballerina-http/src/main/ballerina/http/auth/authz_filter.bal
  stdlib/ballerina-http/src/main/ballerina/http/auth/authz_handler.bal
  stdlib/ballerina-http/src/main/ballerina/http/auth/basic_authn_handler.bal
  stdlib/ballerina-http/src/main/ballerina/http/auth/jwt_authn_handler.bal
  stdlib/ballerina-http/src/main/ballerina/http/auth/utils.bal
  stdlib/ballerina-http/src/main/ballerina/http/caching/caching_commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/caching/http_cache.bal
  stdlib/ballerina-http/src/main/ballerina/http/caching/http_caching_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http2/http_future.bal
  stdlib/ballerina-http/src/main/ballerina/http/http2/http_push_promise.bal
  stdlib/ballerina-http/src/main/ballerina/http/resiliency/failover_client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/resiliency/failover_connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/resiliency/http_circuit_breaker.bal
  stdlib/ballerina-http/src/main/ballerina/http/resiliency/http_load_balancer.bal
  stdlib/ballerina-http/src/main/ballerina/http/resiliency/http_retry_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/resiliency/load_balance_client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/ws/websocket_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/ws/websocket_client_service.bal
  stdlib/ballerina-http/src/main/ballerina/http/ws/websocket_connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/ws/websocket_service.bal
Labels: HTTP, component/stdlib

#8645 Fix age header value calculation
  stdlib/ballerina-http/src/main/ballerina/http/caching/caching_commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/caching/http_caching_client.bal
Labels: HTTP, component/stdlib

#8693 Update age header immediately after retrieving from the cache
  stdlib/ballerina-http/src/main/ballerina/http/caching/http_caching_client.bal
Labels: HTTP, component/stdlib

#8670 Enable request/response native functions tests
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/HeaderUtil.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/request/RequestNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/response/ResponseNativeFunctionNegativeTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/response/ResponseNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/TestEntityUtils.java
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/request/in-request-native-function-negative.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/request/in-request-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/response/in-response-compile-negative.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/response/in-response-native-function-negative.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/response/in-response-native-function.bal
  tests/ballerina-test/src/test/resources/testng.xml
Labels: HTTP, component/stdlib

#8681 Remove representation related headers from 304 responses
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
Labels: HTTP, component/stdlib

#8706 Remove duplicate dispatching to run command
  composer/modules/web/src/plugins/debugger/handlers.js
Labels: component/Composer

#8686 Improve error reporting in LS
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  tool-plugins/vscode/plugin/serverStarter.js
Labels: component/LanguageServer, plugin/vscode

#8707 Update trace log icons
  composer/modules/web/src/plugins/debugger/views/TraceLog/TraceLog.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/index.scss
Labels: component/Composer

#8688 Fix overriding error details in getBlob()
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetBlob.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
Labels: HTTP

#8741 Fix log parser issues
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/util/LogParser.java
  composer/modules/web/src/plugins/ballerina/model/tree/resource-node.js
  composer/modules/web/src/plugins/ballerina/model/tree/service-node.js
  composer/modules/web/src/plugins/debugger/views/LauncherConfigDialog.jsx
Labels: component/Composer
