Repository ballerina-platform/ballerina-lang, pull requests merged in 2018-04, with the labels that each got.

#6142 Fix the issue with error message background color
  composer/modules/web/scss/modules/ballerina-editor.scss
Labels: component/Composer

#6138 Return errors by WebSocket apis
  docs/ballerina-by-example/examples/http-to-websocket-upgrade/http-to-websocket-upgrade.bal
  docs/ballerina-by-example/examples/websocket-basic-sample/websocket-basic-sample.bal
  docs/ballerina-by-example/examples/websocket-chat-application/websocket-chat-application.bal
  docs/ballerina-by-example/examples/websocket-proxy-server/websocket-proxy-server.bal
  misc/testerina/modules/testerina-core/src/test/resources/service.skeleton/service-skeleton-test.bal
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/http/websocket_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/websocket_connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/websocket_frames.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/CloseConnection.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ping.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Pong.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushBinary.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushText.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/Start.java
Labels: component/stdlib

#6478 Remove unnecessary websocket frames and raname resource/action names
  docs/ballerina-by-example/examples/http-to-websocket-upgrade/http-to-websocket-upgrade.bal
  docs/ballerina-by-example/examples/websocket-basic-sample/websocket-basic-sample.bal
  docs/ballerina-by-example/examples/websocket-chat-application/websocket-chat-application.bal
  docs/ballerina-by-example/examples/websocket-proxy-server/websocket-proxy-server.bal
  stdlib/ballerina-http/src/main/ballerina/http/websocket_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/websocket_connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/websocket_frames.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketService.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketServiceValidator.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
Labels: component/stdlib

#6476 Fix console messages are not rendered when component is unmounted
  composer/modules/web/src/plugins/debugger/views/DebugConsole.jsx
Labels: component/Composer

#6449 Trace Logs ui
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/Command.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/LaunchManager.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/LauncherConstants.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/util/LogDTO.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/util/LogParser.java
  composer/modules/web/package-lock.json
  composer/modules/web/package.json
  composer/modules/web/scss/modules/layout.scss
  composer/modules/web/src/plugins/debugger/LaunchManager/LaunchManager.js
  composer/modules/web/src/plugins/debugger/plugin.js
  composer/modules/web/src/plugins/debugger/views/TraceLog/DetailView.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/Toolbar.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/index.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/index.scss
Labels: component/Composer

#6624 Add Directory listener service
  distribution/zip/ballerina/pom.xml
  distribution/zip/ballerina/src/assembly/bin.xml
  docs/ballerina-by-example/examples/file-system-server-connector/file-system-server-connector.bal
  docs/ballerina-by-example/examples/file-system-server-connector/file-system-server-connector.sh
  pom.xml
  stdlib/ballerina-builtin/pom.xml
  stdlib/ballerina-builtin/src/main/ballerina/file/service.bal
  stdlib/ballerina-builtin/src/main/ballerina/file/service_endpoint.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/DirectoryListenerCallback.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/DirectoryListenerConstants.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/FSListener.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/endpoint/GetClient.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/endpoint/InitEndpoint.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/endpoint/Register.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/endpoint/Start.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/endpoint/Stop.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/file/DirectoryListenerConnectorTest.java
  tests/ballerina-test/src/test/resources/test-src/file/file-system.bal
Labels: Type/New Feature, component/stdlib

#6857 Fix issue #6843 and refactor io apis
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/Close.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/CloseCharacterChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/CloseDelimitedRecordChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/NextTextRecord.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/Read.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/ReadCharacters.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/Write.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/WriteCharacters.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/WriteTextRecord.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/base/readers/AsyncReader.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/base/readers/BlockingReader.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/base/writers/AsyncWriter.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/base/writers/BlockingWriter.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/bytes/CloseByteChannelEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/bytes/ReadBytesEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/bytes/WriteBytesEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/characters/CloseCharacterChannelEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/characters/ReadCharactersEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/characters/WriteCharactersEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/records/CloseDelimitedRecordEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/records/DelimitedRecordReadAllEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/records/DelimitedRecordReadEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/records/DelimitedRecordWriteEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/records/HasNextDelimitedRecordEvent.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/result/AlphaCollectionResult.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/events/result/AlphaResult.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/IOTest.java
  tests/ballerina-test/src/test/resources/datafiles/io/text/emptyFile.txt
  tests/ballerina-test/src/test/resources/test-src/io/char_io.bal
Labels: Type/Bug, component/stdlib

#6950 Update WebSocket Chat Application Example
  docs/ballerina-by-example/examples/websocket-chat-application/websocket-chat-application.bal
  docs/ballerina-by-example/examples/websocket-proxy-server/websocket-proxy-server.bal
Labels: component/stdlib

#6966 Refactor file apis
  cli/ballerina-cli-utils/src/main/ballerina/packaging.pull/ballerina.pull.bal
  cli/ballerina-cli-utils/src/main/ballerina/packaging.push/ballerina.push.bal
  docs/ballerina-by-example/examples/encode-nested-bodyparts-in-multipart/encode-nested-bodyparts-in-multipart.bal
  docs/ballerina-by-example/examples/outbound-request-with-multiparts/outbound-request-with-multiparts.bal
  docs/ballerina-by-example/examples/outbound-response-with-multiparts/outbound-response-with-multiparts.bal
  stdlib/ballerina-builtin/src/main/ballerina/file/natives.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/natives.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/GetPath.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/Init.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/IsReadable.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/Move.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/NewByteChannel.java
  stdlib/ballerina-mime/src/main/ballerina/mime/natives.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/taintchecking/connectors/IOTest.java
  tests/ballerina-test/src/test/resources/test-src/file/file_ops.bal
  tests/ballerina-test/src/test/resources/test-src/mime/mime-test.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-response.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/request/in-request-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/taintchecking/connectors/file-read-negative.bal
Labels: Type/Improvement, component/stdlib

#6915 Make WebSocket actions non-blocking
  docs/ballerina-by-example/examples/websocket-basic-sample/websocket-basic-sample.bal
  stdlib/ballerina-http/src/main/ballerina/http/websocket_connector.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ping.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Pong.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushBinary.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushText.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/Start.java
Labels: component/stdlib

#6973 Integrate package version to service dispatching
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/elements/PackageID.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/SourceDirectoryManager.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HTTPServicesRegistry.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpService.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/dispatching/VersioningDispatchingTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/dispatching/VersioningNegativeTest.java
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/negativecase1/Ballerina.toml
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/negativecase1/pqr.stv/dispatching-neg-test-1.bal
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/negativecase2/Ballerina.toml
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/negativecase2/pqr.stv/dispatching-neg-test-2.bal
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/negativecase3/Ballerina.toml
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/negativecase3/pqr.stv/dispatching-neg-test-3.bal
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/successcase1/Ballerina.toml
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/successcase1/abc.xyz/dispatching-test-success.bal
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/successcase2/Ballerina.toml
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/successcase2/abc.xyz/empty-version.bal
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/successcase3/Ballerina.toml
  tests/ballerina-test/src/test/resources/test-src/services/dispatching/versioning/successcase3/abc.xyz/single-segment-version.bal
Labels: HTTP, Type/Improvement, component/stdlib

#6974 Fix package level unit test cases
  tests/ballerina-test/src/test/java/org/ballerinalang/test/expressions/identifierliteral/IdentifierLiteralServiceTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/lock/LocksInServicesTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/Services.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarServicePkgTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarServiceTest.java
  tests/ballerina-test/src/test/resources/test-src/expressions/identifierliteral/identifier-literal-service.bal
  tests/ballerina-test/src/test/resources/test-src/statements/variabledef/globalvar.pkg.srvc/global-var-pkg-service.bal
  tests/ballerina-test/src/test/resources/test-src/statements/variabledef/globalvar/global-var-service.bal
  tests/ballerina-test/src/test/resources/testng.xml
Labels: HTTP, Type/Bug, component/stdlib

#7011 [WebSub] Introduce fetch mode for Publisher --> Hub and refactor WebSub implementation
  docs/ballerina-by-example/examples/websub-basic-sample/publisher.bal
  docs/ballerina-by-example/examples/websub-basic-sample/subscriber.bal
  stdlib/ballerina-websub/src/main/ballerina/websub.hub/hub_configuration.bal
  stdlib/ballerina-websub/src/main/ballerina/websub.hub/hub_service.bal
  stdlib/ballerina-websub/src/main/ballerina/websub/annotation.bal
  stdlib/ballerina-websub/src/main/ballerina/websub/commons.bal
  stdlib/ballerina-websub/src/main/ballerina/websub/hub_client_connector.bal
  stdlib/ballerina-websub/src/main/ballerina/websub/hub_client_endpoint.bal
  stdlib/ballerina-websub/src/main/ballerina/websub/subscriber_service.bal
  stdlib/ballerina-websub/src/main/ballerina/websub/subscriber_service_endpoint.bal
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/WebSubSubscriberConstants.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/compiler/WebSubServiceCompilerPlugin.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/InitWebSubSubscriberServiceEndpoint.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/RegisterWebSubSubscriberServiceEndpoint.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/RetrieveSubscriptionParameters.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/SetTopic.java
  stdlib/ballerina-websub/src/main/java/org/ballerinalang/net/websub/nativeimpl/StartWebSubSubscriberServiceEndpoint.java
  stdlib/ballerina-websub/src/main/resources/websub.hub.balx
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/websub/WebSubIntegrationTestCase.java
  tests/ballerina-test-integration/src/test/resources/websub/websub_test_publisher.bal
  tests/ballerina-test-integration/src/test/resources/websub/websub_test_subscriber.bal
Labels: Type/Task, component/stdlib

#7054 Remove forward and rename respondContinue
  docs/ballerina-by-example/examples/content-based-routing/content-based-routing.bal
  docs/ballerina-by-example/examples/encode-nested-bodyparts-in-multipart/encode-nested-bodyparts-in-multipart.bal
  docs/ballerina-by-example/examples/header-based-routing/header-based-routing.bal
  docs/ballerina-by-example/examples/http-100-continue/http-100-continue.bal
  docs/ballerina-by-example/examples/http-caching-client/http_caching_client.bal
  docs/ballerina-by-example/examples/http-circuit-breaker/http-circuit-breaker.bal
  docs/ballerina-by-example/examples/http-disable-chunking/http-disable-chunking.bal
  docs/ballerina-by-example/examples/http-failover/http-failover.bal
  docs/ballerina-by-example/examples/http-forwarded-extension/http-forwarded-extension.bal
  docs/ballerina-by-example/examples/http-load-balancer/http-load-balancer.bal
  docs/ballerina-by-example/examples/http-trace-logs/http-trace-logs.bal
  docs/ballerina-by-example/examples/outbound-request-with-multiparts/outbound-request-with-multiparts.bal
  docs/ballerina-by-example/examples/passthrough/passthrough.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_connection.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ConnectionAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Forward.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
  tests/ballerina-test-integration/src/test/resources/httpService/ATMLocatorService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/accept-encoding-test.bal
  tests/ballerina-test-integration/src/test/resources/httpService/ecommerceService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/httpHeaderTest.bal
  tests/ballerina-test-integration/src/test/resources/httpService/httpMethodTest.bal
  tests/ballerina-test-integration/src/test/resources/httpService/passthrough_service.bal
  tests/ballerina-test-integration/src/test/resources/httpService/routingServices.bal
  tests/ballerina-test-integration/src/test/resources/transaction/initiator.bal
  tests/ballerina-test-integration/src/test/resources/transaction/participant1.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/response/in-response-native-function.bal
Labels: HTTP, Type/Task, component/stdlib

#7057 Determine whether the payload exceed a given byte limit
  pom.xml
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/EntityBodyHandler.java
Labels: HTTP, component/stdlib

#6992 [HTTP] Refactor rejectPromise function
  docs/ballerina-by-example/examples/http-2.0-server-push/http-2.0-server-push.bal
  stdlib/ballerina-http/src/main/ballerina/http/failover-connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_caching_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_circuit_breaker.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_load_balancer.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_retry_client.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetNextPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/HasPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/RejectPromise.java
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/failover-connector-test.bal
Labels: HTTP, component/stdlib

#7008 Mime related improvements
  cli/ballerina-cli-utils/src/main/ballerina/packaging.push/ballerina.push.bal
  docs/ballerina-by-example/examples/decode-nested-bodyparts-in-multipart/decode-nested-bodyparts-in-multipart.bal
  docs/ballerina-by-example/examples/encode-nested-bodyparts-in-multipart/encode-nested-bodyparts-in-multipart.bal
  docs/ballerina-by-example/examples/inbound-request-with-multiparts/inbound-request-with-multiparts.bal
  docs/ballerina-by-example/examples/outbound-request-with-multiparts/outbound-request-with-multiparts.bal
  docs/ballerina-by-example/examples/outbound-response-with-multiparts/outbound-response-with-multiparts.bal
  stdlib/ballerina-builtin/src/main/ballerina/observe/tracing.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_caching_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_request.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_response.bal
  stdlib/ballerina-mime/src/main/ballerina/mime/natives.bal
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetBodyParts.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetJson.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetMediaType.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetText.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetXml.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetJson.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetText.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetXml.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/headers/GetHeaderNames.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/Constants.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/HeaderUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/HeaderTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MimeUtilityFunctionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/basics/ServiceTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/response/ResponseNativeFunctionSuccessTest.java
  tests/ballerina-test/src/test/resources/test-src/mime/header-test.bal
  tests/ballerina-test/src/test/resources/test-src/mime/mime-test.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-request.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-response.bal
  tests/ballerina-test/src/test/resources/test-src/services/echo-service.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/request/in-request-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/response/in-response-native-function.bal
Labels: HTTP, component/stdlib

#7059 Introduce Json/XML write APIs
  docs/ballerina-by-example/examples/record-i-o/record-i-o.bal
  stdlib/ballerina-builtin/src/main/ballerina/file/natives.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/natives.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/GetPath.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/WriteJson.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/WriteXml.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/utils/IOUtils.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/IOTest.java
  tests/ballerina-test/src/test/resources/test-src/io/char_io.bal
  tests/ballerina-test/src/test/resources/test-src/io/record_io.bal
Labels: Type/Improvement, component/stdlib

#6979 Add per service chunking config
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/http/annotation.bal
  stdlib/ballerina-http/src/main/ballerina/http/service_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
Labels: HTTP, component/stdlib

#7135 Add singleton type to client keep-alive config
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/http/client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/simple_client_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateHttpClient.java
Labels: HTTP, component/stdlib

#7119 Improve config API
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BLangScheduler.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/runtime/threadpool/ThreadPoolFactory.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/metrics/MetricsLaunchListener.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/tracer/OpenTracerBallerinaWrapper.java
  bvm/ballerina-logging/src/main/java/org/ballerinalang/logging/BLogManager.java
  misc/metrics-extensions/modules/ballerina-micrometer-extension/src/main/java/org/ballerinalang/observe/metrics/extension/micrometer/MicrometerMetricProvider.java
  misc/metrics-extensions/modules/ballerina-prometheus-extension/src/main/java/org/ballerinalang/observe/metrics/extension/prometheus/PrometheusMeterRegistryProvider.java
  stdlib/ballerina-builtin/src/main/ballerina/auth.authz.permissionstore/file-based-permission-store.bal
  stdlib/ballerina-builtin/src/main/ballerina/auth.jwtAuth/jwt-authenticator.bal
  stdlib/ballerina-builtin/src/main/ballerina/auth.userstore/file-based-userstore.bal
  stdlib/ballerina-builtin/src/main/ballerina/auth.utils/auth-utils.bal
  stdlib/ballerina-builtin/src/main/ballerina/config/natives.bal
  stdlib/ballerina-builtin/src/main/ballerina/transactions/configurations.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/config/GetAsString.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/config/GetConfig.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/config/GetTable.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/config/SetConfig.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/security/KeyStore.java
  stdlib/ballerina-config/src/main/java/org/ballerinalang/bcl/parser/BConfig.java
  stdlib/ballerina-config/src/main/java/org/ballerinalang/bcl/parser/BConfigLangListener.java
  stdlib/ballerina-config/src/main/java/org/ballerinalang/config/ConfigProcessor.java
  stdlib/ballerina-config/src/main/java/org/ballerinalang/config/ConfigRegistry.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConnectionManager.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/config/ConfigTableTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/config/ConfigTest.java
  tests/ballerina-test/src/test/resources/datafiles/config/auth/jwt/ballerina.conf
  tests/ballerina-test/src/test/resources/datafiles/config/default/ballerina.conf
  tests/ballerina-test/src/test/resources/test-src/config/config.bal
Labels: component/stdlib

#7104 Validate client connector URL
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateHttpClient.java
Labels: HTTP, component/stdlib

#7131 Add getName and getModifiedTime PATH operations
  stdlib/ballerina-builtin/src/main/ballerina/file/natives.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/GetModifiedTime.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/GetName.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/file/FileOperationTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/IOTest.java
  tests/ballerina-test/src/test/resources/test-src/file/file_ops.bal
Labels: Type/Improvement, component/stdlib

#7190 Rename Proxy type to ProxyConfig
  stdlib/ballerina-http/src/main/ballerina/http/client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/simple_client_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
Labels: HTTP, component/stdlib

#7158 Move commonly used media types to a different bal file
  stdlib/ballerina-mime/src/main/ballerina/mime/media-types.bal
  stdlib/ballerina-mime/src/main/ballerina/mime/natives.bal
Labels: HTTP, component/stdlib

#7146 Show parsed headers in trace logs detailed view
  bvm/ballerina-logging/src/main/java/org/ballerinalang/logging/formatters/JsonLogFormatter.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/LaunchManager.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/util/LogDTO.java
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/util/LogParser.java
  composer/modules/web/src/plugins/debugger/LaunchManager/LaunchManager.js
  composer/modules/web/src/plugins/debugger/plugin.js
  composer/modules/web/src/plugins/debugger/views/DebugConsole.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/DetailView.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/Toolbar.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/TraceLog.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/index.jsx
  composer/modules/web/src/plugins/debugger/views/TraceLog/index.scss
  tests/ballerina-test/src/test/java/org/ballerinalang/test/logging/JsonLogFormatterTest.java
Labels: component/Composer

#6975 Add APIs for setting ETag, Last-Modified and Cache-Control
  stdlib/ballerina-http/src/main/ballerina/http/caching_commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_cache.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_caching_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_request.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_response.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/caching/ResponseCacheControlStruct.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
Labels: HTTP, Type/Task, component/stdlib

#7202 Fix pattern ordering issue when matching results with a HttpFuture
  stdlib/ballerina-http/src/main/ballerina/http/http_future.bal
Labels: HTTP, component/stdlib

#7205 Refactor Resiliency related configurations.
  stdlib/ballerina-http/src/main/ballerina/http/client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_circuit_breaker.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
Labels: HTTP, component/stdlib

#7207 Fix integration test failures
  tests/ballerina-test-integration/src/test/resources/httpService/ecommerceService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/httpMethodTest.bal
Labels: HTTP, component/stdlib

#7153 [Websocket] Test Migration
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BLangVMStructs.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/connector/api/BLangConnectorSPIUtil.java
  stdlib/ballerina-http/src/main/ballerina/http/service_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/Start.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/websocket/sample/PingPongSupportTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/websocket/sample/WebSocketAutoPingPongTest.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/websocket/sample/WebSocketIntegrationTest.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/websocket/sample/WebSocketPassThroughTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/websocket/sample/WebSocketQueryAndPathParamSupportTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/websocket/sample/WebSocketSimpleProxyTestCase.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/client/WebSocketClient.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/client/WebSocketTestClient.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/client/WebSocketTestClientHandler.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/server/WebSocketRemoteServer.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/server/WebSocketRemoteServerFrameHandler.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/server/WebSocketRemoteServerInitializer.java
  tests/ballerina-test-integration/src/test/resources/testng.xml
  tests/ballerina-test-integration/src/test/resources/websocket/PingPongSupport.bal
  tests/ballerina-test-integration/src/test/resources/websocket/QueryAndPathParamSupport.bal
  tests/ballerina-test-integration/src/test/resources/websocket/SimpleProxyServer.bal
  tests/ballerina-test-integration/src/test/resources/websocket/SimpleServerWithoutPingResource.bal
Labels: HTTP, L1/L2 for May, Type/Task, component/stdlib

#7228 Fix checkstyle issues in WebSocketServiceCompilerPlugin
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/compiler/WebSocketServiceCompilerPlugin.java
Labels: HTTP, L1/L2 for May, component/stdlib

#7248 Rename attribute basePath to path in WebSocketServiceConfig annotation
  stdlib/ballerina-http/src/main/ballerina/http/annotation.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketService.java
Labels: HTTP, L1/L2 for May, Type/Task, component/stdlib

#7306 Test WebSocket service compilation
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/GetUpgradeHeader.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/compiler/WebSocketResourceValidator.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/compiler/WebSocketServiceCompilerPlugin.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/websocket/compilation/WebSocketCompilationTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/ws/HttpToWebSocketUpgradeTestCase.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/ws/NativeFunctionsTestCase.java
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onBinary_invalid_param.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onClose.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onOpen_onIdle.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onPing_onPong.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onText_invalid_param.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onText_param_count.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/invalid_resource.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/success.bal
  tests/ballerina-test/src/test/resources/test-src/net/ws/http-to-websocket-upgrade-both-base-paths.bal
  tests/ballerina-test/src/test/resources/test-src/net/ws/http-to-websocket-upgrade-host-port-without-basepath-negative.bal
  tests/ballerina-test/src/test/resources/test-src/net/ws/http-to-websocket-upgrade-service-name-negative.bal
  tests/ballerina-test/src/test/resources/test-src/net/ws/http-to-websocket-upgrade-without-base-path.bal
  tests/ballerina-test/src/test/resources/test-src/net/ws/http-to-websocket-upgrade-without-upgrade-ann.bal
  tests/ballerina-test/src/test/resources/test-src/net/ws/native-functions-for-connection.bal
  tests/ballerina-test/src/test/resources/testng.xml
Labels: HTTP, component/stdlib

#7264 Add CompilerPlugin validation for Directory Listener
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/compiler/DirectoryListenerCompilerPlugin.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/file/service/endpoint/Register.java
  stdlib/ballerina-builtin/src/main/resources/META-INF/services/org.ballerinalang.compiler.plugins.CompilerPlugin
Labels: Type/Improvement, component/stdlib

#7357 Support returning different constrained tables from call sql action
  stdlib/ballerina-builtin/src/main/ballerina/sql/sql_client.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/sql/actions/AbstractSQLAction.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/sql/actions/Call.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/connectors/sql/SQLActionsTest.java
  tests/ballerina-test/src/test/resources/datafiles/sql/SQLConnectorDataFile.sql
  tests/ballerina-test/src/test/resources/test-src/connectors/h2/h2-client-actions-test.bal
  tests/ballerina-test/src/test/resources/test-src/connectors/sql/sql-actions-negative.bal
  tests/ballerina-test/src/test/resources/test-src/connectors/sql/sql-actions-test.bal
Labels: component/stdlib

#7411 Add space between ballerina logo text
  composer/modules/web/scss/modules/ballerina-editor.scss
Labels: component/Composer

#7403 Fix try it append URL
  composer/modules/web/src/ballerina-theme/theme/elements/button.overrides
  composer/modules/web/src/plugins/ballerina/model/tree/resource-node.js
  composer/modules/web/src/plugins/try-it/views/http-client.jsx
  composer/modules/web/src/plugins/try-it/views/http-client.scss
Labels: component/Composer

#7332 Remove unnecessary error outputs from services
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
Labels: HTTP, component/stdlib

#7480 Introduce a constructor to PushPromise
  stdlib/ballerina-http/src/main/ballerina/http/http_push_promise.bal
  tests/ballerina-test-integration/src/test/resources/http2/http-2.0-server-push-test.bal
Labels: HTTP, component/stdlib

#7521 Update HTTP transport version
  pom.xml
Labels: HTTP, component/stdlib

#7505 Refactor Client Endpoint Implementation
  cli/ballerina-cli-utils/src/main/ballerina/packaging.pull/ballerina.pull.bal
  cli/ballerina-cli-utils/src/main/ballerina/packaging.push/ballerina.push.bal
  cli/ballerina-cli-utils/src/main/ballerina/packaging.search/ballerina.search.bal
  stdlib/ballerina-builtin/src/main/ballerina/transactions/connector_initiator.bal
  stdlib/ballerina-builtin/src/main/ballerina/transactions/connector_participant_2pc.bal
  stdlib/ballerina-http/src/main/ballerina/http/client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/failover_client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_load_balancer.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_secure_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/load_balance_client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/simple_client_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateSimpleHttpClient.java
  tests/ballerina-test-integration/src/test/resources/http2/http-2.0-server-push-test.bal
  tests/ballerina-test-integration/src/test/resources/httpService/ATMLocatorService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/accept-encoding-test.bal
  tests/ballerina-test-integration/src/test/resources/httpService/ecommerceService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/httpHeaderTest.bal
  tests/ballerina-test-integration/src/test/resources/httpService/httpMethodTest.bal
  tests/ballerina-test-integration/src/test/resources/httpService/passthrough_service.bal
  tests/ballerina-test-integration/src/test/resources/httpService/routingServices.bal
  tests/ballerina-test-integration/src/test/resources/observability/tracing/trace-test.bal
  tests/ballerina-test-integration/src/test/resources/transaction/initiator.bal
  tests/ballerina-test-integration/src/test/resources/transaction/participant1.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/taintchecking/connectors/HttpClientTest.java
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/failover-connector-test.bal
  tests/ballerina-test/src/test/resources/test-src/taintchecking/connectors/httpclient-negative.bal
  tests/ballerina-test/src/test/resources/test-src/taintchecking/connectors/httpclient.bal
  tests/ballerina-test/src/test/resources/test-src/workers/fork-join-blocking.bal
Labels: HTTP, component/stdlib

#7528 Fix code style issue in JMS package
  stdlib/ballerina-jms/src/main/ballerina/jms/connection.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/consumer.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/durable_topic_subscriber.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/jms_error.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/message.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/queue_receiver.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/queue_sender.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/session.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/simple_durable_topic_subscriber.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/simple_queue_receiver.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/simple_queue_sender.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/simple_topic_publisher.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/simple_topic_subscriber.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/topic_publisher.bal
  stdlib/ballerina-jms/src/main/ballerina/jms/topic_subscriber.bal
  stdlib/ballerina-jms/src/main/ballerina/mb/consumer.bal
  stdlib/ballerina-jms/src/main/ballerina/mb/mb_error.bal
  stdlib/ballerina-jms/src/main/ballerina/mb/message.bal
  stdlib/ballerina-jms/src/main/ballerina/mb/simple_durable_topic_subscriber.bal
  stdlib/ballerina-jms/src/main/ballerina/mb/simple_queue_receiver.bal
  stdlib/ballerina-jms/src/main/ballerina/mb/simple_queue_sender.bal
  stdlib/ballerina-jms/src/main/ballerina/mb/simple_topic_publisher.bal
  stdlib/ballerina-jms/src/main/ballerina/mb/simple_topic_subscriber.bal
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/Constants.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/receiver/CloseReceiver.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/receiver/CreateConsumer.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/receiver/RegisterMessageListener.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/receiver/action/Acknowledge.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/receiver/action/QueueReceive.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/sender/InitQueueSender.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/sender/action/Send.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/durable/subscriber/CloseSubscriber.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/durable/subscriber/CreateSubscriber.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/durable/subscriber/RegisterMessageListener.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/durable/subscriber/action/Acknowledge.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/durable/subscriber/action/Receive.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/publisher/InitTopicPublisher.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/publisher/action/Send.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/subscriber/CloseSubscriber.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/subscriber/CreateSubscriber.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/subscriber/RegisterMessageListener.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/subscriber/action/Acknowledge.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/subscriber/action/Receive.java
  stdlib/ballerina-jms/src/main/java/org/ballerinalang/net/jms/utils/BallerinaAdapter.java
Labels: JMS, component/stdlib

#7539 Update trace logs flags in composer
  composer/modules/server/services/ballerina-launcher/src/main/java/org/ballerinalang/composer/service/ballerina/launcher/service/Command.java
Labels: component/Composer

#7547 Fix struct types not rendered as a tree in debugger
  composer/modules/web/src/plugins/debugger/views/Frames/index.jsx
Labels: component/Composer

#7554 Remove file path usages from mime and http
  stdlib/ballerina-http/src/main/ballerina/http/http_request.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_response.bal
  stdlib/ballerina-mime/src/main/ballerina/mime/natives.bal
  tests/ballerina-test/src/test/resources/test-src/mime/mime-test.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-response.bal
Labels: HTTP, component/stdlib

#7499 Introduce a config param to control maximum streams per a connection
  stdlib/ballerina-http/src/main/ballerina/http/client_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateHttpClient.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateSimpleHttpClient.java
Labels: HTTP, component/stdlib

#7549 Add varargs support for print, println and printf
  benchmarks/benchmark/benchmark-executor.bal
  benchmarks/benchmark/benchmark-sprintf.bal
  stdlib/ballerina-builtin/src/main/ballerina/file/service.bal
  stdlib/ballerina-builtin/src/main/ballerina/file/service_endpoint.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/print.bal
  stdlib/ballerina-builtin/src/main/ballerina/transactions/2pc_transaction.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/PrintAny.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/PrintlnAny.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/Sprintf.java
  stdlib/ballerina-http/src/main/ballerina/http/http_caching_client.bal
  tests/ballerina-test-integration/src/test/resources/transaction/initiator.bal
  tests/ballerina-test-integration/src/test/resources/transaction/participant1.bal
  tests/ballerina-test-integration/src/test/resources/transaction/participant2.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/SystemTest.java
  tests/ballerina-test/src/test/resources/test-src/connectors/sql/sql_actions_negative_test.bal
  tests/ballerina-test/src/test/resources/test-src/connectors/sql/sql_actions_test.bal
  tests/ballerina-test/src/test/resources/test-src/nativeimpl/functions/system-test.bal
  tests/ballerina-test/src/test/resources/test-src/types/jsontype/json-test.bal
  tests/ballerina-test/src/test/resources/test-src/types/string/string-test.bal
  tests/ballerina-test/src/test/resources/test-src/types/table/table_type.bal
Labels: component/stdlib

#7561 Make header functions of PushPromise consistent with Request header functions
  stdlib/ballerina-http/src/main/ballerina/http/http_push_promise.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_request.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_response.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/GetHeaderNames.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/promise/HasHeader.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/nativeimpl/promise/PushPromiseNativeFunctionTest.java
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/promise/promise-native-function.bal
Labels: HTTP, component/stdlib

#7485 Rename 'filePath' to 'path' in keyStore and trustStore
  stdlib/ballerina-http/src/main/ballerina/http/http_commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/secure_listener.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  tests/ballerina-test-integration/src/test/resources/httpService/https_echo_service.bal
  tests/ballerina-test-integration/src/test/resources/mutualSSL/mutualSSLClient.bal
  tests/ballerina-test-integration/src/test/resources/mutualSSL/mutualSSLServer.bal
Labels: HTTP, component/stdlib

#7412 Add 308 redirect status code
  stdlib/ballerina-http/src/main/ballerina/http/http_connection.bal
  stdlib/ballerina-http/src/main/ballerina/http/response_status_codes.bal
Labels: HTTP, component/stdlib

#7623 Introduce failover option to load balancer client
  stdlib/ballerina-http/src/main/ballerina/http/http_load_balancer.bal
  stdlib/ballerina-http/src/main/ballerina/http/load_balance_client_endpoint.bal
Labels: HTTP, component/stdlib

#7612 Introduce singleton type for Accept-Encoding config
  stdlib/ballerina-http/src/main/ballerina/http/client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/failover_client_endpoint.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/load_balance_client_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/AcceptEncodingConfig.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  tests/ballerina-test-integration/src/test/resources/httpService/accept-encoding-test.bal
  tests/ballerina-test-integration/src/test/resources/testng.xml
Labels: HTTP, component/stdlib

#7367 Make listener actions non-blocking
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/DataContext.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/ConnectionAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Promise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/PushPromisedResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/observability/tracing/TracingTestCase.java
  tests/ballerina-test-integration/src/test/resources/httpService/ecommerceService.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/basics/NonBlockingListenerActionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/basics/SignatureTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/HTTPTestRequest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/testutils/Services.java
  tests/ballerina-test/src/test/resources/test-src/services/listener-action-test.bal
Labels: HTTP, component/stdlib

#7595 Make Request param optional in standard HTTP actions
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/CompletionTest.java
  stdlib/ballerina-builtin/src/main/ballerina/transactions/connector_initiator.bal
  stdlib/ballerina-builtin/src/main/ballerina/transactions/connector_participant_2pc.bal
  stdlib/ballerina-http/src/main/ballerina/http/commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/failover-connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_caching_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_circuit_breaker.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_load_balancer.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_retry_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_secure_client.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/listener/TestNGListener.java
  tests/ballerina-test-integration/src/test/resources/httpService/ATMLocatorService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/accept-encoding-test.bal
  tests/ballerina-test-integration/src/test/resources/httpService/ecommerceService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/httpHeaderTest.bal
  tests/ballerina-test-integration/src/test/resources/httpService/httpMethodTest.bal
  tests/ballerina-test-integration/src/test/resources/httpService/passthrough_service.bal
  tests/ballerina-test-integration/src/test/resources/httpService/routingServices.bal
  tests/ballerina-test-integration/src/test/resources/observability/tracing/trace-test.bal
  tests/ballerina-test-integration/src/test/resources/transaction/initiator.bal
  tests/ballerina-test-integration/src/test/resources/transaction/participant1.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/circuit-breaker-test.bal
  tests/ballerina-test/src/test/resources/test-src/net/http/resiliency/failover-connector-test.bal
  tests/ballerina-test/src/test/resources/test-src/taintchecking/connectors/httpclient-negative.bal
  tests/ballerina-test/src/test/resources/test-src/taintchecking/connectors/httpclient.bal
  tests/ballerina-test/src/test/resources/test-src/workers/fork-join-blocking.bal
Labels: HTTP, component/stdlib

#7625 Add shutdownInput and shutdownOutput functions for socket
  stdlib/ballerina-builtin/src/main/ballerina/io/socket.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/channels/SocketIOChannel.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/Close.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/OpenSecureSocket.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/ShutdownInput.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/ShutdownOutput.java
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/socket/SocketByteChannel.java
  tests/ballerina-test/src/test/resources/test-src/io/client_socket_io.bal
  tests/ballerina-test/src/test/resources/test-src/io/secure_client_socket_io.bal
Labels: component/stdlib

#7686 Fix service configuration test
  tests/ballerina-test/src/test/java/org/ballerinalang/test/config/ConfigTest.java
  tests/ballerina-test/src/test/resources/test-src/config/service_configuration.bal
Labels: HTTP, component/stdlib

#7690 Introduce optional parameters to payload operations
  cli/ballerina-cli-utils/src/main/ballerina/packaging.push/ballerina.push.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_request.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_response.bal
  stdlib/ballerina-mime/src/main/ballerina/mime/natives.bal
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetMediaType.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetBlob.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetBodyParts.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetByteChannel.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetJson.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetText.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetXml.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/contentdisposition/GetContentDispositionObject.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/contentdisposition/ToString.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/HeaderUtil.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MimeUtilityFunctionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MimeWithHttpTest.java
  tests/ballerina-test/src/test/resources/test-src/mime/mime-test.bal
  tests/ballerina-test/src/test/resources/test-src/mime/mime-with-http.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-request.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-response.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/request/in-request-native-function.bal
Labels: HTTP, component/stdlib

#7740 Fix add endpoints suggestions box
  composer/modules/server/services/ballerina-parser/src/main/java/org/ballerinalang/composer/service/ballerina/parser/service/util/ParserUtils.java
  composer/modules/web/src/plugins/ballerina/diagram/views/default/components/controllers/function-ctrl.jsx
  composer/modules/web/src/plugins/ballerina/interactions/lifeline-button.jsx
  composer/modules/web/src/plugins/ballerina/model/tree-util.js
Labels: component/Composer

#7731 Allow configuring maxFrameSize
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/http/annotation.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketService.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
Labels: HTTP, component/stdlib

#7762 [WebSocket] Optional finalFragment boolean argument for pushText and pushBinary actions
  pom.xml
  stdlib/ballerina-http/src/main/ballerina/http/websocket_connector.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ping.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Pong.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushBinary.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushText.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ready.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/server/WebSocketRemoteServer.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/util/websocket/server/WebSocketRemoteServerFrameHandler.java
Labels: HTTP, L1/L2 for May, Type/Task, component/stdlib

#7791 Change more to final in WebSocket resources
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_client_bound_to_endpoint.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onClose.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onText.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/fail_onText_param_count.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/success.bal
  tests/ballerina-test/src/test/resources/test-src/net/websocket/compilation/success_client.bal
Labels: HTTP, component/stdlib

#7693 Add getTable function to CsvChannel
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/GetTable.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/records/GetTableTest.java
  tests/ballerina-test/src/test/resources/test-src/io/csv_io.bal
  tests/ballerina-test/src/test/resources/test-src/io/record_io.bal
Labels: component/stdlib

#7760 Add unit tests for WebSocket
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketService.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/net/websocket/service/WebSocketServiceTest.java
  tests/ballerina-test/src/test/resources/testng.xml
Labels: HTTP, component/stdlib

#7780 Make requests and entities reusable
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/DataContext.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Delete.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Execute.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Forward.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Get.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetNextPromise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetPromisedResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Head.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Options.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Patch.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Post.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Put.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Submit.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Promise.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/PushPromisedResponse.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetBlob.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetBodyParts.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetByteChannel.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetJson.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetText.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/nativeimpl/SetXml.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/EntityBodyHandler.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/HTTPVerbsPassthruTestCases.java
  tests/ballerina-test-integration/src/test/java/org/ballerinalang/test/service/http/sample/TestReusabilityOfRequest.java
  tests/ballerina-test-integration/src/test/resources/httpService/test-reusability-of-request.bal
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/basics/ServiceTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/services/dispatching/DataBindingTest.java
Labels: HTTP, component/stdlib

#7738 Stop outbound request data write once inbound message received
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
Labels: HTTP, Type/Task, component/stdlib

#7814 Remove default listener port
  stdlib/ballerina-http/src/main/ballerina/http/service_endpoint.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
Labels: HTTP, component/stdlib

#7878 Rearrange try it request, response
  composer/modules/web/src/plugins/try-it/views/http-client.jsx
Labels: component/Composer

#7880 Update help menu links in ballerina composer
  composer/modules/web/src/config.js
Labels: component/Composer

#7767 Fix resiliency passthrough issues
  stdlib/ballerina-http/src/main/ballerina/http/commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/failover-connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_load_balancer.bal
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Forward.java
Labels: HTTP, component/stdlib

#7818 Add content-type header constant
  stdlib/ballerina-http/src/main/ballerina/http/http_headers.bal
Labels: HTTP, component/stdlib

#7898 Fix multipart boundary issue with equal sign
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/HeaderUtil.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MimeUtilityFunctionTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/mime/MultipartDecoderTest.java
  tests/ballerina-test/src/test/resources/test-src/mime/mime-test.bal
Labels: HTTP, component/stdlib

#7865 Return error object instead of specific errors in mime and http
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions3.json
  misc/testerina/modules/testerina-core/src/test/resources/servicemocktest2/event-service-client.bal
  stdlib/ballerina-http/src/main/ballerina/http/failover-connector.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_cache.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_commons.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_request.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_response.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_retry_client.bal
  stdlib/ballerina-mime/src/main/ballerina/mime/natives.bal
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  stdlib/ballerina-websub/src/main/ballerina/websub.hub/hub_service.bal
  stdlib/ballerina-websub/src/main/ballerina/websub/commons.bal
  stdlib/ballerina-websub/src/main/ballerina/websub/hub_caller_actions.bal
  tests/ballerina-test-integration/src/test/resources/http2/http-2.0-server-push-test.bal
  tests/ballerina-test-integration/src/test/resources/httpService/ATMLocatorService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/common_backend.bal
  tests/ballerina-test-integration/src/test/resources/httpService/ecommerceService.bal
  tests/ballerina-test-integration/src/test/resources/httpService/routingServices.bal
  tests/ballerina-test-integration/src/test/resources/httpService/test-reusability-of-request.bal
  tests/ballerina-test-integration/src/test/resources/mutualSSL/mutualSSLClient.bal
  tests/ballerina-test/src/test/resources/test-src/mime/mime-test.bal
  tests/ballerina-test/src/test/resources/test-src/mime/mime-with-http.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-request.bal
  tests/ballerina-test/src/test/resources/test-src/mime/multipart-response.bal
  tests/ballerina-test/src/test/resources/test-src/services/echo-service.bal
  tests/ballerina-test/src/test/resources/test-src/services/session/http-session-test.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/request/in-request-native-function-negative.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/request/in-request-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/response/in-response-native-function-negative.bal
  tests/ballerina-test/src/test/resources/test-src/statements/services/nativeimpl/response/in-response-native-function.bal
  tests/ballerina-test/src/test/resources/test-src/taintchecking/connectors/httpclient-negative.bal
  tests/ballerina-test/src/test/resources/test-src/taintchecking/connectors/httpclient.bal
Labels: HTTP, component/stdlib

#7836 Fix #7703 and #7704
  stdlib/ballerina-builtin/src/main/ballerina/io/byte_channel.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/character_channel.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/constants.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/csv_channel.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/natives.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/open.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/print.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/read.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/record_channel.bal
  stdlib/ballerina-builtin/src/main/ballerina/io/socket.bal
  stdlib/ballerina-builtin/src/main/java/org/ballerinalang/nativeimpl/io/PrintlnAny.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/nativeimpl/functions/io/records/CsvChannelTest.java
  tests/ballerina-test/src/test/resources/datafiles/io/records/sampleWithColon.txt
  tests/ballerina-test/src/test/resources/datafiles/io/records/sampleWithHeader.csv
  tests/ballerina-test/src/test/resources/test-src/io/csv_io.bal
Labels: Type/Bug, component/stdlib

#7889 Update welcome tab styles
  composer/modules/web/scss/modules/welcome.scss
  composer/modules/web/src/plugins/welcome-tab/views/welcome-tab.jsx
Labels: component/Composer

#7909 Update documentation according to the standard
  stdlib/ballerina-builtin/src/main/ballerina/file/service.bal
  stdlib/ballerina-builtin/src/main/ballerina/file/service_endpoint.bal
Labels: component/stdlib

#7991 Add composer create project wizard
  composer/modules/server/services/file-system/src/main/java/org/ballerinalang/composer/service/fs/service/FileSystemService.java
  composer/modules/server/services/file-system/src/main/java/org/ballerinalang/composer/service/fs/service/request/CreateProjectRequest.java
  composer/modules/web/src/core/workspace/commands.js
  composer/modules/web/src/core/workspace/constants.js
  composer/modules/web/src/core/workspace/dialogs/CreateProjectDialog.jsx
  composer/modules/web/src/core/workspace/fs-util.js
  composer/modules/web/src/core/workspace/handlers.js
  composer/modules/web/src/core/workspace/menus.js
  composer/modules/web/src/core/workspace/plugin.js
  composer/modules/web/src/plugins/welcome-tab/plugin.js
  tool-plugins/vscode/plugin/package.json
Labels: component/Composer

#8015 Bump http transport version to 6.0.156
  pom.xml
Labels: HTTP, component/stdlib

#8022 Fix issue in execute action
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Delete.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Execute.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Forward.java
Labels: HTTP, component/stdlib

#8097 [Merge with transport 6.0.159 ] Fix overflow error in content length
  pom.xml
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/serviceendpoint/InitEndpoint.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/EntityBodyHandler.java
  stdlib/ballerina-mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
Labels: HTTP, component/stdlib

#8031 Add doc annotation for endpoint
  stdlib/ballerina-builtin/src/main/ballerina/file/service_endpoint.bal
Labels: component/stdlib

#8096 [WebSocket] Fix connection closing issue
  pom.xml
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketOpenConnectionInfo.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/AcceptWebSocketUpgrade.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ping.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Pong.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushBinary.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushText.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ready.java
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/Start.java
Labels: HTTP, L1/L2 for May, Type/Bug, component/stdlib

#8136 Fix duplicate header issue in reusable request object
  stdlib/ballerina-http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
Labels: HTTP, component/stdlib

#8156 Change ballerina.config.secret -> b7a.config.secret
  stdlib/ballerina-builtin/src/main/ballerina/auth/Package.md
  stdlib/ballerina-builtin/src/main/ballerina/config/Package.md
  stdlib/ballerina-builtin/src/main/ballerina/crypto/Package.md
  stdlib/ballerina-builtin/src/main/ballerina/file/Package.md
  stdlib/ballerina-builtin/src/main/ballerina/io/Package.md
  stdlib/ballerina-builtin/src/main/ballerina/log/Package.md
  stdlib/ballerina-builtin/src/main/ballerina/system/Package.md
  stdlib/ballerina-config/src/main/java/org/ballerinalang/config/ConfigRegistry.java
  stdlib/ballerina-database/src/main/ballerina/jdbc/Package.md
  stdlib/ballerina-jms/src/main/ballerina/mb/Package.md
  tests/ballerina-test/src/test/java/org/ballerinalang/test/auth/AuthnHandlerChainTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/auth/AuthnHandlerTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/auth/ConfigAuthProviderTest.java
  tests/ballerina-test/src/test/java/org/ballerinalang/test/config/EncryptedConfigsTest.java
Labels: component/stdlib

#8210 Update api doc comments of caching_client, circuit_breaker, load_balancer
  stdlib/ballerina-http/src/main/ballerina/http/http_caching_client.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_circuit_breaker.bal
  stdlib/ballerina-http/src/main/ballerina/http/http_load_balancer.bal
Labels: HTTP, component/stdlib
