Repository ballerina-platform/ballerina-lang, pull requests merged in 2019-03, with the labels that each got.

#14026 [WIP] Module resolution capability to JVM Codegen.
  compiler/ballerina-backend-jvm/pom.xml
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/main.bal
  compiler/ballerina-backend-jvm/src/main/java/org/ballerinalang/compiler/backend/jvm/JVMCodeGen.java
  distribution/zip/ballerina-tools/pom.xml
  distribution/zip/ballerina-tools/src/assembly/bin.xml
  pom.xml
  stdlib/bir/pom.xml
  stdlib/bir/src/main/ballerina/bir/bir_context.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/java/org/ballerinalang/nativeimpl/bir/BIRModuleUtils.java
  stdlib/bir/src/main/java/org/ballerinalang/nativeimpl/bir/GetBIRModuleBinary.java
Labels: Component/JBallerina, Type/Task

#14031 Add map value support
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
Labels: Component/JBallerina

#14006 Support building modules with jvmTarget flag
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/types/BRecordType.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/BuildCommand.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/main.bal
  compiler/ballerina-backend-jvm/src/main/java/org/ballerinalang/compiler/backend/jvm/JVMCodeGen.java
  pom.xml
  stdlib/bir/src/main/ballerina/bir/bir_channel_io.bal
  stdlib/bir/src/main/ballerina/bir/bir_pkg_parser.bal
Labels: Component/JBallerina, Type/Task

#14055 Fix LS completions request debouncer not working as expected
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/Debouncer.java
Labels: Component/LanguageServer, Type/Bug

#13747 Decouple connection pool with gRPC client
  examples/grpc-bidirectional-streaming/grpc_bidirectional_streaming_pb.bal
  examples/grpc-client-streaming/grpc_client_streaming_pb.bal
  examples/grpc-secured-unary/grpc_secured_unary_pb.bal
  examples/grpc-server-streaming/grpc_server_streaming_pb.bal
  examples/grpc-unary-blocking/grpc_unary_blocking_pb.bal
  examples/grpc-unary-non-blocking/grpc_unary_non_blocking_pb.bal
  stdlib/grpc/pom.xml
  stdlib/grpc/src/main/ballerina/grpc/client_connection_pool.bal
  stdlib/grpc/src/main/ballerina/grpc/client_endpoint.bal
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/clientendpoint/Init.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/clientendpoint/InitGlobalPool.java
  stdlib/grpc/src/main/resources/templates/skeleton/clientStub.mustache
  stdlib/grpc/src/test/java/org/ballerinalang/net/grpc/ConnectionPoolTestCase.java
  stdlib/grpc/src/test/resources/test-src/client_connection_pool.bal
  stdlib/grpc/src/test/resources/testng.xml
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateSimpleHttpClient.java
  tests/ballerina-integration-test/src/test/resources/grpc/clients/advanced_type_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/array_field_type_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/bidirectional_streaming_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/client_streaming_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/grpc_byte_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/grpc_client_socket_timeout.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/grpc_enum_test_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/grpc_oneof_field_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/grpc_secured_unary_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/grpc_ssl_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/invalid_resource_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/server_streaming_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/unary_blocking_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/unary_client_with_error_return.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/unary_client_with_headers.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/unary_nonblocking_client.bal
  tests/ballerina-integration-test/src/test/resources/grpc/clients/unavailable_service_client.bal
  tests/ballerina-tools-integration-test/src/test/resources/grpc/nested_type_client.bal
Labels: Component/gRPC

#14084 Add ballerina runtime jar content with generated jar
  compiler/ballerina-backend-jvm/src/main/java/org/ballerinalang/compiler/backend/jvm/JVMCodeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/ProjectDirConstants.java
Labels: Component/JBallerina, Type/Task

#14071 Add map load support
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
Labels: Component/JBallerina

#14077 Add array value load support
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/StreamingJsonValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
Labels: Component/JBallerina

#13932 Introduce Error binding patterns
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/statements/ErrorDestructureNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangErrorVariable.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/statements/BLangErrorDestructure.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/ErrorVariableReferenceTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/foreach/ForeachErrorBindingPatternsTests.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/matchstmt/MatchStructuredErrorPatternsTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/matchstmt/MatchStructuredPatternsTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ErrorVariableDefinitionTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach_errors.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach_errors_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/matchstmt/structured_error_match_patterns.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/matchstmt/structured_error_match_patterns_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/matchstmt/structured_match_patterns_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/error_variable_definition_stmt.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/error_variable_definition_stmt_negative.bal
Labels: Component/Compiler, Type/New Feature

#14119 Add array params and boolean type support
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
Labels: Component/JBallerina

#14120 Add object value class generation
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/ObjectValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BValueArray.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_value_gen.bal
  stdlib/builtin/src/main/ballerina/builtin/stringlib.bal
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/HashCode.java
  stdlib/jvm/spotbugs-exclude.xml
  stdlib/jvm/src/main/java/org/ballerinalang/nativeimpl/jvm/classwriter/Visit.java
Labels: Component/JBallerina

#14123 Fix unit test module for gradle build
  bvm/ballerina-core/build.gradle
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/ProjectDirConstants.java
  distribution/zip/ballerina/build.gradle
  stdlib/config-api/build.gradle
  stdlib/io/build.gradle
  stdlib/mime/build.gradle
  tests/ballerina-unit-test/build.gradle
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/BaloCreator.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/main/function/ArgumentParserPositiveTest.java
Labels: Component/Build

#14136 Update `andes-client` version
  pom.xml
Labels: dependencies

#14149 Add support for remaining types
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/jvm/src/main/java/org/ballerinalang/nativeimpl/jvm/methodvisitor/VisitLdcInsn.java
Labels: Component/JBallerina

#14083 Allow client objects with no remote methods
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/endpoint/ClientObjectTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/endpoint/new/remote_basic_negative.bal
Labels: Component/Compiler

#14143 Support error constructor in BIR and JVM target
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BErrorType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BTypes.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BErrorType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ErrorValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIREmitter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNonTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/InstructionKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  stdlib/bir/src/main/ballerina/bir/bir_emitter.bal
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/ins_codes.bal
Labels: Component/JBallerina

#14163 Update syntax for an array with an array length that is implied
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Constants.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  examples/arrays/arrays.bal
  tests/ballerina-spec-conformance-tests/S05_structured_values/tests/deviations/arrays.bal
  tests/ballerina-spec-conformance-tests/S05_structured_values/tests/lists/arrays/array_type_descriptors.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/SealedArrayTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/arraysofarrays/SealedArraysOfArraysTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/foo/global_arrays.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/equal_and_not_equal_operation.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-mutability.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/arraysofarrays/negative-sealed-arrays-of-arrays.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/arraysofarrays/sealed-arrays-of-arrays.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/sealed-array-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/sealed-array.bal
  tool-plugins/intellij/src/test/resources/testData/formatting/BBE/examples/arrays/arrays.bal
  tool-plugins/intellij/src/test/resources/testData/formatting/BBE/expectedResults/arrays/arrays.bal
Labels: Component/Compiler, Type/Improvement

#14130 Remove Symbolic string literals support from compiler
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  examples/index.json
  examples/symbolic-string-literal/symbolic_string_literal.bal
  examples/symbolic-string-literal/symbolic_string_literal.description
  examples/symbolic-string-literal/symbolic_string_literal.out
  examples/symbolic-string-literal/tests/symbolic_string_literal_test.bal
  tests/ballerina-spec-conformance-tests/S05_simple_values/tests/string.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/string/SymbolicStringNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/string/SymbolicStringTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/string/symbolic-string-negative-test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/string/symbolic-string-test.bal
  tool-plugins/intellij/src/main/gen/io/ballerina/plugins/idea/psi/BallerinaSimpleLiteral.java
  tool-plugins/intellij/src/main/gen/io/ballerina/plugins/idea/psi/impl/BallerinaSimpleLiteralImpl.java
  tool-plugins/intellij/src/main/java/io/ballerina/plugins/idea/grammar/BallerinaLexer.g4
  tool-plugins/intellij/src/main/java/io/ballerina/plugins/idea/grammar/BallerinaParser.g4
  tool-plugins/intellij/src/test/resources/testData/lexer/BBE/expectedResults/symbolic-string-literal/symbolic_string_literal.txt
  tool-plugins/intellij/src/test/resources/testData/parsing/BBE/expectedResults/symbolic-string-literal/symbolic_string_literal.txt
Labels: Component/Compiler

#14080 Use hashset instead of treeset to resolve duplicate record literal keys
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordNegativeTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/record/open_record_duplicated_key.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/matchstmt/static_match_patterns.bal
Labels: Component/Compiler

#14022 Update metrics registry with correct descriptions
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/metrics/BallerinaMetricsObserver.java
Labels: Component/Observability

#14116 Remove `guice` dependency
  pom.xml
Labels: dependencies

#14199 Remove `apache-mime4j-core` dependency
  distribution/zip/ballerina/src/assembly/bin.xml
  pom.xml
Labels: dependencies

#14164 Fix issues in XML grammar
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals.bal
Labels: Type/Bug

#14223 Add attached function info to the object type
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BAttachedFunction.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BFunctionType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BObjectType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/AbstractObjectValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ObjectValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_value_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/main.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/serializer.bal
  stdlib/jvm/src/main/java/org/ballerinalang/nativeimpl/jvm/classwriter/Visit.java
Labels: Component/JBallerina

#14274 Bug fixes and enable few test cases and compile errors to compileResult
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/BuilderUtils.java
  compiler/ballerina-backend-jvm/src/main/java/org/ballerinalang/compiler/backend/jvm/JVMCodeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BinaryFileWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/Compiler.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
  tests/ballerina-unit-test/src/test/resources/testng.xml
Labels: Component/JBallerina

#13724 Introduce state persistence for Ballerina streams
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/BPacket.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/JsonSerializer.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/providers/bvalue/BMapBValueProvider.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/providers/bvalue/BTypeBValueProviders.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/providers/bvalue/BValueArrayBValueProvider.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/util/serializer/providers/bvalue/LinkedHashSetBValueProvider.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/StreamingCodeDesugar.java
  stdlib/streams/build.gradle
  stdlib/streams/pom.xml
  stdlib/streams/src/main/ballerina/streams/aggregators.bal
  stdlib/streams/src/main/ballerina/streams/collections.bal
  stdlib/streams/src/main/ballerina/streams/select.bal
  stdlib/streams/src/main/ballerina/streams/snapshot.bal
  stdlib/streams/src/main/ballerina/streams/stream-event.bal
  stdlib/streams/src/main/ballerina/streams/utils.bal
  stdlib/streams/src/main/ballerina/streams/windows.bal
  stdlib/streams/src/main/java/org/ballerinalang/nativeimpl/Deserialize.java
  stdlib/streams/src/main/java/org/ballerinalang/nativeimpl/Serialize.java
  stdlib/streams/src/test/java/org/ballerinalang/stdlib/streams/BallerinaStreamsV2StatePersistenceTest.java
  stdlib/streams/src/test/resources/test-src/streamingv2-state-persistence-test.bal
Labels: Component/Compiler, Component/Streams, Type/New Feature

#14190 [DO NOT MERGE] [Messaging] NATS Module
  distribution/zip/ballerina/pom.xml
  distribution/zip/ballerina/src/assembly/bin.xml
  examples/nats-basic-client/nats_client.description
  examples/nats-basic-client/nats_client.out
  examples/nats-basic-client/publisher.bal
  examples/nats-basic-client/subscriber.bal
  pom.xml
  stdlib/nats/assembly/balo.xml
  stdlib/nats/assembly/source.xml
  stdlib/nats/pom.xml
  stdlib/nats/spotbugs-exclude.xml
  stdlib/nats/src/main/ballerina/Ballerina.toml
  stdlib/nats/src/main/ballerina/nats/Module.md
  stdlib/nats/src/main/ballerina/nats/connection/config.bal
  stdlib/nats/src/main/ballerina/nats/connection/connection.bal
  stdlib/nats/src/main/ballerina/nats/consumer/config.bal
  stdlib/nats/src/main/ballerina/nats/consumer/consumer.bal
  stdlib/nats/src/main/ballerina/nats/error.bal
  stdlib/nats/src/main/ballerina/nats/message/message.bal
  stdlib/nats/src/main/ballerina/nats/producer/producer.bal
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/Constants.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/Utils.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/connection/Init.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/consumer/Create.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/consumer/Listener.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/producer/Send.java
Labels: Component/Messaging, Component/stdlib

#14178 Fix testerina and spec conformance tests for gradle build
  gradle/balNativeLibProject.gradle
  gradle/javaProject.gradle
  gradle/javaProjectWithExtBalo.gradle
  misc/testerina/modules/testerina-core/build.gradle
  settings.gradle
  tests/ballerina-spec-conformance-tests/build.gradle
  tests/ballerina-unit-test/build.gradle
Labels: Component/Build

#14069 Support const expression in match statement
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/BConstantSymbol.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/matchstmt/MatchStatementStaticPatternsTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/statements/matchstmt/static_match_patterns.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/matchstmt/static_match_patterns_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/matchstmt/unreachable_static_match_patterns_negative.bal
Labels: Component/Compiler

#14121 Add partial text-document sync for LS
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/ExtendedWorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocument.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManager.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-compiler/src/test/java/org/ballerinalang/langserver/compiler/workspace/ExtendedWorkspaceDocumentManagerImplTest.java
  language-server/modules/langserver-compiler/src/test/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManagerImplTest.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
Labels: Component/LanguageServer, Type/Improvement

#14265 Tuple type support in JVM target
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTupleType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/TypeConstants.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
Labels: Component/JBallerina

#13920 Extend global variable forward referencing analysis to object and service definitions
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/cyclefind/GlobalVariableRefAnalyzer.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/forwardreference/ForwardReferenceListenerVarTest.java
  tests/ballerina-integration-test/src/test/resources/forwardreference/forward_ref_service.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ForwardReferencingGlobalDefinitionTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/globalcycle/viaservice/file01.bal
Labels: Component/Compiler

#14277 [WIP] Add is like and is checks
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIREmitter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNonTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/InstructionKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  stdlib/bir/src/main/ballerina/bir/bir_emitter.bal
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/ins_codes.bal
Labels: Component/JBallerina

#14284 Fix function calls with void return
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
Labels: Component/JBallerina

#14278 Fix unit test cache updating issue
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/util/BCompileUtil.java
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/util/BFileUtil.java
  tests/ballerina-spec-conformance-tests/build.gradle
  tests/ballerina-unit-test/build.gradle
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/BaloCreator.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/annotation/AnnotationTests.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/constant/ConstantNegativeTests.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/constant/ConstantTests.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/documentation/DocumentationTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/functions/FunctionPointersTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/functions/FunctionSignatureInBaloTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/globalvar/GlobalVarFunctionInBaloTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/globalvar/GlobalVarServiceInBaloTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/ObjectInBaloTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/RemoteObjectBaloTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/record/ClosedRecordTypeReferenceTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/record/OpenRecordTypeReferenceTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/record/RecordInBaloTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/types/FiniteTypeTest.java
Labels: Component/Build

#14291 Fix checkstyle and build issues
  stdlib/bir/src/main/java/org/ballerinalang/nativeimpl/bir/GetBIRModuleBinary.java
  stdlib/bir/src/test/java/org/ballerinalang/stdlib/io/bir/TypeGenTest.java
Labels: Component/JBallerina

#13931 Fix several issues with finite types and allow the type test/guard with intersecting unions
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BVM.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeNarrower.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BFiniteType.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/types/FiniteTypeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/error/ErrorTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/TypeTestExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/NumericConversionTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExpressionsTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayAccessExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/SealedArrayTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/ifelse/TypeGuardTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/ConstantAccessNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/ConstantNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/finite/FiniteTypeNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/finite/FiniteTypeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/BasicTupleTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/TupleAccessExprTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/balo/test_balo/types/finite_type_test.bal
  tests/ballerina-unit-test/src/test/resources/test-src/balo/test_projects/finite_type_project/foo/finite_type_definitions.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/type-test-expr-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/type-test-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/numeric_conversion.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/type_cast_expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/type_cast_expr_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/array-access-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/incorrect-array-access.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/arrays/sealed-array-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/ifelse/type-guard.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/finite/finite-type.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/finite/finite_type_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple_access_expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple_negative_test.bal
Labels: Component/Compiler

#14314 Cleanup bir model
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIREmitter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGenEnv.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNonTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/InstructionKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/VarScope.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Names.java
  stdlib/bir/src/main/ballerina/bir/bir_channel_io.bal
  stdlib/bir/src/main/ballerina/bir/bir_cp_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_emitter.bal
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/bir_pkg_parser.bal
  stdlib/bir/src/main/ballerina/bir/ins_codes.bal
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
Labels: Component/JBallerina

#14330 Add support for package level variables
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BinaryFileWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  stdlib/bir/src/main/ballerina/bir/bir_pkg_parser.bal
  stdlib/http/src/test/resources/datafiles/file.xml
  stdlib/io/src/test/resources/datafiles/io/text/cd_catalog.xml
  stdlib/mime/src/test/resources/datafiles/file.xml
Labels: Component/JBallerina

#13719 Support index based access via expressions for record type
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordAccessWithIndexTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/structs/StructAccessWithIndexTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/record/record_access_dynamic_index_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/record_access_with_index.bal
  tests/ballerina-unit-test/src/test/resources/test-src/record/record_access_with_index_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/structs/struct-access-dynamic-index-negative.bal
Labels: Component/Compiler, Type/Spec Deviation

#14182 Allow/fix casting and type test with errors
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BVM.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BErrorType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/GrpcConstants.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/stubs/BlockingStub.java
  tests/ballerina-spec-conformance-tests/S05_structured_values/tests/deviations/structured_values.bal
  tests/ballerina-spec-conformance-tests/S05_structured_values/tests/structured_values.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/TypeTestExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExpressionsTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectEquivalencyTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/ifelse/TypeGuardTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/matchstmt/MatchStructuredErrorPatternsTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/type-test-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/type_cast_expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/object-equivalency.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/ifelse/type-guard.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/matchstmt/structured_error_match_patterns.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/transaction/transaction_stmt.bal
Labels: Component/Compiler

#14403 Exclude woodstox related dependencies from unit-test-utils
  tests/ballerina-test-utils/pom.xml
Labels: Component/JBallerina

#14267 Add type cast support
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/ProgramFile.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_cast_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/CompileResult.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/jvm/JBallerinaInMemoryClassLoader.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypeTestExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypesTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/jvm/type-test-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/jvm/types.bal
Labels: Component/JBallerina

#14421 Fix recursive module init and import support in jvm target
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/main.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
Labels: Component/JBallerina

#14349 Add Module.md to Privacy stdlib
  stdlib/privacy/src/main/ballerina/privacy/Module.md
Labels: Component/stdlib

#14495 Remove backend-llvm module from tools dist dependency
  distribution/zip/ballerina-tools/pom.xml
Labels: Component/JBallerina

#14491 Fix socket intermittent issue
  tests/ballerina-integration-test/src/test/resources/socket/services/02_server_socket_join_departure.bal
Labels: Component/stdlib

#14510 Update gradle build to jvm target changes
  bvm/ballerina-runtime/build.gradle
  cli/ballerina-packerina/build.gradle
  compiler/ballerina-backend-jvm/build.gradle
  distribution/zip/ballerina-tools/build.gradle
  distribution/zip/ballerina/build.gradle
  language-server/modules/langserver-core/build.gradle
  misc/testerina/modules/testerina-core/build.gradle
  settings.gradle
  stdlib/auth/build.gradle
  stdlib/bir/build.gradle
  stdlib/encoding/build.gradle
  stdlib/grpc/build.gradle
  stdlib/http/build.gradle
  stdlib/internal/build.gradle
  stdlib/jvm/build.gradle
  stdlib/runtime-api/build.gradle
  stdlib/streams/build.gradle
  stdlib/transactions/build.gradle
  stdlib/websub/build.gradle
  tests/ballerina-compiler-plugin-test/build.gradle
  tests/ballerina-integration-test/build.gradle
  tests/ballerina-spec-conformance-tests/build.gradle
  tests/ballerina-test-utils/build.gradle
  tests/ballerina-tools-integration-test/build.gradle
  tests/ballerina-unit-test/build.gradle
Labels: Component/JBallerina

#14420 Remove content type validation from request/response payload getters
  examples/different-payload-types/different_payload_types.bal
  examples/http-caching-client/tests/http_caching_client_test.bal
  examples/secured-client-with-basic-auth/secured_client_with_basic_auth.bal
  examples/secured-client-with-jwt-auth/secured_client_with_jwt_auth.bal
  examples/secured-client-with-oauth2/secured_client_with_oauth2.bal
  examples/websub-hub-client-sample/subscriber_service.bal
  examples/websub-internal-hub-sample/subscriber.bal
  examples/websub-remote-hub-sample/subscriber.bal
  examples/websub-service-integration-sample/subscriber.bal
  language-server/modules/langserver-core/src/test/resources/completion/function/errorLiftingSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/completionBeforeUnderscore2.json
  stdlib/http/src/main/ballerina/http/http_request.bal
  stdlib/http/src/main/ballerina/http/http_response.bal
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/basics/ServiceTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/request/RequestNativeFunctionNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/response/ResponseNativeFunctionNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/response/ResponseNativeFunctionSuccessTest.java
  stdlib/http/src/test/resources/test-src/services/nativeimpl/request/get_request_as_string_and_json.bal
  stdlib/mime/src/main/ballerina/mime/natives.bal
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/AbstractGetPayloadHandler.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetBodyAsString.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetJson.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetText.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetXml.java
  stdlib/mime/src/test/java/org/ballerinalang/stdlib/mime/MimeUtilityFunctionTest.java
  stdlib/mime/src/test/resources/test-src/mime-test.bal
  stdlib/websub/src/main/ballerina/websub/commons.bal
  stdlib/websub/src/main/ballerina/websub/hub_service.bal
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HTTPClientActionsTestCase.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/01_100_continue.bal
  tests/ballerina-integration-test/src/test/resources/http/httpservices/08_http_client_actions.bal
  tests/ballerina-integration-test/src/test/resources/http/httpservices/16_idle_timeout.bal
  tests/ballerina-integration-test/src/test/resources/websub/test_subscriber.bal
Labels: Component/stdlib, Type/Improvement

#14542 Add license headers to bal files
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_cast_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_label_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_value_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/main.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/TypeVisitor.java
  stdlib/bir/src/main/ballerina/bir/bir_channel_io.bal
  stdlib/bir/src/main/ballerina/bir/bir_context.bal
  stdlib/bir/src/main/ballerina/bir/bir_cp_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_emitter.bal
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/bir_pkg_parser.bal
  stdlib/bir/src/main/ballerina/bir/channel_io.bal
  stdlib/bir/src/main/ballerina/bir/ins_codes.bal
  stdlib/bir/src/main/ballerina/bir/serializer.bal
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
  stdlib/jvm/src/main/ballerina/jvm/types.bal
  tests/ballerina-unit-test/src/test/resources/test-src/jvm/type-test-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/jvm/types.bal
Labels: Component/JBallerina

#14571 Add formatting support for trap and panic
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedPanic.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedTrap.bal
  language-server/modules/langserver-core/src/test/resources/formatting/panic.bal
  language-server/modules/langserver-core/src/test/resources/formatting/trap.bal
Labels: Component/Formatting, Type/Improvement

#14534 Fix WebSocket intermittent test failure
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/ClientInitializationFailureTest.java
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/09_client_failure.bal
Labels: Component/WebSocket, Component/stdlib

#14528 Add Jballerina tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypesTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/jvm/types.bal
  tests/ballerina-unit-test/src/test/resources/testng.xml
Labels: Component/JBallerina

#14122 Fix code lenses tends to shift up-and-down due to compilation errors
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/DocumentServiceKeys.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/common/modal/BallerinaFile.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/ExtendedWorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocument.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManager.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/CodeLensUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/MessageExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/FilterUtils.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/TreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/diagnostic/DiagnosticsHelper.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureTreeVisitor.java
Labels: Component/LanguageServer, Type/Bug

#14486 Add proper documentation to streams module components
  stdlib/streams/src/main/ballerina/streams/aggregators.bal
  stdlib/streams/src/main/ballerina/streams/collections.bal
  stdlib/streams/src/main/ballerina/streams/constants.bal
  stdlib/streams/src/main/ballerina/streams/filter.bal
  stdlib/streams/src/main/ballerina/streams/order-by.bal
  stdlib/streams/src/main/ballerina/streams/output-processor.bal
  stdlib/streams/src/main/ballerina/streams/scheduler.bal
  stdlib/streams/src/main/ballerina/streams/select.bal
  stdlib/streams/src/main/ballerina/streams/stream-event.bal
  stdlib/streams/src/main/ballerina/streams/stream-join-processor.bal
  stdlib/streams/src/main/ballerina/streams/table-join-processor.bal
  stdlib/streams/src/main/ballerina/streams/utils.bal
  stdlib/streams/src/main/ballerina/streams/windows.bal
Labels: Component/Streams

#14611 Minor fixes for Gradle to work in IntelliJ
  gradle/javaProjectWithExtBalo.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: Component/Build

#14434 Enable jacoco for gradle build
  gradle/javaProject.gradle
Labels: Component/Build

#14502 Remove redundant type test and fix typos
  examples/byte-io/byte_io.bal
  examples/xml-io/xml_io.bal
Labels: Component/Examples

#14622 Remove redundant AuthenticationContext under old runtime module
  stdlib/runtime/src/main/java/org/ballerinalang/stdlib/runtime/nativeimpl/AuthenticationContext.java
Labels: Component/JBallerina

#14220 Allow returning errors from object __init()
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BVM.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/TypeTags.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompiledPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangUnionTypeNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/TypeTags.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  misc/docerina/src/test/java/org/ballerinalang/docgen/docs/HtmlDocTest.java
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
  stdlib/http/src/test/resources/test-src/resiliency/circuit-breaker-test.bal
  stdlib/http/src/test/resources/test-src/resiliency/failover-connector-test.bal
  stdlib/messaging/activemq-artemis/src/main/ballerina/artemis/message.bal
  stdlib/streams/src/main/ballerina/streams/collections.bal
  stdlib/streams/src/main/ballerina/streams/stream-event.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/debugger/VMDebuggerTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkedexpr/CheckedExprNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectInitializerTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueNegativeTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/object/init/object-initializer.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/initializers/init.bal
  tests/ballerina-unit-test/src/test/resources/test-src/object/object_initializer_negative.bal
Labels: Component/BVM, Component/Compiler

#14631 Add BIR generation for future type and start construct
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIREmitter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/InstructionKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/TypeVisitor.java
  stdlib/bir/bin/test/test-src/bir/types.bal
  stdlib/bir/src/main/ballerina/bir/bir_emitter.bal
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/ins_codes.bal
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
Labels: Component/JBallerina

#14638 Fix ArrayTest failure
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayTest.java
Labels: Priority/Highest

#14473 Change exit code of ballerina push to error exit code (1) if an error occurs while pushing the module to Ballerina Central
  cli/ballerina-cli-utils/src/main/ballerina/packaging_push/packaging_push.bal
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/PushUtils.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/PushCommand.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/packaging/converters/URIConverter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/RepoUtils.java
Labels: Component/CLI

#14641 Add formatting support for index access
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedIndexBasedAccess.bal
  language-server/modules/langserver-core/src/test/resources/formatting/indexBasedAccess.bal
Labels: Component/Formatting

#14496 Update BalRun and BalxRun tests to use runMainAndReadStdOut
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/run/BalRunFunctionPositiveTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/run/BalxRunFunctionPositiveTestCase.java
Labels: Component/BVM, Component/CLI

#14655 Restrict usages of 'default' since it is used to define the default worker in a function
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  examples/config-api/config_api.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedWorker.bal
  language-server/modules/langserver-core/src/test/resources/formatting/worker.bal
  misc/metrics-extensions/modules/ballerina-prometheus-extension/src/main/ballerina/prometheus/reporter.bal
  stdlib/auth/src/main/ballerina/auth/config_auth_store_provider.bal
  stdlib/config-api/src/main/ballerina/config/config.bal
  stdlib/database/sql/src/main/ballerina/sql/types.bal
  stdlib/grpc/src/main/ballerina/grpc/client_connection_pool.bal
  stdlib/http/src/main/ballerina/http/http_client_connection_pool.bal
  stdlib/streams/src/main/ballerina/streams/snapshot.bal
  stdlib/transactions/src/main/ballerina/transactions/constants.bal
  stdlib/websub/src/main/ballerina/websub/commons.bal
  stdlib/websub/src/main/ballerina/websub/hub_configuration.bal
  stdlib/websub/src/main/ballerina/websub/hub_service.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WorkerFailTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/workers/invalid-usage-of-default.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/invalid-worker-as-default.bal
Labels: Component/Compiler

#14281 XML interpolation expression improvement
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLItem.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  examples/xml-literal/xml_literal.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAttributesTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLNativeFunctionTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/statements/comment/comments.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/xml-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/xml.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-attributes.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-invalid-syntax-1.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals-with-namespaces.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-native-functions.bal
Labels: Component/BVM, Component/Compiler

#14671 Add compiler plugin for Artemis Listener service
  distribution/zip/ballerina/build.gradle
  stdlib/messaging/activemq-artemis/build.gradle
  stdlib/messaging/activemq-artemis/pom.xml
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/ArtemisConstants.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/ArtemisServiceCompilerPlugin.java
  stdlib/messaging/activemq-artemis/src/main/resources/META-INF/services/org.ballerinalang.compiler.plugins.CompilerPlugin
  stdlib/messaging/activemq-artemis/src/test/java/org/ballerinalang/messaging/artemis/ArtemisCompilationTest.java
  stdlib/messaging/activemq-artemis/src/test/resources/test-src/artemis_different_resource_param.bal
  stdlib/messaging/activemq-artemis/src/test/resources/test-src/artemis_mandatory_service_annotation.bal
  stdlib/messaging/activemq-artemis/src/test/resources/test-src/artemis_more_resource_params.bal
  stdlib/messaging/activemq-artemis/src/test/resources/test-src/artemis_more_resources.bal
  stdlib/messaging/activemq-artemis/src/test/resources/test-src/artemis_more_service_annotation.bal
  stdlib/messaging/activemq-artemis/src/test/resources/test-src/artemis_no_resource_params.bal
  stdlib/messaging/activemq-artemis/src/test/resources/test-src/artemis_resource_return.bal
  stdlib/messaging/activemq-artemis/src/test/resources/test-src/artemis_success.bal
  stdlib/messaging/activemq-artemis/src/test/resources/testng.xml
  tests/ballerina-integration-test/build.gradle
Labels: Component/Messaging, Component/stdlib

#14657 Add byte support for jballerina
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/MapValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_cast_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypesTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/jvm/types.bal
Labels: Component/JBallerina

#14669 Add NATS module
  distribution/zip/ballerina/build.gradle
  distribution/zip/ballerina/pom.xml
  distribution/zip/ballerina/src/assembly/bin.xml
  examples/index.json
  examples/nats-basic-client/nats_client.description
  examples/nats-basic-client/publisher.bal
  examples/nats-basic-client/publisher.out
  examples/nats-basic-client/subscriber.bal
  examples/nats-basic-client/subscriber.out
  language-server/modules/langserver-compiler/build.gradle
  language-server/modules/langserver-compiler/pom.xml
  language-server/modules/langserver-core/build.gradle
  pom.xml
  settings.gradle
  stdlib/nats/assembly/balo.xml
  stdlib/nats/assembly/source.xml
  stdlib/nats/build.gradle
  stdlib/nats/pom.xml
  stdlib/nats/spotbugs-exclude.xml
  stdlib/nats/src/main/ballerina/Ballerina.toml
  stdlib/nats/src/main/ballerina/nats/Module.md
  stdlib/nats/src/main/ballerina/nats/connection/config.bal
  stdlib/nats/src/main/ballerina/nats/connection/connection.bal
  stdlib/nats/src/main/ballerina/nats/consumer/config.bal
  stdlib/nats/src/main/ballerina/nats/consumer/listener.bal
  stdlib/nats/src/main/ballerina/nats/error.bal
  stdlib/nats/src/main/ballerina/nats/message/message.bal
  stdlib/nats/src/main/ballerina/nats/producer/producer.bal
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/Constants.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/Utils.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/connection/Init.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/consumer/Acknowledgment.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/consumer/Create.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/consumer/Listener.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/producer/Acknowledgment.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/producer/RequestReply.java
  stdlib/nats/src/main/java/org/ballerinalang/nats/nativeimpl/producer/Send.java
Labels: Component/Messaging, Component/stdlib

#14350 XML attribute access expression xmlVal@ returns a map<string>?
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLItem.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLSequence.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  examples/xml-attributes/tests/xml_attributes_test.bal
  examples/xml-attributes/xml_attributes.bal
  examples/xml-attributes/xml_attributes.out
  tests/ballerina-spec-conformance-tests/S05_structured_values/tests/xml.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAttributesTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-attributes.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals-negative.bal
Labels: Component/BVM, Component/Compiler

#14675 Add new object instance instruction
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNonTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/InstructionKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRBinaryWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  stdlib/bir/build.gradle
  stdlib/bir/src/main/ballerina/bir/bir_emitter.bal
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/bir_pkg_parser.bal
  stdlib/bir/src/main/ballerina/bir/ins_codes.bal
Labels: Component/JBallerina, Type/New Feature

#14698 Fix typo
  examples/http-retry/http_retry.bal
Labels: Component/Examples

#14689 Fix typo
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/codegen/PackageInfoReader.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompiledPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/TypeCreator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/TypeSignatureReader.java
Labels: Component/Compiler

#14733 Support hashed passwords with BasicAuth inbound
  stdlib/auth/src/main/ballerina/auth/auth_constants.bal
  stdlib/auth/src/main/ballerina/auth/config_auth_store_provider.bal
  stdlib/auth/src/main/ballerina/auth/jwt_auth_provider.bal
  stdlib/auth/src/test/java/org/ballerinalang/stdlib/auth/ConfigAuthProviderTest.java
  stdlib/auth/src/test/resources/datafiles/config/authprovider/ballerina.conf
  stdlib/auth/src/test/resources/test-src/config_auth_provider_test.bal
Labels: Component/Auth, Component/stdlib

#14738 Support for extern function class mapping in jBallerina codegen
  bvm/ballerina-core/src/main/java/org/ballerinalang/natives/NativeUnitLoader.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  stdlib/jvm/src/main/ballerina/jvm/types.bal
  stdlib/jvm/src/main/java/org/ballerinalang/nativeimpl/jvm/LookupExternClassName.java
Labels: Component/jBallerina

#14726 Improve error messages when running tests on an uninitialized b7a poject
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/core/TestCmd.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/context/BMainInstance.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/ExecuteTestsNegativeTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingTestCase.java
  tests/ballerina-tools-integration-test/src/test/resources/testng.xml
Labels: Component/Testerina

#14401 Add hexadecimal literal support for decimal type
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BVM.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BDecimal.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/cli/ArgumentParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/main/function/ArgumentParserPositiveTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/decimaltype/BDecimalValueNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/decimaltype/BDecimalValueTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/main.function/test_main_with_decimal_param.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/decimal/decimal_value.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/decimal/decimal_value_negative.bal
Labels: Component/Compiler

#14614 Variable mutability for closures
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BVM.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ClosureDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/IterableCodeDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/StreamingCodeDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolEnv.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/iterable/Operation.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangFunction.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangArrowFunction.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangLambdaFunction.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangSimpleVarRef.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangWaitForAllExpr.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/statements/BLangBlockStmt.java
  examples/fork-variable-access/fork_variable_access.bal
  examples/fork-variable-access/fork_variable_access.description
  examples/fork-variable-access/fork_variable_access.out
  examples/fork-variable-access/tests/fork_variable_access_test.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/closures/ClosureTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/closures/VarMutabilityClosureTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/debugger/VMDebuggerTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/IterableOperationsWithVarMutabilityTests.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/worker/VarMutabilityWithWorkersTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/closures/closure.bal
  tests/ballerina-unit-test/src/test/resources/test-src/closures/var-mutability-closure.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/lambda/iterable/basic-iterable-with-variable-mutability.bal
  tests/ballerina-unit-test/src/test/resources/test-src/workers/var-mutability-with-workers.bal
Labels: Component/Compiler

#14754 Add JSON support to jballerina
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BValueArray.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONToXMLConverter.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONUtils.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Lists.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/TypeConstants.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/BLangExceptionHelper.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/BLangRuntimeException.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_cast_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/ballerina-unit-test/build.gradle
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypesTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/jvm/types.bal
Labels: Component/jBallerina

#14768 Add object attached function calls
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRBinaryWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
Labels: Component/jBallerina, Type/Task

#14581 Fix cast and type test/guard for intersecting finite types
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/TypeTestExprTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExpressionsTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/ifelse/TypeGuardTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/type-test-expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/typecast/type_cast_expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/ifelse/type-guard.bal
Labels: Component/Compiler

#14419 Improve HTTP secure client for OAuth2 grant types
  examples/secured-client-with-oauth2/secured_client_with_oauth2.bal
  examples/secured-client-with-oauth2/secured_client_with_oauth2.description
  examples/secured-client-with-oauth2/secured_client_with_oauth2.out
  examples/secured-client-with-oauth2/tests/secured_client_with_oauth2_test.bal
  stdlib/http/src/main/ballerina/http/client_endpoint.bal
  stdlib/http/src/main/ballerina/http/http_secure_client.bal
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/OAuthConfigTest.java
  tests/ballerina-integration-test/src/test/resources/auth/authclients/oauth-client.bal
  tests/ballerina-integration-test/src/test/resources/auth/authservices/06_mock-oauth-service.bal
Labels: Component/Auth, Component/HTTP, Component/stdlib

#14760 Fix optional defaultable main function params
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/cli/ArgumentParser.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/main/function/ArgumentParserPositiveTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/main.function/test_main_with_optional_defaultable_param.bal
Labels: Component/CLI, Component/Compiler

#14755 Avoid narrowing type for global vars
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  stdlib/websub/src/main/ballerina/websub/hub_service.bal
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/09_client_failure.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/statements/ifelse/TypeGuardTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/statements/ifelse/type-guard-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/ifelse/type-guard.bal
Labels: Component/Compiler

#14532 Change abstract listener's __attach signature
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ServiceDesugar.java
  stdlib/builtin/src/main/ballerina/builtin/listener.bal
  stdlib/file/src/main/ballerina/file/service_endpoint.bal
  stdlib/grpc/src/main/ballerina/grpc/service_endpoint.bal
  stdlib/http/src/main/ballerina/http/non_listening_service_endpoint.bal
  stdlib/http/src/main/ballerina/http/service_endpoint.bal
  stdlib/jms/src/main/ballerina/jms/durable_topic_subscriber.bal
  stdlib/jms/src/main/ballerina/jms/queue_receiver.bal
  stdlib/jms/src/main/ballerina/jms/topic_subscriber.bal
  stdlib/messaging/activemq-artemis/src/main/ballerina/artemis/listener.bal
  stdlib/nats/src/main/ballerina/nats/consumer/listener.bal
  stdlib/socket/src/main/ballerina/socket/listener_endpoint.bal
  stdlib/task/src/main/ballerina/task/listener.bal
  stdlib/websub/src/main/ballerina/websub/hub_configuration.bal
  stdlib/websub/src/main/ballerina/websub/subscriber_service_endpoint.bal
  tests/ballerina-integration-test/src/test/resources/websub/test_custom_subscribers.bal
  tests/ballerina-spec-conformance-tests/S05_builtin_abstract_types/tests/listener.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/endpoint/ServiceTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/endpoint/new/service_basic_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/endpoint/new/service_init_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/endpoint/new/service_init_panic_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/endpoint/new/service_multiple.bal
  tests/ballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_negative.bal
Labels: Component/Compiler

#14781 Closure desugar: Rewrite only var decls with RHS expression
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ClosureDesugar.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/closures/ClosureTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/closures/closure.bal
Labels: Component/Compiler

#14732 [Jballerina] Add codegen for futures
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Scheduler.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Strand.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  stdlib/bir/bin/test/test-src/bir/types.bal
  stdlib/jvm/src/main/ballerina/jvm/types.bal
  stdlib/jvm/src/main/java/org/ballerinalang/nativeimpl/jvm/ASMUtil.java
  stdlib/jvm/src/main/java/org/ballerinalang/nativeimpl/jvm/methodvisitor/VisitInvokeDynamicInsn.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypesTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/jvm/types.bal
Labels: Component/jBallerina, Type/New Feature

#14127 Fix taint analyzer for worker interactions and lambda
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangWorkerReceive.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  stdlib/http/src/main/ballerina/http/http_secure_client.bal
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/ConflictTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/TaintedStatusPropagationTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/closure-variable-assignment-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/closure-variable-assignment.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/lambda-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/simple-worker-interaction.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/recursions/multiple-cyclic-calls-complex.bal
  tests/ballerina-unit-test/src/test/resources/test-src/taintchecking/recursions/multiple-cyclic-calls.bal
Labels: Component/Compiler

#14769 Add examples for Artemis connector and fix issues in tests
  examples/artemis-anycast-session-consumer/artemis_anycast_session_consumer.bal
  examples/artemis-anycast-session-consumer/artemis_anycast_session_consumer.out
  examples/artemis-anycast-session-consumer/artmeis_anycast_session_consumer.description
  examples/artemis-anycast-session-producer/artemis_anycast_session_producer.bal
  examples/artemis-anycast-session-producer/artemis_anycast_session_producer.description
  examples/artemis-anycast-session-producer/artemis_anycast_session_producer.out
  examples/artemis-multicast-consumer/artemis_multicast_consumer.bal
  examples/artemis-multicast-consumer/artemis_multicast_consumer.out
  examples/artemis-multicast-consumer/artmeis_multicast_consumer.description
  examples/artemis-multicast-producer/artemis_multicast_producer.bal
  examples/artemis-multicast-producer/artemis_multicast_producer.description
  examples/artemis-multicast-producer/artemis_multicast_producer.out
  examples/index.json
  stdlib/messaging/activemq-artemis/src/main/ballerina/artemis/Module.md
  tests/ballerina-integration-test/build.gradle
  tests/ballerina-integration-test/pom.xml
  tests/ballerina-integration-test/src/test/resources/messaging/artemis/configfiles/broker.xml
Labels: Component/Messaging, Component/stdlib

#14574 Fix int/float literal assignment to finite/union types
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangLiteral.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/balo/constant/ConstantTests.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/literals/IdentifierLiteralPackageTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/literals/IdentifierLiteralServiceTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/literals/IdentifierLiteralTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/literals/NullLiteralUsageTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/literals/NumericLiteralAssignmentTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/ConstantInTypeDefinitionTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/finite/FiniteTypeTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/identifierliteral/identifier-literal-service.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/identifierliteral/identifier-literal-success.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/identifierliteral/identifier-literal-undefined-variable-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/identifierliteral/identifier-literal-wrong-character-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/identifierliteral/pkg.main/identifier-literal-pkg.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/identifierliteral/pkg.variable/variable-def.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/null_literal_usage.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/null_literal_usage_negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/literals/numeric_literal_assignment.bal
Labels: Component/Compiler
