Repository ballerina-platform/ballerina-lang, pull requests merged in 2019-06, with the labels that each got.

#15460 Fix and enable task module tests on jBallerina
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/connector/Executor.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  stdlib/task/build.gradle
  stdlib/task/src/main/java/org/ballerinalang/stdlib/task/service/Init.java
  stdlib/task/src/main/java/org/ballerinalang/stdlib/task/service/Stop.java
  stdlib/task/src/main/java/org/ballerinalang/stdlib/task/utils/ResourceFunctionHolder.java
  stdlib/task/src/main/java/org/ballerinalang/stdlib/task/utils/TaskExecutor.java
  stdlib/task/src/main/java/org/ballerinalang/stdlib/task/utils/Utils.java
  stdlib/task/src/test/java/org/ballerinalang/stdlib/task/scheduler/AppointmentSchedulerTest.java
  stdlib/task/src/test/java/org/ballerinalang/stdlib/task/scheduler/TimerSchedulerTest.java
  stdlib/task/src/test/java/org/ballerinalang/stdlib/task/service/AppointmentServiceTest.java
  stdlib/task/src/test/java/org/ballerinalang/stdlib/task/service/ListenerServiceValidationTest.java
  stdlib/task/src/test/java/org/ballerinalang/stdlib/task/service/TimerServiceTest.java
  stdlib/task/src/test/resources/listener/timer/service_without_delay.bal
  stdlib/task/src/test/resources/testng.xml
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersTest.java
Labels: Component/jBallerina, Type/Task

#15469 Add moduleId to record type def
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BValueArray.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRBinaryWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/ConstantPool.java
  stdlib/bir/src/main/ballerina/bir/bir_context.bal
  stdlib/bir/src/main/ballerina/bir/bir_cp_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
  stdlib/bir/src/test/java/org/ballerinalang/stdlib/io/bir/TypeGenTest.java
Labels: Component/jBallerina, Type/Task

#15476 Fix and enable file module test cases
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  gradle/javaProjectWithExtBalo.gradle
  stdlib/file/build.gradle
  stdlib/file/src/main/java/org/ballerinalang/stdlib/file/service/FSListener.java
  stdlib/file/src/main/java/org/ballerinalang/stdlib/file/service/endpoint/InitEndpoint.java
  stdlib/file/src/main/java/org/ballerinalang/stdlib/file/service/endpoint/Register.java
  stdlib/file/src/test/java/org/ballerinalang/stdlib/file/DirectoryListenerConnectorTest.java
  stdlib/task/build.gradle
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
Labels: Component/jBallerina

#15480 Skip exiting jar execution when there are service endpoints in source
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/LauncherUtils.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  stdlib/cache/src/main/ballerina/cache/cache.bal
Labels: Component/jBallerina

#15478 Enable time module tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaErrors.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaValues.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/utils/Utils.java
  stdlib/reflect/src/main/java/org/ballerinalang/stdlib/reflect/nativeimpl/AbstractAnnotationReader.java
  stdlib/runtime-api/src/main/java/org/ballerinalang/stdlib/runtime/nativeimpl/InvocationContextUtils.java
  stdlib/time/build.gradle
  stdlib/time/pom.xml
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/nativeimpl/AbstractTimeFunction.java
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/nativeimpl/CreateTime.java
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/nativeimpl/GetDate.java
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/nativeimpl/GetTime.java
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/nativeimpl/Parse.java
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/nativeimpl/ToTimeZone.java
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/util/TimeUtils.java
  stdlib/time/src/test/java/org.ballerinalang.stdlib.time/TimeTest.java
  stdlib/time/src/test/resources/testng.xml
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
Labels: Area/Language, Component/jBallerina

#15483 Support for service annotation processing
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/AnnotationUtils.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/AnnotationDesugar.java
Labels: Component/jBallerina

#15315 Implement resiliency functionalities for HTTP/2 method
  language-server/modules/langserver-core/src/test/resources/completion/function/completionWithinInvocationArgs3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport.json
  language-server/modules/langserver-core/src/test/resources/completion/service/serviceBodyCompletion5.json
  language-server/modules/langserver-core/src/test/resources/completion/service/serviceEndpointBind4.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/topLevelPackageContentAccess.json
  stdlib/http/src/main/ballerina/http/http_commons.bal
  stdlib/http/src/main/ballerina/http/redirect/redirect_client.bal
  stdlib/http/src/main/ballerina/http/resiliency/failover_client_endpoint.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_circuit_breaker.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_retry_client.bal
  stdlib/http/src/main/ballerina/http/resiliency/load_balance_client_endpoint.bal
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/resiliency/HttpResiliencyTest.java
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/15_http2_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/16_http2_circuit_breaker.bal
Labels: Area/StandardLibs

#15356 Fix BallerinaException propagating to the transport layer and remove unused returns
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResourceDataElement.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
Labels: Area/StandardLibs, Component/WebSocket

#15262 Add support for File System operations in Ballerina
  stdlib/config-api/build.gradle
  stdlib/database/mysql/build.gradle
  stdlib/database/sql/build.gradle
  stdlib/filepath/build.gradle
  stdlib/privacy/build.gradle
  stdlib/system/build.gradle
  stdlib/system/pom.xml
  stdlib/system/src/main/ballerina/system/Module.md
  stdlib/system/src/main/ballerina/system/file_info.bal
  stdlib/system/src/main/ballerina/system/system.bal
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/Copy.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/CreateDir.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/CreateFile.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/Exists.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/GetFileInfo.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/ReadDir.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/Remove.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/Rename.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/nativeimpl/TempDir.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/utils/SystemConstants.java
  stdlib/system/src/main/java/org/ballerinalang/stdlib/system/utils/SystemUtils.java
  stdlib/system/src/test/java/org/ballerinalang/stdlib/system/FileSystemTest.java
  stdlib/system/src/test/resources/data-files/src-dir/nested-file.txt
  stdlib/system/src/test/resources/data-files/src-file.txt
  stdlib/system/src/test/resources/test-src/file-system-test.bal
Labels: Area/StandardLibs

#15502 Fix service attachments desuger processing logic
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/AnnotationDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ServiceDesugar.java
Labels: Component/jBallerina, Type/Task

#15506 Add mark as untainted code action
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/markUntaintedCodeAction1.json
  language-server/modules/langserver-core/src/test/resources/codeaction/markUntaintedCodeAction2.json
  language-server/modules/langserver-core/src/test/resources/codeaction/source/taintedVariable.bal
Labels: Area/Tooling, Component/LanguageServer, Type/NewFeature

#15504 Fix Internal module for jBallerina
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  stdlib/internal/build.gradle
  stdlib/internal/pom.xml
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/Constants.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/Compress.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/CompressToByteArray.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/CompressionUtils.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/Decompress.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/compression/DecompressFromByteArray.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/CopyTo.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/CreateDirectory.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/CreateFile.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/Delete.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/GetExtension.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/GetModifiedTime.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/GetName.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/GetParentDirectory.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/GetPathValue.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/Init.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/IsDirectory.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/List.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/MoveTo.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/PathExists.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/Resolve.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/ToAbsolutePath.java
  stdlib/internal/src/test/java/org/ballerinalang/internal/compression/CompressionTest.java
  stdlib/internal/src/test/java/org/ballerinalang/internal/conversion/BByteArrayValueTest.java
  stdlib/internal/src/test/java/org/ballerinalang/internal/file/InternalFileTest.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/Sprintf.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/utils/Utils.java
Labels: Component/jBallerina

#15508 Fix picking up wrong version from pom.xml based on where you run gradle
  build.gradle
Labels: Component/Build, Type/Improvement

#15511 Fix jBallerina unit tests and use correct build dependency
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BObjectType.java
  stdlib/runtime-api/src/main/java/org/ballerinalang/stdlib/runtime/nativeimpl/Sleep.java
  tests/jballerina-unit-test/build.gradle
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/constant/MapConstantEqualityInBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/constant/MapConstantEqualityInDifferentBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/constant/MapConstantInBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/constant/MapConstantPanicInBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/constant/SimpleConstantInBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/closures/VarMutabilityClosureTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkpanicexpr/CheckPanicExpressionOperatorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/IterableOperationsWithVarMutabilityTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/literals/NullLiteralUsageTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExpressionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/ErrorVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/io/IOTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/ObjectSubtypingTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/main/function/MainFunctionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayFillTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/foreach/ForeachErrorBindingPatternsTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/foreach/ForeachTupleTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/matchstmt/MatchStructuredErrorPatternsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ErrorVariableDefinitionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ForwardReferencingGlobalDefinitionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteOperationsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/MapConstantEqualityTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/MapConstantNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/MapConstantPanicTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/MapConstantTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/table/TableSqlQueryTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/TupleAccessExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/VarMutabilityWithWorkersTest.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15512 Remove non-blocking sync
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/connector/NonBlockingCallback.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetNextPromise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetPromisedResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/HasPromise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/AcceptWebSocketUpgrade.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/CancelWebSocketUpgrade.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Promise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/PushPromisedResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
  stdlib/runtime-api/src/main/java/org/ballerinalang/stdlib/runtime/nativeimpl/Sleep.java
Labels: Area/StandardLibs, Component/jBallerina

#15509 Enable Mime disabled test cases
  stdlib/mime/build.gradle
  stdlib/mime/src/test/resources/testng.xml
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
Labels: Area/StandardLibs, Component/jBallerina

#15522 Fix an issue related to function pointer call
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangInvocation.java
Labels: Component/jBallerina

#15462 Enable System module test cases
  stdlib/system/build.gradle
  stdlib/system/pom.xml
  stdlib/system/src/test/java/org/ballerinalang/stdlib/system/SystemTest.java
  stdlib/task/pom.xml
Labels: Area/StandardLibs, Component/jBallerina

#15467 Clean up StdLib test dependencies
  stdlib/auth/build.gradle
  stdlib/crypto/build.gradle
  stdlib/encoding/build.gradle
  stdlib/internal/build.gradle
  stdlib/math/build.gradle
  stdlib/mime/build.gradle
  stdlib/time/build.gradle
Labels: Area/StandardLibs, Component/jBallerina

#15521 Fix and enable error package tests
  bvm/ballerina-runtime/build.gradle
  bvm/ballerina-runtime/pom.xml
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaErrors.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BErrorType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ErrorValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/MapValueImpl.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNonTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  stdlib/bir/src/main/ballerina/bir/bir_func_body_parser.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/jBallerina

#15489 Implement OAuth2 Inbound Authentication
  distribution/zip/ballerina-tools/pom.xml
  distribution/zip/ballerina/build.gradle
  distribution/zip/ballerina/pom.xml
  pom.xml
  settings.gradle
  stdlib/oauth2/assembly/balo.xml
  stdlib/oauth2/assembly/source.xml
  stdlib/oauth2/build.gradle
  stdlib/oauth2/pom.xml
  stdlib/oauth2/spotbugs-exclude.xml
  stdlib/oauth2/src/main/ballerina/Ballerina.toml
  stdlib/oauth2/src/main/ballerina/oauth2/Module.md
  stdlib/oauth2/src/main/ballerina/oauth2/oauth2_provider.bal
  tests/ballerina-integration-test/build.gradle
  tests/ballerina-integration-test/pom.xml
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthBaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthnWithOAuth2Test.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/OAuth2ConfigTest.java
  tests/ballerina-integration-test/src/test/resources/auth/authservices/18_oauth2_client_test.bal
  tests/ballerina-integration-test/src/test/resources/auth/authservices/21_authn_with_oauth2_test.bal
  tests/ballerina-integration-test/src/test/resources/auth/authservices/oauth2-mock-server.bal
  tests/ballerina-integration-test/src/test/resources/testng.xml
Labels: Area/StandardLibs, Type/Improvement

#15532 Fix void return issue and if else issue
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/BuilderUtils.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_value_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGenEnv.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  stdlib/http/src/main/ballerina/http/service_endpoint.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/serviceendpoint/Start.java
Labels: Component/jBallerina

#15527 Enable http tests
  stdlib/http/build.gradle
  stdlib/http/pom.xml
  stdlib/http/src/main/ballerina/http/non_listening_service_endpoint.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/MockHTTPConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/NonListeningStart.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/request/GetEntity.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/request/GetQueryParams.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/auth/BasicAuthnHandlerTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/auth/JWTAuthnHandlerTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/cachingclient/HttpCachingClientTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/connectionpool/ConnectionPoolTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/entity/EntityBodyWithCharsetTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/entity/MimeWithHttpTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/multipart/MultipartDecoderTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/multipart/MultipartEncoderTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/multipart/MultipartFormDataDecoderTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/resiliency/CircuitBreakerTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/resiliency/FailoverConnectorTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/basics/ServiceTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/basics/SignatureTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/ResourceConfigurationTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/ServiceConfigurationTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/compression/CompressionConfigNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/compression/CompressionConfigSuccessTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/cors/HTTPCorsTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/DataBindingTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/ProducesConsumesAnnotationTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriMatrixParametersMatchTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateBestMatchTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateDefaultDispatcherTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateDispatcherNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateDispatcherTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/VersioningDispatchingTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/VersioningNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/VirtualHostDispatchingTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/ParseHeaderNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/ParseHeaderSuccessTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/connection/ConnectionNativeFunctionTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/endpoint/ServiceEndpointTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/promise/PushPromiseNativeFunctionTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/request/RequestNativeFunctionNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/response/ResponseNativeFunctionNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/response/ResponseNativeFunctionSuccessTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/session/HTTPSessionEssentialMethodsTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/session/HTTPSessionSubMethodsTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/JBallerinaTestInitializer.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/MultipartUtils.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/Services.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/TestCallableUnitCallback.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/websocket/WebSocketCompilationTest.java
  stdlib/http/src/test/resources/test-src/services/echo-service.bal
  stdlib/http/src/test/resources/test-src/services/service-negative.bal
  stdlib/http/src/test/resources/testng.xml
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BFileUtil.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BServiceUtil.java
Labels: Component/jBallerina

#15546 Enable string type tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaErrors.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Contains.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/EqualsIgnoreCase.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/FindAll.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/HasPrefix.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/HasSuffix.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/HashCode.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/IndexOf.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/LastIndexOf.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Length.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Matches.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Replace.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/ReplaceAll.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/ReplaceFirst.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Split.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/StringUtils.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Substring.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/ToByteArray.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/ToLower.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/ToUpper.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Trim.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Unescape.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15551 Fix and enable freeze and frozen tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONUtils.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/BLangExceptionHelper.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/MapValueImpl.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/RefValue.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/jsonlib/Remove.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/maplib/Clear.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/maplib/Remove.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/tablelib/Add.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/tablelib/Remove.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/xmllib/SetAttributes.java
  stdlib/utils/src/main/ballerina/utils/built-in-methods.bal
  stdlib/utils/src/main/java/org/ballerinalang/utils/Freeze.java
  stdlib/utils/src/main/java/org/ballerinalang/utils/IsFrozen.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypesTest.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/jBallerina

#15549 Add unblocked list in Scheduler
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Scheduler.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Strand.java
  stdlib/http/src/test/resources/testng.xml
Labels: Component/jBallerina

#15553 Enable union, typedesc, var tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeConverter.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15559 Fix and enable tuple type tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Lists.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/Sprintf.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/TupleMutabilityTest.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15531 Fix HTTP/2 thread hanging issue with submit call
  distribution/zip/ballerina/build.gradle
  distribution/zip/jballerina/build.gradle
  gradle/javaProject.gradle
  pom.xml
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http2/Http2BaseTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http2/Http2GenericScenarioTestCase.java
  tests/ballerina-integration-test/src/test/resources/http2/http2services/05_http_2.0_general_test.bal
  tests/ballerina-integration-test/src/test/resources/testng.xml
Labels: Area/StandardLibs

#15565 Fix the gradle-build to build with tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Strand.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ErrorValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/connector/NonBlockingCallback.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/test/resources/testng.xml
  misc/testerina/modules/testerina-core/src/test/resources/testng.xml
  settings.gradle
  stdlib/auth/src/test/resources/testng.xml
  stdlib/config-api/build.gradle
  stdlib/database/h2/src/test/resources/testng.xml
  stdlib/grpc/src/test/resources/testng.xml
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/ServiceConfigurationTest.java
  stdlib/io/build.gradle
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/ReadBool.java
  stdlib/jms/src/test/resources/testng.xml
  stdlib/messaging/activemq-artemis/src/test/resources/testng.xml
  stdlib/reflect/src/main/java/org/ballerinalang/stdlib/reflect/nativeimpl/AbstractAnnotationReader.java
  stdlib/task/build.gradle
  stdlib/websub/src/test/resources/testng.xml
  tests/ballerina-integration-test/src/test/resources/testng.xml
  tests/ballerina-spec-conformance-tests/src/test/resources/testng.xml
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/ballerina-tools-integration-test/build.gradle
  tests/ballerina-tools-integration-test/src/test/resources/testng.xml
  tests/ballerina-unit-test/src/test/resources/testng.xml
  tool-plugins/vscode/build.gradle
  tool-plugins/vscode/package.json
Labels: Component/jBallerina

#15523 Add future.cancel() and fix worker send issue
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaErrors.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Scheduler.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Strand.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/WorkerDataChannel.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/BallerinaErrorReasons.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ErrorValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/FutureValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  stdlib/builtin/src/main/ballerina/builtin/futurelib.bal
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/asynclib/Cancel.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/asynclib/IsCancelled.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/asynclib/IsDone.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WorkerCancelledTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/workers/worker-cancelled.bal
  tests/jballerina-unit-test/src/test/resources/test-src/workers/workers.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/jBallerina

#15581 Enable service configuration tests
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/test/resources/testng.xml
Labels: Component/jBallerina

#15586 Fix package level XML
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/XMLTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/jvm/xml.bal
Labels: Area/Language, Component/jBallerina

#15555 Enable structs, worker and few other test cases
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/jBallerina

#15583 Fix index based lhs expressions
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BPackage.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/BLangConstants.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/serviceendpoint/Register.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15618 Fix nonblocking extern calls in async calls and function pointers
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/BallerinaErrorReasons.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WorkerTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/workers/workers.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15587 Fix HTTP Client flow
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/connector/NonBlockingCallback.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/DataContext.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Delete.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Execute.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Forward.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Get.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetNextPromise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetPromisedResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/HasPromise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Head.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Options.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Patch.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Post.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Put.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/RejectPromise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Submit.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Promise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/PushPromisedResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
Labels: Area/StandardLibs, Component/jBallerina

#15598 Enable versioning test cases
  stdlib/http/src/main/java/org/ballerinalang/net/http/HTTPServicesRegistry.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/MockHTTPConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/NonListeningStart.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/basics/ServiceTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/ServiceConfigurationTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/compression/CompressionConfigSuccessTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/cors/HTTPCorsTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateDefaultDispatcherTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/VersioningDispatchingTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/VersioningNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/connection/ConnectionNativeFunctionTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/Services.java
  stdlib/http/src/test/resources/test-src/services/dispatching/versioning/negativecase2/pqr.stv/dispatching-neg-test-2.bal
  stdlib/http/src/test/resources/test-src/services/dispatching/versioning/negativecase3/pqr.stv/dispatching-neg-test-3.bal
  stdlib/http/src/test/resources/test-src/services/dispatching/versioning/successcase2/abc.xyz/empty-version.bal
  stdlib/http/src/test/resources/test-src/services/dispatching/versioning/successcase3/abc.xyz/single-segment-version.bal
  stdlib/http/src/test/resources/test-src/services/service-negative.bal
  stdlib/http/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/jBallerina

#15628 Remove unwanted casting operation added for field access expr
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
Labels: Component/jBallerina

#15627 Fix and enable XML tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONToXMLConverter.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/XMLFactory.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/XMLValidator.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLItem.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLSequence.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/main.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/jsonlib/ToXML.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/xmllib/Elements.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/xmllib/ToJSON.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/services/testutils/Services.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/services/testutils/TestCallableUnitCallback.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAttributesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-attributes.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals-with-namespaces.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-native-functions.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15645 Fix function pointers within object init
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_value_gen.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15648 Resolve conflicts with HTTP tests change
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/services/testutils/Services.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
Labels: Component/jBallerina

#15577 Fix typos
  stdlib/io/src/main/ballerina/io/constants.bal
  stdlib/io/src/main/ballerina/io/open.bal
  stdlib/io/src/main/ballerina/io/readable_character_channel.bal
  stdlib/io/src/main/ballerina/io/readable_csv_channel.bal
  stdlib/io/src/main/ballerina/io/strings.bal
  stdlib/io/src/main/ballerina/io/writable_character_channel.bal
  stdlib/io/src/main/ballerina/io/writable_csv_channel.bal
Labels: Area/StandardLibs

#15656 Enable type tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONGenerator.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONParser.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONUtils.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Lists.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeConverter.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/BLangExceptionHelper.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_cast_gen.bal
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/jsonlib/GetKeys.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/jsonlib/Remove.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/jsonlib/ToString.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/jsonlib/ToXML.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/ConstantAssignmentTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarServicePkgTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarServiceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/json/BJSONValueTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/json/JSONTest.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15617 Support Optional field
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/Visibility.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/VisibilityFlags.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRBinaryWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  stdlib/bir/src/main/ballerina/bir/bir_emitter.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/bir_pkg_parser.bal
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/jBallerina

#15630 Enable few statements related tests
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/TableProvider.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONUtils.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BAnyType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BAnydataType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BArrayType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BByteType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BDecimalType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BFiniteType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BFloatType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BIntegerType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BJSONType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BMapType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BNullType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BRecordType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BStructureType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTableType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTupleType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypedescType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BUnionType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/TableValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/BinaryExprEvalPrecedenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/DivisionOperationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/TypeTestExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/builtinfunctions/FreezeAndIsFrozenTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayFillTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayMutabilityTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/compoundassignment/compound_assignment.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15693 Fix and enable stamp, convert package tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeConverter.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/DecimalValue.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  stdlib/utils/src/main/java/org/ballerinalang/utils/Convert.java
  stdlib/utils/src/main/java/org/ballerinalang/utils/SimpleValueConvert.java
  stdlib/utils/src/main/java/org/ballerinalang/utils/Stamp.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/conversion/NativeConversionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/conversion/native-conversion-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/conversion/native-conversion.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/map-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/jBallerina

#15714 Refactor checkEntityBody availability method
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/request/CheckEntityBodyAvailability.java
Labels: Area/StandardLibs, Component/jBallerina

#15713 Fix panic propagation when a worker in a inner function panics
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Scheduler.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Strand.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ChannelDetails.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WorkerTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/workers/workers.bal
Labels: Component/jBallerina

#15684 Fix rest params in main method
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/RuntimeUtils.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/bir_pkg_parser.bal
Labels: Component/jBallerina

#15561 Improve inbound scheduling logic
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Scheduler.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Strand.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/FutureValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/connector/Executor.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_package_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_value_gen.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/BallerinaHTTPConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HTTPServicesRegistry.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/serviceendpoint/Register.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/Services.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/services/testutils/Services.java
Labels: Area/StandardLibs, Component/jBallerina

#15698 Enable some IO tests
  stdlib/internal/src/test/resources/test-src/file/file-test.bal
  stdlib/io/src/main/ballerina/io/open.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/CreateReadableDataChannel.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/CreateWritableDataChannel.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/HasNextTextRecord.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/OpenReadableFile.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/IOPrintTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/IOTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/bytes/AsyncReadWriteTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/bytes/BytesInputOutputBufferTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/characters/AsyncReadWriteTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/characters/CharacterInputOutputBufferTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/data/DataChannelTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/data/DataInputOutputTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/records/AsyncReadWriteTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/records/CsvChannelTest.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/records/RecordInputOutputTest.java
  stdlib/io/src/test/resources/test-src/io/bytes_io.bal
  stdlib/io/src/test/resources/test-src/io/char_io.bal
  stdlib/io/src/test/resources/test-src/io/csv_io.bal
  stdlib/io/src/test/resources/test-src/io/data_io.bal
  stdlib/io/src/test/resources/test-src/io/record_io.bal
  stdlib/io/src/test/resources/testng.xml
  stdlib/mime/src/main/ballerina/mime/natives.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
Labels: Area/StandardLibs, Component/jBallerina

#15715 Enable filter desugar for resources
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ServiceDesugar.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/MockHTTPConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/NonListeningStart.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/Services.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/services/testutils/Services.java
Labels: Component/jBallerina

#15657 Fix worker hanging issues and enable tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Scheduler.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina, Resolution/OnHold

#15730 Migrate gRPC module to jballerina
  distribution/zip/ballerina-tools/build.gradle
  distribution/zip/ballerina/build.gradle
  distribution/zip/jballerina/build.gradle
  misc/protobuf-ballerina/build.gradle
  settings.gradle
  stdlib/grpc/build.gradle
  stdlib/grpc/src/main/ballerina/grpc/service_endpoint.bal
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/Message.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/MessageParser.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/MessageUtils.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/ServerConnectorListener.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/ServiceDefinition.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/ServiceResource.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/ServicesBuilderUtils.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/callback/AbstractCallableUnitCallBack.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/callback/ClientCallableUnitCallBack.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/callback/StreamingCallableUnitCallBack.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/callback/UnaryCallableUnitCallBack.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/listener/ServerCallHandler.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/listener/StreamingServerCallHandler.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/listener/UnaryServerCallHandler.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/AbstractGrpcNativeFunction.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/calleraction/Complete.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/calleraction/IsCancelled.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/calleraction/Send.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/calleraction/SendError.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/client/AbstractExecute.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/client/BlockingExecute.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/client/InitStub.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/client/NonBlockingExecute.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/client/StreamingExecute.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/clientendpoint/Init.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/clientendpoint/InitGlobalPool.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/headers/AddEntry.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/headers/Exists.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/headers/Get.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/headers/GetAll.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/headers/Remove.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/headers/RemoveAll.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/headers/SetEntry.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/serviceendpoint/GetCallerActions.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/serviceendpoint/InitEndpoint.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/serviceendpoint/Register.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/serviceendpoint/Start.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/serviceendpoint/Stop.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/streamingclient/Complete.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/streamingclient/Send.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/streamingclient/SendError.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/proto/ServiceProtoUtils.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/stubs/BlockingStub.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/stubs/DefaultStreamObserver.java
  stdlib/grpc/src/test/java/org/ballerinalang/net/grpc/ConnectionPoolTestCase.java
  stdlib/grpc/src/test/java/org/ballerinalang/net/grpc/JBallerinaTestInitializer.java
  stdlib/grpc/src/test/java/org/ballerinalang/net/grpc/ResourceReturnTypeTest.java
  stdlib/grpc/src/test/java/org/ballerinalang/net/grpc/UnsupportedFieldTypesTest.java
  stdlib/grpc/src/test/resources/testng.xml
  tests/ballerina-integration-test/build.gradle
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/tool/ProtoMessageTestCase.java
Labels: Area/StandardLibs, Component/jBallerina

#15782 Enable comment, ifelse and package import statement tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/ifelse/type-guard.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15798 Fix and enable foreach statement tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONGenerator.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/MapValueImpl.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_cast_gen.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/foreach/ForeachErrorBindingPatternsTests.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-arrays-typed-binding-patterns.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-arrays.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-json-typed-binding-patterns.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-json.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-maps-typed-binding-patterns.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-maps.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-record-typed-binding-patterns.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach_errors.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach_errors_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach_tuples.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach_tuples_negative.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15526 Allow shadowing module level symbols
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/Flags.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/block/BlockStmtTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/structs/StructNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/constant/SimpleConstantNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/variable/shadowing/VariableShadowingNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/variable/shadowing/VariableShadowingTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/variable/shadowing/variable-shadowing-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/variable/shadowing/variable_shadowing.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/Compiler

#15768 Use BServiceType for services and fix using services as values in annotations
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BServiceType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/AnnotationDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
Labels: Component/jBallerina

#15822 Enable test cases
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/Sprintf.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/IOPrintTest.java
Labels: Area/StandardLibs, Component/jBallerina

#15790 Fix object create value method to populate field values
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaValues.java
Labels: Component/jBallerina

#15837 Compile and run bal files with jballerina run commond
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/Scheduler.java
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/LauncherUtils.java
  cli/ballerina-launcher/src/main/java/org/ballerinalang/launcher/util/JBallerinaInMemoryClassLoader.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_method_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ServiceDesugar.java
  stdlib/file/src/test/java/org/ballerinalang/stdlib/file/DirectoryListenerConnectorTest.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
Labels: Component/jBallerina

#15767 Fix import suggestions doesn't include modules of the current project
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSPackageLoader.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/spi/LSCompletionProvider.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/packageimport/PackageImportCompletionTest.java
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport1.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport2.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/source/.ballerina/.gitignore
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/source/module1/provider.bal
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/source/module2/packageImport.bal
Labels: Area/Tooling, Component/LanguageServer, Type/Bug

#15785 Improve LS Compiler error handling
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaWorkspaceService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateFunctionExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateTestExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateVariableExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/IgnoreReturnExecutor.java
Labels: Area/Tooling, Component/LanguageServer

#15727 Use composer libs from Ballerina home
  tool-plugins/vscode/.vscodeignore
  tool-plugins/vscode/build.gradle
  tool-plugins/vscode/package.json
  tool-plugins/vscode/pom.xml
  tool-plugins/vscode/src/api-editor/activator.ts
  tool-plugins/vscode/src/api-editor/renderer.ts
  tool-plugins/vscode/src/bbe/activator.ts
  tool-plugins/vscode/src/bbe/renderer.ts
  tool-plugins/vscode/src/core/extension.ts
  tool-plugins/vscode/src/core/messages.ts
  tool-plugins/vscode/src/debugger/channel.ts
  tool-plugins/vscode/src/diagram/activator.ts
  tool-plugins/vscode/src/diagram/renderer.ts
  tool-plugins/vscode/src/docs/activator.ts
  tool-plugins/vscode/src/docs/renderer.ts
  tool-plugins/vscode/src/test-runner/activator.ts
  tool-plugins/vscode/src/trace-logs/activator.ts
  tool-plugins/vscode/src/trace-logs/renderer.ts
  tool-plugins/vscode/src/utils/webview-utils.ts
  tool-plugins/vscode/test/core/ballerina-extention.test.ts
  tool-plugins/vscode/test/trace-logs/tacelogs.test.ts
Labels: Area/Tooling

#15871 Complete migration of WebSocket to JBallerina
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  examples/websocket-chat-application/websocket_chat_application.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/BWebSocketService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HTTPServicesRegistry.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketServerConnectorListener.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketService.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketServicesRegistry.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/WebSocketUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Close.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ping.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Pong.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushBinary.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/PushText.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/websocketconnector/Ready.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/WebSocketResourceValidator.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/WebSocketServiceCompilerPlugin.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/mock/nonlistening/NonListeningRegister.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/AcceptWebSocketUpgrade.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/CancelWebSocketUpgrade.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/serviceendpoint/Register.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/websocketclientendpoint/InitEndpoint.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/websocket/WebSocketCompilationTest.java
  stdlib/http/src/test/resources/test-src/websocket/success_websocket_upgrade.bal
  stdlib/http/src/test/resources/testng.xml
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/08_cancel_websocket_upgrade.bal
  tests/ballerina-integration-test/src/test/resources/websocket/wsservices/09_client_failure.bal
Labels: Area/StandardLibs, Component/WebSocket

#15872 Refactor LDAP module for JBallerina
  stdlib/ldap/src/main/java/org/ballerinalang/stdlib/ldap/nativeimpl/Authenticate.java
  stdlib/ldap/src/main/java/org/ballerinalang/stdlib/ldap/nativeimpl/GetLdapScopesOfUser.java
  stdlib/ldap/src/main/java/org/ballerinalang/stdlib/ldap/nativeimpl/InitLdapConnectionContext.java
Labels: Area/StandardLibs, Component/LDAP

#15935 Fix formatting tests and enabled
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/resources/formatting/anonRecord.bal
  language-server/modules/langserver-core/src/test/resources/formatting/bindingPatterns.bal
  language-server/modules/langserver-core/src/test/resources/formatting/break.bal
  language-server/modules/langserver-core/src/test/resources/formatting/check.bal
  language-server/modules/langserver-core/src/test/resources/formatting/elvisExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/errorVariableDefinition.bal
  language-server/modules/langserver-core/src/test/resources/formatting/errorVariableReference.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedAnonRecord.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedBindingPatterns.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedBreak.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedCheck.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedElvisExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedErrorVariableDefinition.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedErrorVariableReference.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedForeach.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedFunction.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedLock.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedMatchStmt.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedReturn.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedTernaryExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedTupleType.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedTypeDesc.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedVariableDefinition.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedWorkerInteractions.bal
  language-server/modules/langserver-core/src/test/resources/formatting/foreach.bal
  language-server/modules/langserver-core/src/test/resources/formatting/function.bal
  language-server/modules/langserver-core/src/test/resources/formatting/lock.bal
  language-server/modules/langserver-core/src/test/resources/formatting/matchStmt.bal
  language-server/modules/langserver-core/src/test/resources/formatting/return.bal
  language-server/modules/langserver-core/src/test/resources/formatting/ternaryExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/tupleType.bal
  language-server/modules/langserver-core/src/test/resources/formatting/typeDesc.bal
  language-server/modules/langserver-core/src/test/resources/formatting/variableDefinition.bal
  language-server/modules/langserver-core/src/test/resources/formatting/workerInteractions.bal
  language-server/modules/langserver-core/src/test/resources/testng.xml
Labels: Area/Tooling, Component/Formatting

#15914 Migrate filepath to jballerina
  stdlib/filepath/build.gradle
  stdlib/filepath/src/main/ballerina/filepath/file_path.bal
  stdlib/filepath/src/main/ballerina/filepath/unix_file_path.bal
  stdlib/filepath/src/main/ballerina/filepath/windows_file_path.bal
  stdlib/filepath/src/main/java/org/ballerinalang/stdlib/filepath/Utils.java
  stdlib/filepath/src/main/java/org/ballerinalang/stdlib/filepath/nativeimpl/Absolute.java
  stdlib/filepath/src/main/java/org/ballerinalang/stdlib/filepath/nativeimpl/Matches.java
  stdlib/filepath/src/main/java/org/ballerinalang/stdlib/filepath/nativeimpl/Resolve.java
  stdlib/filepath/src/test/java/org/ballerinalang/stdlib/filepath/JBallerinaTestInitializer.java
  stdlib/filepath/src/test/java/org/ballerinalang/stdlib/filepath/UtilsTest.java
  stdlib/filepath/src/test/java/org/ballerinalang/stdlib/filepath/nativeimpl/PathTest.java
  stdlib/filepath/src/test/resources/test-src/path_test.bal
  stdlib/filepath/src/test/resources/testng.xml
Labels: Area/StandardLibs

#15843 Fix log-api module
  stdlib/log-api/src/main/java/org/ballerinalang/stdlib/log/AbstractLogFunction.java
  stdlib/log-api/src/main/java/org/ballerinalang/stdlib/log/LogDebug.java
  stdlib/log-api/src/main/java/org/ballerinalang/stdlib/log/LogError.java
  stdlib/log-api/src/main/java/org/ballerinalang/stdlib/log/LogInfo.java
  stdlib/log-api/src/main/java/org/ballerinalang/stdlib/log/LogTrace.java
  stdlib/log-api/src/main/java/org/ballerinalang/stdlib/log/LogWarn.java
Labels: Area/StandardLibs, Component/jBallerina

#15943 Add formatting support for unary expressions.
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/Tokens.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedUnaryExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/unaryExpr.bal
Labels: Area/Tooling, Component/Formatting

#15909 Refactor Crypto module for JBallerina
  stdlib/crypto/src/main/ballerina/crypto/crypto.bal
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/Crc32b.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/DecodePrivateKey.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/DecodePublicKey.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/DecryptAesCbc.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/DecryptAesEcb.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/DecryptAesGcm.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/DecryptRsaEcb.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/EncryptAesCbc.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/EncryptAesEcb.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/EncryptAesGcm.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/EncryptRsaEcb.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HashMd5.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HashSha1.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HashSha256.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HashSha384.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HashSha512.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HmacMd5.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HmacSha1.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HmacSha256.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HmacSha384.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/HmacSha512.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/SignRsaMd5.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/SignRsaSha1.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/SignRsaSha256.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/SignRsaSha384.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/SignRsaSha512.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/VerifyRsaMd5Signature.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/VerifyRsaSha1Signature.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/VerifyRsaSha256Signature.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/VerifyRsaSha384Signature.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/VerifyRsaSha512Signature.java
  stdlib/crypto/src/test/java/org/ballerinalang/stdlib/crypto/CryptoTest.java
  stdlib/crypto/src/test/java/org/ballerinalang/stdlib/crypto/KeyParsingTest.java
  stdlib/crypto/src/test/resources/test-src/crypto-test.bal
  stdlib/crypto/src/test/resources/test-src/keyparsing-test.bal
  stdlib/crypto/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/Crypto

#15874 Revamp Signature Help Feature in LS
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocument.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/builder/BFunctionCompletionItemBuilder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/CompletionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureHelpUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/sourceprune/LHSTokenTraverser.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/sourceprune/SourcePruneKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/sourceprune/SourcePruner.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/signature/SignatureHelpTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/signature/SignatureHelpUtilTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourceprune/SourcePruneTest.java
  language-server/modules/langserver-core/src/test/resources/signature/endpointActions.json
  language-server/modules/langserver-core/src/test/resources/signature/signatureWithinCheckPanic.json
  language-server/modules/langserver-core/src/test/resources/signature/signatureWithinForeach.json
  language-server/modules/langserver-core/src/test/resources/signature/signatureWithinIfElse1.json
  language-server/modules/langserver-core/src/test/resources/signature/signatureWithinIfElse2.json
  language-server/modules/langserver-core/src/test/resources/signature/signatureWithinIfElse3.json
  language-server/modules/langserver-core/src/test/resources/signature/signatureWithinResources.json
  language-server/modules/langserver-core/src/test/resources/signature/signatureWithinTransaction1.json
  language-server/modules/langserver-core/src/test/resources/signature/source/endpointActions.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/functionInBuiltinPackage.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/functionInSameFile.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/functionInSameFileWithoutDocumentation.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinCheckPanic.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinForeach.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinIfElse1.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinIfElse2.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinIfElse3.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinIfElse4.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinResources.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinTransaction1.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/signatureWithinWhile.bal
  language-server/modules/langserver-core/src/test/resources/signature/source/typeAttachedFunctions.bal
  language-server/modules/langserver-core/src/test/resources/signature/typeAttachedFunctions.json
Labels: Area/Tooling, Component/LanguageServer, Type/Improvement

#15846 Enable some expressions package tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaErrors.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONUtils.java
  stdlib/builtin/src/main/java/org/ballerinalang/nativeimpl/builtin/stringlib/Matches.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/json/BJSONValueTest.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/jBallerina

#15975 Fix object type referencing
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNode.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/ObjectInBaloTest.java
Labels: Component/jBallerina

#15970 Fix visible endpoints visitor to visit nested blocks
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/document/BallerinaASTRequest.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/document/VisibleEndpointVisitor.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/extensions/LSExtensionTestUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/extensions/document/VisibleEndpointTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/util/TestUtil.java
  language-server/modules/langserver-core/src/test/resources/extensions/document/sources/nestedVisibleEndpoints.bal
  language-server/modules/langserver-core/src/test/resources/testng.xml
Labels: Area/Tooling

#16000 Refactor config-api module
  stdlib/config-api/src/main/java/org/ballerinalang/stdlib/config/Contains.java
  stdlib/config-api/src/main/java/org/ballerinalang/stdlib/config/GetConfig.java
  stdlib/config-api/src/main/java/org/ballerinalang/stdlib/config/SetConfig.java
Labels: Area/StandardLibs, Component/jBallerina

#15981 Refactor HttpClient usage
  stdlib/http/src/main/ballerina/http/caching/http_caching_client.bal
  stdlib/http/src/main/ballerina/http/client_endpoint.bal
  stdlib/http/src/main/ballerina/http/http_client.bal
  stdlib/http/src/main/ballerina/http/http_commons.bal
  stdlib/http/src/main/ballerina/http/http_secure_client.bal
  stdlib/http/src/main/ballerina/http/http_simple_client.bal
  stdlib/http/src/main/ballerina/http/redirect/redirect_client.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_circuit_breaker.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_retry_client.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Delete.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Execute.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Forward.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Get.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetNextPromise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetPromisedResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/GetResponse.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/HasPromise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Head.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Options.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Patch.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Post.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Put.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/RejectPromise.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Submit.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateSimpleHttpClient.java
  stdlib/http/src/test/resources/test-src/resiliency/circuit-breaker-test.bal
Labels: Area/StandardLibs, Component/HTTP, Type/Bug

#15997 Migrate database clients to jBallerina
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTableType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/TableIterator.java
  stdlib/database/h2/build.gradle
  stdlib/database/h2/src/main/ballerina/h2/endpoint.bal
  stdlib/database/h2/src/main/java/org/ballerinalang/database/h2/CreateClient.java
  stdlib/database/h2/src/test/java/org/ballerinalang/stdlib/database/h2/H2ClientActionsTest.java
  stdlib/database/h2/src/test/java/org/ballerinalang/stdlib/database/sql/SQLActionsTest.java
  stdlib/database/h2/src/test/java/org/ballerinalang/stdlib/database/sql/SQLConnectionPoolTest.java
  stdlib/database/h2/src/test/java/org/ballerinalang/stdlib/database/sql/SQLConnectorInitTest.java
  stdlib/database/h2/src/test/resources/test-src/h2/h2_actions_test.bal
  stdlib/database/h2/src/test/resources/test-src/sql/connection_pool_test.bal
  stdlib/database/h2/src/test/resources/test-src/sql/sql_actions_negative_test.bal
  stdlib/database/h2/src/test/resources/test-src/sql/sql_actions_test.bal
  stdlib/database/h2/src/test/resources/test-src/sql/sql_connector_init_test.bal
  stdlib/database/h2/src/test/resources/testng.xml
  stdlib/database/mysql/build.gradle
  stdlib/database/mysql/src/main/ballerina/mysql/endpoint.bal
  stdlib/database/mysql/src/main/java/org/ballerinalang/database/mysql/CreateClient.java
  stdlib/database/sql/build.gradle
  stdlib/database/sql/src/main/ballerina/sql/abstract_endpoint.bal
  stdlib/database/sql/src/main/ballerina/sql/endpoint.bal
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/InitGlobalPoolContainer.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/PoolOptionsWrapper.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDataIterator.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDatasource.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDatasourceUtils.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/AbstractSQLAction.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/BatchUpdate.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/Call.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/Close.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/Select.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/actions/Update.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/statement/AbstractSQLStatement.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/statement/BatchUpdateStatement.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/statement/CallStatement.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/statement/SQLStatement.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/statement/SelectStatement.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/statement/UpdateStatement.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/table/BCursorTable.java
Labels: Area/StandardLibs

#16040 Fix Build Issue of Auth Tests Related to HTTP Module
  stdlib/http/src/test/java/org/ballerinalang/stdlib/auth/BasicAuthHandlerTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/auth/BearerAuthHandlerTest.java
  stdlib/http/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/HTTP

#16007 Migrate Artemis connector to JBallerina
  distribution/zip/jballerina/build.gradle
  stdlib/messaging/activemq-artemis/build.gradle
  stdlib/messaging/activemq-artemis/src/main/ballerina/artemis/listener.bal
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/ArtemisConnectorException.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/ArtemisTransactionContext.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/ArtemisUtils.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/connection/Close.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/connection/CreateConnection.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/connection/IsClosed.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/consumer/ArtemisMessageHandler.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/consumer/ArtemisResourceCallback.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/consumer/CreateConsumer.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/consumer/CreateServiceConsumer.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/consumer/Receive.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/consumer/Start.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/consumer/Stop.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/message/Acknowledge.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/message/CreateMessage.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/message/GetBodySize.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/message/GetPayload.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/message/GetProperty.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/message/GetType.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/message/PutProperty.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/message/SaveToWritableByteChannel.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/producer/Close.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/producer/CreateProducer.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/producer/IsClosed.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/producer/Send.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/session/Close.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/session/CreateSession.java
  stdlib/messaging/activemq-artemis/src/main/java/org/ballerinalang/messaging/artemis/externimpl/session/IsClosed.java
  stdlib/messaging/activemq-artemis/src/test/java/org/ballerinalang/messaging/artemis/ArtemisCompilationTest.java
  stdlib/messaging/activemq-artemis/src/test/java/org/ballerinalang/messaging/artemis/ArtemisDataBindingCompilationTest.java
  stdlib/messaging/activemq-artemis/src/test/java/org/ballerinalang/messaging/artemis/JBallerinaTestInitializer.java
  stdlib/messaging/activemq-artemis/src/test/resources/testng.xml
  tests/ballerina-integration-test/src/test/resources/messaging/artemis/consumers/anycast_message.bal
  tests/ballerina-integration-test/src/test/resources/messaging/artemis/consumers/data_binding.bal
  tests/ballerina-integration-test/src/test/resources/messaging/artemis/producers/anycast_message.bal
  tests/ballerina-integration-test/src/test/resources/messaging/artemis/producers/data_binding_message.bal
Labels: Area/StandardLibs, Component/Messaging

#16013 Enable typecast tests
  bvm/ballerina-core/src/main/resources/MessagesBundle.properties
  bvm/ballerina-core/src/main/resources/MessagesBundle_en_US.properties
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaErrors.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeConverter.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/DecimalValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_cast_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  language-server/modules/langserver-core/src/test/resources/testng.xml
  stdlib/bir/src/main/ballerina/bir/bir_model.bal
  stdlib/bir/src/main/ballerina/bir/bir_pkg_parser.bal
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
  stdlib/config-api/src/test/java/org/ballerinalang/stdlib/config/EnvVarConfigTest.java
  stdlib/utils/src/main/java/org/ballerinalang/utils/SimpleValueConvert.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/NumericConversionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/BinaryExprEvalPrecedenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/conversion/NativeConversionNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/conversion/NativeConversionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/fieldaccess/SafeNavigationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/NumericConversionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExpressionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/foreach/ForeachJSONTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/ConstrainedMapTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/var/VarDeclaredAssignmentStmtTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/typecast/numeric_conversion.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/typecast/type-casting.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/typecast/type_cast_expr.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/foreach/foreach-arrays-typed-binding-patterns.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#16068 Enable literal tests and varref tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  stdlib/bir/src/main/ballerina/bir/type_parser.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/literals/IdentifierLiteralPackageTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/literals/IdentifierLiteralServiceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/ErrorVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/TupleVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ErrorVariableDefinitionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/literals/identifierliteral/identifier-literal-success.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/literals/identifierliteral/pkg.main/identifier-literal-pkg.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/literals/null_literal_usage.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/record-variable-reference-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/record-variable-reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/tuple-variable-reference-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/tuple-variable-reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/record_annotation_negative.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15944 Add object init invocation to value creator
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaValues.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ValueCreator.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_cast_gen.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_constants.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/GetParentDirectory.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/List.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/Resolve.java
  stdlib/internal/src/main/java/org/ballerinalang/stdlib/internal/file/ToAbsolutePath.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/closures/ClosureNegativeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/closures/closure.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#16034 Refactor Gradle configuration files
  stdlib/auth/build.gradle
  stdlib/auth/src/test/java/org/ballerinalang/stdlib/auth/util/JBallerinaTestInitializer.java
  stdlib/auth/src/test/resources/testng.xml
  stdlib/crypto/build.gradle
  stdlib/crypto/src/test/java/org/ballerinalang/stdlib/crypto/util/JBallerinaTestInitializer.java
  stdlib/crypto/src/test/resources/testng.xml
  stdlib/ldap/build.gradle
  stdlib/oauth2/build.gradle
Labels: Area/StandardLibs, Type/Improvement

#16003 Ballerina Formatting CLI tool
  CHANGELOG.md
  cli/ballerina-launcher/src/main/resources/cli-help/ballerina-format.help
  cli/ballerina-launcher/src/main/resources/cli-help/ballerina-help.help
  distribution/zip/ballerina-tools/build.gradle
  distribution/zip/ballerina-tools/pom.xml
  distribution/zip/ballerina-tools/src/assembly/bin.xml
  distribution/zip/jballerina-tools/build.gradle
  distribution/zip/jballerina-tools/pom.xml
  distribution/zip/jballerina-tools/src/assembly/bin.xml
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/FormattingConstants.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/FormattingNodeTree.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/FormattingVisitor.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/FormattingVisitorEntry.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/Tokens.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/sourcegen/FormattingSourceGen.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/document/BallerinaDocumentServiceImpl.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/fragment/BallerinaFragmentServiceImpl.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourcegen/SourceGenTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedEndpoint.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedInvocation.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedLock.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedService.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedTypeInitExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/typeInitExpr.bal
  misc/ballerina-formatter/LICENSE.txt
  misc/ballerina-formatter/README.md
  misc/ballerina-formatter/build.gradle
  misc/ballerina-formatter/pom.xml
  misc/ballerina-formatter/spotbugs-exclude.xml
  misc/ballerina-formatter/src/main/java/org/ballerinalang/format/FormatCmd.java
  misc/ballerina-formatter/src/main/java/org/ballerinalang/format/FormatUtil.java
  misc/ballerina-formatter/src/main/java/org/ballerinalang/format/Messages.java
  misc/ballerina-formatter/src/main/resources/META-INF/services/org.ballerinalang.launcher.BLauncherCmd
  misc/ballerina-formatter/src/test/java/org/ballerinalang/format/FormatCmdTest.java
  misc/ballerina-formatter/src/test/resources/invalidFile.txt
  misc/ballerina-formatter/src/test/resources/notAProject/main.bal
  misc/ballerina-formatter/src/test/resources/notAProject/pkg1/testd.bal
  misc/ballerina-formatter/src/test/resources/project/main.bal
  misc/ballerina-formatter/src/test/resources/project/pkg1/dates.bal
  misc/ballerina-formatter/src/test/resources/testng.xml
  pom.xml
  settings.gradle
Labels: Area/Tooling, Component/Formatting

#16039 Refactor JWT module for JBallerina
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeConverter.java
  stdlib/jwt/build.gradle
  stdlib/jwt/src/main/ballerina/jwt/jwt_issuer.bal
  stdlib/jwt/src/main/ballerina/jwt/jwt_validator.bal
  stdlib/jwt/src/test/java/org.ballerinalang.stdlib.jwt/JwtAuthProviderTest.java
  stdlib/jwt/src/test/resources/test-src/jwt-auth-provider-test.bal
  stdlib/jwt/src/test/resources/testng.xml
  stdlib/utils/src/main/java/org/ballerinalang/utils/Length.java
Labels: Area/StandardLibs, Component/JWT

#16041 Refactor Encoding module for JBallerina
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/Constants.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/CryptoUtils.java
  stdlib/encoding/build.gradle
  stdlib/encoding/src/main/java/org/ballerinalang/stdlib/encoding/nativeimpl/ByteArrayToString.java
  stdlib/encoding/src/main/java/org/ballerinalang/stdlib/encoding/nativeimpl/DecodeBase64.java
  stdlib/encoding/src/main/java/org/ballerinalang/stdlib/encoding/nativeimpl/DecodeBase64Url.java
  stdlib/encoding/src/main/java/org/ballerinalang/stdlib/encoding/nativeimpl/DecodeHex.java
  stdlib/encoding/src/main/java/org/ballerinalang/stdlib/encoding/nativeimpl/EncodeBase64.java
  stdlib/encoding/src/main/java/org/ballerinalang/stdlib/encoding/nativeimpl/EncodeBase64Url.java
  stdlib/encoding/src/main/java/org/ballerinalang/stdlib/encoding/nativeimpl/EncodeHex.java
  stdlib/encoding/src/test/java/org/ballerinalang/stdlib/encoding/EncodingTest.java
  stdlib/encoding/src/test/resources/test-src/encoding-test.bal
  stdlib/encoding/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/Encoding

#16071 Add support to table to JSON conversion
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/ColumnDefinition.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONUtils.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TableJSONDataSource.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/TableIterator.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/TableValue.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/BCastOperatorSymbol.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/BConversionOperatorSymbol.java
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDataIterator.java
  stdlib/utils/src/main/java/org/ballerinalang/utils/Convert.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/NotSoBasicWorkerTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/PackageInitWorkerTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/VarMutabilityWithWorkersTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WaitForAllWorkersTest.java
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#16100 Enable taint checking tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  stdlib/runtime-api/build.gradle
  stdlib/runtime-api/src/test/java/org/ballerinalang/stdlib/runtime/InvocationContextTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/invocations/PackageInitInvocationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/TaintedStatusPropagationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/connectors/IOTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/connectors/SQLTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_expr_within_resource.bal
  tests/jballerina-unit-test/src/test/resources/test-src/taintchecking/connectors/character-io-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/taintchecking/connectors/character-io.bal
  tests/jballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/compound-assignment.bal
  tests/jballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/tuple-return-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/tuple-return.bal
  tests/jballerina-unit-test/src/test/resources/test-src/taintchecking/propagation/variables-negative.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Component/jBallerina

#15979 Desugar PathParamOrder annotation and fix path param access
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/HttpFiltersDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ServiceDesugar.java
  stdlib/http/src/main/ballerina/http/annotation.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResource.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResourceArguments.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpResourceDataElement.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/SignatureParams.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/HttpServiceCompilerPlugin.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/ResourceSignatureValidator.java
  stdlib/http/src/main/java/org/ballerinalang/net/uri/parser/SimpleStringExpression.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/basics/SignatureTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/ResourceConfigPathTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/DataBindingTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateBestMatchTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateDispatcherNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateDispatcherTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/Services.java
  stdlib/http/src/test/resources/test-src/services/configuration/resource-arg--pathparam-match.bal
  stdlib/http/src/test/resources/test-src/services/configuration/resource-config-path-field.bal
  stdlib/http/src/test/resources/test-src/services/dispatching/uri-template-matching.bal
  stdlib/http/src/test/resources/test-src/services/signature/invalid-body-param.bal
  stdlib/http/src/test/resources/test-src/services/signature/mismatched-body-param.bal
  stdlib/http/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/HTTP, Component/WebSocket, Component/jBallerina, Type/Bug

#16095 Split init method to avoid method too large error
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_terminator_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Constants.java
  stdlib/bir/src/main/ballerina/bir/bir_emitter.bal
Labels: Component/jBallerina

#16118 Move implicit initial value check to runtime
  bvm/ballerina-core/src/main/resources/MessagesBundle.properties
  bvm/ballerina-core/src/main/resources/MessagesBundle_en_US.properties
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BArrayType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/BallerinaErrorReasons.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/RuntimeErrors.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_type_gen.bal
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayFillTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/ArrayTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/var/VarDeclaredAssignmentStmtTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/arrays/array-fill-test-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/arrays/array-fill-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/arrays/array-implicit-initial-value-finite-type-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/arrays/array-implicit-initial-value-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/var/var-declaration-with-array-negative.bal
Labels: Area/Language
