Repository ballerina-platform/ballerina-lang, pull requests merged in 2019-01, with the labels that each got.

#12956 Add support for retrieving encrypted vals as int, float and boolean in config API
  bvm/ballerina-config/src/main/java/org/ballerinalang/config/ConfigRegistry.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/config/ConfigTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/config/EncryptedConfigsTest.java
  tests/ballerina-unit-test/src/test/resources/datafiles/config/encrypted-configs.conf
  tests/ballerina-unit-test/src/test/resources/test-src/config/encrypted_configs.bal
Labels: Component/stdlib

#12992 Move WebSub unit tests under respective modules
  stdlib/websub/pom.xml
  stdlib/websub/src/test/java/org.ballerinalang.net.websub/BLogInitializer.java
  stdlib/websub/src/test/java/org.ballerinalang.net.websub/WebSubCompilationTest.java
  stdlib/websub/src/test/java/org.ballerinalang.net.websub/WebSubDiscoveryResponseParserTest.java
  stdlib/websub/src/test/java/org.ballerinalang.net.websub/WebSubHubStartUpTest.java
  stdlib/websub/src/test/resources/test-src/compilation/test_compilation_failure.bal
  stdlib/websub/src/test/resources/test-src/discovery/test_discovery_response_parsing.bal
  stdlib/websub/src/test/resources/test-src/hub/test_hub_startup.bal
  stdlib/websub/src/test/resources/testng.xml
Labels: Component/WebSub, Component/stdlib

#13030 Move system related unit tests
  stdlib/system/pom.xml
  stdlib/system/src/test/java/org/ballerinalang/stdlib/system/SystemTest.java
  stdlib/system/src/test/resources/test-src/system-test.bal
  stdlib/system/src/test/resources/testng.xml
Labels: Component/stdlib

#13029 Move crypto related unit tests
  stdlib/crypto/pom.xml
  stdlib/crypto/src/test/java/org/ballerinalang/stdlib/crypto/CryptoTest.java
  stdlib/crypto/src/test/resources/test-src/crypto-test.bal
  stdlib/crypto/src/test/resources/testng.xml
Labels: Component/stdlib

#12982 Move ballerina-internal unit tests
  stdlib/internal/pom.xml
  stdlib/internal/src/test/java/org/ballerinalang/internal/compression/CompressionTest.java
  stdlib/internal/src/test/java/org/ballerinalang/internal/conversion/BByteArrayValueTest.java
  stdlib/internal/src/test/java/org/ballerinalang/internal/file/InternalFileTest.java
  stdlib/internal/src/test/java/org/ballerinalang/internal/jwt/JwtTest.java
  stdlib/internal/src/test/java/org/ballerinalang/internal/jwt/crypto/JWTSignerTest.java
  stdlib/internal/src/test/java/org/ballerinalang/internal/jwt/crypto/JWTVerifierTest.java
  stdlib/internal/src/test/resources/datafiles/compression/hello.zip
  stdlib/internal/src/test/resources/datafiles/compression/my.app/Ballerina.toml
  stdlib/internal/src/test/resources/datafiles/compression/my.app/src/my.app.md
  stdlib/internal/src/test/resources/datafiles/compression/my.app/test/hello.bal
  stdlib/internal/src/test/resources/datafiles/compression/my.app/test/main.bal
  stdlib/internal/src/test/resources/datafiles/compression/my.app/test/test_1/hello.bal
  stdlib/internal/src/test/resources/datafiles/compression/test.zip
  stdlib/internal/src/test/resources/datafiles/compression/zip-slip.zip
  stdlib/internal/src/test/resources/datafiles/keyStore/ballerinaKeystore.p12
  stdlib/internal/src/test/resources/datafiles/keyStore/ballerinaTruststore.p12
  stdlib/internal/src/test/resources/logging.properties
  stdlib/internal/src/test/resources/test-src/compression/compression.bal
  stdlib/internal/src/test/resources/test-src/conversion/byte-array-value.bal
  stdlib/internal/src/test/resources/test-src/file/file-test.bal
  stdlib/internal/src/test/resources/test-src/jwt/jwt-test.bal
  stdlib/internal/src/test/resources/testng.xml
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/utils/ByteArrayUtils.java
  tests/ballerina-unit-test/src/test/resources/testng.xml
Labels: Component/stdlib

#13048 Add formatting support for markdown doc
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/documentation.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedDocumentation.bal
Labels: Component/Formatting

#13071 Fix Code actions for the latest LSP4J migration
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/AddAllDocumentationExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/AddDocumentationExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateFunctionExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateObjectInitializerExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateTestExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateVariableExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/ImportModuleExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/PullModuleExecutor.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/command/CommandExecutionTest.java
Labels: Component/LanguageServer

#13086 Fix windows source gen test failure
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/format/TextDocumentFormatUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/sourcegen/SourceGenTest.java
Labels: Component/LanguageServer

#13084 Add formatting support for worker interactions
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedWorkerInteractions.bal
  language-server/modules/langserver-core/src/test/resources/formatting/workerInteractions.bal
Labels: Component/Formatting

#13133 Fix windows build failure in formatting
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
Labels: Component/LanguageServer

#13092 Add tests examples and improve documentation for WebSocket
  examples/http-to-websocket-upgrade/http_to_websocket_upgrade.bal
  examples/http-to-websocket-upgrade/tests/http_to_websocket_upgrade_test.bal
  examples/websocket-basic-sample/tests/websocket_basic_sample_test.bal
  examples/websocket-chat-application/tests/websocket_chat_application_test.bal
  examples/websocket-chat-application/websocket_chat_application.bal
  examples/websocket-proxy-server/tests/websocket_proxy_server_test.bal
  stdlib/http/src/main/ballerina/http/Module.md
  stdlib/http/src/main/ballerina/http/annotation.bal
  stdlib/http/src/main/ballerina/http/websocket/websocket_caller.bal
  stdlib/http/src/main/ballerina/http/websocket/websocket_client.bal
  stdlib/http/src/main/ballerina/http/websocket/websocket_connector.bal
  tests/ballerina-unit-test/src/test/resources/datafiles/compression/hello.zip
  tests/ballerina-unit-test/src/test/resources/datafiles/compression/my.app/Ballerina.toml
  tests/ballerina-unit-test/src/test/resources/datafiles/compression/my.app/src/my.app.md
  tests/ballerina-unit-test/src/test/resources/datafiles/compression/my.app/test/hello.bal
  tests/ballerina-unit-test/src/test/resources/datafiles/compression/my.app/test/main.bal
  tests/ballerina-unit-test/src/test/resources/datafiles/compression/my.app/test/test_1/hello.bal
  tests/ballerina-unit-test/src/test/resources/datafiles/compression/test.zip
  tests/ballerina-unit-test/src/test/resources/datafiles/compression/zip-slip.zip
Labels: Component/WebSocket, Component/stdlib

#13141 Fix windows test failure for workers
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WaitForAllWorkersTest.java
Labels: Component/IntegrationTestModule

#13001 Add no-entity body flag to outbound request
  pom.xml
  stdlib/http/src/main/ballerina/http/caching/http_caching_client.bal
  stdlib/http/src/main/ballerina/http/client_endpoint.bal
  stdlib/http/src/main/ballerina/http/http_caller.bal
  stdlib/http/src/main/ballerina/http/http_commons.bal
  stdlib/http/src/main/ballerina/http/http_connection.bal
  stdlib/http/src/main/ballerina/http/http_request.bal
  stdlib/http/src/main/ballerina/http/http_secure_client.bal
  stdlib/http/src/main/ballerina/http/http_simple_client.bal
  stdlib/http/src/main/ballerina/http/redirect/redirect_client.bal
  stdlib/http/src/main/ballerina/http/resiliency/failover_client_endpoint.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_circuit_breaker.bal
  stdlib/http/src/main/ballerina/http/resiliency/http_retry_client.bal
  stdlib/http/src/main/ballerina/http/resiliency/load_balance_client_endpoint.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Execute.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Forward.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/Head.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/request/CheckEntityBodyAvailability.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HttpHeaderTestCases.java
  tests/ballerina-integration-test/src/test/resources/http/httpservices/13_http_header_test.bal
  tests/ballerina-integration-test/src/test/resources/http/httpservices/23_proxy_server.bal
  tests/ballerina-integration-test/src/test/resources/testng.xml
  tests/ballerina-integration-test/src/test/resources/transaction/participantservice/01_remote_participant.bal
Labels: Component/HTTP, Component/stdlib, Type/Improvement

#13196 Add formatting support for check and compound assignment
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/check.bal
  language-server/modules/langserver-core/src/test/resources/formatting/compoundAssignment.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedCheck.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedCompoundAssignment.bal
Labels: Component/Formatting

#13226 Add formatting support for constants and elvis expression
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/constant.bal
  language-server/modules/langserver-core/src/test/resources/formatting/elvisExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedConstant.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedElvisExpr.bal
Labels: Component/Formatting

#13236 Fix rendering source with syntax issues when annotation merging in API Designer
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/document/BallerinaDocumentServiceImpl.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingSourceGen.java
Labels: Component/LanguageServer

#13177 Handle stamping values with cyclic references
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BVM.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/GlobalMemoryBlock.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BCallableFuture.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BChannel.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BClosure.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BError.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BFunctionPointer.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BFuture.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BIntRange.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BIterator.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BMap.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BNewArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BRefType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BStream.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BStreamingJSON.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BTable.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BTypeDescValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BValueArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BValueType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXML.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLAttributes.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLItem.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BXMLQName.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/BallerinaErrorReasons.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/RuntimeErrors.java
  bvm/ballerina-core/src/main/resources/MessagesBundle.properties
  bvm/ballerina-core/src/main/resources/MessagesBundle_en_US.properties
  stdlib/database/sql/src/main/java/org/ballerinalang/database/sql/SQLDatasource.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/util/MultipartDataSource.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/conversion/NativeConversionNegativeTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/stamp/MapStampInbuiltFunctionTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/conversion/native-conversion-negative.bal
  tests/ballerina-unit-test/src/test/resources/test-src/expressions/stamp/map-stamp-expr-test.bal
Labels: Component/BVM

#13184 Add privacy API to distribution
  distribution/zip/ballerina-tools/pom.xml
  distribution/zip/ballerina/pom.xml
  distribution/zip/ballerina/src/assembly/bin.xml
Labels: Component/stdlib, Type/Bug

#13275 Fix formatting support for elvis expression and variable
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingConstants.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/resources/formatting/elvisExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedElvisExpr.bal
Labels: Component/Formatting

#13281 Add subscriber availability check before publishUpdate
  tests/ballerina-integration-test/src/test/resources/websub/services/01_websub_publisher.bal
Labels: Component/WebSub, Component/stdlib

#13287 Add formatting support for forever and error
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/errorConstructor.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedErrorConstructor.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedForever.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedWait.bal
  language-server/modules/langserver-core/src/test/resources/formatting/forever.bal
Labels: Component/Formatting

#13288 Fix multiline string support in config API
  bvm/ballerina-config/src/main/java/org/ballerinalang/bcl/parser/BConfigLangListener.java
  misc/toml-parser/src/main/java/org/ballerinalang/toml/antlr4/TomlBaseListener.java
  misc/toml-parser/src/main/java/org/ballerinalang/toml/antlr4/TomlListener.java
  misc/toml-parser/src/main/java/org/ballerinalang/toml/antlr4/TomlParser.java
  misc/toml-parser/src/main/resources/Toml.g4
  stdlib/config-api/src/test/java/org/ballerinalang/stdlib/config/ConfigTest.java
  stdlib/config-api/src/test/resources/datafiles/default/ballerina.conf
Labels: Component/stdlib

#13299 Fix few bugs found in manual testing formatting
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedIf.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedObject.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedRecord.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedRecordLiteralExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedService.bal
  language-server/modules/langserver-core/src/test/resources/formatting/if.bal
  language-server/modules/langserver-core/src/test/resources/formatting/object.bal
  language-server/modules/langserver-core/src/test/resources/formatting/record.bal
  language-server/modules/langserver-core/src/test/resources/formatting/recordLiteralExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/service.bal
Labels: Component/Formatting

#13297 Add codeLens feature for Language Server
  composer/packages/documentation/src/components/Documentation.jsx
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompiler.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSCompilerUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaWorkspaceService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/client/config/BallerinaClientConfig.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/client/config/BallerinaClientConfigHolder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/client/config/CodeLensConfig.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/client/config/ConfigChangeListener.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/CodeLensesProviderKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/EndpointFindVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/LSCodeLensesProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/LSCodeLensesProviderException.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/LSCodeLensesProviderFactory.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/providers/DocsCodeLensesProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/providers/EndpointsCodeLensesProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/providers/ServicesBasedCodeLensesProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codelenses/CodeLensTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/util/TestUtil.java
  language-server/modules/langserver-core/src/test/resources/codelens/expected/functions.json
  language-server/modules/langserver-core/src/test/resources/codelens/expected/services.json
  language-server/modules/langserver-core/src/test/resources/codelens/functions.bal
  language-server/modules/langserver-core/src/test/resources/codelens/services.bal
  tool-plugins/vscode/src/api-editor/activator.ts
  tool-plugins/vscode/src/core/extension.ts
  tool-plugins/vscode/src/diagram/activator.ts
  tool-plugins/vscode/src/docs/activator.ts
  tool-plugins/vscode/src/docs/renderer.ts
Labels: Component/LanguageServer, Component/VScode plugin

#13284 Remove simple* objects in JMS
  examples/jms-durable-topic-message-subscriber/jms_durable_topic_message_subscriber.bal
  examples/jms-headers-and-properties/jms_headers_and_properties.bal
  examples/jms-queue-message-producer/jms_queue_message_producer.bal
  examples/jms-queue-message-receiver-with-client-acknowledgment/jms_queue_message_receiver_with_client_acknowledgment.bal
  examples/jms-queue-message-receiver/jms_queue_message_receiver.bal
  examples/jms-simple-durable-topic-message-subscriber/jms_simple_durable_topic_message_subscriber.bal
  examples/jms-simple-queue-message-producer/jms_simple_queue_message_producer.bal
  examples/jms-simple-queue-message-receiver/jms_simple_queue_message_receiver.bal
  examples/jms-simple-topic-message-producer/jms_simple_topic_message_producer.bal
  examples/jms-simple-topic-message-subscriber/jms_simple_topic_message_subscriber.bal
  examples/jms-synchronous-queue-message-receiver/jms_synchronous_queue_message_receiver.bal
  examples/jms-topic-message-producer/jms_topic_message_producer.bal
  examples/jms-topic-message-subscriber/jms_topic_message_subscriber.bal
  examples/send-jms-message-to-http-endpoint/send_jms_message_to_http_endpoint.bal
  examples/transactional-queue-message-producer/transactional_queue_message_producer.bal
  stdlib/jms/src/main/ballerina/jms/destination.bal
  stdlib/jms/src/main/ballerina/jms/durable_topic_subscriber.bal
  stdlib/jms/src/main/ballerina/jms/jms_commons.bal
  stdlib/jms/src/main/ballerina/jms/queue_receiver.bal
  stdlib/jms/src/main/ballerina/jms/queue_sender.bal
  stdlib/jms/src/main/ballerina/jms/simple_durable_topic_subscriber.bal
  stdlib/jms/src/main/ballerina/jms/simple_queue_receiver.bal
  stdlib/jms/src/main/ballerina/jms/simple_queue_sender.bal
  stdlib/jms/src/main/ballerina/jms/simple_topic_publisher.bal
  stdlib/jms/src/main/ballerina/jms/simple_topic_subscriber.bal
  stdlib/jms/src/main/ballerina/jms/topic_publisher.bal
  stdlib/jms/src/main/ballerina/jms/topic_subscriber.bal
  stdlib/jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/receiver/CreateQueueReceiver.java
  stdlib/jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/queue/sender/InitQueueSender.java
  stdlib/jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/durable/subscriber/CreateSubscriber.java
  stdlib/jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/publisher/InitTopicPublisher.java
  stdlib/jms/src/main/java/org/ballerinalang/net/jms/nativeimpl/endpoint/topic/subscriber/CreateSubscriber.java
  tests/ballerina-integration-test/src/test/resources/jms/clients/jms_durable_topic_publisher.bal
  tests/ballerina-integration-test/src/test/resources/jms/clients/jms_map_message_publisher.bal
  tests/ballerina-integration-test/src/test/resources/jms/clients/jms_properties_queue_sender.bal
  tests/ballerina-integration-test/src/test/resources/jms/clients/jms_queue_producer.bal
  tests/ballerina-integration-test/src/test/resources/jms/clients/jms_simple_queue_producer.bal
  tests/ballerina-integration-test/src/test/resources/jms/clients/jms_topic_publisher.bal
  tests/ballerina-integration-test/src/test/resources/jms/jmsservices/01_jms_durable_topic_subscriber.bal
  tests/ballerina-integration-test/src/test/resources/jms/jmsservices/02_jms_headers_queue_receiver.bal
  tests/ballerina-integration-test/src/test/resources/jms/jmsservices/03_jms_map_message_subscriber.bal
  tests/ballerina-integration-test/src/test/resources/jms/jmsservices/04_jms_properties_queue_receiver.bal
  tests/ballerina-integration-test/src/test/resources/jms/jmsservices/05_jms_queue_consumer.bal
  tests/ballerina-integration-test/src/test/resources/jms/jmsservices/06_jms_simple_queue_consumer.bal
  tests/ballerina-integration-test/src/test/resources/jms/jmsservices/07_jms_topic_subscriber.bal
Labels: Component/jms, Component/stdlib

#13311 Fix formatting height preserving issue in If and resources
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedIf.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedService.bal
  language-server/modules/langserver-core/src/test/resources/formatting/if.bal
  language-server/modules/langserver-core/src/test/resources/formatting/service.bal
Labels: Component/Formatting

#13326 Improved documentation preview web view
  composer/packages/documentation/src/components/DocPreview.jsx
  composer/packages/documentation/src/components/Documentation.jsx
  composer/packages/theme/src/definitions/views/documentation.less
  composer/packages/theme/src/themes/default/globals/site.overrides
  composer/packages/theme/src/themes/default/globals/site.variables
  composer/packages/theme/src/themes/default/views/documentation.variables
Labels: Component/Composer

#13321 Cleanup unused classes in compiler
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/expressions/AbstractExpression.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/expressions/Expression.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/BLangExceptionHelper.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/FlowBuilderException.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/LinkerException.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/NativeException.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/ParserException.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/SemanticErrors.java
Labels: Component/Compiler

#13323 Disable failing test
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/ClientInitializationFailureTest.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/util/websocket/client/WebSocketTestClientHandler.java
Labels: Component/WebSocket, Component/stdlib

#13352 Add test for ballerina-to-swagger.bal in examples
  examples/ballerina-to-swagger/tests/ballerina_to_swagger_test.bal
Labels: Component/Examples

#13380 Remove redundant imports in record_io test
  examples/record-io/tests/record_io_test.bal
Labels: Component/Examples, Type/Improvement

#13375 Fix mocking functions of the current module not working
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/core/TestAnnotationProcessor.java
Labels: Component/Testerina, Type/Bug
