Repository ballerina-platform/ballerina-lang, pull requests merged in 2019-02, with the labels that each got.

#13416 Fix formatting issue with check expr in assignment
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingSourceGen.java
  language-server/modules/langserver-core/src/test/resources/formatting/arrayLiteralExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/check.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedArrayLiteralExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedBindingPatterns.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedCheck.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedObject.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedRecordLiteralExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedReturn.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedVariableDefinition.bal
  language-server/modules/langserver-core/src/test/resources/formatting/object.bal
  language-server/modules/langserver-core/src/test/resources/formatting/recordLiteralExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/return.bal
  language-server/modules/langserver-core/src/test/resources/formatting/variableDefinition.bal
Labels: Component/Formatting

#13413 Fix codeLens feature issues
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/providers/AbstractCodeLensesProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/providers/DocsCodeLensesProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/providers/EndpointsCodeLensesProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codelenses/providers/ServicesBasedCodeLensesProvider.java
  tool-plugins/vscode/package.json
Labels: Component/LanguageServer, Component/VScode plugin, Severity/Critical, Type/Bug

#13397 Fix swagger tooling exception on adding producers
  misc/swagger-ballerina/modules/ballerina-code-generator/src/main/java/org/ballerinalang/code/generator/util/GeneratorUtils.java
  misc/swagger-ballerina/modules/ballerina-to-swagger/src/main/java/org/ballerinalang/ballerina/swagger/convertor/service/SwaggerResourceMapper.java
Labels: Component/ToolSwagger

#13355 Decouple connection pool from HTTP client
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport.json
  language-server/modules/langserver-core/src/test/resources/completion/service/serviceBodyCompletion5.json
  language-server/modules/langserver-core/src/test/resources/completion/service/serviceEndpointBind4.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  pom.xml
  stdlib/http/src/main/ballerina/http/client_endpoint.bal
  stdlib/http/src/main/ballerina/http/http_caller.bal
  stdlib/http/src/main/ballerina/http/http_client_connection_pool.bal
  stdlib/http/src/main/ballerina/http/http_simple_client.bal
  stdlib/http/src/main/ballerina/http/redirect/redirect_client.bal
  stdlib/http/src/main/ballerina/http/resiliency/failover_client_endpoint.bal
  stdlib/http/src/main/ballerina/http/resiliency/load_balance_client_endpoint.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpConstants.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/clientendpoint/CreateSimpleHttpClient.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/clientendpoint/InitGlobalPool.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/connectionpool/ConnectionPoolTest.java
  stdlib/http/src/test/resources/test-src/connection-pool/client-connection-pool.bal
  stdlib/http/src/test/resources/testng.xml
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/01_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/02_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/03_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/04_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/05_http_failover.bal
  tests/ballerina-integration-test/src/test/resources/resiliency/resiliencyservices/06_http_failover.bal
Labels: Component/HTTP, Component/stdlib

#13390 [WebSub] Refactor integration tests
  stdlib/websub/src/main/ballerina/websub/hub_service.bal
  tests/ballerina-integration-test-utils/src/main/java/org/ballerinalang/test/context/BServerInstance.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/WebSubTestUtils.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/advanced/WebSubPersistenceTestCase.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/advanced/WebSubSecureHubTestCase.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/basic/WebSubContentTypeSupportTestCase.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/basic/WebSubCoreFunctionalityTestCase.java
  tests/ballerina-integration-test/src/test/resources/websub/advanced_services/01_websub_publisher.bal
  tests/ballerina-integration-test/src/test/resources/websub/services/01_websub_publisher.bal
Labels: Component/WebSub, Component/stdlib, Type/Improvement

#13526 Refactor pool default config
  pom.xml
  stdlib/http/src/main/ballerina/http/http_client_connection_pool.bal
Labels: Component/HTTP, Component/stdlib

#13418 Fix SO error when calling same function inside mocking function
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/core/TestAnnotationProcessor.java
  misc/testerina/modules/testerina-core/src/test/resources/functionmocktest2.pkg/test-sub-program.bal
  misc/testerina/modules/testerina-core/src/test/resources/functionmocktest4.pkg/sub-program.bal
  misc/testerina/modules/testerina-core/src/test/resources/functionmocktest4.pkg/tests/test-sub-program.bal
Labels: Component/Testerina, Type/Bug

#13682 Add formatting support for table and streaming queries
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedService.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedStreamingQuery.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedTableQuery.bal
  language-server/modules/langserver-core/src/test/resources/formatting/service.bal
  language-server/modules/langserver-core/src/test/resources/formatting/streamingQuery.bal
  language-server/modules/langserver-core/src/test/resources/formatting/tableQuery.bal
Labels: Component/Formatting

#13737 Consider TupleVariable & RecordVariable types upon finding EP variable
  composer/packages/diagram/src/visitors/sizing-visitor.ts
Labels: Component/Diagram

#13616 Make use of workspaceEdits to create file for tests
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateTestExecutor.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/command/CommandExecutionTest.java
Labels: Component/LanguageServer

#13828 Add formatting support for more syntaxes
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/formatting/FormattingNodeTree.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/formatting/FormattingTest.java
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedFunction.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedStringTemplateLiteral.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedTernaryExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedTypeGuard.bal
  language-server/modules/langserver-core/src/test/resources/formatting/function.bal
  language-server/modules/langserver-core/src/test/resources/formatting/stringTemplateLiteral.bal
  language-server/modules/langserver-core/src/test/resources/formatting/ternaryExpr.bal
  language-server/modules/langserver-core/src/test/resources/formatting/typeGuard.bal
Labels: Component/Formatting

#13620 Add mapping and array values for JVM
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/JSONDataSource.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/JSONGenerator.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/JSONParser.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/JSONUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/Lists.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/StringUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/XMLFactory.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/XMLNodeType.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/XMLValidator.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/commons/TypeValuePair.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/MapValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/RefValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/StreamingJsonValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/XMLAttributes.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/XMLItem.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/XMLQName.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/XMLSequence.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/XMLValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/freeze/FreezeUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/freeze/State.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/freeze/Status.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/types/BUnionType.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_class_names.bal
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_codegen.bal
Labels: Component/JBallerina, Type/New Feature

#13602 Support index based access via expressions for tuples
  bvm/ballerina-core/src/main/java/org/ballerinalang/bre/bvm/BVM.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/model/values/BNewArray.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/util/exceptions/RuntimeErrors.java
  bvm/ballerina-core/src/main/resources/MessagesBundle.properties
  bvm/ballerina-core/src/main/resources/MessagesBundle_en_US.properties
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/BasicTupleTest.java
  tests/ballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/TupleAccessExprTest.java
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple_access_expr.bal
  tests/ballerina-unit-test/src/test/resources/test-src/types/tuples/tuple_negative_test.bal
Labels: Component/Compiler

#13842 Update apacheds-all version from 1.5.5 to 2.0.0-M24
  pom.xml
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/auth/EmbeddedDirectoryServer.java
Labels: Component/Auth, Component/IntegrationTest, Component/stdlib

#13974 Bump org.wso2.transport.local-file-system from 6.0.53 to 6.0.55
  pom.xml
  stdlib/file/src/main/java/org/ballerinalang/stdlib/file/service/endpoint/Register.java
Labels: Component/stdlib, dependencies

#13993 Add array value related codegen
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/JSONUtils.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/Lists.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/XMLFactory.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/ArrayValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/StreamingJsonValue.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/XMLItem.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/XMLSequence.java
  bvm/ballerina-core/src/main/java/org/ballerinalang/jvm/values/XMLValue.java
  compiler/ballerina-backend-jvm/src/main/ballerina/compiler_backend_jvm/jvm_instruction_gen.bal
Labels: Component/JBallerina, Type/Task

#13840 Make getPayload functions non-blocking
  stdlib/http/src/main/ballerina/http/http_commons.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpDispatcher.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/HttpUtil.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/HttpServiceCompilerPlugin.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/basics/ServiceTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/request/RequestNativeFunctionNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/response/ResponseNativeFunctionNegativeTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/response/ResponseNativeFunctionSuccessTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/MessageUtils.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/utils/TestEntityUtils.java
  stdlib/mime/spotbugs-exclude.xml
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/AbstractGetPayloadHandler.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetBodyAsString.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetByteArray.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetByteChannel.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetJson.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetText.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/GetXml.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/util/EntityBodyHandler.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/util/MimeConstants.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/util/MimeUtil.java
  stdlib/websub/src/main/java/org/ballerinalang/net/websub/WebSubUtils.java
  tests/ballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/TestReusabilityOfRequest.java
Labels: Component/HTTP, Component/stdlib, Type/Improvement
