Repository ballerina-platform/ballerina-lang, pull requests merged in 2020-07, with the labels that each got.

#24494 Add dynamically enable/disable feature for code-actions
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/codeaction/spi/LSCodeActionProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/CodeActionProvidersHolder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/CodeActionRouter.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/AbstractCodeActionProvider.java
Labels: Area/Tooling, Component/LanguageServer, Type/NewFeature

#24478 Replace Ballerina map usages in Ballerina Cache with Java ConcurrentHashMap [master]
  gradle/javaLibsProject.gradle
  stdlib/cache/build.gradle
  stdlib/cache/src/main/ballerina/Ballerina.toml
  stdlib/cache/src/main/ballerina/src/cache/cache.bal
  stdlib/cache/src/main/ballerina/src/cache/cache_errors.bal
  stdlib/cache/src/main/java/org/ballerinalang/stdlib/cache/nativeimpl/Cache.java
  stdlib/http/src/main/ballerina/src/http/caching/http_cache.bal
  stdlib/http/src/main/ballerina/src/http/caching/http_caching_client.bal
Labels: Area/StandardLibs, Component/Cache, Type/Improvement

#24526 Enable pkg management tests & switch tests to work with prepod
  cli/ballerina-packerina/src/test/java/org/ballerinalang/packerina/cmd/BuildCommandTest.java
  stdlib/messaging/kafka/src/test/resources/testng.xml
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/ImportModuleTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/ModulePushTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingTestCase.java
  tests/ballerina-tools-integration-test/src/test/java/org/ballerinalang/test/packaging/RepoHierarchyTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/LockFileTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/ModulePushTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/NativePackagingTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingNegativeTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PackerinaTestUtils.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PathDependencyTestCase.java
Labels: Area/BuildTools

#24482 Fix issue with optional fields in record using openapi gen-service
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/utils/TypeExtractorUtil.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/test/resources/expected_gen/allOf-schema-petstore.bal
Labels: Area/BuildTools, Component/ToolSwagger, Type/Bug

#24535 Add option to give a custom home
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/BuildCommand.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/RunCommand.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/TestCommand.java
  cli/ballerina-tool/src/main/resources/cli-help/ballerina-build.help
  cli/ballerina-tool/src/main/resources/cli-help/ballerina-test.help
  compiler/ballerina-lang/src/main/java/org/ballerinalang/compiler/CompilerOptionName.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/RepoUtils.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/CustomHomeCacheTest.java
  tests/jballerina-integration-test/src/test/resources/packaging/customHomeCheck/home/balo_cache/customCheck/myImport/0.1.0/myImport-2020r1-any-0.1.0.balo
  tests/jballerina-integration-test/src/test/resources/packaging/customHomeCheck/project/.gitignore
  tests/jballerina-integration-test/src/test/resources/packaging/customHomeCheck/project/Ballerina.toml
  tests/jballerina-integration-test/src/test/resources/packaging/customHomeCheck/project/src/myModule/Module.md
  tests/jballerina-integration-test/src/test/resources/packaging/customHomeCheck/project/src/myModule/main.bal
  tests/jballerina-integration-test/src/test/resources/packaging/customHomeCheck/project/src/myModule/resources/.keep
  tests/jballerina-integration-test/src/test/resources/packaging/customHomeCheck/project/src/myModule/tests/main_test.bal
  tests/jballerina-integration-test/src/test/resources/packaging/customHomeCheck/project/src/myModule/tests/resources/.keep
  tests/jballerina-integration-test/src/test/resources/testng.xml
Labels: Area/BuildTools

#24490 Add introspection claims to OAuth2 cache [1.2.x]
  stdlib/jwt/src/main/ballerina/src/jwt/jwt_validator.bal
  stdlib/oauth2/src/main/ballerina/src/oauth2/inbound_oauth2_provider.bal
Labels: Area/StandardLibs, Component/OAuth2, Type/Bug

#24527 Improvements and fixes to the bindgen tool
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/command/BindingsGenerator.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JClass.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JConstructor.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JError.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JField.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JMethod.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JParameter.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenConstants.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenUtils.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/ChildFirstClassLoader.java
  misc/ballerina-bindgen/src/main/resources/templates/array_utils.mustache
  misc/ballerina-bindgen/src/main/resources/templates/bridge_class.mustache
  misc/ballerina-bindgen/src/main/resources/templates/exception.mustache
  misc/ballerina-bindgen/src/main/resources/templates/jobject.mustache
Labels: Area/Tooling

#24480 Fix issue with optional fields in record using openapi gen-service [1.2.x]
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/utils/TypeExtractorUtil.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/test/resources/expected_gen/allOf-schema-petstore.bal
Labels: Area/BuildTools, Component/ToolSwagger, Type/Bug

#24492 Fix hash '#' being appended to backtick content
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  language-server/modules/langserver-compiler/samples/source/packagecache/Ballerina.toml
  language-server/modules/langserver-compiler/samples/source/packagecache/io-sample.bal
  language-server/modules/langserver-core/samples/hover/expected/builtin-function1.json
  language-server/modules/langserver-core/samples/hover/expected/builtin-function2.json
  language-server/modules/langserver-core/samples/hover/expected/currentPkg-enum.json
  language-server/modules/langserver-core/samples/hover/expected/currentPkg-function1.json
  language-server/modules/langserver-core/samples/hover/expected/currentPkg-record.json
  language-server/modules/langserver-core/samples/hover/hover.bal
  language-server/modules/langserver-core/src/test/resources/hover/expected/builtin-function1.json
Labels: Area/Tooling, Component/LanguageServer, Type/Bug

#24522 [ballerina-1.2.x] Add jBallerina debugger integration tests
  misc/debug-adapter/modules/debug-adapter-core/src/main/java/org/ballerinalang/debugadapter/launchrequest/LauncherImpl.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/context/BMainInstance.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/DebugAdapterBaseTestCase.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/adapter/build/MultiModuleBuildDebugTest.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/adapter/run/MultiModuleRunDebugTest.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/adapter/run/SingleBalFileRunDebugTest.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/adapter/test/MultiModuleTestDebugTest.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/utils/client/DAPClient.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/utils/client/DAPRequestManager.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/utils/client/TestDAPClientConnector.java
  tests/jballerina-debugger-integration-test/src/test/resources/project-based-tests/breakpoint-tests/src/foo/helloBal/hello.bal
  tests/jballerina-debugger-integration-test/src/test/resources/project-based-tests/breakpoint-tests/src/foo/mainBal/main.bal
  tests/jballerina-debugger-integration-test/src/test/resources/project-based-tests/breakpoint-tests/src/foo/tests/main_test.bal
  tests/jballerina-debugger-integration-test/src/test/resources/single-file-tests/hello_world.bal
  tests/jballerina-debugger-integration-test/src/test/resources/testng.xml
Labels: Area/Tooling

#24521 [ballerina-1.2.x]Fix Windows related path issues in debug-adapter
  misc/debug-adapter/modules/debug-adapter-core/src/main/java/org/ballerinalang/debugadapter/EventBus.java
  misc/debug-adapter/modules/debug-adapter-core/src/main/java/org/ballerinalang/debugadapter/JBallerinaDebugServer.java
  misc/debug-adapter/modules/debug-adapter-core/src/main/java/org/ballerinalang/debugadapter/utils/PackageUtils.java
Labels: Area/Tooling

#24552 Add support for nested transaction blocks
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/scheduling/Scheduler.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/scheduling/Strand.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/transactions/TransactionResourceManager.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/TransactionDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolEnv.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/CleanUpTransactionContext.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/GetAndClearFailure.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/GetData.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/GetRollbackOnly.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/GetRollbackOnlyError.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/Info.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/OnCommit.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/OnRollback.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/RollbackTransaction.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/SetData.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/SetRollbackOnly.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/SetTransactionContext.java
  stdlib/database/sql/src/main/java/org/ballerinalang/sql/datasource/SQLDatasourceUtils.java
  stdlib/database/sql/src/main/java/org/ballerinalang/sql/utils/Utils.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/actions/httpclient/AbstractHTTPAction.java
  stdlib/messaging/kafka/src/main/java/org/ballerinalang/messaging/kafka/utils/TransactionUtils.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/RabbitMQTransactionContext.java
  stdlib/transactions/src/main/java/io/ballerina/transactions/Utils.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/transaction/NestedTransactionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/transaction/TransactionStmtTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/transaction/nested_transaction_test.bal
  tests/jballerina-unit-test/src/test/resources/testng-jballerina.xml
Labels: Area/Language, Type/NewFeature

#24497 Remove invalid comment in BallerinaLexer
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
Labels: Component/Parser

#24411 Handle the parsed node in compiler front end
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/PackageLoader.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/InvalidSyntaxParserTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/ResilientParserTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/parser/resilient-parser.bal
  tests/jballerina-unit-test/src/test/resources/test-src/parser/resilient-parsing-for-module-decl.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/string/unicode-negative.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#24519 Fix TypeEmitter for readonly and intersection types
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/emit/TypeEmitter.java
Labels: Area/Language

#24507 Improve recovery for incomplete qualified identifier
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/ModuleVarDeclTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/RecordTypeDefinitionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/QualifiedIdentifierTest.java
  compiler/ballerina-parser/src/test/resources/declarations/module-var-decl/module_var_decl_assert_08.json
  compiler/ballerina-parser/src/test/resources/declarations/module-var-decl/module_var_decl_assert_09.json
  compiler/ballerina-parser/src/test/resources/declarations/module-var-decl/module_var_decl_source_09.bal
  compiler/ballerina-parser/src/test/resources/declarations/record-type-def/record_type_def_assert_24.json
  compiler/ballerina-parser/src/test/resources/declarations/record-type-def/record_type_def_source_24.bal
  compiler/ballerina-parser/src/test/resources/expressions/qualified-identifier/qualified_identifier_assert_07.json
Labels: Component/Parser

#24430 Enable LangLib test that fail due to assert errors and positions
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibSubTypeTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibValueTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibXMLTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/TypeParamTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/statements/foreach/ForeachNegativeTests.java
  langlib/langlib-test/src/test/resources/test-src/valuelib_test.bal
Labels: Component/Parser

#24460 Fix the /learn links in the Swan Lake API Docs
  observelib/observe/src/main/ballerina/src/observe/Module.md
  stdlib/auth/src/main/ballerina/src/auth/Module.md
  stdlib/cache/src/main/ballerina/src/cache/Module.md
  stdlib/crypto/src/main/ballerina/src/crypto/Module.md
  stdlib/email/src/main/ballerina/src/email/Module.md
  stdlib/file/src/main/ballerina/src/file/Module.md
  stdlib/filepath/src/main/ballerina/src/filepath/Module.md
  stdlib/grpc/src/main/ballerina/src/grpc/Module.md
  stdlib/http/src/main/ballerina/src/http/Module.md
  stdlib/io/src/main/ballerina/src/io/Module.md
  stdlib/java.arrays/src/main/ballerina/src/java.arrays/Module.md
  stdlib/java/src/main/ballerina/src/java/Module.md
  stdlib/ldap/src/main/ballerina/src/ldap/Module.md
  stdlib/log-api/src/main/ballerina/src/log/Module.md
  stdlib/math/src/main/ballerina/src/math/Module.md
  stdlib/messaging/kafka/src/main/ballerina/src/kafka/Module.md
  stdlib/messaging/nats/src/main/ballerina/src/nats/Module.md
  stdlib/messaging/rabbitmq/src/main/ballerina/src/rabbitmq/Module.md
  stdlib/mime/src/main/ballerina/src/mime/Module.md
  stdlib/oauth2/src/main/ballerina/src/oauth2/Module.md
  stdlib/task/src/main/ballerina/src/task/Module.md
  stdlib/time/src/main/ballerina/src/time/Module.md
  stdlib/xslt/src/main/ballerina/src/xslt/Module.md
Labels: Type/Docs

#24579 Remove Appropriate Words from Bio 1.2.x Versions
  stdlib/http/src/main/ballerina/src/http/annotation.bal
Labels: Type/Docs

#24591 Remove antlr dependency from find-cursor-token for hover, rename, signature ops
  language-server/modules/langserver-core/spotbugs-exclude.xml
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/CodeActionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/CursorSymbolFindingVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/AbstractCodeActionProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/CreateFunctionCodeAction.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/CreateTestCodeAction.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/CreateVariableCodeAction.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateFunctionExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateTestExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/OpenApiCodeActionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/ballerinatoopenapi/CreateBallerinaServiceResourceExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/ballerinatoopenapi/CreateBallerinaServiceResourceMethodExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/openapitoballerina/AddMissingParameterInBallerinaExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/openapitoballerina/CreateOpenApiServiceResourceExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/openapitoballerina/CreateOpenApiServiceResourceMethodExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/NodeContextKeys.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/hover/HoverUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/TokensUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/definition/DefinitionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/references/ReferencesUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/references/SymbolReferenceFindingVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/references/SymbolReferencesModel.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/references/TokenOrSymbolNotFoundException.java
Labels: Area/Tooling, Component/LanguageServer, Type/Task

#24590 Remove `name` claim from `username` & Append JWT mandatory parameters as custom claims [1.2.x]
  stdlib/jwt/src/main/ballerina/src/jwt/inbound_jwt_auth_provider.bal
  stdlib/jwt/src/main/ballerina/src/jwt/jwt_validator.bal
Labels: Area/StandardLibs, Component/JWT, Type/Improvement

#24577 Add new endpoint parameters for OAuth2 outbound request
  stdlib/oauth2/src/main/ballerina/src/oauth2/outbound_oauth2_provider.bal
Labels: Area/StandardLibs, Component/OAuth2, Type/Improvement

#24595 Add `scp` claim data as scopes when `scope` claim is not present [1.2.x]
  stdlib/jwt/src/main/ballerina/src/jwt/inbound_jwt_auth_provider.bal
Labels: Area/StandardLibs, Component/JWT, Type/Improvement

#24586 Improve xml element conversion
  stdlib/jsonutils/src/main/java/org/ballerinalang/stdlib/jsonutils/XmlToJsonConverter.java
  stdlib/jsonutils/src/test/java/org/ballerinalang/stdlib/jsonutils/JsonUtilsTest.java
  stdlib/jsonutils/src/test/resources/test-src/jsonutils_test.bal
Labels: Area/Language, Priority/High

#24553 Add outer join support with query
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/clauses/InputClauseNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ConstantPropagation.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/clauses/BLangInputClause.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/clauses/BLangJoinClause.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STJoinClauseNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/JoinClauseNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  langlib/lang.query/src/main/ballerina/src/lang.query/helpers.bal
  langlib/lang.query/src/main/ballerina/src/lang.query/types.bal
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/references/SymbolReferenceFindingVisitor.java
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionOverArrays.json
  language-server/modules/langserver-core/src/test/resources/completion/function/errorLiftingSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/groupedExpressionSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest14.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest2.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest3.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest4.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest8.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest9.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/completionAvoidRemoteFunctions.json
  language-server/modules/langserver-core/src/test/resources/completion/service/serviceVariableAndFieldsCompletion1.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/JoinClauseTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/join-clause.bal
Labels: Area/Language, Component/Streams

#24528 Mapping-match-pattern support to match statement
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STFieldMatchPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMappingMatchPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/FieldMatchPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MappingMatchPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/MatchStatementTest.java
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_06.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_10.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_11.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_source_10.bal
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_source_11.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/definitions/FunctionDefinitionCompletionTest.java
Labels: Component/Parser

#24621 Generalize assertion for crypto unit tests [1.1.x]
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/Decode.java
  stdlib/crypto/src/test/java/org/ballerinalang/stdlib/crypto/CryptoTest.java
  stdlib/messaging/kafka/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/Crypto

#24610 [1.1.x] Use the original caller request as the cached-response validation request
  stdlib/http/src/main/ballerina/src/http/caching/http_caching_client.bal
  stdlib/http/src/main/java/org/ballerinalang/net/http/nativeimpl/connection/Respond.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/HttpBaseTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HTTPCachingTestCase.java
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/47_cache_validation_request_header_preservation.bal
Labels: Area/StandardLibs

#24633 Fix negative authz cache bug [1.2.x]
  stdlib/http/src/main/ballerina/src/http/service_endpoint.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthzCacheTest.java
Labels: Area/StandardLibs, Component/Auth, Type/Bug

#24575 Fix scheduler state becoming invalid
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/scheduling/Scheduler.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/NotSoBasicWorkerTest.java
Labels: Area/jBallerina

#24644 Add Bullets to the Description of the Object Assignability BBE in 1.2.x
  examples/object-assignability/object_assignability.description
Labels: Type/Docs

#24634 Fix negative authz cache bug [master]
  stdlib/http/src/main/ballerina/src/http/service_endpoint.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthBaseTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/basic/AuthzCacheTest.java
  tests/jballerina-integration-test/src/test/resources/auth/src/basic/authz_cache_tests.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/basic/users.toml
  tests/jballerina-integration-test/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/Auth, Type/Bug

#24622 Fix the type of the array returned by a query expression
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  langlib/lang.query/src/main/ballerina/src/lang.query/helpers.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryExpressionIterableObjectTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/StringQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/join-clause.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-exp-iterable-objects.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/string-query-expression.bal
Labels: Area/Language, Component/Streams

#24635 Fix createJavadoc failing issue
  compiler/ballerina-lang/src/main/java/org/ballerinalang/project/Project.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
Labels: Area/Language

#24655 Add variable visibility test for jBallerina debugger
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/DebugAdapterBaseTestCase.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/adapter/variables/VariableVisibilityTest.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/utils/DebugHitListener.java
  tests/jballerina-debugger-integration-test/src/test/resources/project-based-tests/basic-project/src/advanced/main.bal
  tests/jballerina-debugger-integration-test/src/test/resources/project-based-tests/basic-project/src/advanced/variables.bal
  tests/jballerina-debugger-integration-test/src/test/resources/testng.xml
Labels: Area/BuildTools, Component/Debugger

#24560 Add MockFunction validation and Service compatibility
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/MockDesugar.java
  misc/testerina/modules/testerina-core/src/main/ballerina/Ballerina.toml
  misc/testerina/modules/testerina-core/src/main/ballerina/src/test/mock.bal
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/core/TestAnnotationProcessor.java
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/natives/test/FunctionMock.java
  tests/testerina-integration-test/src/test/java/org/ballerinalang/testerina/test/MockTest.java
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock/tests/main_test.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock2/main.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock2/tests/main_test.bal
Labels: Area/TestFramework, Component/Testerina

#24554 Create methods for finding specific Ancestors and all Ancestors
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/Node.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/TreeTraversalAPITest.java
Labels: Component/Parser

#24658 Add functional-match-pattern support to match statement
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STFunctionalMatchPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNamedArgMatchPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/FunctionalMatchPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NamedArgMatchPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/MatchStatementTest.java
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_03.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_07.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_09.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_11.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_12.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_13.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_source_12.bal
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_source_13.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#24687 Update performance test results for Ballerina v1.2.5
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Type/Task

#24685 Switch test to work with new staging
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/PushUtils.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/RepoUtils.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/LockFileTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/ModulePushTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/NativePackagingTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingNegativeTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PackerinaTestUtils.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PathDependencyTestCase.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
Labels: Area/BuildTools

#24653 Enable StartActionTest. testStartActionNegative
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/actions/WaitActionTest.java
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_assert_05.json
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_source_05.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/action/start/StartActionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/rawtemplate/RawTemplateLiteralTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/BasicWorkerActionsNegativeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/workers/actions-negative.bal
Labels: Component/Parser

#24693 Improve doc comments of functional-binding-pattern
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
Labels: Component/Parser

#24686 Include throws section in Project interface doc
  compiler/ballerina-lang/src/main/java/org/ballerinalang/project/Project.java
Labels: Area/Language

#24711 Enable worker related disabled tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/resources/statements/fork-stmt/fork_stmt_assert_03.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/BasicForkNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WaitActionsNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WorkerInActionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/workers/worker-in-action.bal
Labels: Component/Parser

#24684 Enable documentaion tests for new parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DocumentationAnalyzer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/DocumentationLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/DocumentationParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserMode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STDocumentationLineToken.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMarkdownDocumentationLineNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMarkdownDocumentationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMarkdownParameterDocumentationLineNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/DocumentationLineNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MarkdownDocumentationLineNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MarkdownDocumentationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MarkdownParameterDocumentationLineNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/DocumentationTest.java
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_01.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_02.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_03.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_08.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_01.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_02.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_03.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_05.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_06.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_07.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_08.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_09.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_10.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_11.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_12.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_13.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_14.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_15.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_source_04.bal
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_source_06.bal
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_source_13.bal
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_source_14.bal
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_source_15.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  misc/testerina/modules/testerina-core/src/main/ballerina/src/test/mock.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#24729 Enable AnnotationDeclarationTest.testSourceOnlyAnnotDeclWithoutSource on new parser.
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationDeclarationTest.java
Labels: Component/Parser

#24700 Update performance test results for Ballerina v1.2.6
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Type/Task

#24531 Fix interop for intersection types
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethodResolver.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/StaticMethods.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/RefTypeTests.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/ballerina_types_as_interop_types.bal
Labels: Area/Language, Area/jBallerina

#24756 Fix adding duplicated & wrong entries to lock file
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/LockFileWriter.java
Labels: Area/BuildTools

#24241 Remove char escape from string template
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/XMLQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/string/StringTemplateLiteralTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLIterationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
Labels: Area/Language

#24417 Fix issues when passing a vararg for non-rest params
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/FunctionCallTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/invocations/function-invocation-expr.bal
  tests/jballerina-unit-test/src/test/resources/test-src/taintchecking/expressions/func_call.bal
  tests/jballerina-unit-test/src/test/resources/test-src/taintchecking/expressions/func_call_negative.bal
Labels: Area/Language

#24732 Fix http cookie bug
  stdlib/http/src/main/ballerina/src/http/cookie/cookie.bal
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  stdlib/http/src/test/resources/test-src/services/nativeimpl/request/in-request-native-function.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HTTPCookiesTestCase.java
  tests/jballerina-integration-test/src/test/resources/http/src/cookie/cookieClient_13.bal
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/43_http_cookies.bal
Labels: Area/StandardLibs, Component/HTTP

#24440 Make `strings` field of `RawTemplate` a readonly field
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangAnonymousModelHelper.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  langlib/lang.object/src/main/ballerina/src/lang.object/raw_template.bal
  stdlib/database/sql/src/main/ballerina/src/sql/types.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/rawtemplate/RawTemplateLiteralTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/rawtemplate/raw_template_literal_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/rawtemplate/raw_template_literal_test.bal
Labels: Area/Language

#24754 Fix http cookie bug
  stdlib/http/src/main/ballerina/src/http/cookie/cookie.bal
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/nativeimpl/request/RequestNativeFunctionSuccessTest.java
  stdlib/http/src/test/resources/test-src/services/nativeimpl/request/in-request-native-function.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/HTTPCookiesTestCase.java
  tests/jballerina-integration-test/src/test/resources/http/src/cookie/cookieClient_13.bal
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/43_http_cookies.bal
Labels: Area/StandardLibs, Component/HTTP

#24484 Add support for `readonly` fields in a mapping constructor expression and allow using `readonly` as the CET for mapping/list constructor expressions
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BObjectType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BRecordType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangRecordLiteral.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/readonly/SelectivelyImmutableTypeBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/listconstructor/ListConstructorExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/mappingconstructor/MappingConstructorExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/rawtemplate/RawTemplateLiteralTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ReadonlyObjectFieldTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/AnonymousOpenRecordTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ReadonlyRecordFieldTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/intersection/IntersectionTypeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/readonly/SelectivelyImmutableTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/listconstructor/list_constructor.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/listconstructor/list_constructor_infer_type.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/listconstructor/list_constructor_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/mappingconstructor/mapping_constructor.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/mappingconstructor/mapping_constructor_infer_record.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/mappingconstructor/mapping_constructor_infer_record_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/mappingconstructor/readonly_field.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/mappingconstructor/readonly_field_code_analysis_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/mappingconstructor/readonly_field_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/readonly_object_fields_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/anon_record.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/readonly_record_fields_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/intersection/test_intersection_type.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/readonly/test_selectively_immutable_type.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/readonly/test_selectively_immutable_type_negative.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Area/Language

#24749 Panic at errors happen at constructors of Email Connector Clients
  stdlib/email/src/main/ballerina/src/email/imap_client_endpoint.bal
  stdlib/email/src/main/ballerina/src/email/pop_client_endpoint.bal
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/ListenerImapReceiveTest.java
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/ListenerPopReceiveTest.java
  stdlib/email/src/test/resources/test-src/ImapComplexEmailReceive.bal
  stdlib/email/src/test/resources/test-src/ImapSimpleSecureEmailReceive.bal
  stdlib/email/src/test/resources/test-src/PopComplexEmailReceive.bal
  stdlib/email/src/test/resources/test-src/PopSimpleSecureEmailReceive.bal
Labels: Area/StandardLibs

#24734 Allow redirection for non-safe methods
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionForCompleteSource1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/ifWhileConditionContextCompletion4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/workerDeclarationContext4.json
  language-server/modules/langserver-core/src/test/resources/completion/object/objectTest13.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/statementWithMissingSemiColon3.json
  stdlib/http/src/main/ballerina/src/http/client_endpoint.bal
  stdlib/http/src/main/ballerina/src/http/http_commons.bal
  stdlib/http/src/main/ballerina/src/http/http_headers.bal
  stdlib/http/src/main/ballerina/src/http/redirect/redirect_client.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/RedirectTestCase.java
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/11_http_redirects.bal
Labels: Area/StandardLibs, Component/HTTP

#24770 Add cookie field in the WebSocket config
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionForCompleteSource1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/ifWhileConditionContextCompletion4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/workerDeclarationContext4.json
  language-server/modules/langserver-core/src/test/resources/completion/object/objectTest13.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/statementWithMissingSemiColon3.json
  stdlib/http/src/main/ballerina/src/http/Module.md
  stdlib/http/src/main/ballerina/src/http/websocket/websocket_client.bal
  stdlib/http/src/main/ballerina/src/http/websocket/websocket_failover_client.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/CookieTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/WebSocketTestCommons.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/36_cookie_server.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/37_cookie_client.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/38_incorrect_cookie.bal
Labels: Area/StandardLibs, Component/WebSocket

#24780 Add SPI for Extended Language Server Services
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/client/ExtendedLanguageClient.java
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/client/ExtendedLanguageClientAware.java
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/semantichighlighter/SemanticHighlightingInformation.java
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/semantichighlighter/SemanticHighlightingParams.java
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/service/spi/ExtendedLanguageServerService.java
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/trace/Message.java
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/trace/TraceRecord.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/CommandUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/CreateTestExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/PullModuleExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/diagnostic/DiagnosticsHelper.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/AbstractExtendedLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/semantichighlighter/SemanticHighlightProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/traces/BallerinaTraceService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/traces/BallerinaTraceServiceImpl.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/traces/Listener.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/extensions/ballerina/traces/LogParser.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/highlighting/HighlightingTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/util/TestUtil.java
  language-server/modules/launchers/stdio-launcher/build.gradle
  language-server/modules/launchers/stdio-launcher/src/main/java/org/ballerinalang/langserver/launchers/stdio/Main.java
Labels: Area/Tooling, Component/LanguageServer, Type/NewFeature

#24784 Allow redirection for non-safe methods[1.2.x]
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionForCompleteSource1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/ifWhileConditionContextCompletion4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/workerDeclarationContext4.json
  language-server/modules/langserver-core/src/test/resources/completion/object/objectTest13.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/statementWithMissingSemiColon2.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/statementWithMissingSemiColon3.json
  stdlib/http/src/main/ballerina/src/http/client_endpoint.bal
  stdlib/http/src/main/ballerina/src/http/http_commons.bal
  stdlib/http/src/main/ballerina/src/http/http_headers.bal
  stdlib/http/src/main/ballerina/src/http/redirect/redirect_client.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/http/sample/RedirectTestCase.java
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/11_http_redirects.bal
Labels: Area/StandardLibs, Component/HTTP

#24747 Implement Module function mocking
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/MockDesugar.java
  language-server/modules/langserver-core/src/test/resources/completion/annotation/functionAnnotation1.json
  language-server/modules/langserver-core/src/test/resources/completion/annotation/resourceAnnotation1.json
  language-server/modules/langserver-core/src/test/resources/completion/annotation/resourceAnnotation6.json
  misc/testerina/modules/testerina-core/src/main/ballerina/src/test/annotations.bal
  misc/testerina/modules/testerina-core/src/main/ballerina/src/test/mock.bal
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/core/TestAnnotationProcessor.java
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/natives/test/FunctionMock.java
  tests/testerina-integration-test/src/test/java/org/ballerinalang/testerina/test/MockTest.java
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock/tests/main_test.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock2/main.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock2/tests/main_test.bal
Labels: Area/TestFramework, Component/Testerina

#24791 Add integration test for resolving `ballerina` modules from central
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/packaging/PackagingTestCase.java
  tests/jballerina-integration-test/src/test/resources/packaging/scope/ballerina-central-module/Ballerina.toml
  tests/jballerina-integration-test/src/test/resources/packaging/scope/ballerina-central-module/src/foo/main.bal
Labels: Area/BuildTools

#24057 Add lang-lib methods to improve JSON compatibility
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TableJSONDataSource.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeConverter.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/util/exceptions/BallerinaErrorReasons.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/ResolvedTypeBuilder.java
  langlib/lang.value/src/main/ballerina/src/lang.value/value.bal
  langlib/lang.value/src/main/java/org/ballerinalang/langlib/value/FromJsonString.java
  langlib/lang.value/src/main/java/org/ballerinalang/langlib/value/FromJsonStringWithType.java
  langlib/lang.value/src/main/java/org/ballerinalang/langlib/value/FromJsonWithType.java
  langlib/lang.value/src/main/java/org/ballerinalang/langlib/value/ToJson.java
  langlib/lang.value/src/main/java/org/ballerinalang/langlib/value/ToJsonString.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibValueTest.java
  langlib/langlib-test/src/test/resources/test-src/valuelib_test.bal
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionForCompleteSource1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionForCompleteSource2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionOverMaps.json
  language-server/modules/langserver-core/src/test/resources/completion/function/errorLiftingSuggestions2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/groupedExpressionSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/ifWhileConditionContextCompletion4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/workerDeclarationContext4.json
  language-server/modules/langserver-core/src/test/resources/completion/object/objectTest13.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport1.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest14.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest2.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest3.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest4.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest5.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest6.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest7.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest8.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest9.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/exprFunctionBodyCompletion5.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/statementWithMissingSemiColon3.json
Labels: Area/Language

#24652 Fix few issues in diagnostics related to `readonly` and mapping/list constructor expressions
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BObjectType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BRecordType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BStructureType.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/tool/StubGeneratorTestCase.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/readonly/SelectivelyImmutableTypeBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/listconstructor/ListConstructorExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/mappingconstructor/MappingConstructorExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordFieldsAccessNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/structs/StructNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/readonly/SelectivelyImmutableTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/listconstructor/list_constructor_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/mappingconstructor/mapping_constructor_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/readonly/test_selectively_immutable_type_negative.bal
Labels: Area/Language

#24745 Fix internal error issue in debugger
  misc/debug-adapter/modules/debug-adapter-core/src/main/java/org/ballerinalang/debugadapter/JBallerinaDebugServer.java
  misc/debug-adapter/modules/debug-adapter-core/src/main/java/org/ballerinalang/debugadapter/launchrequest/LauncherImpl.java
  tests/jballerina-debugger-integration-test/src/test/java/org/ballerinalang/debugger/test/utils/client/TestDAPClientConnector.java
Labels: Area/BuildTools, Component/Debugger

#24761 Fix issue in parsing invalid mapping constructure expression
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_04.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_source_04.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersWithOptionalArgsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/RecordVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/ObjectSubtypingTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/main/function/MainFunctionsTest.java
Labels: Component/Parser

#24829 New parser improvements for Fail action/expression
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/actions/FailActionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/FailExpressionTest.java
  compiler/ballerina-parser/src/test/resources/actions/fail-action/fail_action_assert_01.json
  compiler/ballerina-parser/src/test/resources/actions/fail-action/fail_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/actions/fail-action/fail_action_source_01.bal
  compiler/ballerina-parser/src/test/resources/actions/fail-action/fail_action_source_02.bal
  compiler/ballerina-parser/src/test/resources/expressions/fail-expr/fail_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/fail-expr/fail_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/fail-expr/fail_expr_source_01.bal
  compiler/ballerina-parser/src/test/resources/expressions/fail-expr/fail_expr_source_02.bal
Labels: Component/Parser

#24823 Improve type checking for equals clause in query-expr
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/JoinClauseTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/join-clause-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/join-clause.bal
Labels: Area/Language, Component/Streams

#24848 Fix non-terminating parser error recovery
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/FunctionDefinitionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/TableConstructorTest.java
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_assert_21.json
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_assert_22.json
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_source_21.bal
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_source_22.bal
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_26.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_source_26.bal
Labels: Component/Parser

#24857 Update performance test results for Ballerina Swan Lake Preview 2
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Type/Task

#24852 Initialize the retry manager only if first trial fails
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/TransactionDesugar.java
Labels: Area/Language, Component/Transaction

#24822 Add transactional keyword to resource methods
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STFailExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/FailExpressionNode.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/TransactionalResourceFuncTest.java
  compiler/ballerina-parser/src/test/resources/declarations/transactional-resource/transaction_resource_func_assert_01.json
  compiler/ballerina-parser/src/test/resources/declarations/transactional-resource/transaction_resource_func_source_01.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/TransactionalResourceFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/InvalidSyntaxParserTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/var/VarDeclaredAssignmentStmtTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/functions/transactional_resource_functions.bal
Labels: Component/Parser

#24868 Enable JBallerinaUnitTests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TypeReferenceNode.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_13.json
  compiler/ballerina-parser/src/test/resources/declarations/record-type-def/record_type_def_assert_07.json
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/signature/SignatureHelpTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/basics/SignatureTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/ResourceConfigPathTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/websocket/WebSocketCompilationTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/observability/metrics/MetricsTestCase.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationAttachmentPointTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/record/ClosedRecordTypeReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/record/OpenRecordTypeReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/error/ErrorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/invocations/FuncInvocationExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectInitializerTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTypeReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryNegativeTests.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/lambda/negative/fp-with-import-negative.bal
Labels: Component/Parser

#24742 Enable jballerina unit tests
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_14.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_17.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_19.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordOptionalFieldsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordOptionalFieldsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/assign/LValueTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/compoundassignment/CompoundAssignmentTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/retrystmt/RetryStmtTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/returnstmt/ReturnStmtNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/RecordVariableDefinitionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/structs/StructNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/AnnotationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/ListenerServiceTaintedStatusPropagationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteArrayValueNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/decimaltype/BDecimalValueNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/floattype/BFloatValueTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/integer/BIntegerValueNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/MapAccessExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/stream/BStreamValueTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/string/StringTemplateLiteralNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/string/StringTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/BasicTupleTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/var/VarDeclaredAssignmentStmtTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAccessTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/decimal/decimal_value_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/string/string_negative.bal
Labels: Area/Language, Component/Compiler, Component/Parser

#24867 Improve incomplete action parsing
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/actions/StartActionTest.java
  compiler/ballerina-parser/src/test/resources/actions/remote-method-call-action/remote_method_call_assert_09.json
  compiler/ballerina-parser/src/test/resources/actions/send-action/send_action_assert_03.json
  compiler/ballerina-parser/src/test/resources/actions/start-action/start_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/actions/start-action/start_action_assert_05.json
  compiler/ballerina-parser/src/test/resources/actions/start-action/start_action_source_05.bal
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_assert_03.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/action/start/StartActionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/action/start/start-action-negative.bal
Labels: Component/Parser

#24821 Enable jballerina unit tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/TupleVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/ExprBodiedFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/VariableReturnTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/variable_return_type_negative.bal
Labels: Component/Parser

#24876 Remove ANTLR dependencies from SignatureHelp Operation in LS
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/CodeActionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/OpenApiCodeActionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureHelpUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/TokensUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/definition/DefinitionUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/references/ReferencesUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/signature/SignatureHelpTest.java
  language-server/modules/langserver-core/src/test/resources/definition/expected/expression/defErrorConstructorExpr7.json
  language-server/modules/langserver-core/src/test/resources/definition/expected/expression/defMappingConstructorExpr4.json
  language-server/modules/langserver-core/src/test/resources/definition/expected/function/defFunction5.json
  language-server/modules/langserver-core/src/test/resources/signature/exprServiceConstructor1.json
Labels: Area/Language, Component/LanguageServer, Type/Bug

#24888 Fix parsePeerWorkerName recovery
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/resources/actions/receive-action/receive_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/actions/send-action/send_action_assert_04.json
Labels: Component/Parser

#24904 Enable failover test case
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/FailoverClientTest.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/32_failover_client.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/34_handshake_timeout.bal
Labels: Area/StandardLibs, Component/WebSocket

#24906 Enable failover testcase
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/FailoverClientTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/RetryClientTest.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/30_retry_client.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/32_failover_client.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/34_handshake_timeout.bal
Labels: Area/StandardLibs, Component/WebSocket

#24838 Remove ANTLR dependencies from Documentation Analyzer
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangReferenceParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/Parser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/ReferenceParserErrorListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/SilentParserErrorStrategy.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DocumentationAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangMarkdownReferenceDocumentation.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticWarningCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/DocumentationLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/DocumentationParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserMode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/DocumentationReferenceNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/DocumentationTest.java
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_01.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_07.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_12.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_13.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_14.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_16.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_assert_17.json
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_source_14.bal
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_source_16.bal
  compiler/ballerina-parser/src/test/resources/misc/documentation/doc_source_17.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/ResourceSignatureValidator.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/basics/SignatureTest.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/configuration/ResourceConfigPathTest.java
  stdlib/java/src/main/ballerina/src/java/ballerina_values_to_Java.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/DeprecationAnnotationNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/DeprecationAnnotationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/MarkdownDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordDocumentationTest.java
Labels: Component/Parser

#24918 Fix NPE in symbol enter for incomplete listener declarations
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/vardeclr/VarDeclrSemanticTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/vardeclr/incomplete_listener_decl.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/vardeclr/incomplete_listener_decl_2.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/vardeclr/incomplete_var_decl.bal
Labels: Area/Language

#24917 Fix StringLiteral as expression lhs
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/FunctionDefinitionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/CallStatementTest.java
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_assert_24.json
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_source_24.bal
  compiler/ballerina-parser/src/test/resources/statements/call-stmt/call_stmt_assert_08.json
  compiler/ballerina-parser/src/test/resources/statements/call-stmt/call_stmt_source_08.bal
Labels: Component/Parser

#24926 Fix position trasformation for all nodes having metadata
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/Parser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DocumentationAnalyzer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/DeprecationAnnotationNegativeTest.java
Labels: Component/Parser

#24938 Fix optimize imports removing non-import texts
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/OptimizeAllImportsCodeAction.java
  language-server/modules/langserver-core/src/test/resources/codeaction/optimizeImports.json
  language-server/modules/langserver-core/src/test/resources/codeaction/source/optimizeImports.bal
Labels: Area/Tooling, Component/LanguageServer, Points/1, Type/Bug

#24883 Fix object/record readonly field parsing
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_36.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_38.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_38.bal
  compiler/ballerina-parser/src/test/resources/declarations/record-type-def/record_type_def_assert_22.json
  compiler/ballerina-parser/src/test/resources/declarations/record-type-def/record_type_def_source_22.bal
Labels: Component/Parser

#24912 Fix parser issues
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/XMLParser.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/types/SimpleTypesTest.java
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_06.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_07.json
  compiler/ballerina-parser/src/test/resources/expressions/anon-func/anon_func_assert_08.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_18.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_20.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_22.json
  compiler/ballerina-parser/src/test/resources/misc/resiliency/resiliency_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/simple-types/simple_types_assert_02.json
  compiler/ballerina-parser/src/test/resources/types/simple-types/simple_types_source_02.bal
Labels: Component/Parser

#24929 Fix ambiguity in xml step expression parsing
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/AmbiguityResolutionTest.java
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_24.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_source_24.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/lambda/iterable/iterable-arrow-expression.bal
Labels: Component/Parser

#24941 Enable code action tests
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/CreateVariableCodeAction.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/source/createVariable4.bal
Labels: Area/Tooling, Component/LanguageServer, Type/Task

#24932 Fix record rest desc parsing for readonly desc
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/RecordTypeDefinitionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/AssignmentStatementTest.java
  compiler/ballerina-parser/src/test/resources/declarations/record-type-def/record_type_def_assert_25.json
  compiler/ballerina-parser/src/test/resources/declarations/record-type-def/record_type_def_source_25.bal
  compiler/ballerina-parser/src/test/resources/statements/assignment-stmt/assignment_stmt_assert_14.json
  compiler/ballerina-parser/src/test/resources/statements/assignment-stmt/assignment_stmt_source_14.bal
Labels: Component/Parser

#24931 Fix parser doesn't support empy list binding pattern
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_05.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_06.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/ExprBodiedFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/vardeclr/VarDeclrSemanticTest.java
Labels: Component/Parser

#24948 Fix optional chaining token capturing from lexer
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/types/OptionalTypeTest.java
  compiler/ballerina-parser/src/test/resources/types/optional-type/optional_type_assert_08.json
  compiler/ballerina-parser/src/test/resources/types/optional-type/optional_type_source_01.bal
  compiler/ballerina-parser/src/test/resources/types/optional-type/optional_type_source_02.bal
  compiler/ballerina-parser/src/test/resources/types/optional-type/optional_type_source_03.bal
  compiler/ballerina-parser/src/test/resources/types/optional-type/optional_type_source_04.bal
Labels: Component/Parser

#24909 Fix langlib related task issues
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethodResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeParamAnalyzer.java
  langlib/lang.object/build.gradle
  langlib/lang.query/src/main/ballerina/src/lang.query/helpers.bal
  langlib/lang.stream/build.gradle
  langlib/lang.string/src/main/ballerina/src/lang.string/internal.bal
  langlib/lang.string/src/main/ballerina/src/lang.string/string.bal
  langlib/lang.string/src/main/java/org/ballerinalang/langlib/string/Join.java
  langlib/lang.table/src/main/ballerina/src/lang.table/internal.bal
  langlib/lang.table/src/main/ballerina/src/lang.table/table.bal
  langlib/lang.transaction/src/main/ballerina/src/lang.transaction/transaction.bal
  langlib/lang.xml/src/main/ballerina/src/lang.xml/internal.bal
  langlib/lang.xml/src/main/ballerina/src/lang.xml/xml.bal
  langlib/lang.xml/src/main/java/org/ballerinalang/langlib/xml/Concat.java
Labels: Area/Build

#24955 Fix CCE when using non-string literals as namespaceURI.
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_08.json
Labels: Component/Parser

#24573 Refactor jvm codegen package
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmCastGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmConstants.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmDesugarPhase.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmInstructionGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmObservabilityGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmPackageGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTerminatorGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTypeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/AnnotationProc.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/ExternalMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/InteropMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethod.java
Labels: Area/jBallerina

#24953 Use NameReferenceNode to represent func-reference in the func-call in the syntax tree
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/FunctionCallExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/resources/actions/fail-action/fail_action_assert_01.json
  compiler/ballerina-parser/src/test/resources/actions/fail-action/fail_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_args_01.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_args_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_extra_elements_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_extra_elements_03.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_01.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_03.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_04.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_05.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_without_args.json
  compiler/ballerina-parser/src/test/resources/expressions/fail-expr/fail_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/fail-expr/fail_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_13.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_source_13.bal
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/functional_binding_pattern_assert_01.json
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/functional_binding_pattern_assert_02.json
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/functional_binding_pattern_assert_03.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#24969 Fix Invalid nodes are not considerd in list match pattern
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/MatchStatementTest.java
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_09.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_11.json
Labels: Component/Parser

#24965 Update NonTerminalNode.findToken algorithm to special-case then end text position
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NonTerminalNode.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/TreeTraversalAPITest.java
Labels: Component/SyntaxAPI

#24958 Fix parser error recovery
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/AmbiguityResolutionTest.java
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_25.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_26.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_source_25.bal
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_source_26.bal
Labels: Component/Parser

#24934 Fix actions being allowed in expressions
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/resources/actions/remote-method-call-action/remote_method_call_assert_08.json
  compiler/ballerina-parser/src/test/resources/actions/send-action/send_action_assert_04.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/action/start/StartActionTest.java
Labels: Component/Parser

#24968 Fix import issues in For-each Error Handling Tests in langlib
  langlib/langlib-test/build.gradle
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/statements/foreach/ForeachErrorHandlingTests.java
Labels: Area/Build, Area/Language

#24981 Update the BBE Links in the Kafka API Docs for 1.2.x
  stdlib/messaging/kafka/src/main/ballerina/src/kafka/Module.md
Labels: Type/Docs

#24980 Fix the BBE Links in Kafka API docs for Swan Lake
  stdlib/messaging/kafka/src/main/ballerina/src/kafka/Module.md
Labels: Type/Docs

#24790 Provide ballerina-runtime-jar with the dependency list
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/JarResolverImpl.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/task/CreateExecutableTask.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/task/RunExecutableTask.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/CodeGenerator.java
Labels: Area/BuildTools

#25003 Add support for inner query expressions
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/InnerQueryTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/JoinClauseTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/inner-queries-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/inner-queries.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/join-clause.bal
Labels: Area/Language, Component/Streams

#25001 Fix BLangNodeTransformer for doc reference with func keyword
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/MarkdownDocumentationTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/documentation/markdown_function_special.bal
Labels: Component/Parser

#24919 Allow java interop with object functions
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmPackageGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/AnnotationProc.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/ExternalMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/InteropMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/InteropValidationRequest.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JFieldFunctionWrapper.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethod.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethodFunctionWrapper.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethodRequest.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethodResolver.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/InstanceMethods.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/StaticMethods.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/basic/ObjectTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/basic/object_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object_with_missing_native_impl.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object_with_missing_native_impl_2.bal
Labels: Area/jBallerina

#24960 Fix parsing member-access without key-expr
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/AccessExpressionsTest.java
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/member_access_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/member_access_expr_assert_10.json
  compiler/ballerina-parser/src/test/resources/misc/resiliency/resiliency_assert_02.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/access/MemberAccessTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/access/member_access_negative.bal
Labels: Area/Language, Component/Parser

#25019 Fix resource function parsing
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/ServiceDeclarationTest.java
  compiler/ballerina-parser/src/test/resources/declarations/service-decl/service_decl_assert_14.json
  compiler/ballerina-parser/src/test/resources/declarations/service-decl/service_decl_source_14.bal
Labels: Area/Language, Component/Parser

#24843 Fix the error on auth failure in the WebSocket
  stdlib/http/src/main/ballerina/src/http/auth/authn_filter.bal
  stdlib/http/src/main/ballerina/src/http/auth/authz_filter.bal
  stdlib/http/src/main/ballerina/src/http/auth/utils.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/AuthenticationTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/WebSocketTestCommons.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/39_authentication_success_client.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/40_authentication_success_server.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/41_authentication_failure_client.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/42_authentication_failure_server.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/users.toml
Labels: Area/StandardLibs

#25011 Hide streaming helper functions/types from tooling
  langlib/lang.query/src/main/ballerina/src/lang.query/helpers.bal
  langlib/lang.query/src/main/ballerina/src/lang.query/types.bal
Labels: Area/Language, Area/Tooling, Component/Streams

#25007 Add instance-id to LDAP connection record [1.2.x]
  stdlib/ldap/src/main/ballerina/src/ldap/inbound_ldap_auth_provider.bal
  stdlib/ldap/src/main/java/org/ballerinalang/stdlib/ldap/nativeimpl/InitLdapConnectionContext.java
Labels: Area/StandardLibs, Component/LDAP, Type/Improvement

#24998 Add instance-id to LDAP connection record
  stdlib/ldap/src/main/ballerina/src/ldap/inbound_ldap_auth_provider.bal
  stdlib/ldap/src/main/java/org/ballerinalang/stdlib/ldap/nativeimpl/InitLdapConnectionContext.java
Labels: Area/StandardLibs, Component/LDAP, Type/Improvement

#25070 Fix failing ServiceDeclarationTest.testResourceWithoutName
  compiler/ballerina-parser/src/test/resources/declarations/service-decl/service_decl_assert_14.json
Labels: Area/Language, Component/Parser

#24945 Add Function mocking rest param compatibility
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/connector/Executor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/MockDesugar.java
  misc/testerina/modules/testerina-core/src/main/ballerina/src/test/mock.bal
  misc/testerina/modules/testerina-core/src/main/java/org/ballerinalang/testerina/natives/mock/FunctionMock.java
  tests/testerina-integration-test/src/test/java/org/ballerinalang/testerina/test/MockTest.java
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock/main.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock/tests/main_test.bal
Labels: Area/TestFramework, Component/Testerina

#24978 Enable read and write IO APIs to a properties file
  stdlib/io/src/main/ballerina/src/io/readable_character_channel.bal
  stdlib/io/src/main/ballerina/src/io/writable_character_channel.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/CharacterChannelUtils.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/utils/PropertyUtils.java
  stdlib/io/src/test/java/org/ballerinalang/stdlib/io/IOTest.java
  stdlib/io/src/test/resources/datafiles/io/text/person.properties
  stdlib/io/src/test/resources/test-src/io/char_io.bal
Labels: Area/StandardLibs

#25047 Refactor auth filters [1.2.x]
  stdlib/http/src/main/ballerina/src/http/auth/authn_filter.bal
  stdlib/http/src/main/ballerina/src/http/auth/authz_filter.bal
  stdlib/http/src/main/ballerina/src/http/auth/utils.bal
Labels: Area/StandardLibs, Component/Auth, Type/Improvement
