Repository ballerina-platform/ballerina-lang, pull requests merged in 2020-06, with the labels that each got.

#23615 Add transformer method for Implicit Anonymous Function Expression Node.
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
Labels: Component/Parser

#23637 Add mapping typed binding patterns to var-decl
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/AmbiguityResolutionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/TypedBindingPatternsTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/DestructuringAssignmentStatementTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/types/ArrayTypeTest.java
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_04.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_05.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_06.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_source_04.bal
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_source_05.bal
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_source_06.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_14.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_15.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_16.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_17.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_18.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_14.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_15.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_16.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_17.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_18.bal
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/mapping_binding_pattern_assert_01.json
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/mapping_binding_pattern_source_01.bal
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_04.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23638 [HTTP] Fix annotation validation flow
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/HttpServiceCompilerPlugin.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/ResourceSignatureValidator.java
Labels: Area/StandardLibs, Component/HTTP, Type/Bug

#23596 Fix EOF Bug
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/FunctionDefinitionTest.java
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_assert_18.json
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_source_19.bal
Labels: Component/Parser

#23647 Fix annotation validation flow
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/HttpServiceCompilerPlugin.java
  stdlib/http/src/main/java/org/ballerinalang/net/http/compiler/ResourceSignatureValidator.java
Labels: Area/StandardLibs, Type/Bug

#23624 Merge codegen with compile phases
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/NativeDependencyResolverImpl.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/BuildCommand.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/RunCommand.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/TestCommand.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/task/CreateJarTask.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/writer/JarFileWriter.java
  compiler/ballerina-lang/spotbugs-exclude.xml
  compiler/ballerina-lang/src/main/java/org/ballerinalang/compiler/CompilerOptionName.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompiledJarFile.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompilerDriver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/NativeDependencyResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BackendDriver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmPackageGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/BPackageSymbol.java
  misc/lib-creator-milestone/build.gradle
  misc/lib-creator-milestone/spotbugs-exclude.xml
  misc/lib-creator-milestone/src/main/java/org/ballerinalang/stdlib/utils/GenerateBalo.java
  misc/lib-creator/src/main/java/org/ballerinalang/stdlib/utils/GenerateBalo.java
  settings.gradle
  stdlib/messaging/kafka/build.gradle
  tests/ballerina-test-utils/build.gradle
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/balo/BaloCreator.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/imports/ImportsTests.java
Labels: Area/jBallerina

#23643 Fix JDBC generated jar dependency
  distribution/zip/jballerina/build.gradle
  gradle/javaLibsProject.gradle
  settings.gradle
  stdlib/database/jdbc/build.gradle
  stdlib/database/jdbc/spotbugs-exclude.xml
  stdlib/database/jdbc/src/main/ballerina/Ballerina.toml
  stdlib/database/jdbc/src/main/ballerina/src/java.jdbc/client.bal
  stdlib/database/jdbc/src/main/java/org/ballerinalang/jdbc/Constants.java
  stdlib/database/jdbc/src/main/java/org/ballerinalang/jdbc/NativeImpl.java
  stdlib/database/jdbc/src/test/java/org/ballerinalang/jdbc/connection/ConnectorInitTest.java
  stdlib/database/jdbc/src/test/java/org/ballerinalang/jdbc/execute/ExecuteTest.java
  stdlib/database/jdbc/src/test/java/org/ballerinalang/jdbc/execute/ParamsExecuteTest.java
  stdlib/database/jdbc/src/test/java/org/ballerinalang/jdbc/pool/ConnectionPoolTest.java
  stdlib/database/jdbc/src/test/java/org/ballerinalang/jdbc/query/ComplexTypesQueryTest.java
  stdlib/database/jdbc/src/test/java/org/ballerinalang/jdbc/query/NumericTypesQueryTest.java
  stdlib/database/jdbc/src/test/java/org/ballerinalang/jdbc/query/ParamsQueryTest.java
  stdlib/database/jdbc/src/test/java/org/ballerinalang/jdbc/utils/SQLDBUtils.java
  stdlib/database/jdbc/src/test/resources/ballerina.conf
  stdlib/database/jdbc/src/test/resources/datafiles/sql/connection/connector-init-test-data.sql
  stdlib/database/jdbc/src/test/resources/datafiles/sql/execute/execute-params-test-data.sql
  stdlib/database/jdbc/src/test/resources/datafiles/sql/execute/execute-test-data.sql
  stdlib/database/jdbc/src/test/resources/datafiles/sql/pool/connection-pool-test-data.sql
  stdlib/database/jdbc/src/test/resources/datafiles/sql/query/complex-test-data.sql
  stdlib/database/jdbc/src/test/resources/datafiles/sql/query/numerical-test-data.sql
  stdlib/database/jdbc/src/test/resources/datafiles/sql/query/simple-params-test-data.sql
  stdlib/database/jdbc/src/test/resources/files/blobValue.txt
  stdlib/database/jdbc/src/test/resources/files/byteValue.txt
  stdlib/database/jdbc/src/test/resources/files/clobValue.txt
  stdlib/database/jdbc/src/test/resources/logging.properties
  stdlib/database/jdbc/src/test/resources/test-src/connection/connector-init-test.bal
  stdlib/database/jdbc/src/test/resources/test-src/execute/execute-basic-test.bal
  stdlib/database/jdbc/src/test/resources/test-src/execute/execute-params-query-test.bal
  stdlib/database/jdbc/src/test/resources/test-src/pool/connection-pool-test.bal
  stdlib/database/jdbc/src/test/resources/test-src/query/complex-query-test.bal
  stdlib/database/jdbc/src/test/resources/test-src/query/numerical-query-test.bal
  stdlib/database/jdbc/src/test/resources/test-src/query/simple-params-query-test.bal
  stdlib/database/jdbc/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/Database, Type/Bug

#23424 Allow type inclusion of non-abstract objects
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/ObjectInBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTypeReferenceTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_balo/object/test_objects.bal
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_balo/object/test_objects_type_reference_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/src/foo/object_type_reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/src/utils/utils.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object-type-reference-1-semantics-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object-type-reference.bal
Labels: Area/Language

#23675 Fix whitespace capturing for backtick
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/XMLTemplateExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base16_literal_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base64_literal_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_23.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_30.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_source_30.bal
Labels: Component/Parser

#23669 Handle missing nodes/tokens in compiler front-end
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangMissingNodesHelper.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ImportDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/KeySpecifierNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/Node.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23680 Disable intermittent websub test failures
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/basic/WebSubContentTypeSupportTestCase.java
Labels: Area/StandardLibs, Type/TestFailure

#23672 Add transformer method for annotation declaration node
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/resources/declarations/annot-decl/annot_decl_assert_01.json
  compiler/ballerina-parser/src/test/resources/declarations/annot-decl/annot_decl_assert_03.json
  compiler/ballerina-parser/src/test/resources/declarations/annot-decl/annot_decl_assert_08.json
  compiler/ballerina-parser/src/test/resources/declarations/annot-decl/annot_decl_assert_10.json
Labels: Component/Parser

#23682 Add error destructuring assigment support and fix more unit tests
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ErrorValue.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangErrorVarRef.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkpanicexpr/CheckPanicExpressionOperatorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/ErrorVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectInitializerTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/string/StringTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAttributeAccessTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WaitForAnyActionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WaitForOneActionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WorkerSyncSendTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WorkerTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/documentation/deprecated_annotation_project/src/test_module/main.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_error_return_type_mismatch_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_expr_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_expr_semantics_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/checkpanicexpr/check_panic_expr_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference_semantics_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object_initializer_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/stream/stream-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/stream/stream-value.bal
  tests/jballerina-unit-test/src/test/resources/test-src/workers/invalid_receive_with_union_error_return_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/workers/sync-send.bal
  tests/jballerina-unit-test/src/test/resources/test-src/workers/sync_send_receive_negative.bal
Labels: Area/Language

#23545 Add support for error type inferring - error<*>
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangErrorType.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/error/ErrorTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/error/error_test.bal
Labels: Area/Language

#23706 Update performance test results for Ballerina v2.0.0-Preview1-M3
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Type/Task

#23707 Update modules with new error syntax
  stdlib/config-api/src/main/java/org/ballerinalang/stdlib/config/GetConfig.java
  stdlib/task/src/main/ballerina/src/task/scheduler.bal
  stdlib/task/src/main/ballerina/src/task/task_errors.bal
  stdlib/task/src/main/java/org/ballerinalang/stdlib/task/actions/TaskActions.java
  stdlib/task/src/main/java/org/ballerinalang/stdlib/task/utils/TaskConstants.java
  stdlib/task/src/main/java/org/ballerinalang/stdlib/task/utils/Utils.java
Labels: Area/StandardLibs

#23715 Fix cache module errors
  stdlib/cache/src/main/ballerina/src/cache/cache_errors.bal
  stdlib/cache/src/test/java/org/ballerinalang/stdlib/cache/CacheTest.java
  stdlib/config-api/src/main/java/org/ballerinalang/stdlib/config/GetConfig.java
  stdlib/config-api/src/test/java/org/ballerinalang/stdlib/config/ConfigTest.java
Labels: Area/StandardLibs

#23711 Add xml and string support with query expression
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  langlib/lang.query/src/main/ballerina/src/lang.query/helpers.bal
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion5.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion6.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion7.json
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionForCompleteSource2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionOverArrays.json
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionOverMaps.json
  language-server/modules/langserver-core/src/test/resources/completion/function/errorLiftingSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/errorLiftingSuggestions2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/errorUnionSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/groupedExpressionSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeDescSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeDescSuggestions2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest14.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest2.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest3.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest4.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest5.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest6.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest7.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest8.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest9.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/completionAvoidRemoteFunctions.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/completionBeforeUnderscore2.json
  language-server/modules/langserver-core/src/test/resources/completion/service/serviceVariableAndFieldsCompletion1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/exprFunctionBodyCompletion3.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/exprFunctionBodyCompletion5.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryNegativeTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/StringQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/XMLQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-expr-with-query-construct-type.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/string-query-expression.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/xml-query-expression.bal
Labels: Area/Language, Component/Streams

#23569 Move Language Server to New Parser
  compiler/ballerina-lang/src/main/java/org/ballerinalang/repository/CompilerInput.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/repository/fs/GeneralFSPackageRepository.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/packaging/converters/FileSystemSourceInput.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/Parser.java
  language-server/modules/langserver-commons/build.gradle
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/workspace/WorkspaceDocumentManager.java
  language-server/modules/langserver-compiler/build.gradle
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSContextManager.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocument.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/LSInMemorySourceEntry.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/WorkspacePackageRepository.java
Labels: Area/Tooling, Component/LanguageServer, Type/Task

#23693 Add transformer for XMLNamespaceDeclarationNode
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STModuleXMLNamespaceDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ModuleXMLNamespaceDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_01.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_02.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_03.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_04.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_06.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_07.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_08.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23722 Return error when JWK request failed
  stdlib/jwt/src/main/ballerina/src/jwt/jwt_validator.bal
Labels: Area/StandardLibs, Component/JWT, Type/Improvement

#23758 Fix issue in builtIn type node
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23760 Fix errors in util modules
  stdlib/jsonutils/src/main/java/org/ballerinalang/stdlib/jsonutils/FromXML.java
  stdlib/time/src/main/ballerina/src/time/time_errors.bal
  stdlib/time/src/main/ballerina/src/time/timelib.bal
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/util/Constants.java
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/util/TimeUtils.java
  stdlib/time/src/test/java/org.ballerinalang.stdlib.time/TimeTest.java
  stdlib/xmlutils/src/main/java/org/ballerinalang/stdlib/xmlutils/ConvertUtils.java
  stdlib/xmlutils/src/main/java/org/ballerinalang/stdlib/xmlutils/JSONToXMLConverter.java
Labels: Area/StandardLibs

#23201 Adds Java interop array utils into the java.arrays module of stdlib
  stdlib/java.arrays/src/main/ballerina/src/java.arrays/java_array_utils.bal
  stdlib/java.arrays/src/main/ballerina/src/java.arrays/util_functions.bal
  stdlib/java/src/main/ballerina/src/java/JObject.bal
  stdlib/java/src/main/ballerina/src/java/annotations.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/arrays/JavaArrayExtendedTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/arrays/java_array_handle_tests.bal
Labels: Area/StandardLibs, Component/JavaInterop, Type/Improvement

#23200 Adds Java interop array utils into the java.arrays module of stdlib
  stdlib/java.arrays/src/main/ballerina/src/java.arrays/java_array_utils.bal
  stdlib/java.arrays/src/main/ballerina/src/java.arrays/util_functions.bal
  stdlib/java/src/main/ballerina/src/java/JObject.bal
  stdlib/java/src/main/ballerina/src/java/annotations.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/arrays/JavaArrayExtendedTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/arrays/java_array_handle_tests.bal
Labels: Area/StandardLibs, Component/JavaInterop, Type/Improvement

#23700 Fix method-decl-node
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMethodDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MethodDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23684 Fix the websocket failover client test failure
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/FailoverClientTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/WebSocketTestCommons.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/32_failover_client.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/35_fail_failover.bal
Labels: Area/StandardLibs

#23205 Fix the websocket failover client test failure
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/FailoverClientTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websocket/WebSocketTestCommons.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/32_failover_client.bal
  tests/jballerina-integration-test/src/test/resources/websocket/src/wsservices/35_fail_failover.bal
Labels: Area/StandardLibs, Type/TestFailure

#23753 Fix errors in messaging modules
  stdlib/messaging/kafka/src/main/ballerina/src/kafka/consumer.bal
  stdlib/messaging/kafka/src/main/ballerina/src/kafka/kafka_errors.bal
  stdlib/messaging/kafka/src/main/ballerina/src/kafka/producer.bal
  stdlib/messaging/kafka/src/main/java/org/ballerinalang/messaging/kafka/utils/KafkaConstants.java
  stdlib/messaging/kafka/src/main/java/org/ballerinalang/messaging/kafka/utils/KafkaUtils.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/serdes/SerializerDeserializerTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/utils/TestUtils.java
  stdlib/messaging/kafka/src/test/resources/test-src/compiler-validation/custom_error_return_type_validation.bal
  stdlib/messaging/nats/src/main/ballerina/src/nats/basic/producer.bal
  stdlib/messaging/nats/src/main/ballerina/src/nats/error.bal
  stdlib/messaging/nats/src/main/ballerina/src/nats/streaming/producer.bal
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/Constants.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/Utils.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/basic/consumer/Detach.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/basic/consumer/Register.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/basic/producer/Publish.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/basic/producer/Request.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/connection/Close.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/streaming/message/Ack.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/streaming/producer/AckListener.java
  stdlib/messaging/rabbitmq/src/main/ballerina/src/rabbitmq/channel.bal
  stdlib/messaging/rabbitmq/src/main/ballerina/src/rabbitmq/connection.bal
  stdlib/messaging/rabbitmq/src/main/ballerina/src/rabbitmq/message.bal
  stdlib/messaging/rabbitmq/src/main/ballerina/src/rabbitmq/rabbitmq_errors.bal
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/RabbitMQConstants.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/RabbitMQUtils.java
Labels: Area/StandardLibs

#23748 Align runtime default error representation to map<anydata|readonly>
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationAccessViaReflectTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationRuntimeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/annotation/AnnotationTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/globalvar/GlobalVarServiceInBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/types/ErrorTypeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/dataflow/analysis/DataflowAnalysisTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/MarkdownDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/endpoint/ServiceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkedexpr/CheckedExprNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkedexpr/CheckedExpressionOperatorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/invocations/FuncInvocationExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/let/LetExpressionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/ErrorVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/FunctionsAndNilTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/TransactionLocalParticipantFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/imports/ImportsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/TypesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/lock/LocksInServicesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/main/function/MainFunctionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectWithPrivateFieldsNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/ExperimentalFeaturesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/InvalidSyntaxParserTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/comment/CommentStmtTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/matchstmt/MatchStructuredErrorPatternsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/matchstmt/MatchStructuredPatternsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/packageimport/PackageImportTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/returnstmt/ReturnStmtNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/transaction/TransactionBlockTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/transaction/TransactionStmtFlowTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ForwardReferencingGlobalDefinitionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/ListenerServiceTaintedStatusPropagationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/TaintedStatusPropagationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/connectors/HttpClientTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/testerina/TopLevelNodesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/any/BAnyTypeInvalidCastError.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/finaltypes/FinalAccessTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarServicePkgTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarServiceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/service/ServiceTypeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAttributeAccessTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/NotSoBasicWorkerTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/endpoint/new/service_basic_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_error_return_type_mismatch_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/error_variable_reference_semantics_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/main.function/test_main_with_error_or_nil_return.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/open_record_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/assign/assign-stmt-negative.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Area/Language

#23779 Fix braced-expr as func-arg
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/FuncCallExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/func-call/func_call_assert_12.json
  compiler/ballerina-parser/src/test/resources/expressions/func-call/func_call_source_12.bal
Labels: Component/Parser

#23729 Fix filepath module errors
  stdlib/filepath/src/main/ballerina/src/filepath/file_path.bal
  stdlib/filepath/src/main/ballerina/src/filepath/file_path_errors.bal
  stdlib/filepath/src/main/ballerina/src/filepath/windows_file_path.bal
  stdlib/filepath/src/main/java/org/ballerinalang/stdlib/filepath/Constants.java
  stdlib/filepath/src/main/java/org/ballerinalang/stdlib/filepath/Utils.java
  stdlib/filepath/src/test/java/org/ballerinalang/stdlib/filepath/UtilsTest.java
  stdlib/filepath/src/test/java/org/ballerinalang/stdlib/filepath/nativeimpl/PathTest.java
Labels: Area/StandardLibs

#23218 Add overriding support for fields and methods of records and fields
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangStructureTypeNode.java
  tests/jballerina-bstring-unit-test/src/test/resources/test-src/object/object-type-reference-cyclic-dependency-negative.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/ObjectInBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/ObjectIncludeOverrideBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/record/ClosedRecordTypeReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/record/OpenRecordTypeReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTypeReferenceTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_balo/object/object_override_includes.bal
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/src/foo/object_type_inclusion_overrides.bal
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/src/foo/object_type_reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/src/records/common_models.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object-type-reference-1-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object-type-reference-1-semantics-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object-type-reference-cyclic-dependency-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object-type-reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object_func_reference_neg.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/closed_record_type_reference_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/open_record_type_reference.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/open_record_type_reference_negative.bal
Labels: Area/Language

#23810 Add transformer method for XML empty element node.
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23805 Add match statement with constant-match-pattern supprot
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMatchClauseNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMatchGuardNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMatchStatementNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MatchClauseNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MatchGuardNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MatchStatementNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/ConditionalExpressionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/TypedBindingPatternsTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/MatchStatementTest.java
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_02.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_02.bal
  compiler/ballerina-parser/src/test/resources/expressions/conditional-expr/conditional_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/conditional-expr/conditional_expr_assert_11.json
  compiler/ballerina-parser/src/test/resources/misc/annotations/annotations_assert_06.json
  compiler/ballerina-parser/src/test/resources/misc/resiliency/resiliency_assert_02.json
  compiler/ballerina-parser/src/test/resources/misc/resiliency/resiliency_source_02.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_19.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_19.bal
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_01.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_02.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_03.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_assert_04.json
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_source_01.bal
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_source_02.bal
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_source_03.bal
  compiler/ballerina-parser/src/test/resources/statements/match-stmt/match_stmt_source_04.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#22342 Fix 'import module' code-action not suggested in function params
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/ImportModuleCodeAction.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/ImportModuleExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/constants/CommandConstants.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/command/CommandExecutionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/importPackage1.json
  language-server/modules/langserver-core/src/test/resources/codeaction/importPackage2.json
  language-server/modules/langserver-core/src/test/resources/codeaction/importPackage3.json
  language-server/modules/langserver-core/src/test/resources/codeaction/source/importPackage1.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/source/importPackage2.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/source/importPackage3.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/undefinedPackageWithinFunction.json
  language-server/modules/langserver-core/src/test/resources/command/importPackage1.json
  language-server/modules/langserver-core/src/test/resources/command/importPackage2.json
Labels: Area/Tooling, Component/LanguageServer, Type/Bug

#23812 Fix an issue in import version
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ImportVersionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23823 Fix nested from clause support
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  langlib/lang.query/src/main/ballerina/src/lang.query/helpers.bal
  langlib/lang.query/src/main/ballerina/src/lang.query/types.bal
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/groupedExpressionSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest14.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest2.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest3.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest4.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest8.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest9.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/exprFunctionBodyCompletion3.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryExpressionIterableObjectTest.java
Labels: Area/Language, Component/Streams

#23773 Transform xml navigation expression
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23797 Implement Stream type descriptor for incremental parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/StreamTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/StreamTypeParamsNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23846 Add error code support for missing external keyword
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
Labels: Component/Parser

#23834 Refactor error recovery
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/ResiliencyTest.java
  compiler/ballerina-parser/src/test/resources/misc/resiliency/resiliency_assert_02.json
  compiler/ballerina-parser/src/test/resources/misc/resiliency/resiliency_assert_03.json
  compiler/ballerina-parser/src/test/resources/misc/resiliency/resiliency_source_03.bal
Labels: Component/Parser

#23196 Adds the Java casting functionality to java module in the stdlib
  stdlib/java/src/main/ballerina/src/java/JObject.bal
  stdlib/java/src/main/ballerina/src/java/ballerina_values_to_Java.bal
  stdlib/java/src/main/java/org/ballerinalang/nativeimpl/java/Cast.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/basic/JavaCastTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/basic/java_cast_test.bal
Labels: Area/StandardLibs, Component/JavaInterop, Type/Improvement

#22925 Adds the Java casting functionality to java module in the stdlib
  stdlib/java/src/main/ballerina/src/java/JObject.bal
  stdlib/java/src/main/ballerina/src/java/ballerina_values_to_Java.bal
  stdlib/java/src/main/java/org/ballerinalang/nativeimpl/java/Cast.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/basic/JavaCastTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/basic/java_cast_test.bal
Labels: Area/StandardLibs, Component/JavaInterop, Type/Improvement

#23732 Fix expressions are supported as function-call lhs
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/FuncCallExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/func-call/func_call_assert_13.json
  compiler/ballerina-parser/src/test/resources/expressions/func-call/func_call_assert_14.json
  compiler/ballerina-parser/src/test/resources/expressions/func-call/func_call_assert_15.json
Labels: Component/Parser

#23842 Fix transactionStatementNode
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23876 [Error Revamp] Update integration tests
  tests/jballerina-integration-test/src/test/resources/data/streaming/streaming_test.bal
  tests/jballerina-integration-test/src/test/resources/http2/src/http2services/08_http_2.0_client_actions.bal
  tests/jballerina-integration-test/src/test/resources/http2/src/http2services/11_http_2.0_100_continue_test.bal
Labels: Area/StandardLibs

#23893 Implement node transform logic for query-expr and from, select, where clauses
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Area/Language, Component/Parser

#23899 Enable jballerina unit tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/OperatorPrecedence.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/XMLLexer.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/QueryExpressionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/TableConstructorTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/XMLNavigateExpressionTest.java
  compiler/ballerina-parser/src/test/resources/actions/remote-method-call-action/remote_method_call_assert_03.json
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/field_access_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/field_access_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/field_access_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/field_access_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/field_access_expr_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/optional_field_access_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/xml_optional_attribute_access_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/xml_required_attribute_access_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/basic-literals/nil_literal_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/binary_expr_op_precedence_assert_3.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/binary_expr_op_precedence_assert_4.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/binary_expr_op_precedence_assert_5.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/shift_expr_assert_6.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/simple_binary_expr_assert_2.json
  compiler/ballerina-parser/src/test/resources/expressions/check-expr/check_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/conditional-expr/conditional_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_14.json
  compiler/ballerina-parser/src/test/resources/expressions/transactional-expr/transactional_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/trap-expr/trap_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/type-cast-expr/type_cast_expr_assert_16.json
  compiler/ballerina-parser/src/test/resources/expressions/typeof-expr/typeof_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/unary-expr/unary_expr_assert_08.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-navigate-expr/xml_filter_expr_assert_06.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_24.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_27.json
  compiler/ballerina-parser/src/test/resources/statements/assignment-stmt/assignment_stmt_assert_13.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/IntegerRangeOperatorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/TypeTestExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkedexpr/CheckedExprNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/elvis/ElvisExpressionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/main/function/MainFunctionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/ConstrainedMapTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/map/MapAccessExprTest.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23872 Add transformer method for flush action node
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23787 Fix missing param issue in interop pararmTypes constrain
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethodResolver.java
  stdlib/stringutils/src/main/ballerina/src/stringutils/natives.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/StaticMethods.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/basic/NegativeValidationTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/negative/method_not_found6.bal
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/primitive_types/functions_returning_primitives_test.bal
Labels: Area/jBallerina

#23940 Narrow down trigger events
  .github/workflows/CI_ubuntu.yml
  .github/workflows/CI_ubuntu_windows.yml
  .github/workflows/CI_windows.yml
Labels: Area/Build

#23955 Add external dependency to TOML
  stdlib/crypto/src/main/ballerina/Ballerina.toml
  stdlib/http/src/main/ballerina/src/http/service_endpoint.bal
Labels: Area/StandardLibs, Component/Crypto, Type/Bug

#23966 Re-enable disabled unit tests and fix langlib test cases
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypeIdSet.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolTable.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BTypeIdSet.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibIntTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibStringTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibXMLTest.java
  langlib/langlib-test/src/test/resources/test-src/valuelib_test.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationAccessViaReflectTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationRuntimeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/annotation/AnnotationTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/globalvar/GlobalVarServiceInBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/dataflow/analysis/DataflowAnalysisTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/MarkdownDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/endpoint/ServiceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkedexpr/CheckedExprNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/invocations/FuncInvocationExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/let/LetExpressionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/FunctionsAndNilTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/TransactionLocalParticipantFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/imports/ImportsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/lock/LocksInServicesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/ExperimentalFeaturesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/InvalidSyntaxParserTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/comment/CommentStmtTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/packageimport/PackageImportTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/returnstmt/ReturnStmtNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/transaction/TransactionBlockTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/transaction/TransactionStmtFlowTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/ListenerServiceTaintedStatusPropagationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/TaintedStatusPropagationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/connectors/HttpClientTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/testerina/TopLevelNodesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/finaltypes/FinalAccessTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarServicePkgTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarServiceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/json/JSONTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/service/ServiceTypeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/NotSoBasicWorkerTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/endpoint/new/service_basic_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/functions/transaction-local-participant-function.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/transaction/transaction_block_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/transaction/transaction_stmt.bal
Labels: Area/Language

#23771 Fix xml bad-sad when serializing xml
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaXMLSerializer.java
  tests/jballerina-bstring-unit-test/src/test/java/org/ballerinalang/test/types/string/StringValueXmlTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals-with-namespaces.bal
Labels: Area/Language, Priority/High

#23936 Enable JBallerina unit tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/binary_expr_op_precedence_assert_6.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/shift_expr_assert_2.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/shift_expr_assert_3.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/shift_expr_assert_6.json
  compiler/ballerina-parser/src/test/resources/expressions/binary-expr/shift_expr_assert_7.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_06.json
  compiler/ballerina-parser/src/test/resources/types/tuple-type/tuple_type_assert_06.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralWithNamespacesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLTextToStringConversionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/compoundassignment/compound_assignment.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23956 Add parser support for stream type QueryConstructType
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STQueryConstructTypeNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/QueryConstructTypeNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_09.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Area/Language, Component/Parser, Type/NewFeature

#23985 Fix filepath test failure
  stdlib/filepath/src/test/java/org/ballerinalang/stdlib/filepath/nativeimpl/PathTest.java
Labels: Area/StandardLibs

#23949 Implement mapping-binding-pattern, capture-binding-pattern in incremental-parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
Labels: Component/Parser

#23959 Implement list-binding-pattern node
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
Labels: Component/Parser

#23969 Enable worker and fork-stmt tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/WaitFieldNode.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WaitActionsNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/worker/WorkerFailTest.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23986 Add intersection type node to the transformer
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Area/Language, Component/Parser

#23397 Add support for using variable references in extern functions' return types
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmPackageGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTerminatorGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/InteropMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethodRequest.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/TypeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/BInvokableSymbol.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/BInvokableTypeSymbol.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/Symbols.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BParameterizedType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BTypeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/ResolvedTypeBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/TypeTags.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/Flags.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/VariableReturnType.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/functions/VariableReturnTypesBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/VariableReturnTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/src/returntypes/interop_funcs.bal
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/variable_return_type_bir_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/variable_return_type_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/variable_return_type_test.bal
Labels: Area/Language

#23889 Undeprecated JDBC module in 1.2.x
  language-server/modules/langserver-core/src/test/resources/completion/function/ifWhileConditionContextCompletion6.json
  stdlib/jdbc/src/main/ballerina/src/java.jdbc/client.bal
  stdlib/jdbc/src/main/ballerina/src/java.jdbc/error.bal
  stdlib/jdbc/src/main/ballerina/src/java.jdbc/types.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/taintchecking/connectors/SQLTest.java
Labels: Area/StandardLibs

#23995 Merge ls-new-parser branch to master
  compiler/ballerina-lang/src/main/java/org/ballerinalang/repository/CompilerInput.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/repository/fs/GeneralFSPackageRepository.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/packaging/converters/FileSystemSourceInput.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/Parser.java
  language-server/modules/langserver-commons/build.gradle
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/workspace/WorkspaceDocumentManager.java
  language-server/modules/langserver-compiler/build.gradle
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/LSContextManager.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/ExtendedWorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocument.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/WorkspaceDocumentManagerImpl.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/LSInMemorySourceEntry.java
  language-server/modules/langserver-compiler/src/main/java/org/ballerinalang/langserver/compiler/workspace/repository/WorkspacePackageRepository.java
  language-server/modules/langserver-core/build.gradle
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/CreateVariableCodeAction.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/IncompatibleTypesCodeAction.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/TreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/CompletionVisitorUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/fixReturnType3.json
  language-server/modules/langserver-core/src/test/resources/codeaction/source/createVariable3.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/source/createVariable4.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/source/fixReturnType.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/variableAssignmentRequiredCodeAction11.json
  language-server/modules/langserver-core/src/test/resources/testng.xml
Labels: Area/Tooling, Component/LanguageServer, Type/Task

#23987 Fix for undefined symbol for array type
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/SymTag.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/typedefs/TypeDefinitionsTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/typedefs/type-definitions.bal
Labels: Area/Language

#24003 Fix type checker for xml and string support with query action
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  langlib/lang.table/src/main/ballerina/src/lang.table/table.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryNegativeTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/StringQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/XMLQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/string-query-expression.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/xml-query-expression.bal
Labels: Area/Language, Component/Streams

#23997 Add distinct flag in NodeTransformer
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangErrorType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangUserDefinedType.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/ballerinatoopenapi/CreateBallerinaServiceResourceExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/openapi/ballerinatoopenapi/CreateBallerinaServiceResourceMethodExecutor.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/binaryoperations/TypeTestExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/typedefs/DistinctTypeDefTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/typedefs/distinct-type-negative.bal
  tests/jballerina-unit-test/src/test/resources/testng-jballerina.xml
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Area/Language

#24022 Fix rollbackstatment node in incremental-parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23996 Improve diagnostic reporting related to missing tokens and nodes
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorListener.java
  compiler/ballerina-parser/src/test/resources/actions/receive-action/receive_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_assert_03.json
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_assert_04.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_06.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-navigate-expr/xml_filter_expr_assert_07.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-navigate-expr/xml_step_expr_assert_16.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-navigate-expr/xml_step_expr_assert_17.json
Labels: Component/CompilerDiagnostics, Component/Parser

#24027 Commit action expr in incremental-parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23919 Move assignments with init to a separate method
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/tool/StubGeneratorTestCase.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/execution/LargeInitBuildTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/execution/large_init.bal
Labels: Area/jBallerina

#24024 Fix tuple binding patterns
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STRestBindingPatternNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/RestBindingPatternNode.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/assign/AssignStmtTest.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#24047 Fix the fromHandle() method call in field getters
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JField.java
  misc/ballerina-bindgen/src/main/resources/templates/bridge_class.mustache
Labels: Area/BuildTools, Component/Bindgen, Type/Bug

#24048 Fix the fromHandle() method call in field getters
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JField.java
  misc/ballerina-bindgen/src/main/resources/templates/bridge_class.mustache
Labels: Area/BuildTools, Component/Bindgen, Type/Bug

#23717 Move assignments with init or record to a separate method
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/execution/LargeInitBuildTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/execution/large_init.bal
Labels: Area/jBallerina

#24042 Generalize assertion for crypto unit tests [1.2.x]
  stdlib/crypto/src/test/java/org/ballerinalang/stdlib/crypto/CryptoTest.java
Labels: Area/StandardLibs, Component/Crypto

#24043 Enable HTTP caching by default
  stdlib/http/src/main/ballerina/src/http/caching/http_caching_client.bal
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/34_http_caching.bal
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/37_no_cache_service.bal
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/38_max_age_cache_service.bal
  tests/jballerina-integration-test/src/test/resources/http/src/httpservices/39_must_revalidate_cache_service.bal
Labels: Area/StandardLibs, Component/HTTP

#23934 Add API to check resource is secured or not [master]
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionForCompleteSource1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/statementWithMissingSemiColon3.json
  stdlib/http/src/main/ballerina/src/http/auth/utils.bal
Labels: Area/StandardLibs, Component/Auth, Type/Improvement

#23978 Add API to check resource is secured or not [1.2.x]
  language-server/modules/langserver-core/src/test/resources/completion/function/delimiterBasedCompletionForCompleteSource1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/matchStatementSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/packageimport/packageImport1.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/globalVarDefPackageContent.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/statementWithMissingSemiColon3.json
  stdlib/http/src/main/ballerina/src/http/auth/utils.bal
Labels: Area/StandardLibs, Component/Auth, Type/Improvement

#24040 [gRPC]Fix special character issue in generated code(1.2.x)
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/builder/BallerinaFileBuilder.java
  stdlib/grpc/src/main/resources/templates/skeleton/oneoffield.mustache
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/tool/StubGeneratorTestCase.java
  tests/jballerina-integration-test/src/test/resources/grpc/src/tool/oneof_field_service.proto
Labels: Area/StandardLibs, Component/gRPC

#24067 Enable jBallerina unit tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ByteArrayLiteralNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_13.json
  compiler/ballerina-parser/src/test/resources/misc/ambiguity/ambiguity_assert_04.json
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/mapping_binding_pattern_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/union-type/union_type_assert_01.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  gradle/javaProjectWithExtBalo.gradle
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/action/start/StartActionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationAttachmentPointTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationDeclarationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/DeprecationAnnotationNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/DeprecationAnnotationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/ErrorVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/RecordVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/TupleVariableReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/ExprBodiedFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/FunctionSignatureNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/InitFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/ObjectSubtypingTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectInitializerTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTypeReferenceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordOptionalFieldsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordOptionalFieldsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/OpenRecordTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordDocumentationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ErrorVariableDefinitionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/RecordVariableDefinitionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/VariableScopeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/stream/BStreamValueTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/tuples/BasicTupleTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/var/VarDeclaredAssignmentStmtTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/action/nested_actions_negative.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#24017 Add support for new transaction syntax in Kafka module
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/transactions/TransactionalProducerTest.java
  stdlib/messaging/kafka/src/test/resources/test-src/transactions/commit_consumer.bal
  stdlib/messaging/kafka/src/test/resources/test-src/transactions/commit_consumer_offsets.bal
  stdlib/messaging/kafka/src/test/resources/test-src/transactions/transactional_send.bal
Labels: Area/StandardLibs, Component/Kafka

#24053 Remove rollbackInFailure param in batchExecute
  stdlib/database/jdbc/src/main/ballerina/src/java.jdbc/client.bal
  stdlib/database/mysql/src/main/ballerina/src/mysql/client.bal
  stdlib/database/sql/src/main/ballerina/src/sql/client.bal
  stdlib/database/sql/src/main/java/org/ballerinalang/sql/utils/ExecuteUtils.java
  stdlib/database/sql/src/test/resources/test-module/mock-sql/src/mockclient/client.bal
Labels: Area/StandardLibs, Component/Database

#24013 Support new transaction model in messaging module RabbitMQ
  stdlib/messaging/rabbitmq/build.gradle
  stdlib/messaging/rabbitmq/src/main/ballerina/src/rabbitmq/channel.bal
  stdlib/messaging/rabbitmq/src/main/ballerina/src/rabbitmq/message.bal
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/MessageDispatcher.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/RabbitMQConstants.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/RabbitMQTransactionContext.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/RabbitMQUtils.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/util/ChannelUtils.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/util/ListenerUtils.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/util/MessageUtils.java
Labels: Area/StandardLibs, Component/Messaging, Type/Improvement

#24074 Enable jBallerina unit tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_18.json
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/union-type/union_type_assert_01.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/arrays/SealedArrayTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/returnstmt/ReturnStmtNegativeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/jsontype/json-value.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23705 Add support for raw template literals
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/TreeBuilder.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/NodeKind.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/expressions/RawTemplateLiteralNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompilerDriver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ConstantPropagation.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TaintAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolTable.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangNodeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangRawTemplateLiteral.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Names.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/TypeDefBuilderHelper.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/Flags.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  langlib/lang.object/src/main/ballerina/src/lang.object/raw_template.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/rawtemplate/RawTemplateLiteralTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/rawtemplate/raw_template_literal_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/rawtemplate/raw_template_literal_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/rawtemplate/raw_template_negative_code_analyzer.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Area/Language

#24041 [gRPC]Fix special character issue in generated code(master)
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/builder/BallerinaFileBuilder.java
  stdlib/grpc/src/main/resources/templates/skeleton/oneoffield.mustache
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/tool/StubGeneratorTestCase.java
  tests/jballerina-integration-test/src/test/resources/grpc/src/tool/oneof_field_service.proto
Labels: Area/StandardLibs, Component/gRPC

#24083 Update performance test results for Ballerina v2.0.0-Preview1-M4
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Component/Task

#24044 Fix xml literal issues
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals.bal
Labels: Component/Parser

#24093 Fix type aliasing issue for typedescs
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/SymTag.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/anydata-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/array-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/json-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/map-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/record-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/tuple-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/union-stamp-expr-test.bal
Labels: Area/Language

#24098 Disable intermittently failing Kafka test
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/transactions/TransactionalProducerTest.java
Labels: Area/StandardLibs, Component/Kafka, Type/TestFailure

#24084 Disable intermittent test in websub and bindgen
  misc/ballerina-bindgen/src/test/java/org/ballerinalang/bindgen/MavenSupportTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/basic/WebSubContentTypeSupportTestCase.java
Labels: Type/TestFailure

#24088 Enable jBallerina unit tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/endpoint/ClientObjectTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/endpoint/ServiceTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/invocations/FuncInvocationExprTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/lambda/FunctionPointersWithOptionalArgsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/typecast/TypeCastExprTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/invocations/function-invocation-expr.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/lambda/iterable/iterable-arrow-expression.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/typecast/type-casting.bal
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#24045 Fix missing wrapper in simple type descriptor node recovery
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
Labels: Component/Parser

#24101 Fix the issue of not dispatching client error to the server listener
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/MessageUtils.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/ServerCall.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/ServerConnectorListener.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/listener/ServerCallHandler.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/listener/StreamingServerCallHandler.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/listener/UnaryServerCallHandler.java
Labels: Area/StandardLibs, Component/gRPC

#24108 Fix type defining order issue for table
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/typedesc/typedesc_positive.bal
Labels: Area/Language

#24114 Fix duplication of functions for immutable types
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
Labels: Area/Language, Priority/Blocker

#24107 Consider the requirement of a field to be readonly for record/object subtyping
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ReadonlyObjectFieldTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ReadonlyRecordFieldTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/table/TableCastTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/object/readonly_object_fields.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/readonly_object_fields_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/readonly_record_fields.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/readonly_record_fields_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/table/tables-cast.bal
Labels: Area/Language

#24122 Incorporate HTTP2 remote-address fix via transport upgrade[1.2.x]
  gradle/javaLibsProject.gradle
  gradle/javaProject.gradle
  stdlib/email/build.gradle
  stdlib/grpc/src/main/ballerina/Ballerina.toml
  stdlib/http/src/main/ballerina/Ballerina.toml
  stdlib/mime/src/main/ballerina/Ballerina.toml
  stdlib/websub/src/main/ballerina/Ballerina.toml
Labels: Area/StandardLibs, Component/HTTP2, Type/Bug

#23907 Fix the nodes which have incorrect field in node transformer
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#24133 Fix failing unit test due to error syntax change
  tests/jballerina-unit-test/src/test/resources/test-src/statements/retrystmt/retry_stmt.bal
Labels: Area/Language, Priority/Blocker

#24139 Update access modifiers of variables in auth providers/handlers [master]
  stdlib/auth/src/main/ballerina/src/auth/inbound_basic_auth_provider.bal
  stdlib/auth/src/main/ballerina/src/auth/outbound_basic_auth_provider.bal
  stdlib/http/src/main/ballerina/src/http/auth/basic_auth_handler.bal
  stdlib/http/src/main/ballerina/src/http/auth/bearer_auth_handler.bal
  stdlib/jwt/src/main/ballerina/src/jwt/inbound_jwt_auth_provider.bal
  stdlib/jwt/src/main/ballerina/src/jwt/outbound_jwt_auth_provider.bal
  stdlib/ldap/src/main/ballerina/src/ldap/inbound_ldap_auth_provider.bal
  stdlib/oauth2/src/main/ballerina/src/oauth2/inbound_oauth2_provider.bal
  stdlib/oauth2/src/main/ballerina/src/oauth2/outbound_oauth2_provider.bal
Labels: Area/StandardLibs, Component/Auth

#24145 Disable Kafka tests in Azure pipeline
  azure-pipelines.yml
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/transactions/TransactionalProducerTest.java
Labels: Area/StandardLibs, Component/Kafka, Type/TestFailure

#24123 Incorporate HTTP2 remote-address fix via transport upgrade[master]
  gradle/javaLibsProject.gradle
  gradle/javaProject.gradle
  stdlib/email/build.gradle
  stdlib/grpc/src/main/ballerina/Ballerina.toml
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/MessageUtils.java
  stdlib/http/src/main/ballerina/Ballerina.toml
  stdlib/mime/src/main/ballerina/Ballerina.toml
  stdlib/websub/src/main/ballerina/Ballerina.toml
Labels: Area/StandardLibs, Component/HTTP2, Type/Bug

#24150 Fix incremental parser errors in lang lib modules
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  stdlib/file/src/main/ballerina/src/file/service_endpoint.bal
Labels: Component/Parser

#24154 Add missing websocket BBEs in the module.md
  stdlib/http/src/main/ballerina/src/http/Module.md
Labels: Area/StandardLibs

#24142 Fix issue in nats basic consumer
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/Utils.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/basic/consumer/DefaultMessageHandler.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/basic/consumer/Register.java
Labels: Area/StandardLibs, Priority/High, Type/Bug

#24144 Enable jBallerina unit test
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteArrayValueNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/bytetype/BByteValueNegativeTest.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#24141 Add Diagnostic errors for keywords and tokens
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/SyntaxErrors.java
Labels: Component/Parser

#24025 Add the maximum upper bound to the number of polls in listener of Email Connector
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/ListenerImapReceiveTest.java
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/ListenerPopReceiveTest.java
  stdlib/email/src/test/resources/test-src/ListenerImapReceive.bal
  stdlib/email/src/test/resources/test-src/ListenerPopReceive.bal
Labels: Area/StandardLibs, Type/Bug

#24135 Transform TransactionalExpressionNode and RetryStatementNode
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#24156 Add missing websocket BBEs in the module.md
  stdlib/http/src/main/ballerina/src/http/Module.md
Labels: Area/StandardLibs

#24137 Add support for `readonly object`s
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/ObjectTypeDefinitionTest.java
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_24.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_25.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_26.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_27.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_28.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_29.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_30.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_31.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_32.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_33.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_assert_34.json
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_24.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_25.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_26.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_27.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_28.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_29.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_30.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_31.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_32.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_33.bal
  compiler/ballerina-parser/src/test/resources/declarations/object-type-def/object_type_def_source_34.bal
Labels: Component/Parser

#24163 Add an integration test for the Bindgen tool and address API changes
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JConstructor.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JMethod.java
  misc/ballerina-bindgen/src/main/resources/templates/bridge_class.mustache
  misc/ballerina-bindgen/src/main/resources/templates/exception.mustache
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/bindgen/BindgenTestCase.java
  tests/jballerina-integration-test/src/test/resources/bindgen/TestProject/Ballerina.toml
  tests/jballerina-integration-test/src/test/resources/bindgen/TestProject/src/module1/main.bal
  tests/jballerina-integration-test/src/test/resources/testng.xml
Labels: Area/BuildTools, Component/Bindgen

#24112 Enable jBallerina finite type test
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23726 Add @icon annotation definition
  langlib/lang.annotations/src/main/ballerina/src/lang.annotations/annotations.bal
  language-server/modules/langserver-core/src/test/resources/completion/annotation/annotationInSameModule3.json
  language-server/modules/langserver-core/src/test/resources/completion/annotation/annotationInSameModule5.json
  language-server/modules/langserver-core/src/test/resources/completion/annotation/functionAnnotation1.json
  language-server/modules/langserver-core/src/test/resources/completion/annotation/resourceAnnotation1.json
  language-server/modules/langserver-core/src/test/resources/completion/annotation/resourceAnnotation2.json
  language-server/modules/langserver-core/src/test/resources/completion/annotation/resourceAnnotation3.json
  language-server/modules/langserver-core/src/test/resources/completion/annotation/resourceAnnotation6.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/IconAnnotationTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/annotations/icon_annot.bal
  tests/jballerina-unit-test/src/test/resources/test-src/annotations/icon_annot_negative.bal
Labels: Area/Language

#24170 Fix intersection type issues due to constituent type ordering
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/intersection/IntersectionTypeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/readonly/SelectivelyImmutableTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/object/readonly_object_fields.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/intersection/test_intersection_type.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/intersection/test_intersection_type_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/readonly/test_selectively_immutable_type_negative.bal
Labels: Area/Language, Priority/Blocker

#24132 Update parameter name in getTable function
  stdlib/io/src/main/ballerina/src/io/readable_csv_channel.bal
Labels: Area/StandardLibs

#24177 Modify test cases with relate to future and typedesc type
  tests/jballerina-unit-test/src/test/resources/test-src/types/future/future_positive.bal
Labels: Area/Language

#24178 Fix issue in rabbitmq message receiver
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/MessageDispatcher.java
  stdlib/messaging/rabbitmq/src/main/java/org/ballerinalang/messaging/rabbitmq/RabbitMQConstants.java
Labels: Area/StandardLibs, Component/Messaging, Priority/High, Type/Bug

#24182 Enable readonly object tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/object/ReadOnlyObjectBaloTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ReadonlyObjectFieldTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ReadonlyObjectTest.java
Labels: Component/Parser

#24189 Extend JWT validator configuration [master]
  stdlib/jwt/src/main/ballerina/src/jwt/inbound_jwt_auth_provider.bal
  stdlib/jwt/src/main/ballerina/src/jwt/jwt_validator.bal
  stdlib/jwt/src/test/resources/test-src/jwt-auth-provider-test.bal
  stdlib/jwt/src/test/resources/test-src/jwt-issuer-and-validator-test.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthBaseTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/jwt/JwkSignatureValidationTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/jwt/SignatureValidationTest.java
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/authn_with_expired_certificate_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/authn_with_multiple_handlers_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/authz_with_cache_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/jwk-mock-server.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/jwt_signature_validation_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/jwt_signature_validation_with_jwk_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/token_propagation_basic_auth_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/token_propagation_disabled_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/token_propagation_jwt_reissuing_negative_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/token_propagation_jwt_reissuing_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/jwt/token_propagation_jwt_test.bal
  tests/jballerina-integration-test/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/JWT, Type/Improvement

#24191 Fix issue in nats streaming message subscriber
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/streaming/consumer/Attach.java
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/streaming/consumer/Subscribe.java
Labels: Area/StandardLibs, Component/Messaging, Priority/High, Type/Bug

#24213 Add API to generate public key from JWKs parameters [1.2.x]
  bvm/ballerina-core/build.gradle
  gradle/javaLibsProject.gradle
  stdlib/crypto/build.gradle
  stdlib/crypto/src/main/ballerina/Ballerina.toml
  stdlib/crypto/src/main/ballerina/src/crypto/crypto.bal
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/Decode.java
Labels: Area/StandardLibs, Component/Crypto, Type/Improvement

#24202 Fix issue in kafka consumer groups
  stdlib/messaging/kafka/src/main/java/org/ballerinalang/messaging/kafka/impl/KafkaServerConnectorImpl.java
Labels: Area/StandardLibs, Component/Messaging, Type/Bug

#24215 Fix issue in nats streaming publisher
  stdlib/messaging/nats/src/main/java/org/ballerinalang/nats/streaming/producer/AckListener.java
Labels: Area/StandardLibs, Priority/High

#24195 Move JWT caching operations to validation logic [1.2.x]
  stdlib/jwt/src/main/ballerina/src/jwt/inbound_jwt_auth_provider.bal
  stdlib/jwt/src/main/ballerina/src/jwt/jwt_validator.bal
Labels: Area/StandardLibs, Component/JWT, Type/Improvement

#24235 Implement JWT signature validation with JWKs [1.2.x]
  stdlib/jwt/build.gradle
  stdlib/jwt/src/main/ballerina/src/jwt/jwt_validator.bal
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/JwkSignatureValidationTest.java
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/22_jwt_signature_validation_with_jwk_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/oauth2-mock-server.bal
  tests/jballerina-integration-test/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/JWT, Type/Improvement

#23473 Restrict annotation value to true, map<anydata|readonly> , map<anydata|readonly>[]
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/AbstractObjectValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/FPValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/HandleValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/TypedescValueImpl.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolTable.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/annotations/AnnotationAttachmentsCompletionTest.java
  stdlib/grpc/src/main/ballerina/src/grpc/annotation.bal
  stdlib/messaging/rabbitmq/src/main/ballerina/src/rabbitmq/rabbitmq_commons.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationAttachmentTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationDeclarationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationRuntimeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/IconAnnotationTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/annotations/annotation_access_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/annotations/annots_with_invalid_type.bal
Labels: Area/Language

#24230 SQL connector api docs fixes
  distribution/zip/jballerina-tools/build.gradle
  stdlib/database/jdbc/src/main/ballerina/src/java.jdbc/Module.md
  stdlib/database/mysql/src/main/ballerina/src/mysql/Module.md
  stdlib/database/sql/src/main/ballerina/src/sql/Module.md
Labels: Area/StandardLibs, Type/Docs

#24225 Disallow langlib methods that modify the value on immutable values
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/readonly/SelectivelyImmutableTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/readonly/test_selectively_immutable_type_langlib_negative.bal
Labels: Area/Language

#24244 Enable WebSubStartupFunctionality TestCase
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/websub/basic/WebSubStartupFunctionalityTestCase.java
  tests/jballerina-integration-test/src/test/resources/testng.xml
  tests/jballerina-integration-test/src/test/resources/websub/subscriber/test_subscriber_startup.bal
Labels: Area/StandardLibs

#24219 Fix annon error type in new parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangErrorType.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/error/ErrorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/VariableReturnTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/error/error_test_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/variable_return_type_test.bal
Labels: Area/Language, Component/Parser

#24251 Improve unit test cases for annotation with readonly types
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/AnnotationRuntimeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/annotations/annotation_access_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/annotations/annotation_readonly_types.bal
Labels: Area/Language

#24218 Add setRollbackOnly and getRollbackOnly langlib functions to transaction module
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/transactions/TransactionLocalContext.java
  langlib/lang.transaction/src/main/ballerina/src/lang.transaction/internal.bal
  langlib/lang.transaction/src/main/ballerina/src/lang.transaction/transaction.bal
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/GetRollbackOnly.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/GetRollbackOnlyError.java
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/SetRollbackOnly.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/transaction/SetRollbackOnlyTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/transaction/transaction_with_setrollbackonly_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/transaction/transaction_with_setrollbackonly_test_negative.bal
  tests/jballerina-unit-test/src/test/resources/testng-jballerina.xml
Labels: Type/SpecDeviation

#24266 Disallow updating optional readonly record field after value creation
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/MapUtils.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ReadonlyRecordFieldTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/record/readonly_record_fields.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/readonly_record_fields_negative.bal
Labels: Area/Language

#24258 Fix the new-parser flag for tests
  gradle/balNativeLibProject.gradle
  langlib/langlib-test/src/test/resources/testng.xml
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/listener/JBallerinaTestInitializer.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/TestConstant.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/sample/UnaryBlockingOneofFieldTestCase.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/tool/StubGeneratorTestCase.java
  tests/jballerina-integration-test/src/test/resources/grpc/src/clients/01_advanced_type_client.bal
  tests/jballerina-integration-test/src/test/resources/grpc/src/clients/02_array_field_type_client.bal
  tests/jballerina-integration-test/src/test/resources/grpc/src/clients/05_invalid_resource_client.bal
  tests/jballerina-integration-test/src/test/resources/grpc/src/clients/07_unary_blocking_client.bal
  tests/jballerina-integration-test/src/test/resources/grpc/src/clients/07_unary_nonblocking_client.bal
  tests/jballerina-integration-test/src/test/resources/grpc/src/clients/11_grpc_byte_client.bal
  tests/jballerina-integration-test/src/test/resources/grpc/src/clients/15_grpc_oneof_field_client.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/error/ErrorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/stream/BStreamValueTest.java
  tests/jballerina-unit-test/src/test/resources/testng-jballerina.xml
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#24263 Fix transactional function node in the incremental-parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#24269 Represent lang.transaction:Info's xid as a byte array
  langlib/lang.transaction/src/main/java/org/ballerinalang/langlib/transaction/SetTransactionContext.java
Labels: Type/SpecDeviation

#24276 Updating gRPC gateway to work with new parser and re-enabling tests
  stdlib/grpc/src/main/resources/templates/skeleton/proxy_sample.mustache
  stdlib/grpc/src/main/resources/templates/skeleton/proxy_unary.mustache
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/service/grpc/tool/StubGeneratorTestCase.java
Labels: Area/StandardLibs, Component/gRPC

#24284 Update diagnostics reporting logic to include additional message args
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorListener.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/SyntaxErrors.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/XMLParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeDiagnostic.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_assert_19.json
  compiler/ballerina-parser/src/test/resources/declarations/module-var-decl/module_var_decl_assert_02.json
  compiler/ballerina-parser/src/test/resources/misc/resiliency/resiliency_assert_02.json
  compiler/ballerina-parser/src/test/resources/misc/worker-decl/worker_decl_assert_03.json
  compiler/ballerina-parser/src/test/resources/misc/worker-decl/worker_decl_assert_05.json
Labels: Component/CompilerDiagnostics, Component/Parser

#24248 Enable signature help tests
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureTreeVisitor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/sourceprune/LHSSignatureTokenTraverser.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/sourceprune/RHSSignatureTokenTraverser.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/sourceprune/SignatureTokenTraverserFactory.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/signature/SignatureHelpTest.java
  language-server/modules/langserver-core/src/test/resources/signature/source/functionsAndTypeDefs.bal
  language-server/modules/langserver-core/src/test/resources/testng.xml
Labels: Area/Tooling, Component/LanguageServer, Type/Task

#24031 Enable code action tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/source/createVariable3.bal
  language-server/modules/langserver-core/src/test/resources/testng.xml
Labels: Area/Tooling, Component/LanguageServer, Type/Bug

#24249 Refactor and improve auth integration tests [1.2.x]
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthBaseTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthnConfigPatternTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthnWithExpiredCertificateTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/EmbeddedDirectoryServer.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/JwkSignatureValidationTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/OAuth2ClientTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/OAuth2ServiceTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/ServiceLevelAuthnTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/SignatureValidationTest.java
  tests/jballerina-integration-test/src/test/resources/auth/ballerina.conf
  tests/jballerina-integration-test/src/test/resources/auth/expired_truststore.p12
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/08_authn_with_expired_certificate_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/19_authn_config_pattern_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/21_oauth2_service_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/22_jwt_signature_validation_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/22_jwt_signature_validation_with_jwk_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/oauth2-mock-server.bal
  tests/jballerina-integration-test/src/test/resources/auth/users.ldif
  tests/jballerina-integration-test/src/test/resources/auth/users.toml
  tests/jballerina-integration-test/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/Auth, Type/Improvement

#24299 Introduce a fail-safe mechanism for the error recorvery of the parser
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractTokenReader.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/TokenReader.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/incremental/HybridNodeStorage.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/incremental/HybridTokenReader.java
Labels: Component/Parser

#24242 Introduce a fail-safe mechanism for the error recorvery of the parser
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractTokenReader.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/TokenReader.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/incremental/HybridNodeStorage.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/incremental/HybridTokenReader.java
Labels: Component/Parser

#24314 Add null check before setting username and password properties
  stdlib/database/jdbc/src/test/resources/testng.xml
  stdlib/database/mysql/src/test/resources/testng.xml
  stdlib/database/sql/src/main/java/org/ballerinalang/sql/datasource/SQLDatasource.java
  stdlib/database/sql/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/Database

#24334 Add Double value support for Mock functions
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/connector/Executor.java
  tests/testerina-integration-test/src/test/resources/project-based-tests/mock-tests/src/Mock/tests/main_test.bal
Labels: Area/TestFramework, Component/Testerina

#24317 Parser bal test files in new parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/Parser.java
Labels: Area/Language, Component/Parser, Type/Bug
