Repository ballerina-platform/ballerina-lang, pull requests merged in 2020-05, with the labels that each got.

#23034 Add table constructor expression parsing
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STKeySpecifierNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTableConstructorExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/KeySpecifierNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TableConstructorExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/TableConstructorTest.java
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_06.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_07.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_08.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_09.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_11.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_12.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_13.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_14.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_15.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_16.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_17.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_18.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_19.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_20.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_21.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_22.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_23.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_24.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_25.json
  compiler/ballerina-parser/src/test/resources/expressions/table-constructor/table_constructor_assert_26.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#22875 Add More Docerina Links in More BBEs
  examples/ballerina-to-openapi/ballerina_to_openapi.description
  examples/client-generation/client_generation.description
  examples/counter-metrics/counter_metrics.description
  examples/directory-listener/directory_listener.description
  examples/gauge-metrics/gauge_metrics.description
  examples/grpc-bidirectional-streaming/grpc_bidirectional_streaming.description
  examples/grpc-client-streaming/grpc_client_streaming.description
  examples/grpc-secured-unary/grpc_secured_unary.description
  examples/grpc-server-streaming/grpc_server_streaming.description
  examples/grpc-unary-blocking/grpc_unary_blocking.description
  examples/grpc-unary-non-blocking/grpc_unary_non_blocking.description
  examples/kafka_message_consumer_group_service/kafka_message_consumer_group_service.description
  examples/kafka_message_consumer_service/kafka_message_consumer_service.description
  examples/kafka_message_consumer_simple/kafka_message_consumer_simple.description
  examples/kafka_message_producer/kafka_message_producer.description
  examples/kafka_message_producer_transactional/kafka_message_producer_transactional.description
  examples/local-transactions-with-participants/local_transactions_with_participants.description
  examples/local-transactions/local_transactions.description
  examples/nats-basic-client/nats_basic_client.description
  examples/nats-streaming-client/nats_streaming_client.description
  examples/nats-streaming-consumer-with-data-binding/nats_streaming_consumer_with_data_binding.description
  examples/nats-streaming-durable-subscriptions/nats_streaming_durable_subscriptions.description
  examples/nats-streaming-queue-group/nats_streaming_queue_group.description
  examples/nats-streaming-start-position/nats_streaming_start_position.description
  examples/openapi-to-ballerina/openapi_to_ballerina.description
  examples/proto-to-ballerina/proto_to_ballerina.description
  examples/rabbitmq-consumer-with-client-acknowledgement/rabbitmq_consumer_with_client_acknowledgement.description
  examples/rabbitmq-consumer-with-data-binding/rabbitmq_consumer_with_data_binding.description
  examples/rabbitmq-consumer-with-qos-settings/rabbitmq_consumer_with_qos_settings.description
  examples/rabbitmq-consumer/rabbitmq_consumer.description
  examples/rabbitmq-producer/rabbitmq_producer.description
  examples/secured-client-with-basic-auth/secured_client_with_basic_auth.description
  examples/secured-client-with-jwt-auth/secured_client_with_jwt_auth.description
  examples/secured-client-with-oauth2/secured_client_with_oauth2.description
  examples/secured-service-with-basic-auth/secured_service_with_basic_auth.description
  examples/secured-service-with-jwt-auth/secured_service_with_jwt_auth.description
  examples/secured-service-with-oauth2/secured_service_with_oauth2.description
  examples/send-and-receive-emails/send_and_receive_emails.description
  examples/tcp-socket-listener-client/tcp_socket_listener_client.description
  examples/tracing/tracing.description
  examples/transactions-distributed/transactions_distributed.description
  examples/udp-socket-client/udp_socket_client.description
  examples/websub-hub-client-sample/websub_hub_client_sample.description
  examples/websub-internal-hub-sample/websub_internal_hub_sample.description
  examples/websub-remote-hub-sample/websub_remote_hub_sample.description
  examples/websub-service-integration-sample/websub_service_integration_sample.description
  examples/xa-transactions/xa_transactions.description
Labels: Type/Docs

#22873 Add More Docerina Links in BBEs
  examples/base-path-and-path/base_path_and_path.description
  examples/basic-https-listener-client/basic_https_listener_client.description
  examples/content-based-routing/content_based_routing.description
  examples/different-payload-types/different_payload_types.description
  examples/header-based-routing/header_based_routing.description
  examples/http-1.1-to-2.0-protocol-switch/http_1.1_to_2.0_protocol_switch.description
  examples/http-100-continue/http_100_continue.description
  examples/http-2.0-server-push/http_2.0_server_push.description
  examples/http-access-logs/http_access_logs.description
  examples/http-caching-client/http_caching_client.description
  examples/http-circuit-breaker/http_circuit_breaker.description
  examples/http-client-endpoint/http_client_endpoint.description
  examples/http-compression/http_compression.description
  examples/http-cors/http_cors.description
  examples/http-data-binding/http_data_binding.description
  examples/http-disable-chunking/http_disable_chunking.description
  examples/http-failover/http_failover.description
  examples/http-filters/http_filters.description
  examples/http-load-balancer/http_load_balancer.description
  examples/http-redirects/http_redirects.description
  examples/http-retry/http_retry.description
  examples/http-streaming/http_streaming.description
  examples/http-timeout/http_timeout.description
  examples/http-to-websocket-upgrade/http_to_websocket_upgrade.description
  examples/http-trace-logs/http_trace_logs.description
  examples/https-listener/https_listener.description
  examples/mutual-ssl/mutual_ssl.description
  examples/passthrough/passthrough.description
  examples/query-path-matrix-param/query_path_matrix_param.description
  examples/request-with-multiparts/request_with_multiparts.description
  examples/response-with-multiparts/response_with_multiparts.description
  examples/restrict-by-media-type/restrict_by_media_type.description
  examples/testerina-assertions/testerina_assertions.description
  examples/testerina-before-and-after-suite/testerina_before_and_after_suite.description
  examples/testerina-before-and-after-test/testerina_before_and_after_test.description
  examples/testerina-before-each-test/testerina_before_each_test.description
  examples/testerina-data-driven-tests/testerina_data_driven_tests.description
  examples/testerina-function-mocks/testerina_function_mocks.description
  examples/testerina-group-tests/testerina_group_tests.description
  examples/testerina-guarantee-test-execution-order/testerina_guarantee_test_execution_order.description
  examples/websocket-basic-sample/websocket_basic_sample.description
  examples/websocket-chat-application/websocket_chat_application.description
  examples/websocket-client/websocket_client.description
  examples/websocket-failover/websocket_failover.description
  examples/websocket-proxy-server/websocket_proxy_server.description
  examples/websocket-retry/websocket_retry.description
Labels: Type/Docs

#22835 Add Docerina Links in Java Interop, IO, Common Libs, & Security BBEs
  examples/access-mutate-java-fields/access_mutate_java_fields.description
  examples/arrays/arrays.description
  examples/byte-io/byte_io.description
  examples/cache/cache.description
  examples/character-io/character_io.description
  examples/config-api/config_api.description
  examples/create-java-objects/create_java_objects.description
  examples/crypto/crypto.description
  examples/csv-io/csv_io.description
  examples/file/file.description
  examples/filepath/filepath.description
  examples/invoke-java-methods/invoke_java_methods.description
  examples/java-arrays/java_arrays.description
  examples/java-exceptions/java_exceptions.description
  examples/java-varargs/java_varargs.description
  examples/json-csv/json_csv.description
  examples/json-io/json_io.description
  examples/log-api/log_api.description
  examples/maps/maps.description
  examples/math-functions/math_functions.description
  examples/overloaded-methods-constructors/overloaded_methods_constructors.description
  examples/record-io/record_io.description
  examples/streams/streams.description
  examples/strings/strings.description
  examples/table/table.description
  examples/taint-checking/taint_checking.description
  examples/task-scheduler-appointment/task_scheduler_appointment.description
  examples/task-scheduler-timer/task_scheduler_timer.description
  examples/task-service-appointment/task_service_appointment.description
  examples/task-service-timer/task_service_timer.description
  examples/time/time.description
  examples/tuple-type/tuple_type.description
  examples/xml-functions/xml_functions.description
  examples/xml-io/xml_io.description
Labels: Type/Docs

#23048 Update performance test results for Ballerina v1.2.3
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Type/Task

#22922 Add compile-time local variable referencing in locally defined anonymous records
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmDesugarPhase.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ClosureDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/jballerina-bstring-unit-test/src/test/java/org/ballerinalang/test/record/RecordDefNegativeTest.java
  tests/jballerina-bstring-unit-test/src/test/resources/test-src/record/negative/local_var_ref_in_record.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordDefNegativeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/record/negative/local_var_ref_in_record.bal
Labels: Area/Language

#22985 Panic illegal argument errors of add/set header() functions[master]
  language-server/modules/langserver-core/src/test/resources/completion/function/errorLiftingSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/variableBoundItemSuggestions3.json
  language-server/modules/langserver-core/src/test/resources/completion/resource/completionBeforeUnderscore2.json
  stdlib/http/src/main/ballerina/src/http/http_request.bal
  stdlib/http/src/main/ballerina/src/http/http_response.bal
  stdlib/mime/src/main/ballerina/src/mime/natives.bal
  stdlib/mime/src/main/java/org/ballerinalang/mime/nativeimpl/EntityHeaders.java
  stdlib/mime/src/main/java/org/ballerinalang/mime/util/MimeConstants.java
  stdlib/mime/src/test/java/org/ballerinalang/stdlib/mime/HeaderTest.java
  stdlib/mime/src/test/resources/test-src/header-test.bal
Labels: Area/StandardLibs, Component/HTTP

#22840 Add create-variable code action support for async invocation
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/AbstractCodeActionProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/codeaction/providers/CreateVariableCodeAction.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CodeActionTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/source/createVariable5.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/variableAssignmentRequiredCodeAction40.json
Labels: Area/Tooling, Component/LanguageServer, Type/Bug

#23092 Fix failing test in BLangNodeTransformerTest
  compiler/ballerina-lang/src/test/resources/node-tree/expr.json
  compiler/ballerina-lang/src/test/resources/node-tree/records.json
  compiler/ballerina-lang/src/test/resources/node-tree/src/expr.bal
Labels: Area/Language, Component/Parser, Type/Task

#22856 fix the spec deviations for List binding patterns
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/varref/ArrayDestructureTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/array_destructure_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/varref/array_destructure_test.bal
Labels: Area/Language

#22956 Support conversion from xml:Text to string
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLTextToStringConversionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml_text_to_string_conversion.bal
Labels: Area/Language

#23040 Generate classes in parallel
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmPackageGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTerminatorGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/internal/JarFile.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/internal/JavaClass.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/ExternalMethodGen.java
Labels: Area/jBallerina

#23075 OpenAPI related fixes for generating ballerina client
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/CodeGenerator.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/OpenApiMesseges.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/model/BallerinaOpenApi.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/model/BallerinaSchema.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/utils/GeneratorConstants.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/utils/TypeExtractorUtil.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/resources/templates/client/client-ep.mustache
Labels: Area/Tooling

#22932 Enable testParallelRunUsingLocks and fix its inermmitent issue
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/lock/LocksInMainTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/lock/parallel-run-lock.bal
Labels: Area/Language

#23091 Update performance test results for Ballerina v2.0.0-Preview1-M1
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Type/Task

#23087 Instantiate record values using closures values captured is typedesc
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/TypedescValueImpl.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmConstants.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmInstructionGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/emit/InstructionEmitter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNonTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ClosureDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/expressions/BLangRecordLiteral.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/RecordWithClosureTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/record/record_closure_default.bal
Labels: Area/jBallerina

#23089 Add let expression parsing
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STLetExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STLetVariableDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/LetExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/LetVariableDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/LetExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_06.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_07.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_08.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_09.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_11.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_12.json
  compiler/ballerina-parser/src/test/resources/statements/assignment-stmt/assignment_stmt_assert_12.json
  compiler/ballerina-parser/src/test/resources/statements/assignment-stmt/assignment_stmt_source_12.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23126 StdLib Bstring Migration - PR #1
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/StringUtils.java
  stdlib/crypto/src/main/ballerina/src/crypto/crypto.bal
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/Constants.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/CryptoUtils.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/Decode.java
  stdlib/crypto/src/main/java/org/ballerinalang/stdlib/crypto/nativeimpl/Hash.java
  stdlib/crypto/src/test/java/org/ballerinalang/stdlib/crypto/KeyParsingTest.java
  stdlib/crypto/src/test/resources/test-src/keyparsing-test.bal
  stdlib/io/src/main/ballerina/src/io/open.bal
  stdlib/io/src/main/ballerina/src/io/print.bal
  stdlib/io/src/main/ballerina/src/io/read.bal
  stdlib/io/src/main/ballerina/src/io/readable_character_channel.bal
  stdlib/io/src/main/ballerina/src/io/readable_data_channel.bal
  stdlib/io/src/main/ballerina/src/io/readable_record_channel.bal
  stdlib/io/src/main/ballerina/src/io/writable_character_channel.bal
  stdlib/io/src/main/ballerina/src/io/writable_data_channel.bal
  stdlib/io/src/main/ballerina/src/io/writable_record_channel.bal
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/ByteChannelUtils.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/CharacterChannelUtils.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/DataChannelUtils.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/ReadlnAny.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/RecordChannelUtils.java
  stdlib/io/src/main/java/org/ballerinalang/stdlib/io/nativeimpl/Sprintf.java
  stdlib/time/src/main/ballerina/src/time/time_errors.bal
  stdlib/time/src/main/ballerina/src/time/timelib.bal
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/nativeimpl/ExternMethods.java
  stdlib/time/src/main/java/org/ballerinalang/stdlib/time/util/TimeUtils.java
  stdlib/time/src/test/resources/test-src/time-type.bal
Labels: Area/StandardLibs, Type/Improvement

#23134 Fix issue in parsing array type descriptor with user defied type.
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STIndexedExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMemberAccessExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ArrayTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/IndexedExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/member_access_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/member_access_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/member_access_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/member_access_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/member_access_expr_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/member_access_expr_assert_06.json
  compiler/ballerina-parser/src/test/resources/statements/assignment-stmt/assignment_stmt_assert_10.json
  compiler/ballerina-parser/src/test/resources/statements/assignment-stmt/assignment_stmt_assert_11.json
  compiler/ballerina-parser/src/test/resources/statements/compound-assignment-stmt/compound_assignment_stmt_assert_9.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_02.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_03.bal
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_03.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_04.bal
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_04.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_05.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_06.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_07.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_08.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_09.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_10.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_11.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_12.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_13.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_14.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_15.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_16.json
  compiler/ballerina-parser/src/test/resources/types/array-type/array_type_assert_17.json
  compiler/ballerina-parser/src/test/resources/types/error-type/error_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/parameterized-type/parameterized_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/parameterized-type/parameterized_type_assert_05.json
  compiler/ballerina-parser/src/test/resources/types/union-type/union_type_assert_01.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23074 [WIP] Unify array-type-desc and member-access in parser
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
Labels: Component/Parser

#23140 Fix XML test
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_07.json
Labels: Component/Parser

#23141 Add string template expression
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/XMLParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/StringTemplateExpressionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/XMLTemplateExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/string-template/string_template_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/string-template/string_template_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/string-template/string_template_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/string-template/string_template_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/string-template/string_template_source_01.bal
  compiler/ballerina-parser/src/test/resources/expressions/string-template/string_template_source_02.bal
  compiler/ballerina-parser/src/test/resources/expressions/string-template/string_template_source_03.bal
  compiler/ballerina-parser/src/test/resources/expressions/string-template/string_template_source_04.bal
Labels: Component/Parser

#23144 Improve XML tests
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/XMLLexer.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/XMLTemplateExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_19.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_29.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_source_02.bal
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_source_19.bal
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_source_29.bal
Labels: Component/Parser

#23147 Refactor argument list parsing
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/test/resources/statements/fork-stmt/fork_stmt_assert_06.json
Labels: Component/Parser

#23143 Add stream type support to the new parser.
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STStreamTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STStreamTypeParamsNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/StreamTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/StreamTypeParamsNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/types/StreamTypeTest.java
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_01.bal
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_02.json
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_03.bal
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_03.json
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_04.bal
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_04.json
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_05.bal
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_05.json
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_06.json
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_07.json
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_08.json
  compiler/ballerina-parser/src/test/resources/types/stream-type/stream_type_assert_09.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23033 Add capability to configure POP3 and IMAP4 custom properties
  stdlib/email/src/main/ballerina/src/email/imap_client_endpoint.bal
  stdlib/email/src/main/ballerina/src/email/pop_client_endpoint.bal
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/CommonUtil.java
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/EmailAccessUtil.java
  stdlib/email/src/test/resources/test-src/ImapComplexEmailReceive.bal
  stdlib/email/src/test/resources/test-src/PopComplexEmailReceive.bal
Labels: Area/StandardLibs, Type/NewFeature

#22941 Add test case for default value initialization
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/ObjectFieldDefaultValueTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/documentation/default_value_initialization/Ballerina.toml
  tests/jballerina-unit-test/src/test/resources/test-src/documentation/default_value_initialization/src/test_module/main.bal
Labels: Area/BuildTools, Component/Docerina

#23155 Generalize assertion for crypto unit tests
  stdlib/crypto/src/test/java/org/ballerinalang/stdlib/crypto/CryptoTest.java
Labels: Area/StandardLibs, Component/Crypto

#23095 Fix openapi issue with 2 parameters in path [1.2.x]
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/java/org/ballerinalang/openapi/utils/TypeExtractorUtil.java
  misc/openapi-ballerina/modules/openapi-to-ballerina-generator/src/main/resources/templates/service/balService.mustache
  misc/openapi-ballerina/modules/openapi-validator/src/main/java/org/ballerinalang/openapi/validator/ValidatorUtil.java
Labels: Component/ToolSwagger, Type/Bug

#23165 Remove ERROR_TYPE_DESC context
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/test/resources/types/error-type/error_type_assert_06.json
  compiler/ballerina-parser/src/test/resources/types/parameterized-type/parameterized_type_assert_12.json
Labels: Component/Parser

#23168 Enable jBallerina unit tests for the new parser based AST generation
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/listener/JBallerinaTestInitializer.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BCompileUtil.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/TestConstant.java
  tests/jballerina-unit-test/src/test/resources/testng-jballerina.xml
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Area/Language, Component/Parser, Component/UnitTest, Type/Task

#23114 Parse error constructor expression
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NamedArgumentNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/ErrorConstructorExprTest.java
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_source_01.bal
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_source_02.bal
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_source_03.bal
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_source_04.bal
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_args_01.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_args_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_extra_elements_01.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_extra_elements_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_extra_elements_03.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_01.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_02.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_03.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_04.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_with_missing_elements_05.json
  compiler/ballerina-parser/src/test/resources/expressions/error-constructor-expr/error_constructor_expr_without_args.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23036 Enable to explicitly set content type of email body with SMTP
  stdlib/email/src/main/ballerina/src/email/commons.bal
  stdlib/email/src/main/ballerina/src/email/imap_client_endpoint.bal
  stdlib/email/src/main/ballerina/src/email/pop_client_endpoint.bal
  stdlib/email/src/main/ballerina/src/email/smtp_client_endpoint.bal
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/EmailAccessUtil.java
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/EmailConstants.java
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/SmtpUtil.java
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/SmtpComplexEmailSendTest.java
  stdlib/email/src/test/resources/test-src/ImapComplexEmailReceive.bal
  stdlib/email/src/test/resources/test-src/PopComplexEmailReceive.bal
  stdlib/email/src/test/resources/test-src/SmtpComplexEmailSend.bal
Labels: Area/StandardLibs, Type/NewFeature

#23146 Implement the new-expr for the incremental parser.
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/test/resources/node-tree/expr.json
  compiler/ballerina-lang/src/test/resources/node-tree/src/expr.bal
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STExplicitNewExpression.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STImplicitNewExpression.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNewExpression.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STParenthesizedArgList.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ExplicitNewExpression.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ImplicitNewExpression.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NewExpression.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ParenthesizedArgList.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/NewExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-identifier-with-args-negative01.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-identifier-with-args-negative02.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-identifier-with-multiple-args.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-identifier-with-one-args.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-identifier-without-args-negative01.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-identifier-without-args-negative02.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-identifier-without-args.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-multiple-args-negative01.bal
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-multiple-args-negative01.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-multiple-args-negative02.bal
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-multiple-args-negative02.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-multiple-args.bal
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-multiple-args.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-no-args.bal
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-no-args.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-one-arg-negative01.bal
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-one-arg-negative01.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-one-arg-negative02.bal
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-one-arg-negative02.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-one-args.bal
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/explicit-new-with-object-keyword-with-one-args.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-with-1-arg.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-with-args-negative01.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-with-args-negative02.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-with-args-negative03.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-with-args-negative04.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-with-multiple-args.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-without-args-negative01.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-without-args-negative02.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-without-args-negative03.json
  compiler/ballerina-parser/src/test/resources/expressions/new-expr/implicit-new-without-args.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23193 Disable parallelRunUsingLocks test temporarily
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/lock/LocksInMainTest.java
Labels: Area/Language

#23195 Fix query value decode order
  stdlib/http/src/main/java/org/ballerinalang/net/uri/URIUtil.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateBestMatchTest.java
Labels: Area/StandardLibs, Component/HTTP, Type/Bug

#23030 Add Java exception to Ballerina error mapping functionality and bug fixes to the Bindgen tool
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/command/BindingsGenerator.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JConstructor.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JError.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JMethod.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenConstants.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenUtils.java
  misc/ballerina-bindgen/src/main/resources/templates/array_utils.mustache
  misc/ballerina-bindgen/src/main/resources/templates/bridge_class.mustache
  misc/ballerina-bindgen/src/main/resources/templates/exception.mustache
Labels: Area/BuildTools, Component/Bindgen, Type/Improvement

#23208 Fix Kafka additional properties not setting issue
  stdlib/messaging/kafka/src/main/ballerina/src/kafka/consumer.bal
  stdlib/messaging/kafka/src/main/ballerina/src/kafka/producer.bal
  stdlib/messaging/kafka/src/main/java/org/ballerinalang/messaging/kafka/utils/KafkaConstants.java
  stdlib/messaging/kafka/src/main/java/org/ballerinalang/messaging/kafka/utils/KafkaUtils.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/compiler/CompilerPluginTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/ConsumerFunctionsTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/ManualCommitTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/PartitionSeekTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/TopicPauseResumeTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/TopicSubscribeToPatternTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/TopicSubscribeWithPartitionRebalanceTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/TopicsTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/producer/ProducerFunctionsTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/security/SaslPlainAuthenticationTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/security/SslConsumerAndProducerTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/services/ServiceTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/transactions/TransactionalProducerTest.java
  stdlib/messaging/kafka/src/test/resources/test-src/compiler-validation/consumer_with_additional_properties.bal
  stdlib/messaging/kafka/src/test/resources/test-src/compiler-validation/custom_error_return_type_validation.bal
  stdlib/messaging/kafka/src/test/resources/test-src/compiler-validation/invalid_number_of_arguments.bal
  stdlib/messaging/kafka/src/test/resources/test-src/compiler-validation/invalid_parameter_type.bal
  stdlib/messaging/kafka/src/test/resources/test-src/compiler-validation/invalid_resource_name.bal
  stdlib/messaging/kafka/src/test/resources/test-src/compiler-validation/invalid_return_type.bal
  stdlib/messaging/kafka/src/test/resources/test-src/compiler-validation/more_than_one_resource.bal
  stdlib/messaging/kafka/src/test/resources/test-src/consumer/manual_commit.bal
  stdlib/messaging/kafka/src/test/resources/test-src/consumer/partition_seek.bal
  stdlib/messaging/kafka/src/test/resources/test-src/consumer/topic_pause_resume.bal
  stdlib/messaging/kafka/src/test/resources/test-src/consumer/topic_subscribe_to_pattern.bal
  stdlib/messaging/kafka/src/test/resources/test-src/consumer/topic_subscribe_with_partition_rebalance.bal
  stdlib/messaging/kafka/src/test/resources/test-src/consumer/topics.bal
  stdlib/messaging/kafka/src/test/resources/test-src/producer/producer_functions.bal
  stdlib/messaging/kafka/src/test/resources/test-src/security/ssl_producer_consumer.bal
  stdlib/messaging/kafka/src/test/resources/test-src/services/advanced_service.bal
  stdlib/messaging/kafka/src/test/resources/test-src/services/simple_service.bal
  stdlib/messaging/kafka/src/test/resources/test-src/services/stop_service.bal
  stdlib/messaging/kafka/src/test/resources/test-src/transactions/commit_consumer.bal
  stdlib/messaging/kafka/src/test/resources/test-src/transactions/commit_consumer_offsets.bal
  stdlib/messaging/kafka/src/test/resources/test-src/transactions/transactional_producer_without_idempotence.bal
  stdlib/messaging/kafka/src/test/resources/test-src/transactions/transactional_send.bal
  stdlib/messaging/kafka/src/test/resources/testng.xml
Labels: Area/StandardLibs, Component/Kafka, Type/Bug

#23213 Add 2.0.0-Preview1-M2 Lang features
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaXMLSerializer.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/XMLFactory.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLSequence.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLText.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/symbols/SymbolKind.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompilerDriver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeParamAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolEnv.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/BConstructorSymbol.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/FunctionalConstructorBuilder.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  langlib/lang.__internal/src/main/ballerina/src/lang.__internal/xml-internal.bal
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/CommentCtor.java
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/ElementCtor.java
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/ProcessingInstructionCtor.java
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/TextCtor.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibXMLTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/TypeParamTest.java
  langlib/langlib-test/src/test/resources/test-src/type-param/type_param_narrowing_for_union_return.bal
  langlib/langlib-test/src/test/resources/test-src/type-param/type_param_test_negative.bal
  langlib/langlib-test/src/test/resources/test-src/xmllib_test.bal
  tests/jballerina-bstring-unit-test/src/test/java/org/ballerinalang/test/functions/ExprBodiedFunctionTest.java
  tests/jballerina-bstring-unit-test/src/test/java/org/ballerinalang/test/parser/InvalidSyntaxParserTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/access/MemberAccessTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/access/OptionalFieldAccessTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/ExprBodiedFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/InvalidSyntaxParserTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/typedefs/TypeDefinitionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/access/field_access.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/access/member_access.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/access/optional_field_access.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_init.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_init_in_reverse_order.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_init_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_init_with_invocation_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/typedefs/type-definitions.bal
Labels: Area/Language

#23206 Adds API Doc comments and improves error mapping
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/command/BindingsGenerator.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JError.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenConstants.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenUtils.java
  misc/ballerina-bindgen/src/main/resources/templates/bridge_class.mustache
  misc/ballerina-bindgen/src/main/resources/templates/jobject.mustache
Labels: Area/BuildTools, Component/Bindgen, Type/Improvement

#23215 Fix and enable a failure test
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarNegativeTest.java
Labels: Area/Language

#22841 Refactor the type of the fields var in compile-time BRecordType
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTypeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/emit/TypeEmitter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/HttpFiltersDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeParamAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BObjectType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BRecordType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BStructureType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/ImmutableTypeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/TypeDefBuilderHelper.java
  compiler/ballerina-lang/src/test/java/org/wso2/ballerinalang/compiler/BLangNodeTransformerTest.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/testgen/ValueSpaceGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/FunctionGenerator.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/completion/BLangRecordLiteralUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/util/MatchStatementResolverUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/signature/SignatureHelpUtil.java
  misc/openapi-ballerina/modules/openapi-validator/src/main/java/org/ballerinalang/openapi/validator/ValidatorUtil.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/proto/ServiceProtoUtils.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/util/BRunUtil.java
Labels: Area/Language

#23137 Update grammar of future and typedesc type descriptors
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolTable.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/future/FutureTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/future/future_positive.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/typedesc/typedesc_positive.bal
  tests/jballerina-unit-test/src/test/resources/testng-jballerina.xml
Labels: Area/Language

#23020 Add support for block statement
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  language-server/modules/langserver-core/src/test/resources/formatting/expected/expectedNegativeEOF.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/block/BlockStmtTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/block/block-stmt-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/block/block-stmt-semantics-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/block/block-stmt.bal
Labels: Area/Language

#22980 fix an issue where anonymous toplevel nodes were not created for record types.
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/typedefs/TypeDefinitionsTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/typedefs/type-definitions.bal
Labels: Area/Language

#22907 Add support for Enums
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Constants.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/enums/EnumTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/enums/access/Ballerina.toml
  tests/jballerina-unit-test/src/test/resources/test-src/enums/access/src/def/enum-def.bal
  tests/jballerina-unit-test/src/test/resources/test-src/enums/access/src/main/enum-access.bal
  tests/jballerina-unit-test/src/test/resources/test-src/enums/access/src/main2/enum-access-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/enums/enums-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/enums/enums.bal
  tests/jballerina-unit-test/src/test/resources/testng-jballerina.xml
Labels: Area/Language

#22818 Support module-var-decl inside module init
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/SymbolEnv.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  tests/jballerina-bstring-unit-test/src/test/java/org/ballerinalang/test/functions/ExprBodiedFunctionTest.java
  tests/jballerina-bstring-unit-test/src/test/java/org/ballerinalang/test/parser/InvalidSyntaxParserTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/functions/ExprBodiedFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/parser/InvalidSyntaxParserTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/globalvar/GlobalVarTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_init.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_init_in_reverse_order.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_init_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_init_with_invocation_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/global_variable_negative.bal
Labels: Area/Language

#22692 Fix runtime error in optional field access
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/access/MemberAccessTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/access/OptionalFieldAccessTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/access/field_access.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/access/member_access.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/access/optional_field_access.bal
Labels: Area/Language

#22636 Add initial functional constructor impl
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaXMLSerializer.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/XMLFactory.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLSequence.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLText.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/symbols/SymbolKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/CompilerDriver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolResolver.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/symbols/BConstructorSymbol.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/FunctionalConstructorBuilder.java
  langlib/lang.__internal/src/main/ballerina/src/lang.__internal/xml-internal.bal
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/CommentCtor.java
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/ElementCtor.java
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/ProcessingInstructionCtor.java
  langlib/lang.__internal/src/main/java/org/ballerinalang/langlib/internal/TextCtor.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibXMLTest.java
  langlib/langlib-test/src/test/resources/test-src/xmllib_test.bal
Labels: Area/Language

#22346 Narrow type bound to union type parameters
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeParamAnalyzer.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/TypeParamTest.java
  langlib/langlib-test/src/test/resources/test-src/type-param/type_param_narrowing_for_union_return.bal
  langlib/langlib-test/src/test/resources/test-src/type-param/type_param_test_negative.bal
Labels: Area/Language

#23217 Fix syntax-tree gen issue
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STExplicitNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STImplicitNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ExplicitNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ImplicitNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
Labels: Component/Parser

#23226 Disable intermittent failures
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/compiler/CompilerPluginTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/TopicSubscribeToPatternTest.java
Labels: Area/StandardLibs, Component/Kafka, Type/TestFailure

#23227 Disable intermittent Kafka test failures
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/compiler/CompilerPluginTest.java
  stdlib/messaging/kafka/src/test/java/org/ballerinalang/messaging/kafka/consumer/TopicSubscribeToPatternTest.java
Labels: Area/StandardLibs, Component/Kafka, Type/TestFailure

#23221 Add NodeTransformer support for anon-functions
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Area/Language, Component/Parser, Type/NewFeature

#23265 Add readonly type support to new parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STReadOnlyTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ReadOnlyTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/types/ReadOnlyTypeTest.java
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_02.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_03.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_04.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_05.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_source_01.bal
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_source_03.bal
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_source_04.bal
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_source_05.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23277 Consider the widthWithMinutiae in node width calculation algorithm
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNode.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/incremental/ModuleLevelDeclarationTest.java
Labels: Component/Parser

#23244 Fix query value decode order
  stdlib/http/src/main/java/org/ballerinalang/net/uri/URIUtil.java
  stdlib/http/src/test/java/org/ballerinalang/stdlib/services/dispatching/UriTemplateBestMatchTest.java
Labels: Area/StandardLibs, Component/HTTP, Type/Bug

#23272 Add distinct type support to new parser
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STReadOnlyTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ReadOnlyTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/types/ReadOnlyTypeTest.java
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_02.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_03.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_04.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_assert_05.json
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_source_01.bal
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_source_03.bal
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_source_04.bal
  compiler/ballerina-parser/src/test/resources/types/readonly-type/readonly_type_source_05.bal
  compiler/ballerina-parser/src/test/resources/types/simple-types/simple_types_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/simple-types/simple_types_source_01.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23285 Add intersection type support to new parser
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STIntersectionTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/IntersectionTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/types/IntersectionTypeTest.java
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_assert_01.json
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_assert_02.json
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_assert_03.json
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_assert_04.json
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_assert_05.json
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_assert_06.json
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_source_01.bal
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_source_04.bal
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_source_05.bal
  compiler/ballerina-parser/src/test/resources/types/intersection-type/intersection_type_source_06.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23290 Replace handle type with string type in Ballerina Email Connector
  stdlib/email/src/main/ballerina/src/email/imap_client_endpoint.bal
  stdlib/email/src/main/ballerina/src/email/pop_client_endpoint.bal
  stdlib/email/src/main/ballerina/src/email/smtp_client_endpoint.bal
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/client/EmailAccessClient.java
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/client/SmtpClient.java
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/server/EmailConsumer.java
Labels: Area/StandardLibs, Type/Improvement

#23321 Enable typeof expression test
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ErrorTypeDescriptorNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/UnionTypeDescriptorNode.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23327 Enable vardclr statment tests in jballerina with new parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STExplicitNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STImplicitNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ExplicitNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ImplicitNewExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23301 Change cache path of github workflow
  .github/workflows/gradle_daily_build.yml
Labels: Area/Build

#23305 Update Kafka BBE paths
  examples/index.json
  examples/kafka-consumer-client/kafka_message_consumer_simple.bal
  examples/kafka-consumer-client/kafka_message_consumer_simple.description
  examples/kafka-consumer-client/kafka_message_consumer_simple.out
  examples/kafka-consumer-group-service/kafka_message_consumer_group_service.bal
  examples/kafka-consumer-group-service/kafka_message_consumer_group_service.description
  examples/kafka-consumer-group-service/kafka_message_consumer_group_service.out
  examples/kafka-consumer-service/kafka_message_consumer_service.bal
  examples/kafka-consumer-service/kafka_message_consumer_service.description
  examples/kafka-consumer-service/kafka_message_consumer_service.out
  examples/kafka-producer-transactional/kafka_message_producer_transactional.bal
  examples/kafka-producer-transactional/kafka_message_producer_transactional.description
  examples/kafka-producer-transactional/kafka_message_producer_transactional.out
  examples/kafka-producer/kafka_message_producer.bal
  examples/kafka-producer/kafka_message_producer.description
  examples/kafka-producer/kafka_message_producer.out
Labels: Area/StandardLibs, Component/Examples, Component/Kafka

#23339 Synchronize messages and complete signal in gRPC streaming
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/callback/ClientCallableUnitCallBack.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/nativeimpl/client/FunctionUtils.java
  stdlib/grpc/src/main/java/org/ballerinalang/net/grpc/stubs/DefaultStreamObserver.java
Labels: Area/StandardLibs, Component/gRPC

#23329 Enable jballerina-unit-tests for unary operations
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23293 Enable builtinoperations, typeof and unary unit tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/XMLParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STBacktickTemplateMemberNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STXMLItemNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/BacktickTemplateMemberNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/XMLItemNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/XMLSimpleNameNode.java
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_06.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_07.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_08.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_09.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_11.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_12.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_13.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_14.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_15.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_16.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_17.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_18.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_20.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_21.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_22.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_23.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_24.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_26.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_27.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_28.json
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_29.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23354 Introduce an API to modify minutiae nodes
  compiler/ballerina-parser/build.gradle
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeList.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/AbstractNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/Minutiae.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MinutiaeList.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/text/LineRange.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/text/TextDocument.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/text/TextLine.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/AbstractSyntaxTreeAPITest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/MinutiaeListAPITest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/NodeTransformerTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/SyntaxTreeModifierTest.java
  compiler/ballerina-parser/src/test/resources/tree/minutiae_test_03.bal
  compiler/ballerina-parser/src/test/resources/tree/minutiae_test_04.bal
  compiler/ballerina-parser/src/test/resources/tree/minutiae_test_04_with_no_newlines.bal
  compiler/ballerina-treegen/src/main/resources/external_node_transformer_template.mustache
Labels: Component/SyntaxAPI

#23364 Update performance test results for Ballerina v2.0.0-Preview1-M2
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Type/Task

#23377 Enable basic worker usage in tests with parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23310 Update performance test results for Ballerina v1.2.4
  performance/benchmarks/summary.csv
  performance/benchmarks/summary.md
Labels: Area/StandardLibs, Type/Task

#23191 Add failOnError attribute to openapi annotation [master]
  misc/openapi-ballerina/modules/openapi-validator/src/main/java/org/ballerinalang/openapi/validator/Constants.java
  misc/openapi-ballerina/modules/openapi-validator/src/main/java/org/ballerinalang/openapi/validator/OpenAPIValidatorPlugin.java
  misc/openapi-ballerina/modules/openapi-validator/src/main/java/org/ballerinalang/openapi/validator/ValidatorUtil.java
  stdlib/openapi/src/main/ballerina/src/openapi/annotation.bal
Labels: Component/ToolSwagger, Type/Improvement

#23190 Fix multi-line docs issue and add a test
  misc/docerina/src/main/java/org/ballerinalang/docgen/Generator.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/FieldLevelDocsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/MultilineDocsTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/documentation/multi_line_docs_project/Ballerina.toml
  tests/jballerina-unit-test/src/test/resources/test-src/documentation/multi_line_docs_project/src/test_module/main.bal
Labels: Area/BuildTools, Component/Docerina

#23388 Add quoted literal parsing support
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
Labels: Component/Parser

#23382 Enrich Syntax API with the capability to replace nodes and tokens
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/syntax/NodeReplacer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/syntax/TreeModifiers.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/AbstractNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NonTerminalNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxTree.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/text/TextRange.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/ReplaceNodesAPITest.java
  compiler/ballerina-parser/src/test/resources/tree/replace_node_test_01.bal
Labels: Component/SyntaxAPI

#23400 Refactor error handler class
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
Labels: Component/Parser

#23401 Add annot access expression parsing
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STAnnotAccessExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/AnnotAccessExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/AccessExpressionsTest.java
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_06.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_07.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_08.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_09.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_11.json
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23406 Fix multi-line docs issue & add tests
  misc/docerina/src/main/java/org/ballerinalang/docgen/Generator.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/FieldLevelDocsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/documentation/MultilineDocsTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/documentation/multi_line_docs_project/Ballerina.toml
  tests/jballerina-unit-test/src/test/resources/test-src/documentation/multi_line_docs_project/src/test_module/main.bal
Labels: Area/BuildTools, Component/Docerina

#23416 Fix an NPE issue: Converting a `LinePosition` to the text offset
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/text/TextDocument.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/NodeLocationTest.java
Labels: Component/SyntaxAPI

#23410 Enable blockstmt test
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/DefaultableParameterNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/RequiredParameterNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/RestParameterNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23450 Add enum declaration support to new parser
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STEnumDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STEnumMemberNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/EnumDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/EnumMemberNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/EnumDeclarationTest.java
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_01.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_02.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_03.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_04.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_05.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_06.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_07.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_08.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_assert_09.json
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_01.bal
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_02.bal
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_03.bal
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_04.bal
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_05.bal
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_06.bal
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_07.bal
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_08.bal
  compiler/ballerina-parser/src/test/resources/declarations/enum-decl/enum_decl_source_09.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23343 Send and receive custom email headers with Email Connector
  stdlib/email/src/main/ballerina/src/email/commons.bal
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/EmailAccessUtil.java
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/EmailConstants.java
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/SmtpUtil.java
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/ImapComplexEmailReceiveTest.java
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/PopComplexEmailReceiveTest.java
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/SmtpComplexEmailSendTest.java
  stdlib/email/src/test/resources/test-src/ImapComplexEmailReceive.bal
  stdlib/email/src/test/resources/test-src/PopComplexEmailReceive.bal
  stdlib/email/src/test/resources/test-src/SmtpComplexEmailSend.bal
Labels: Area/StandardLibs, Type/NewFeature

#23387 Make types of readonly fields a readonly intersection type
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ReadonlyRecordFieldTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/readonly/SelectivelyImmutableTypeTest.java
Labels: Area/Language

#23433 Support distinct error type in balo and jvm codegen
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BErrorType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BPackage.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypeIdSet.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmConstants.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTypeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRTypeWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangAnonymousModelHelper.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BTypeIdSet.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/types/BLangErrorType.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/balo/types/ErrorTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_balo/types/error_type_negative_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_balo/types/error_type_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/balo/test_projects/test_project/src/errors/errors.bal
Labels: Area/Language

#23348 Fix annotations not being loaded in a module's tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmMethodGen.java
  tests/testerina-integration-test/src/test/java/org/ballerinalang/testerina/test/AnnotationAccessTest.java
  tests/testerina-integration-test/src/test/resources/project-based-tests/basic-tests/src/annotation-access/main.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/basic-tests/src/annotation-access/tests/main_test.bal
  tests/testerina-integration-test/src/test/resources/testng.xml
Labels: Area/TestFramework, Area/jBallerina

#23438 Add Transaction parsing support
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STCommitActionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STRetryStatementNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STRollbackStatementNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTransactionStatementNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STTransactionalExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/CommitActionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/RetryStatementNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/RollbackStatementNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TransactionStatementNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TransactionalExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/actions/CommitActionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/TransactionalExpressionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/TransactionStatementTest.java
  compiler/ballerina-parser/src/test/resources/actions/commit-action/commit_action_assert_01.json
  compiler/ballerina-parser/src/test/resources/actions/commit-action/commit_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/actions/commit-action/commit_action_source_01.bal
  compiler/ballerina-parser/src/test/resources/actions/commit-action/commit_action_source_02.bal
  compiler/ballerina-parser/src/test/resources/expressions/transactional-expr/transactional_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/transactional-expr/transactional_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/transactional-expr/transactional_expr_source_01.bal
  compiler/ballerina-parser/src/test/resources/expressions/transactional-expr/transactional_expr_source_02.bal
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/retry_stmt_assert_01.json
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/retry_stmt_assert_02.json
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/retry_stmt_assert_03.json
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/retry_stmt_assert_04.json
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/retry_stmt_source_01.bal
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/retry_stmt_source_02.bal
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/retry_stmt_source_03.bal
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/retry_stmt_source_04.bal
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/rollback_stmt_assert_01.json
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/rollback_stmt_assert_02.json
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/rollback_stmt_source_01.bal
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/rollback_stmt_source_02.bal
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/transaction_stmt_assert_01.json
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/transaction_stmt_assert_02.json
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/transaction_stmt_source_01.bal
  compiler/ballerina-parser/src/test/resources/statements/transaction-stmt/transaction_stmt_source_02.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23254 Adds API Doc comments and improves error mapping
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/command/BindingsGenerator.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JError.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenConstants.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenUtils.java
  misc/ballerina-bindgen/src/main/resources/templates/bridge_class.mustache
  misc/ballerina-bindgen/src/main/resources/templates/jobject.mustache
Labels: Area/BuildTools, Component/Bindgen, Type/Improvement

#23471 Add destructring assignment stmt
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STAmbiguousListNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/statements/DestructuringAssignmentStatementTest.java
  compiler/ballerina-parser/src/test/resources/actions/receive-action/receive_action_assert_01.json
  compiler/ballerina-parser/src/test/resources/actions/receive-action/receive_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_assert_04.json
  compiler/ballerina-parser/src/test/resources/declarations/module-var-decl/module_var_decl_assert_06.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_05.json
  compiler/ballerina-parser/src/test/resources/declarations/xmlns-decl/xmlns_decl_assert_07.json
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/list_binding_pattern_assert_01.json
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/list_binding_pattern_assert_02.json
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/list_binding_pattern_source_01.bal
  compiler/ballerina-parser/src/test/resources/statements/destructuring-assignment/list_binding_pattern_source_02.bal
Labels: Component/Parser

#23490 Add methods to modify `NodeList` instances
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/incremental/HybridNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/incremental/HybridNodes.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/incremental/NodePointer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STAbstractNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeList.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/syntax/NodeListUtils.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/syntax/SyntaxUtils.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/AbstractNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ChildNodeList.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MinutiaeList.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeList.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NonTerminalNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SeparatedNodeList.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/SyntaxTreeJSONGenerator.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/incremental/AbstractIncrementalParserTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/AbstractSyntaxTreeAPITest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/NodeListAPITest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/ReplaceNodesAPITest.java
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_01.bal
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_01.json
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_02.json
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_03.json
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_04.json
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_05.json
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_06.json
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_07.json
  compiler/ballerina-parser/src/test/resources/tree/node_list_api/node_list_test_08.json
Labels: Component/SyntaxAPI

#23463 Add Maven resolving support to the Bindgen tool
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/task/ResolveMavenDependenciesTask.java
  cli/ballerina-tool/src/main/resources/cli-help/ballerina-bindgen.help
  misc/ballerina-bindgen/build.gradle
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/command/BindgenCommand.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/command/BindingsGenerator.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenConstants.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenUtils.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/MvnResolverUtils.java
  misc/ballerina-bindgen/src/test/java/org/ballerinalang/bindgen/CommandTest.java
  misc/ballerina-bindgen/src/test/java/org/ballerinalang/bindgen/MavenSupportTest.java
  misc/ballerina-bindgen/src/test/resources/mvn-test-resources/Ballerina.toml
  misc/ballerina-bindgen/src/test/resources/mvn-test-resources/balProject/Ballerina.toml
  misc/ballerina-bindgen/src/test/resources/mvn-test-resources/balProject/src/balModule1/main.bal
  misc/maven-resolver/src/test/java/org/ballerinalang/maven/MavenResolverTest.java
Labels: Area/BuildTools, Component/Bindgen, Type/NewFeature

#23515 Add typed-binding-patterns for let-var-decl
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STLetVariableDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/LetVariableDeclarationNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/misc/TypedBindingPatternsTest.java
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/annot_access_expr_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/optional_field_access_expr_assert_07.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_06.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_07.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_08.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_09.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_10.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_12.json
  compiler/ballerina-parser/src/test/resources/expressions/let-expr/let_expr_assert_13.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_05.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_08.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_17.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_25.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_26.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_27.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_28.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_29.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_01.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_02.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_03.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_04.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_05.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_06.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_07.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_08.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_09.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_10.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_11.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_12.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_assert_13.json
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_10.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_11.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_12.bal
  compiler/ballerina-parser/src/test/resources/misc/typed-binding-patterns/typed_binding_patterns_source_13.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23500 Initial implementation of the diagnostics support in new parser/syntax API
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/diagnostics/Diagnostic.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/diagnostics/DiagnosticInfo.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/diagnostics/DiagnosticRelatedInformation.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/diagnostics/DiagnosticSeverity.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/DiagnosticWarningCode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/IRDiagnostic.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/diagnostics/SyntaxDiagnostic.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STAbstractNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STMissingToken.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeDiagnostic.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STToken.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/Node.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NonTerminalNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxTree.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/Token.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/text/StringTextDocument.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/DiagnosticsAPITest.java
  compiler/ballerina-parser/src/test/resources/tree/diagnostics/diagnostics_test_001.bal
Labels: Component/Parser, Component/SyntaxAPI

#23507 Service constr exp
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STServiceConstructorExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ServiceConstructorExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/ServiceConstructorExpressionTest.java
  compiler/ballerina-parser/src/test/resources/expressions/service-constructor-expression/service_constructor_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/service-constructor-expression/service_constructor_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/service-constructor-expression/service_constructor_expr_assert_03.json
  compiler/ballerina-parser/src/test/resources/expressions/service-constructor-expression/service_constructor_expr_assert_04.json
  compiler/ballerina-parser/src/test/resources/expressions/service-constructor-expression/service_constructor_expr_source_01.bal
  compiler/ballerina-parser/src/test/resources/expressions/service-constructor-expression/service_constructor_expr_source_02.bal
  compiler/ballerina-parser/src/test/resources/expressions/service-constructor-expression/service_constructor_expr_source_03.bal
  compiler/ballerina-parser/src/test/resources/expressions/service-constructor-expression/service_constructor_expr_source_04.bal
  compiler/ballerina-parser/src/test/resources/expressions/xml-template/xml_template_assert_24.json
  compiler/ballerina-parser/src/test/resources/test1.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23392 Enable WhileStmt Tests in new incremental parser
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23535 Fix a bug in reading users from custom table [master]
  stdlib/auth/src/main/ballerina/src/auth/inbound_basic_auth_provider.bal
  stdlib/auth/src/test/java/org/ballerinalang/stdlib/auth/InboundBasicAuthProviderTest.java
  stdlib/auth/src/test/resources/datafiles/ballerina.conf
  stdlib/auth/src/test/resources/test-src/inbound_basic_auth_provider_test.bal
Labels: Area/StandardLibs, Component/Auth, Type/Bug

#23534 Fix a bug in reading users from custom table [1.2.x]
  stdlib/auth/src/main/ballerina/src/auth/inbound_basic_auth_provider.bal
  stdlib/auth/src/test/java/org/ballerinalang/stdlib/auth/InboundBasicAuthProviderTest.java
  stdlib/auth/src/test/resources/datafiles/ballerina.conf
  stdlib/auth/src/test/resources/test-src/inbound_basic_auth_provider_test.bal
Labels: Area/StandardLibs, Component/Auth, Type/Bug

#23477 Fix the test failures due to Ballerina type migrations from handle to string
  stdlib/email/src/main/java/org/ballerinalang/stdlib/email/util/SmtpUtil.java
  stdlib/email/src/test/java/org/ballerinalang/stdlib/email/SmtpComplexEmailSendTest.java
Labels: Area/StandardLibs, Component/UnitTest, Type/Bug

#23541 Update auth config pattern tests
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/auth/AuthnConfigPatternTest.java
  tests/jballerina-integration-test/src/test/resources/auth/ballerina.conf
  tests/jballerina-integration-test/src/test/resources/auth/src/authservices/19_authn_config_pattern_test.bal
Labels: Area/StandardLibs, Type/Improvement

#23528 Add implementation of Dependency Resolver API
  cli/ballerina-packerina/spotbugs-exclude.xml
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/NativeDependencyResolverImpl.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/buildcontext/BuildContextField.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/BuildCommand.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/cmd/TestCommand.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/task/CompileTask.java
  cli/ballerina-packerina/src/main/java/org/ballerinalang/packerina/task/CopyNativeLibTask.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/NativeDependencyResolver.java
Labels: Area/BuildTools

#23497 Add byte array literal and xml attribute access expression parsing
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/AbstractLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaLexer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/LexerTerminals.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STByteArrayLiteralNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ByteArrayLiteralNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/FieldAccessExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/MethodCallExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/OptionalFieldAccessExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SyntaxKind.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/AccessExpressionsTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/ByteArrayLiteralTest.java
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/xml_optional_attribute_access_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/xml_optional_attribute_access_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/xml_required_attribute_access_expr_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/access-expr/xml_required_attribute_access_expr_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base16_literal_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base16_literal_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base16_literal_source_01.bal
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base16_literal_source_02.bal
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base64_literal_assert_01.json
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base64_literal_assert_02.json
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base64_literal_source_01.bal
  compiler/ballerina-parser/src/test/resources/expressions/byte-array-literal/base64_literal_source_02.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/Parser

#23513 Add error destructuring support and improve type test for distinct error
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypeIdSet.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTypes.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/ErrorVariableNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SemanticAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/SymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangErrorVariable.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/TypeParamTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/statements/foreach/ForeachErrorBindingPatternsTests.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/statements/foreach/ForeachNegativeTests.java
  langlib/langlib-test/src/test/resources/test-src/arraylib_test.bal
  langlib/langlib-test/src/test/resources/test-src/errorlib_test.bal
  langlib/langlib-test/src/test/resources/test-src/statements/foreach/foreach-iterable-object-negative.bal
  langlib/langlib-test/src/test/resources/test-src/statements/foreach/foreach-semantics-negative.bal
  langlib/langlib-test/src/test/resources/test-src/statements/foreach/foreach_errors.bal
  langlib/langlib-test/src/test/resources/test-src/statements/foreach/foreach_errors_negative.bal
  langlib/langlib-test/src/test/resources/test-src/type-param/type_param_test_negative.bal
  langlib/langlib-test/src/test/resources/test-src/typedesclib_test.bal
  langlib/langlib-test/src/test/resources/test-src/valuelib_test.bal
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/references/SymbolReferenceFindingVisitor.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ErrorVariableDefinitionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/equal_and_not_equal_operation.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/binaryoperations/type-test-expr.bal
  tests/jballerina-unit-test/src/test/resources/test-src/jvm/errors.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/ifelse/type-guard.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/error_variable_definition_stmt.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/error_variable_definition_stmt_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/errors/error-return.bal
Labels: Area/Language

#23555 Make leading comma child nodes optional
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ComputedNameFieldNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/DefaultableParameterNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ExpressionListItemNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/ImportSubVersionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NamedArgumentNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/PositionalArgumentNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/RequiredParameterNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/RestArgumentNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/RestParameterNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SpecificFieldNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/SpreadFieldNode.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
Labels: Component/SyntaxAPI

#23558 Fix incorrect values of flags
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23536 Fix failing testerina testcase
  misc/testerina/modules/testerina-runtime/src/main/java/org/ballerinalang/test/runtime/BTestRunner.java
  tests/testerina-integration-test/src/test/java/org/ballerinalang/testerina/test/BasicCasesTest.java
Labels: Area/jBallerina

#23585 Fix Issue in parsing implicit anonymous function expression
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/ParserTestUtils.java
  compiler/ballerina-parser/src/test/resources/expressions/anon-func/anon_func_assert_09.json
  compiler/ballerina-parser/src/test/resources/expressions/anon-func/anon_func_source_09.bal
Labels: Component/Parser

#23583 implement waitaction, startaction, lockstatement nodes.
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerinalang/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/resources/actions/start-action/start_action_assert_01.json
  compiler/ballerina-parser/src/test/resources/actions/start-action/start_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/actions/trap-action/trap_action_assert_01.json
  compiler/ballerina-parser/src/test/resources/actions/trap-action/trap_action_assert_02.json
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_assert_01.json
  compiler/ballerina-parser/src/test/resources/actions/wait-action/wait_action_assert_03.json
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23606 Enable typedefs jballerina-unit-tests
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
  tests/jballerina-unit-test/src/test/resources/testng-new-parser.xml
Labels: Component/Parser

#23590 Add table construct and limit clause support to query expressions
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/TreeBuilder.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/clauses/LimitClauseNode.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/tree/NodeKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ConstantPropagation.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangPackageBuilder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/NodeCloner.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaLexer.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParser.tokens
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserBaseListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/antlr4/BallerinaParserListener.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/CodeAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeParamAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/BLangNodeVisitor.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/tree/clauses/BLangLimitClause.java
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.g4
  compiler/ballerina-lang/src/main/resources/grammar/BallerinaParser.g4
  langlib/lang.query/src/main/ballerina/src/lang.query/helpers.bal
  langlib/lang.query/src/main/ballerina/src/lang.query/types.bal
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/LSNodeVisitor.java
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion2.json
  language-server/modules/langserver-core/src/test/resources/completion/function/chainCompletion3.json
  language-server/modules/langserver-core/src/test/resources/completion/function/groupedExpressionSuggestion1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/iterableOperation4.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions1.json
  language-server/modules/langserver-core/src/test/resources/completion/function/typeGuardSuggestions4.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest14.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest2.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest3.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest4.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest8.json
  language-server/modules/langserver-core/src/test/resources/completion/record/recordTest9.json
  language-server/modules/langserver-core/src/test/resources/completion/toplevel/exprFunctionBodyCompletion3.json
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/JoinClauseTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/LimitClauseTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/OnClauseTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/OnConflictClauseTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryExprWithQueryConstructTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/join-clause-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/join-clause.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/limit-clause-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/limit-clause.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/on-clause.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/on-conflict-clause-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/on-conflict-clause.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-expr-query-construct-type-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-expr-with-query-construct-type.bal
Labels: Area/Language, Component/Streams

#23602 Fix ternary expression
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeTransformer.java
Labels: Component/Parser

#23604 Refactor basic auth integration tests
  tests/jballerina-integration-test/src/test/resources/auth/src/basic/auth_with_custom_providers_handlers_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/basic/authn_config_pattern_test.bal
  tests/jballerina-integration-test/src/test/resources/auth/src/basic/authz_config_pattern_test.bal
Labels: Area/StandardLibs, Component/Auth, Type/Improvement

#23544 Improve array util functions and bindings in the Bindgen tool
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/command/BindgenCommand.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/command/BindingsGenerator.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JClass.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JField.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/model/JMethod.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenMvnResolver.java
  misc/ballerina-bindgen/src/main/java/org/ballerinalang/bindgen/utils/BindgenUtils.java
  misc/ballerina-bindgen/src/main/resources/templates/array_utils.mustache
  misc/ballerina-bindgen/src/main/resources/templates/bridge_class.mustache
  misc/ballerina-bindgen/src/main/resources/templates/jobject.mustache
  misc/ballerina-bindgen/src/test/java/org/ballerinalang/bindgen/MavenSupportTest.java
Labels: Area/BuildTools, Component/Bindgen, Type/Improvement

#23302 Implement `table<T> & readonly` and fix several issues with `xml<T> & readonly`
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/XMLFactory.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/types/BTableType.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/AttributeMapValueImpl.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/ReadOnlyUtils.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLItem.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLNonElementItem.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLSequence.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/XMLValue.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/types/TableType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTypeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/Types.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/model/types/BTableType.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/ImmutableTypeCloner.java
  langlib/lang.table/src/main/java/org/ballerinalang/langlib/table/Map.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/readonly/SelectivelyImmutableTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/readonly/test_selectively_immutable_type.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/readonly/test_selectively_immutable_type_negative.bal
Labels: Area/Language
