Repository ballerina-platform/ballerina-lang, pull requests merged in 2023-05, with the labels that each got.

#39656 Introduce `avg` langlib functions
  langlib/lang.decimal/src/main/ballerina/decimal.bal
  langlib/lang.decimal/src/main/java/org/ballerinalang/langlib/decimal/Avg.java
  langlib/lang.float/src/main/ballerina/float.bal
  langlib/lang.float/src/main/java/org/ballerinalang/langlib/floatingpoint/Avg.java
  langlib/lang.int/src/main/ballerina/int.bal
  langlib/lang.int/src/main/java/org/ballerinalang/langlib/integer/Avg.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibDecimalTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibFloatTest.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibIntTest.java
  langlib/langlib-test/src/test/resources/test-src/decimallib_test.bal
  langlib/langlib-test/src/test/resources/test-src/floatlib_test.bal
  langlib/langlib-test/src/test/resources/test-src/intlib_test.bal
  language-server/modules/langserver-core/src/test/resources/completion/expression_context/config/var_ref_ctx_config5.json
  language-server/modules/langserver-core/src/test/resources/completion/field_access_expression_context/config/field_access_ctx_config16.json
  language-server/modules/langserver-core/src/test/resources/completion/field_access_expression_context/config/field_access_ctx_config18.json
  language-server/modules/langserver-core/src/test/resources/completion/field_access_expression_context/config/field_access_ctx_config20.json
  language-server/modules/langserver-core/src/test/resources/completion/field_access_expression_context/config/field_access_ctx_config27.json
  language-server/modules/langserver-core/src/test/resources/completion/field_access_expression_context/config/field_access_ctx_config46.json
  language-server/modules/langserver-core/src/test/resources/completion/statement_context/config/assignment_stmt_ctx_config5.json
  language-server/modules/langserver-core/src/test/resources/completion/statement_context/config/return_stmt_ctx_config16.json
  language-server/modules/langserver-core/src/test/resources/completion/statement_context/config/return_stmt_ctx_config17.json
  language-server/modules/langserver-core/src/test/resources/completion/statement_context/config/return_stmt_ctx_config18.json
  language-server/modules/langserver-core/src/test/resources/completion/statement_context/config/start_action_ctx_config5.json
  language-server/modules/langserver-core/src/test/resources/completion/variable-declaration/config/var_def_ctx_config5.json
  language-server/modules/langserver-core/src/test/resources/completion/variable-declaration/config/var_def_ctx_config6.json
  tests/ballerina-compiler-api-test/src/test/java/io/ballerina/semantic/api/test/LangLibFunctionTest.java
Labels: Team/CompilerFE

#40301 [ballerina-1.2.x] Fix handling namespaces in `BallerinaXMLSerializer`
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/BallerinaXMLSerializer.java
Labels: Team/jBallerina

#39376 Add missing test cases for checked expression error return types
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/checkedexpr/CheckedExprErrorReturnTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/checkedexpr/checked_expr_error_return_type.bal
Labels: Team/jBallerina

#40269 [master] Use java.security.SecureRandom for XID generation
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/transactions/XATransactionID.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/transactions/XIDGenerator.java
Labels: Team/jBallerina

#40330 [1.2.x] Close unclosed output streams created for JsonGenerator
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/JSONGenerator.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/AbstractArrayValue.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/MapValueImpl.java
  bvm/ballerina-runtime/src/main/java/org/ballerinalang/jvm/values/StreamingJsonValue.java
Labels: Team/jBallerina

#40331 Close unclosed output streams created for JsonGenerator
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/utils/JsonUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/utils/StringUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/JsonGenerator.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/AbstractArrayValue.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/MapValueImpl.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/StreamingJsonValue.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/json/JSONLibraryTest.java
Labels: Team/jBallerina

#39987 Support conversion to type-reference types
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/TypeChecker.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/TypeConverter.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/ValueConverter.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/configurable/providers/toml/ConfigValueCreator.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/configurable/providers/toml/TomlProvider.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TupleValueImpl.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmCodeGenUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmPackageGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTypeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/split/JvmCreateTypeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/split/JvmMethodsSplitter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/split/JvmValueCreatorGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/split/creators/JvmRecordCreatorGen.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibValueTest.java
  langlib/langlib-test/src/test/resources/test-src/valuelib_test.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/conversion/NativeConversionWithStampTypesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/stamp/AnydataStampInbuiltFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/stamp/JSONStampInbuiltFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/stamp/MapStampInbuiltFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/stamp/RecordStampInbuiltFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/stamp/UnionTypeStampInbuiltFunctionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/conversion/native-conversion-stampable-values.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/anydata-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/json-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/map-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/record-stamp-expr-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/union-stamp-expr-test.bal
Labels: Team/jBallerina

#40015 Remove canonicalization of syntax tree JSON
  misc/observability-symbol-collector/src/main/java/org/ballerinalang/observability/anaylze/DefaultObservabilitySymbolCollector.java
  misc/observability-symbol-collector/src/main/java/org/ballerinalang/observability/anaylze/JsonCanonicalizer.java
  misc/observability-symbol-collector/src/main/java/org/ballerinalang/observability/anaylze/NumberToJSON.java
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/BRunUtil.java
  tests/jballerina-integration-test/src/test/resources/observability/tracing_tests/01_main_function.bal
  tests/jballerina-unit-test/build.gradle
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/observe/syntaxtree/SyntaxTreeEqualityTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/syntaxtree/Ballerina.toml
  tests/jballerina-unit-test/src/test/resources/test-src/syntaxtree/main.bal
  tests/jballerina-unit-test/src/test/resources/test-src/syntaxtree/modules/moduleA/main.bal
  tests/jballerina-unit-test/src/test/resources/test-src/syntaxtree/modules/moduleB/foo.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Team/jBallerina

#40217 Set offline resolution on unnecessary places
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/DocCommand.java
  cli/ballerina-cli/src/main/java/io/ballerina/cli/cmd/TestCommand.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/Module.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/Package.java
Labels: Stale

#40248 Fix CCE due to invalid return type of Java method which accepts BalEnv parameter
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmCastGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/InteropMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JInterop.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JType.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/InstanceMethods.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/StaticMethods.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/basic/InstanceMethodTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/basic/StaticMethodTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/basic/instance_method_tests.bal
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/basic/static_method_tests.bal
Labels: Team/jBallerina

#37547 [Master] Fix the incorrect diagnostic in query expression
  compiler/ballerina-lang/src/main/java/org/ballerinalang/util/diagnostic/DiagnosticErrorCode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/QueryTypeChecker.java
  compiler/ballerina-lang/src/main/resources/compiler.properties
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/codeaction/CreateVariableTest.java
  language-server/modules/langserver-core/src/test/resources/codeaction/create-variable/config/createVariableInQueryAction1.json
  language-server/modules/langserver-core/src/test/resources/codeaction/create-variable/config/createVariableInQueryAction2.json
  language-server/modules/langserver-core/src/test/resources/codeaction/create-variable/config/createVariableInQueryAction3.json
  language-server/modules/langserver-core/src/test/resources/codeaction/create-variable/source/createVariableInQueryAction1.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/create-variable/source/createVariableInQueryAction2.bal
  language-server/modules/langserver-core/src/test/resources/codeaction/create-variable/source/createVariableInQueryAction3.bal
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryExprWithQueryConstructTypeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryNegativeTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/assign/AssignStmtTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/never/NeverTypeTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-expr-query-construct-type-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-expr-with-query-construct-type.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/simple-query-with-var-type.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/assign/assign-stmt.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/never/never-type.bal
Labels: Team/CompilerFE

#39775 Add edge cases tests for regex langlib functions
  langlib/langlib-test/src/test/resources/test-src/regexp_test.bal
Labels: Lang/Regexp

#39599 Generate Main method for testable JARs
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/configurable/providers/toml/TomlConstants.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/launch/LaunchUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/testable/TestArguments.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/testable/TestConfigArguments.java
  cli/ballerina-cli/src/main/java/io/ballerina/cli/task/RunNativeImageTestTask.java
  cli/ballerina-cli/src/main/java/io/ballerina/cli/utils/NativeUtils.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/ModuleContext.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/ModuleDescriptor.java
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/internal/ModuleContextDataHolder.java
  compiler/ballerina-lang/src/main/java/org/ballerinalang/model/elements/PackageID.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmConstants.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmObservabilityGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmPackageGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmSignatures.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JIMethodCall.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JTermKind.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/methodgen/InitMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/methodgen/MainMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/methodgen/MethodGenUtils.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNode.java
  misc/testerina/modules/testerina-runtime/src/main/java/org/ballerinalang/test/runtime/BTestMain.java
  misc/testerina/modules/testerina-runtime/src/main/java/org/ballerinalang/test/runtime/entity/TestArguments.java
  misc/testerina/modules/testerina-runtime/src/main/java/org/ballerinalang/test/runtime/entity/TestSuite.java
  misc/testerina/modules/testerina-runtime/src/main/java/org/ballerinalang/test/runtime/entity/TesterinaFunction.java
  misc/testerina/modules/testerina-runtime/src/main/java/org/ballerinalang/test/runtime/util/TesterinaConstants.java
  misc/testerina/modules/testerina-runtime/src/main/java/org/ballerinalang/test/runtime/util/TesterinaUtils.java
  tests/jballerina-integration-test/src/test/resources/troubleshoot/strandDump/testOutputs/balTestStrandDumpRegEx.txt
  tests/testerina-integration-test/src/test/java/org/ballerinalang/testerina/test/ModuleExecutionFlowTest.java
  tests/testerina-integration-test/src/test/java/org/ballerinalang/testerina/test/utils/AssertionUtils.java
  tests/testerina-integration-test/src/test/resources/command-outputs/unix/ModuleExecutionFlowTest-test-listener-shutdown.txt
  tests/testerina-integration-test/src/test/resources/command-outputs/windows/ModuleExecutionFlowTest-test-listener-shutdown.txt
  tests/testerina-integration-test/src/test/resources/project-based-tests/module-execution-flow-tests/Ballerina.toml
  tests/testerina-integration-test/src/test/resources/project-based-tests/module-execution-flow-tests/main.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/module-execution-flow-tests/modules/moduleA/main.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/module-execution-flow-tests/modules/moduleA/tests/test_moduleA.bal
  tests/testerina-integration-test/src/test/resources/project-based-tests/module-execution-flow-tests/tests/test_main.bal
  tests/testerina-integration-test/src/test/resources/testng.xml
Labels: Team/jBallerina

#40347 Fix record intersection configurable error
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/configurable/providers/toml/ConfigValueCreator.java
  tests/jballerina-integration-test/src/test/resources/configurables/configStructuredTypesProject/Config_default_values.toml
  tests/jballerina-integration-test/src/test/resources/configurables/configStructuredTypesProject/Config_default_values_inline.toml
  tests/jballerina-integration-test/src/test/resources/configurables/configStructuredTypesProject/defaultValuesRecord/main.bal
  tests/jballerina-integration-test/src/test/resources/configurables/configStructuredTypesProject/defaultValuesRecord/modules/type_defs/type_defs.bal
Labels: Team/jBallerina

#40344 Mark `includesMatch` and `matches` as isolated
  langlib/lang.string/src/main/ballerina/string.bal
Labels: Team/CompilerFE

#40383 [Master] Fix goto definition feature on nested types
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/BIRPackageSymbolEnter.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/definition/DefinitionTest.java
  language-server/modules/langserver-core/src/test/resources/definition/expected/project/def_typereference.json
  language-server/modules/langserver-core/src/test/resources/definition/expected/project/def_typereference2.json
  language-server/modules/langserver-core/src/test/resources/definition/expected/project/def_typereference3.json
  language-server/modules/langserver-core/src/test/resources/definition/sources/projectls/modules/lsmod1/lsmod1.bal
  language-server/modules/langserver-core/src/test/resources/definition/sources/projectls/modules/lsmod3/lsmod3.bal
  language-server/modules/langserver-core/src/test/resources/definition/sources/projectls/typereference.bal
Labels: Team/CompilerFE

#40003 Sync RegExp runtime and compile time parsers
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/regexp/RegExpFactory.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/regexp/TokenKind.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/regexp/TreeBuilder.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/regexp/TreeTraverser.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/util/exceptions/RuntimeErrors.java
  bvm/ballerina-runtime/src/main/resources/MessagesBundle.properties
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibRegexpTest.java
  langlib/langlib-test/src/test/resources/test-src/regexp_negative_test.bal
  langlib/langlib-test/src/test/resources/test-src/regexp_test.bal
  langlib/langlib-test/src/test/resources/test-src/valuelib_fromBalString_test.bal
  langlib/langlib-test/src/test/resources/test-src/valuelib_fromJson_test.bal
  langlib/langlib-test/src/test/resources/test-src/valuelib_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/regexp/regexp_value_test.bal
Labels: Team/CompilerFE, Lang/Regexp

#40433 Add semanticAPI support for collect clause
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/BaseVisitor.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/EnvironmentResolver.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/NodeFinder.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/ReferenceFinder.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/SymbolFinder.java
Labels: Team/CompilerFETools, Team/CompilerFE, Area/SemanticAPI

#40403 Fix incorrect pos for intersection type definition
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/symbols/BallerinaTypeReferenceTypeSymbol.java
  language-server/modules/langserver-core/src/test/resources/semantictokens/expected/default-module_expected.json
  language-server/modules/langserver-core/src/test/resources/semantictokens/expected/single-file_expected.json
  tests/ballerina-compiler-api-test/src/test/java/io/ballerina/semantic/api/test/SymbolBIRTest.java
  tests/ballerina-compiler-api-test/src/test/resources/test-src/symbol_position_bir_test.bal
  tests/ballerina-compiler-api-test/src/test/resources/test-src/testproject/type_defs.bal
Labels: Team/CompilerFE

#40213 Fix interop error messages for unchecked exception cases
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/JMethodResolver.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/StaticMethods.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/basic/NegativeValidationTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/negative/method_sig_not_match16.bal
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/negative/method_sig_not_match17.bal
Labels: Team/jBallerina

#40351 Add missing completion items of already imported modules
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/Trie.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/SymbolUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/CompletionSearchProvider.java
  language-server/modules/langserver-core/src/test/resources/completion/function_def/config/config11.json
  language-server/modules/langserver-core/src/test/resources/completion/import_decl/config/config21.json
Labels: Team/LanguageServer

#40306 Add inlayhint support
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/InlayHintContext.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaLanguageServer.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/BallerinaTextDocumentService.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/LSContextOperation.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/contexts/ContextBuilder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/contexts/InlayHintContextImpl.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/inlayhint/InlayHintProvider.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/util/TestUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/inlayhint/InlayHintTest.java
  language-server/modules/langserver-core/src/test/resources/inlayhint/config/inlayhint.json
  language-server/modules/langserver-core/src/test/resources/inlayhint/config/inlayhint2.json
  language-server/modules/langserver-core/src/test/resources/inlayhint/source/inlayhint.bal
  language-server/modules/langserver-core/src/test/resources/inlayhint/source/project/Ballerina.toml
  language-server/modules/langserver-core/src/test/resources/inlayhint/source/project/inlayhint2.bal
  language-server/modules/langserver-core/src/test/resources/inlayhint/source/project/modules/module1/module1.bal
  language-server/modules/langserver-core/src/test/resources/testng.xml
Labels: Team/LanguageServer

#40450 Refactor GroupByClauseNodeContext
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/providers/context/GroupByClauseNodeContext.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/completion/QueryExpressionContextTest.java
  language-server/modules/langserver-core/src/test/resources/completion/query_expression/config/query_expr_ctx_groupby_clause_config11.json
  language-server/modules/langserver-core/src/test/resources/completion/query_expression/config/query_expr_ctx_groupby_clause_config12.json
  language-server/modules/langserver-core/src/test/resources/completion/query_expression/config/query_expr_ctx_groupby_clause_config13.json
  language-server/modules/langserver-core/src/test/resources/completion/query_expression/config/query_expr_ctx_groupby_clause_config14.json
  language-server/modules/langserver-core/src/test/resources/completion/query_expression/config/query_expr_ctx_select_clause_config7.json
  language-server/modules/langserver-core/src/test/resources/completion/query_expression/source/query_expr_ctx_select_clause_source7.bal
Labels: Team/LanguageServer

#40286 Fix xml parser error messages
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/XmlFactory.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/XmlTreeBuilder.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/XmlItem.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLParserNegativeTest.java
Labels: Team/jBallerina, BreakingChange

#40429 [2201.5.x] Fix record intersection configurable error
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/configurable/providers/toml/ConfigValueCreator.java
  tests/jballerina-integration-test/src/test/resources/configurables/configStructuredTypesProject/Config_default_values.toml
  tests/jballerina-integration-test/src/test/resources/configurables/configStructuredTypesProject/Config_default_values_inline.toml
  tests/jballerina-integration-test/src/test/resources/configurables/configStructuredTypesProject/defaultValuesRecord/main.bal
  tests/jballerina-integration-test/src/test/resources/configurables/configStructuredTypesProject/defaultValuesRecord/modules/type_defs/type_defs.bal
Labels: Team/jBallerina

#40439 Fix type testing with error type reference types
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/TypeChecker.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typereftype/TypeReferenceTests.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/typereftype/type_reference.bal
Labels: Team/jBallerina

#40416 Implement Run command in LS
  compiler/ballerina-lang/src/main/java/io/ballerina/projects/PackageCompilation.java
  language-server/modules/langserver-commons/src/main/java/org/ballerinalang/langserver/commons/workspace/WorkspaceManager.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/RunExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/command/executors/StopExecutor.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/workspace/BallerinaWorkspaceManager.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/workspace/TestWorkspaceManager.java
  language-server/modules/langserver-core/src/test/resources/project/long_running/Ballerina.toml
  language-server/modules/langserver-core/src/test/resources/project/long_running/main.bal
Labels: Team/LanguageServer

#40454 Disable strand dump tests
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/troubleshoot/StrandDumpTest.java
Labels: Team/jBallerina

#40368 Handle Unicode escape values in regexp matches at runtime
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/regexp/RegExpFactory.java
  langlib/langlib-test/src/test/java/org/ballerinalang/langlib/test/LangLibRegexpTest.java
  langlib/langlib-test/src/test/resources/test-src/regexp_test.bal
Labels: Team/CompilerFE, Lang/Regexp

#40350 Remove non reducible loops
  bvm/ballerina-runtime/src/main/resources/META-INF/native-image/org.ballerinalang/ballerina-runtime/native-image.properties
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGenEnv.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGenUtils.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/CodeGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmCodeGenUtil.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmDesugarPhase.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmObservabilityGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTerminatorGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/ExternalMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/interop/InteropMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/methodgen/InitMethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/methodgen/MethodGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/optimizer/LargeMethodOptimizer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/optimizer/BIRBasicBlockOptimizer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/optimizer/BIROptimizer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/optimizer/BirVariableOptimizer.java
Labels: Team/jBallerina

#40114 Fix incorrect behaviour of member access in xml with negative index
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/XmlItem.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/XmlNonElementItem.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/XmlSequence.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAccessTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-indexed-access.bal
Labels: Team/CompilerFE, Lang/XML, Lang/Expressions/XmlTemplate

#40336 Make `self` final
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ASTBuilderUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/isolation/IsolationAnalysisTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/object/ObjectTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/isolation-analysis/isolation_analysis.bal
  tests/jballerina-unit-test/src/test/resources/test-src/isolation-analysis/isolation_analysis_negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/object/object_self_final_negative.bal
Labels: Team/CompilerFE

#40366 Pass annotations for union type refernce types
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeChecker.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/util/Unifier.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/VariableReturnType.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/bala/annotation/AnnotationTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/expressions/stamp/StampInbuiltFunctionNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/DependentlyTypedFunctionsTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/InferredDependentlyTypeFunctionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescNegativeRuntimeTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/typedesc/TypedescTests.java
  tests/jballerina-unit-test/src/test/resources/test-src/bala/test_bala/annotations/annotation.bal
  tests/jballerina-unit-test/src/test/resources/test-src/expressions/stamp/negative/stamp-expr-negative-test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/javainterop/dependently_typed_functions_test.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/typedesc/typedesc_negative_runtime.bal
Labels: Team/CompilerFE

#40427 Improve service template generator
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/common/utils/CommonUtil.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/providers/context/util/ServiceTemplateGenerator.java
  language-server/modules/langserver-core/src/test/resources/completion/expression_context/config/mapping_expr_ctx_config55.json
  language-server/modules/langserver-core/src/test/resources/completion/expression_context/config/mapping_expr_ctx_config56.json
  language-server/modules/langserver-core/src/test/resources/completion/module_part_context/config/config17.json
  language-server/modules/langserver-core/src/test/resources/completion/module_part_context/source/source18.bal
Labels: Team/LanguageServer

#40317 Add support to rename parameter documentation for record fields and required params
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/DocumentationReferenceFinder.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/references/ReferencesUtil.java
  language-server/modules/langserver-core/src/test/java/org/ballerinalang/langserver/rename/RenameTest.java
  language-server/modules/langserver-core/src/test/resources/rename/expected/single/rename_fn_param1.json
  language-server/modules/langserver-core/src/test/resources/rename/expected/single/rename_record_field1.json
  language-server/modules/langserver-core/src/test/resources/rename/sources/single/rename_fn_param1.bal
  language-server/modules/langserver-core/src/test/resources/rename/sources/single/rename_record_field1.bal
Labels: Team/LanguageServer

#40159 [master] Bump woodstox version to 6.5
  bvm/ballerina-rt/build.gradle
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/BallerinaXmlSerializer.java
  distribution/zip/jballerina-tools/build.gradle
  gradle.properties
  gradle/javaProject.gradle
  tests/ballerina-spec-conformance-tests/build.gradle
  tests/ballerina-test-utils/build.gradle
  tests/jballerina-unit-test/build.gradle
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/RefTypeTests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/javainterop/RefTypeWithBValueAPITests.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/jvm/XMLTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/string/StringValueXmlTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAccessTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLAttributesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLLiteralWithNamespacesTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLParserNegativeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/types/xml/XMLSecurityTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-attribute-access-syntax.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-indexed-access.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals-with-namespaces.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml-literals.bal
  tests/jballerina-unit-test/src/test/resources/test-src/types/xml/xml_iteration.bal
Labels: Team/CompilerFE

#38146 Create path parameter symbols for name-less path parameters
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/SymbolFactory.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/symbols/BallerinaPathParameterSymbol.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/symbols/BallerinaResourceMethodSymbol.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/symbols/resourcepath/BallerinaPathSegmentList.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/symbols/PathParameterSymbol.java
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/builder/FunctionCompletionItemBuilder.java
  tests/ballerina-compiler-api-test/src/test/java/io/ballerina/semantic/api/test/ServiceSemanticAPITest.java
  tests/ballerina-compiler-api-test/src/test/resources/test-src/service_symbol_test.bal
Labels: Team/CompilerFETools, Area/SemanticAPI

#40495 Add recovery for collect clause
  ballerina-shell/modules/shell-cli/src/main/java/io/ballerina/shell/cli/utils/IncompleteInputFinder.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/parser/BLangNodeBuilder.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/diagnostics/DiagnosticErrorCode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/BallerinaParserErrorHandler.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/ParserRuleContext.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/SyntaxErrors.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STCollectClauseNode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STNodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STNodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STNodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STQueryExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/tree/STTreeModifier.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/CollectClauseNode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/NodeFactory.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/NodeTransformer.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/NodeVisitor.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/QueryExpressionNode.java
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/syntax/tree/TreeModifier.java
  compiler/ballerina-parser/src/main/resources/syntax_diagnostic_message.properties
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/expressions/QueryExpressionTest.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/tree/DeprecatedSyntaxAPITest.java
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_119.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_120.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_121.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_122.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_123.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_124.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_126.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_assert_127.json
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_source_120.bal
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_source_121.bal
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_source_122.bal
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_source_123.bal
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_source_124.bal
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_source_126.bal
  compiler/ballerina-parser/src/test/resources/expressions/query-expr/query_expr_source_127.bal
  compiler/ballerina-parser/src/test/resources/misc/contextual-keyword/keyword_assert_01.json
  compiler/ballerina-parser/src/test/resources/misc/contextual-keyword/keyword_assert_02.json
  compiler/ballerina-parser/src/test/resources/misc/contextual-keyword/keyword_source_01.bal
  compiler/ballerina-parser/src/test/resources/misc/contextual-keyword/keyword_source_02.bal
  compiler/ballerina-parser/src/test/resources/tree/deprecated-syntax-api-test/query_expr_deprecated_api_test.bal
  compiler/ballerina-treegen/src/main/resources/syntax_tree_descriptor.json
  language-server/modules/langserver-core/src/main/java/org/ballerinalang/langserver/completions/CompleteExpressionValidator.java
  misc/formatter/modules/formatter-core/src/main/java/org/ballerinalang/formatter/core/FormattingTreeModifier.java
  misc/formatter/modules/formatter-core/src/test/java/org/ballerinalang/formatter/core/ParserTestFormatter.java
  misc/syntax-api-calls-gen/src/main/resources/api_gen_syntax_tree_descriptor.json
Labels: Team/CompilerFE, Area/Parser

#40314 Fix `BAL_CONFIG_DATA` toml parsing not throwing parsing errors
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/configurable/providers/toml/ConfigToml.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/configurable/providers/toml/TomlContentProvider.java
  bvm/ballerina-runtime/src/test/java/io/ballerina/runtime/test/config/TomlProviderTest.java
  bvm/ballerina-runtime/src/test/java/io/ballerina/runtime/test/config/negative/TomlProviderNegativeTest.java
  tests/jballerina-integration-test/src/test/java/org/ballerinalang/test/configurables/ConfigurableTest.java
Labels: Team/jBallerina, BreakingChange

#39872 Implement const-match-pattern in Querydesugar
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryActionOrExprTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/match-stmt-in-do-clause.bal
Labels: Team/CompilerFE
