Repository ballerina-platform/ballerina-lang, pull requests merged in 2025-05, with the labels that each got.

#43596 [Master] Generate new typedesc instruction for record and tuple when type descriptor resolving
  .github/workflows/pull_request_full_build.yml
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/types/BTupleType.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/utils/MapUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/ReadOnlyUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TypedescValueImpl.java
  compiler/ballerina-lang/spotbugs-exclude.xml
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/BIRGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmConstants.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmInstructionGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmSignatures.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmTypeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/JvmValueGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/model/JLargeArrayInstruction.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/optimizer/LargeMethodOptimizer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/codegen/split/types/JvmRecordTypeGen.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/emit/InstructionEmitter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNode.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/model/BIRNonTerminator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/optimizer/BIROptimizer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/optimizer/BIRRecordValueOptimizer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ClosureGenerator.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/Desugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/ServiceDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/DataflowAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/cyclefind/GlobalVariableRefAnalyzer.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/programfile/ProgramFileConstants.java
  docs/bir-spec/src/main/resources/kaitai/bir.ksy
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/runtime/api/tests/JsonValues.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/runtime/api/tests/Values.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/nativeimpl/jvm/tests/VariableReturnType.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/annotations/DisplayAnnotationTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/bir/TypeDescBIRTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/record/ClosedRecordTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/statements/variabledef/ForwardReferencingGlobalDefinitionTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/typedesc/TypeDescriptorTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/bir/bir-dump/failLockWithinLock
  tests/jballerina-unit-test/src/test/resources/test-src/bir/bir-dump/failWithinOnFail
  tests/jballerina-unit-test/src/test/resources/test-src/bir/bir-dump/globalVarsAndAnonFunctions
  tests/jballerina-unit-test/src/test/resources/test-src/bir/bir-dump/mapInits
  tests/jballerina-unit-test/src/test/resources/test-src/bir/bir-dump/setNillableField
  tests/jballerina-unit-test/src/test/resources/test-src/bir/bir-dump/setOptionalField
  tests/jballerina-unit-test/src/test/resources/test-src/bir/bir-dump/setRequiredField
  tests/jballerina-unit-test/src/test/resources/test-src/bir/bir-dump/typedesc_bir
  tests/jballerina-unit-test/src/test/resources/test-src/bir/typedesc_bir.bal
  tests/jballerina-unit-test/src/test/resources/test-src/functions/cyclic-functions-negative.bal
  tests/jballerina-unit-test/src/test/resources/test-src/record/cyclic_record_via_fields.bal
  tests/jballerina-unit-test/src/test/resources/test-src/statements/variabledef/globalcycle/simpleProject/file02.bal
  tests/jballerina-unit-test/src/test/resources/test-src/typedefs/tuple-type-definitions-cyclic.bal
  tests/jballerina-unit-test/src/test/resources/test-src/typedesc/typedesc.bal
  tests/jballerina-unit-test/src/test/resources/testng.xml
Labels: Team/CompilerFE

#44122 Fix "Transaction rollback causes panic"
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/transactions/TransactionResourceManager.java
Labels: Type/Bug, Area/Compiler, Lang/Transactions

#44121 Fix "Transaction rollback causes panic"
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/transactions/TransactionResourceManager.java
Labels: Type/Bug, Team/CompilerFE, Lang/Transactions

#44120 Fix "Transaction rollback causes panic"
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/transactions/TransactionResourceManager.java
Labels: Type/Bug, Team/CompilerFETools, Lang/Transactions

#44119 Fix "Transaction rollback causes panic"
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/transactions/TransactionResourceManager.java
Labels: Type/Bug, Team/CompilerFE, Lang/Transactions
