Repository ballerina-platform/ballerina-lang, pull requests merged in 2025-04, with the labels that each got.

#43964 [2201.12.x] Provide a semantic API to obtain the type symbol from text input
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/Types.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/BallerinaSemanticModel.java
  compiler/ballerina-lang/src/main/java/io/ballerina/compiler/api/impl/BallerinaTypes.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/semantics/analyzer/TypeResolver.java
  tests/ballerina-compiler-api-test/src/test/java/io/ballerina/semantic/api/test/TypesTest.java
Labels: Area/SemanticAPI

#43958 Java Runtime Implementation for Query
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/constants/RuntimeConstants.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/CollectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/DoClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/FromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LetClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/LimitClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFromClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OnConflictClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderByClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoinClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/PipelineStage.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/SelectClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/WhereClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/Frame.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/IteratorObject.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/StreamPipeline.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/BallerinaIteratorUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtil.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryConstants.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryException.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/querystream/PipelineHelper.java
  langlib/lang.query/src/main/ballerina/helpers.bal
  langlib/lang.query/src/main/ballerina/types.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/BRunUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/ErrorQueryTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/LimitClauseTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryDistinctErrorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryInputTypeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/StringQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/access/symbol_exposure.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/global-queries.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/limit-clause.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-distinct-error.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query_expr_with_errors.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query_input_types.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/string-query-expression.bal
Labels: Lang/Expressions/Query

#44068 Java based query runtime
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/constants/RuntimeConstants.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/values/BArray.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/values/BMap.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/values/BString.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/values/BTable.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/values/BXml.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/api/values/IterableValue.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/Collect.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/Do.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/From.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/GroupBy.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/InnerJoin.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/Let.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/Limit.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/NestedFrom.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OnConflict.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OrderBy.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/OuterJoin.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/QueryClause.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/Select.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/clauses/Where.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/IteratorObject.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/pipeline/StreamPipeline.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/CollectionUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/IteratorUtils.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryConstants.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/query/utils/QueryException.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/AbstractArrayValue.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/MapValueImpl.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/StringValue.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/TableValueImpl.java
  bvm/ballerina-runtime/src/main/java/io/ballerina/runtime/internal/values/XmlValue.java
  compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/desugar/QueryDesugar.java
  langlib/lang.query/src/main/ballerina/helpers.bal
  langlib/lang.query/src/main/ballerina/types.bal
  tests/ballerina-test-utils/src/main/java/org/ballerinalang/test/BRunUtil.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/ErrorQueryTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/LimitClauseTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryDistinctErrorTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/QueryInputTypeTest.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/query/StringQueryExpressionTest.java
  tests/jballerina-unit-test/src/test/resources/test-src/query/limit-clause.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query-distinct-error.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query_expr_with_errors.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/query_input_types.bal
  tests/jballerina-unit-test/src/test/resources/test-src/query/string-query-expression.bal
Labels: Lang/Expressions/Query, Lang/Actions/Query

#43837 Fix issue in parsing template content
  compiler/ballerina-parser/src/main/java/io/ballerina/compiler/internal/parser/BallerinaParser.java
  compiler/ballerina-parser/src/test/java/io/ballerinalang/compiler/parser/test/syntax/declarations/FunctionDefinitionTest.java
  compiler/ballerina-parser/src/test/resources/actions/query-action/query_action_assert_07.json
  compiler/ballerina-parser/src/test/resources/actions/query-action/query_action_assert_08.json
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_assert_37.json
  compiler/ballerina-parser/src/test/resources/declarations/func-definition/func_def_source_37.bal
  misc/formatter/modules/formatter-core/src/test/java/org/ballerinalang/formatter/core/ParserTestFormatter.java
  tests/jballerina-unit-test/src/test/java/org/ballerinalang/test/endpoint/ClientObjectTest.java
Labels: Team/CompilerFE, Area/Parser
